<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
    $priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>
<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-9">
            <div class="item-title">{{ name }}
                {{#if additional_text}}
                    <span tabindex="0" class="dot glyphicon glyphicon-info-sign" role="button" data-toggle="popover" data-content="{{ additional_text }}" onclick="return event.stopPropagation();">&nbsp;</span>
                {{/if}}
            </div>
            {{#if contract_period}}
                <div class="item-desc in-stock">
                        {{ contract_period }} <?php echo $this->__("months minimum term") ?>
                </div>
            {{/if}}
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="col-xs-1 hidden marked-selected-container">
            <span class="is-marked-selected hidden">U</span>
        </div>
        <div class="item-price col-xs-1">
            {{#if rel_promotional_maf}}
            <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                <span>
                    <span class="normal-price">{{ money rel_promotional_maf }}</span>
                </span>
            </div>
            <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay; ?>">
                <span>
                    <span class="tax-price">{{ money rel_promotional_maf_with_tax }}</span>
                </span>
            </div>
            {{else}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                    <span>
                        <span class="normal-price-2">{{ money regular_maf }}</span>
                    </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay?>">
                    <span>
                        <span class="tax-price-2">{{ money regular_maf_with_tax }}</span>
                    </span>
                </div>
            {{/if}}
        </div>
    </div>
</div>
