<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @category    design
 * @package     vodafone_default
 */
?>
<div id="drop-menu-content" class="cb_slide_panel" data-slidepanel-top="panel">
    <style media="print" scoped="scoped">
        body.toPrint *{display: none;}
        html {display: block; position: relative;}
        body.toPrint,
        body.toPrint .page,
        body.toPrint .page #top-panels,
        body.toPrint #drop-menu-content,
        body.toPrint #drop-menu-content .menu-wrapper,
        body.toPrint #drop-menu-content .menu-wrapper .inner,
        body.toPrint #drop-menu-content .menu-wrapper .inner .middle-section,
        body.toPrint #drop-menu-content .menu-wrapper .inner .middle-section .menu-content { display: block; height: auto; width: 100%; margin: 0 0 0 0; position: static;}
        body.toPrint #drop-menu-content .menu-wrapper .inner .middle-section .menu-content #menu-iframe{ display: table; height: 200%; width: 100%; margin: 0 0 0 0; overflow: visible; position: absolute;}
        body.toPrint #drop-menu-content .menu-wrapper .inner .middle-section .menu-content #menu-iframe html{ display: table-cell; overflow: visible; }
    </style>
    <div class="wrapper menu-wrapper">
        <a href="javascript:void(0)" class="close">Close</a>

        <div class="inner">
            <div class="user-menu-buttons col-xs-12">
                <div class="nav btn-group">
                    <button type="button" onclick="window.open('http://www.gsmarena.com/');" class="btn btn-default el-tab"><?php echo $this->__('GSM Arena') ?></button>
                    <button type="button" onclick="window.open('https://www.gsmwijzer.nl/');" class="btn btn-default el-tab"><?php echo $this->__('GSM Wijzer') ?></button>
                    <button type="button" onclick="window.open('http://www.kvk.nl/');" class="btn btn-default el-tab"><?php echo $this->__('Kamer van Koophandel') ?></button>
                </div>
            </div>
            <div class="middle-section col-xs-12 menu-middle">
                <div class="menu-content" style="height: calc(100% - 4px); height: -moz-calc(100% - 4px); height: -webkit-calc(100% - 4px)">
                    <iframe id="menu-iframe" width="100%" height="100%" src="about:blank" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$session = Mage::getSingleton('customer/session');
$agent = $session->getAgent();
?>

<div id="credit-checks-content" class="cb_slide_panel" data-section="creditcheck" data-slidepanel-top="panel">
    <div class="wrapper menu-wrapper">
        <a href="javascript:void(0)" class="close">Close</a>

        <div class="inner">
            <div class="user-menu-buttons col-xs-12">
                <div id="cc-tabs" class="nav btn-group">
                <a href="#cc-customer-search" class="btn btn-default el-tab active" data-toggle="tab"><?php echo $this->__('Customer search') ?></a>
                <a href="#cc-my-store" onclick="customer.updateSectionResults('cc-my-store')" class="btn btn-default el-tab" data-toggle="tab"><?php echo $this->__('My store') ?></a>
                <a href="#cc-my-requests" onclick="customer.updateSectionResults('cc-my-requests')" class="btn btn-default el-tab" data-toggle="tab"><?php echo $this->__('My applications') ?></a>
                </div>
            </div>
            <div class="col-xs-12 menu-middle">
                <div class="tab-content">
                    <div class="tab-pane active" id="cc-customer-search">
                        <div class="row">
                            <div class="col-xs-4 col-md-3 col-lg-2" style="border-right: 1px dotted #ccc;">
                                <?php echo Mage::getBlockSingleton('page/html')->setTemplate('customer/left_search.phtml')->setTopMenu(true)->setFormId('top_menu_search')->toHtml();?>
                            </div>
                            <div class="col-xs-8 col-md-9 col-lg-10">
                                <div id="creditcheck-no-search-results">
                                    <p class="title"><?php echo $this->__('Results') ?></p>
                                    <?php echo $this->__('No search results') ?>
                                </div>
                                <div id="creditcheck-search-results" class="clearfix hidden"><!-- Filled with ajax --></div>
                            </div>
                        </div>
                    </div>
                <?php if($agent) : ?>
                    <div class="tab-pane" id="cc-my-store">
                        <div class="row">
                            <div class="col-xs-8">
                                <p class="title"><?php echo $this->__('Current credit checks in store'); ?></p>

                                <p><strong><span class="count">0</span> <?php echo $this->__('ongoing credit checks in this store'); ?></strong></p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-default pull-right" onclick="customer.updateSectionResults('cc-my-store')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Update') ?></button>
                                <button type="button" class="btn btn-default pull-right" onclick="updateSelectedSectionResults('cc-my-store')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Get latest status') ?></button>
                            </div>
                        </div>
                        <div class="results">
                        </div>
                    </div>
                <?php endif; ?>
                <?php if($agent) : ?>
                    <div class="tab-pane" id="cc-my-requests">
                        <div class="row">
                            <div class="col-xs-8">
                                <p class="title"><?php echo $this->__('My credit checks'); ?></p>

                                <p><strong><span class="count">0</span> <?php echo $this->__('ongoing credit checks by yourself'); ?></strong></p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-default pull-right" onclick="customer.updateSectionResults('cc-my-requests')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Update') ?></button>
                                <button type="button" class="btn btn-default pull-right" onclick="updateSelectedSectionResults('cc-my-requests')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Get latest status') ?></button>
                            </div>
                        </div>
                        <div class="results">
                        </div>
                    </div>
                <?php endif; ?>
                </div>
                <div id="ajax-item-details-creditcheck" class="clearfix ajax-details">
                    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/creditcheck_details.phtml')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="number-porting-content" class="cb_slide_panel" data-section="porting" data-slidepanel-top="panel">
    <div class="wrapper menu-wrapper">
        <a href="javascript:void(0)" class="close">Close</a>

        <div class="inner">
            <div class="user-menu-buttons col-xs-12">
                <div id="np-tabs" class="nav btn-group">
                    <a href="#np-customer-search" class="btn btn-default el-tab active" data-toggle="tab"><?php echo $this->__('Customer search') ?></a>
                    <a href="#np-my-store" onclick="customer.updateSectionResults('np-my-store')" class="btn btn-default el-tab" data-toggle="tab"><?php echo $this->__('My store') ?></a>
                </div>
            </div>
            <div class="col-xs-12 menu-middle">
                <div class="tab-content">
                    <div class="tab-pane" id="np-my-store">
                        <div class="row">
                            <div class="col-xs-8">
                                <p class="title"><?php echo $this->__('Current number porting in store'); ?></p>

                                <p><strong><span class="count">0</span> <?php echo $this->__('ongoing porting numbers in this store'); ?></strong></p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-default pull-right" onclick="customer.updateSectionResults('np-my-store')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Update') ?></button>
                                <button type="button" class="btn btn-default pull-right" onclick="updateSelectedSectionResults('np-my-store')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Get latest status') ?></button>
                            </div>
                        </div>
                        <div class="results">
                        </div>
                    </div>
                </div>
                <div id="ajax-item-details-porting" class="clearfix ajax-details">
                    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/porting_details.phtml')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<?php if ($agent->canSearchFailedOrders()): ?>
    <div id="failed-validations-content" class="cb_slide_panel" data-section="validation" data-slidepanel-top="panel">
        <div class="wrapper menu-wrapper">
            <a href="javascript:void(0)" class="close">Close</a>
    
            <div class="inner">
                <div class="user-menu-buttons col-xs-12">
                    <div id="vc-tabs" class="nav btn-group">
                        <a href="#vc-customer-search" class="btn btn-default el-tab active" data-toggle="tab"><?php echo $this->__('Customer search') ?></a>
                    </div>
                </div>
                <div class="col-xs-12 menu-middle">
                    <div class="tab-content">
                        <div class="tab-pane active" id="vc-customer-search">
                            <div class="row">
                                <div class="col-xs-4 col-md-3 col-lg-2" style="border-right: 1px dotted #ccc;">
                                    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('customer/left_search.phtml')->setTopMenu(true)->setFormId('top_menu_search')->toHtml();?>
                                </div>
                                <div class="col-xs-8 col-md-9 col-lg-10">
                                    <div id="validation-no-search-results"><p class="title">
                                            <?php echo $this->__('Results') ?></p>
                                        <?php echo $this->__('No search results') ?>
                                    </div>
                                    <div id="validation-search-results" class="clearfix hidden"><!-- Filled with ajax --></div>
                                </div>
                            </div>
                        </div>
                        <?php if($agent) : ?>
                            <div class="tab-pane" id="vc-my-requests">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <p class="title"><?php echo $this->__('My failed validations'); ?></p>
                                        <p><strong><span class="count">0</span> <?php echo $this->__('Failed validations for dealer code'); ?></strong></p>
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="button" class="btn btn-default pull-right" onclick="customer.updateSectionResults('vc-my-requests')"><span class="glyphicon glyphicon-refresh"></span> <?php echo $this->__('Update') ?></button>
                                    </div>
                                </div>
                                <div class="results">
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div id="ajax-item-details-validation" class="clearfix ajax-details">
                        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/validation_details.phtml')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>

<div id="open-orders-content" class="cb_slide_panel" data-section="openorders" data-slidepanel-top="panel">
    <div class="wrapper menu-wrapper">
        <a href="javascript:void(0)" class="close">Close</a>
        <div class="inner">
            <div class="user-menu-buttons col-xs-12">
                <div id="oo-tabs" class="nav btn-group">
                    <a href="javascript:void(0)" class="btn btn-default el-tab active" data-toggle="tab" onclick="jQuery('.customer_left_search').show();"><?php echo $this->__('Customer search') ?></a>
                    <a href="javascript:void(0)" name="oo-my-store-tab" onclick="jQuery('#open-orders-content .customer_left_search').hide(); updateSectionOpenOrdersSection('all', 0, 1, 'id', 'desc', false);" class="btn btn-default el-tab" data-toggle="tab"><?php echo $this->__('My store') ?></a>
                </div>
            </div>
            <div class="col-xs-12 menu-middle">
                <div class="tab-content">
                    <div class="tab-pane active" id="oo-openorders-search">
                        <div class="row">
                            <div class="col-xs-4 col-md-3 col-lg-2" style="border-right: 1px dotted #ccc;">
                                <?php echo Mage::getBlockSingleton('page/html')->setTemplate('customer/left_search.phtml')->setTopMenu(true)->setFormId('top_menu_search')->toHtml();?>
                            </div>
                            <div class="col-xs-8 col-md-9 col-lg-10">
                                <div id="openorders-no-search-results">
                                    <p class="title"><?php echo $this->__('Results') ?></p>
                                    <?php echo $this->__('No search results') ?>
                                </div>
                                <div id="openorders-search-results" class="clearfix hidden"><!-- Filled with ajax --></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ajax-item-details-openorders" class="clearfix ajax-details">
                    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/openorders_details.phtml')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
</div>
