<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @category    design
 * @package     vodafone_default
 */
?>
<?php
$isCustomerLogged = Mage::getSingleton('customer/session')->getCustomer()->getId() != null;
$agent = Mage::getSingleton('customer/session')->getAgent();
?>
<div class="logo-header">
    <a href="<?php echo $this->getUrl();?>"><div class="home_logo"></div></a>
</div>
<div class="drop-menu">
    <a href="#drop-menu-content" data-slidebutton-top="panel">
        <div class="menu"><?php echo $this->__('Menu') ?></div>
        <div class="menu-arrow-down"><span>B</span></div>
    </a>
</div>
<div class="favorites">
    <div class="favorite-img"></div>
    <div class="favorite-txt"><a><?php echo $this->__('My favorites') ?></a></div>
</div>
