<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Dyna_ProductMatchRule_Block_Adminhtml_Catalog_Product_Tree_Category $this */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">
            <?php echo Mage::helper('catalog')->__('Product Categories') ?>
        </h4>
    </div>
    <fieldset id="grop_fields">
        <input type="hidden" name="category_ids" id="product_categories" value="<?php echo $this->getIdsString() ?>">
        <div id="product-categories" class="tree"></div>
    </fieldset>
</div>
<?php if ($this->getRootNode() && $this->getRootNode()->hasChildren()) : ?>
    <script type="text/javascript">
        var position = '<?php echo $this->getPosition()?>';

        Ext.EventManager.onDocumentReady(function () {
            var categoryLoader = new Ext.tree.TreeLoader({
                dataUrl: '<?php echo $this->getLoadTreeUrlMatch()?>'
            });

            categoryLoader.createNode = function (config) {
                config.uiProvider = Ext.tree.CheckboxNodeUI;
                var node;
                if (config.children && !config.children.length) {
                    delete(config.children);
                    node = new Ext.tree.AsyncTreeNode(config);

                } else {
                    node = new Ext.tree.TreeNode(config);
                }
                return node;
            };

            categoryLoader.on("beforeload", function (treeLoader, node) {
                treeLoader.baseParams.category = node.attributes.id;
            });

            categoryLoader.on("load", function (treeLoader, node, config) {
                varienWindowOnload();
            });

            var tree = new Ext.tree.TreePanel('product-categories', {
                animate: true,
                loader: categoryLoader,
                enableDD: false,
                containerScroll: true,
                rootUIProvider: Ext.tree.CheckboxNodeUI,
                selModel: new Ext.tree.CheckNodeMultiSelectionModel(),
                rootVisible: '<?php echo $this->getRootNode()->getIsVisible() ?>'
            });

            tree.on('check', function (node) {
                if (node.attributes.checked) {
                    categoryAdd(node.id);
                } else {
                    categoryRemove(node.id);
                }
                Windows.close('browser_window');
                varienElementMethods.setHasChanges(node.getUI().checkbox);
            }, tree);

            tree.on('beforechildrenrendered', function (a) {
                a.childNodes.each(function (el) {
                    el.text = '(' + el.id + ') ' + el.text;
                });
            }, tree);

            // set the root node
            var root = new Ext.tree.TreeNode({
                text: '<?php echo $this->jsQuoteEscape($this->getRootNode()->getName()) ?>',
                draggable: false,
                checked: '<?php echo $this->getRootNode()->getChecked() ?>',
                id: '<?php echo $this->getRootNode()->getId() ?>',
                disabled: <?php echo ($this->getRootNode()->getDisabled() ? 'true' : 'false') ?>,
                uiProvider: Ext.tree.CheckboxNodeUI
            });

            tree.setRootNode(root);
            bildCategoryTree(root, <?php echo $this->getTreeJson() ?>);
            tree.addListener('click', categoryClick.createDelegate(this));

            // render the tree
            tree.render();
            jQuery('#product-categories input').hide();
            root.expand();
            //tree.expandAll();
        });

        function bildCategoryTree(parent, config) {
            if (!config) return null;

            if (parent && config && config.length) {
                for (var i = 0; i < config.length; i++) {
                    config[i].uiProvider = Ext.tree.CheckboxNodeUI;
                    var node;
                    var _node = Object.clone(config[i]);
                    if (_node.children && !_node.children.length) {
                        delete(_node.children);
                        node = new Ext.tree.AsyncTreeNode(_node);

                    } else {
                        node = new Ext.tree.TreeNode(config[i]);
                    }
                    parent.appendChild(node);
                    node.loader = node.getOwnerTree().loader;
                    if (config[i].children) {
                        bildCategoryTree(node, config[i].children);
                    }
                }
            }
        }

        function categoryClick(node, e) {
            if (node.disabled) {
                return;
            }
            node.getUI().check(!node.getUI().checked());
            varienElementMethods.setHasChanges(Event.element(e), e);
        }

        function categoryAdd(id) {
            if (position == 'right') {
                jQuery('#right_category').val(id);
                jQuery('#right_category_visible').val(id);
                jQuery('#right_product').prop('disabled', true);
                jQuery('#right_product_sku').prop('disabled', true);
                jQuery('#right_clear_button').prop('disabled', false);
            } else {
                jQuery('#left_category').val(id);
                jQuery('#left_category_visible').val(id);
                jQuery('#left_product').prop('disabled', true);
                jQuery('#left_product_sku').prop('disabled', true);
                jQuery('#left_clear_button').prop('disabled', false);
            }
        }

        function categoryRemove() {
            if (position == 'right') {
                jQuery('#right_category').val(-1);
                jQuery('#right_product').prop('disabled', false);
                jQuery('#right_product_sku').prop('disabled', false);
                jQuery('#right_clear_button').prop('disabled', true);
            } else {
                jQuery('#left_category').val(-1);
                jQuery('#left_product').prop('disabled', false);
                jQuery('#left_product_sku').prop('disabled', false);
                jQuery('#left_clear_button').prop('disabled', true);
            }
            toggleDisableCategory(position, false);
        }
    </script>
<?php endif; ?>
