<div class="row item-row item-requires-serial" data-serial="" data-id="{{ entity_id }}" onclick="configurator.selectSerialNumber(this); return false;">
    <div class="col-xs-12 item product-item">
        <div class="item-name col-xs-12">
            <div class="item-title">{{ name }}
                {{#if additional_text}}
                    <span tabindex="0" class="dot glyphicon glyphicon-info-sign" role="button" data-toggle="popover" data-content="{{ additional_text }}" onclick="return event.stopPropagation();">&nbsp;</span>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 item serial-input hidden">
        <div class="col-xs-10">
            <input type="text" name="serial-number" value="" placeholder="<?php echo $this->__("Serial number (10 digits)"); ?>">
            <div class="validation-error hidden"></div>
        </div>
        <div class="col-xs-2">
            <input type="button" value="<?php echo $this->__("Check"); ?>" class="btn btn-info btn-check" onclick="configurator.validateSerialNumber(this)">
            <input type="button" value="<?php echo $this->__("Ok"); ?>" data-id="{{ entity_id }}" class="btn btn-info hidden btn-ok">
        </div>
    </div>
</div>
