<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>
<?php $customerSession = Mage::getSingleton('customer/session'); ?>
<script language="javascript">window.checkoutEnabled = <?php echo !$customerSession->getCustomer()->getId() || $customerSession->getCustomerInfoSync() || $customerSession->getOrderEditMode() ? 'true' : 'false' ?>;</script>
<div class="sticker">
    <div class="redbar-left"></div>
    <?php if (!$customerSession->getOrderEditMode() && !$customerSession->getCustomer()->isInMigration()): ?>
        <div class="pull-right" style="position: relative;">
            <div class="menu-expand top-menu">
                <ul>
                    <li><a class="save-cart-modal" onclick="showSaveCartModal()"><?php echo $this->__('Save & Send') ?></a></li>
                    <li><a class="save-cart-modal" onclick="showCancelCartModal()"><?php echo $this->__('Empty shopping cart') ?></a></li>
                </ul>
            </div>

            <div class="drop-menu pull-right top-menu" style="position: relative;z-index: 999;" onclick="switchPackageMenu(event,this);">
                <div class="menu"><span>r</span></div>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($customerSession->getOrderEditMode()) : ?>
        <div class="col-title order-edit">
            <?php echo $this->__('Order edit') ?>
            <small><?php echo $this->__('Order') ?><?php echo (string)$customerSession->getSuperOrder()->getOrderNumber(); ?></small>
        </div>
    <?php else: ?>
        <div class="col-title">
            <?php echo $this->__('Shopping Cart') ?>
        </div>

        <?php $_cartQty = $this->getSummaryCount() ?>
        <?php if ($_cartQty > 0): ?>
            <div class="small"><?php echo Mage::helper('omnius_checkout')->formatDateLocale($this->getQuote()->getUpdatedAt()); ?></div>
        <?php endif; ?>
    <?php endif; ?>

    <!-- SPINNER WRAPPER -->
    <div class="relative" id="cart-spinner-wrapper">
        <div id="cart-spinner" class="cart-spinner hide">
            <p><img src="<?php echo $this->getSkinUrl('images/spinner.gif') ?>" alt=""/></p>
        </div>
        <?php if (!$customerSession->getOrderEditMode()) :
        $oneOff = false;
        $packages = $this->getQuote()->getPackages();
        if ($hasOnePackage = count($packages)) {
            $firstPackage = current($packages);
            $oneOff = isset($firstPackage['one_of_deal']) ? $firstPackage['one_of_deal'] : 0;
        }

        $hidden = (Omnius_Checkout_Helper_Data::SHOW_ONLY_ONE_PACKAGE && count($packages) >= 1) || ($oneOff) || $hasOnePackage ? ' class="hide"' : '';
        ?>
        <div class="buttons-container">
            <?php if ($customerSession->getAgent()->isGranted(array('CREATE_PACKAGE'))) : ?>
                <div id="package-types">
                    <div class="btn btn-default btn-xs btn-block" data-target="mobile">+ <?php echo $this->__('Mobile'); ?></div>
                </div>
                <div id="show-packages" class="btn btn-default btn-xs btn-block <?php echo $hasOnePackage ? '' : 'hide' ?>" data-target="mobile">+ <?php echo $this->__('Create package'); ?></div>
            <?php else: ?>
                <div id="package-types">
                    <?php echo $this->__('The agent doesn\'t have enough permissions to create packages'); ?>
                </div>
            <?php endif; ?>
        </div>
        <?php endif; ?>
        <?php echo $this->getLayout()->createBlock('page/html')->setActivePackageId($this->getActivePackageId())->setTemplate('checkout/cart/partials/package_block.phtml')->toHtml(); ?>
    </div>
    <!-- SPINNER WRAPPER END -->
    <?php echo $this->getChildHtml(); ?>
</div>

<script type="text/javascript">
    var showOnlyOnePackage = <?php echo (int)Omnius_Checkout_Helper_Data::SHOW_ONLY_ONE_PACKAGE; ?>;
    window.consumerIdentifier = '<?php echo Mage::helper('omnius_configurator/attribute')->getSubscriptionIdentifier(); ?>';
    <?php $products = $this->getQuote()->getPackageProductIds()?>
    function initConfigurator(type, packageId, saleType, ctn, current_products, create_package) {

        if (type == undefined) {
            if (jQuery('.enlarge.right-direction').hasClass('expanded')) {
                jQuery('.enlarge.right-direction').hide().trigger('click');
            }
            return;
        }
        if (!packageId) {
            var packageCTN = ctn;

            // check if package has more than one ctn
            var hasManyCtns = Boolean(ctn && ctn.match(/,/g));
            if (hasManyCtns) {
                var ctns = ctn.split(',');
                // keep last package to show as open
                packageCTN = ctns.pop();
                var len = ctns.length;

                for (var i = 0; i < len; ++i) {
                    // create dummy package line that will be populated later with an id
                    createCartPackageLine(type, saleType, ctns[i], true);
                }
            }

            if (create_package) {
                var activeProducts = '';
            } else {
                var activeProducts = '<?php echo implode(',', $products)?>';
            }

            var clone = createCartPackageLine(type, saleType, packageCTN, true, current_products);
            /** Uncomment this in order to not load the configurator when creating a new package */
            //return;

        } else {
            var toSearch = '[data-package-id="{0}"]'.format(packageId);
            var activeProducts = jQuery(toSearch).children('.block-container').data('active-products');
        }
        window.setPageLoadingState && window.setPageLoadingState(true);
        var websiteId = jQuery('#current_website_id').val();
        var dealerGroups = jQuery('#dealer_group_ids').val();
        var axiStoreId = jQuery('#axi_store_id').val();

        var dfd1 = jQuery.ajax(
            'configurator/init/getConfiguratorOptions',
            {
                data: {
                    'type': type,
                    'dealer_groups': dealerGroups,
                    'website_id': websiteId,
                    'products': activeProducts ? activeProducts : null,
                    'customer_type': <?php echo $customerSession->getCustomer()->getId() ? (int)$customerSession->getCustomer()->getIsBusiness() : '1' ?>
                }
            }
        );

        var dfd2 = jQuery.ajax(
            'configurator/init/getDeviceStock',
            {
                data: {
                    'type': type,
                    'axi_store_id': axiStoreId,
                    'website_id': websiteId
                },
                localCache: false
            }
        );

        var dfd3 = jQuery.ajax(
            'configurator/init/getPrices',
            {
                data: {
                    'website_id': websiteId,
                    'type': saleType == 'acquisitie' ? 0 : 1,
                    'products': activeProducts ? activeProducts : null
                }
            }
        );

        var dfd4 = jQuery.ajax(
            'configurator/init/getAccessoriesStock',
            {
                data: {
                    'type': type,
                    'axi_store_id': axiStoreId,
                    'website_id': websiteId
                },
                localCache: false
            }
        );

        //TODO: Refactor this to avoid replacing the same items in the current configurator
        //Temporarily removed because it doesn't persist the items fetched at the first call.
        var needsProducts = true;
        var dfd5 = jQuery.ajax(
            'configurator/init/getProducts',
            {
                data: {
                    'website_id': websiteId,
                    'dealer_groups': jQuery('#dealer_group_ids').val(),
                    'customer_type': <?php echo $customerSession->getCustomer()->getId() ? (int)$customerSession->getCustomer()->getIsBusiness() : '1' ?>
                }
            }
        );

        var request = jQuery.when(
            jQuery.ajax(
                'configurator/init/' + type,
                {
                    type: 'POST',
                    data: {
                        'packageId': packageId,
                        'saleType': saleType,
                        'ctn': ctn,
                        'current_products': current_products
                    }
                }
            ),
            dfd1,
            dfd2,
            dfd3,
            dfd4,
            dfd5
        );

        request.done(function (data1, data2, data3, data4, data5, products) {
            if (needsProducts) {
                window.allProducts = products;
            } else {
                products = window.allProducts;
            }

            for (var propertyKey in products[0]) {
                if (products[0].hasOwnProperty(propertyKey)) {
                    window[propertyKey] = products[0][propertyKey];
                }
            }

            window.families =
                products[0]['fam_' + type] != undefined
                && products[0]['fam_' + type]['items'] != undefined
                    ? products[0]['fam_' + type]['items'] : [];
            window.products = products[0]['prod_' + type];
            var customerCacheData = customer.cache.get('customer/<?php echo $customerSession->getCustomer()->getId() ?>');
            var filter;
            if (customerCacheData && customerCacheData.hasOwnProperty('customerData') && customerCacheData.customerData.is_business == "0" && products[0].hasOwnProperty('filter_consumer_' + type)) {
                filter = 'filter_consumer_';
                //window.permanentFilters = {'subscription': {'<?php echo Omnius_Catalog_Model_Product::CATALOG_CONSUMER_TYPE; ?>': window.consumerIdentifier}};
            } else {
                filter = 'filter_';
                window.permanentFilters = {};
            }
            window.permanentFilters = {};
            window.filters = products[0][filter + type];

            var data = jQuery.extend(data1[0], data2[0], data4[0]);
            var stocksDevices = data3[0];
            var stocksAccessories = data5[0];

            <?php if(Mage::getSingleton('customer/session')->getOrderEdit()): ?>
            <?php $prevProducts = array();
            if(Mage::getSingleton('checkout/session')->getPreviousPackages()):
            foreach (Mage::getSingleton('checkout/session')->getPreviousPackages() as $packageId => $packageData): ?>
            <?php if (isset($packageData['items']) && is_array($packageData['items'])): ?>
            <?php foreach ($packageData['items'] as $items): ?>
            <?php foreach ($items as $item): ?>
            <?php $prevProducts[] = $item['product_id']; ?>
            <?php endforeach; ?>
            <?php endforeach; ?>
            <?php endif; ?>
            <?php endforeach; endif; ?>

            var tempAll = [];
            if (window.products.device != undefined) {
                window.products.device.each(function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }
            if (window.products.accessoire != undefined) {
                window.products.accessoire.each(function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }
            if (window.products.subscription != undefined) {
                window.products.subscription.each(function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }

            var pr1 = <?php echo json_encode($prevProducts); ?>;
            var pr = [];
            jQuery.each(pr1, function (key, el) {
                if (undefined == tempAll[el]) {
                    pr.push(el);
                }
            });

            var previousProducts = {};
            var previousProducts1 = <?php echo json_encode(Mage::getModel('omnius_configurator/catalog')->parseAttributesDisabled($prevProducts));?>;

            jQuery.each(previousProducts1, function (key, pTypes) {
                previousProducts[key] = [];
                jQuery.each(pTypes, function (key2, el) {
                    if (undefined == tempAll[el.entity_id]) {
                        previousProducts[key].push(el);
                    }
                });
            });

            if (previousProducts.device != undefined) {
                jQuery.merge(window.products.device, previousProducts.device);
            }

            if (previousProducts.accessoire != undefined) {
                jQuery.merge(window.products.accessoire, previousProducts.accessoire);
            }

            if (previousProducts.subscription != undefined) {
                jQuery.merge(window.products.subscription, previousProducts.subscription);
            }

            if (previousProducts.addon != undefined) {
                jQuery.merge(window.products.addon, previousProducts.addon);
            }

            for (var x = 0; x < pr1.length; x++) {
                if (stocksDevices[pr1[x]] != undefined) {
                    stocksDevices[pr1[x]].stock_status_class = "sellable-voorradig";
                }

                if (stocksAccessories[pr1[x]] != undefined) {
                    stocksAccessories[pr1[x]].stock_status_class = "sellable-voorradig";
                }
            }
            <?php endif; ?>

            var devices = window.products.device;

            var accessories = window.products.accessoire;
            var lenD = devices.length;
            for (var i = 0; i < lenD; ++i) {
                var entityId = devices[i]['entity_id'];
                if (stocksDevices.hasOwnProperty(entityId)) {
                    for (var key in stocksDevices[entityId]) {
                        if (stocksDevices[entityId].hasOwnProperty(key) && stocksDevices[entityId][key]) {
                            devices[i][key] = stocksDevices[entityId][key];
                        }
                    }
                }
            }
            var stock_filter_options = {};
            for (var j in stocksDevices) {
                if (stocksDevices.hasOwnProperty(j) && undefined !== stocksDevices[j]['stock_status']) {
                    stock_filter_options[stocksDevices[j]['stock_status']] = stocksDevices[j]['stock_status_text'];
                }
            }
            if (window[filter + type] && window[filter + type]['device'] && window[filter + type]['device']['stock_status']) {
                jQuery.extend(window[filter + type]['device']['stock_status']['options'], stock_filter_options);
            }

            var lenA = accessories.length;
            for (i = 0; i < lenA; ++i) {
                entityId = accessories[i]['entity_id'];
                if (stocksAccessories.hasOwnProperty(entityId)) {
                    for (key in stocksAccessories[entityId]) {
                        if (stocksAccessories[entityId].hasOwnProperty(key) && stocksAccessories[entityId][key]) {
                            accessories[i][key] = stocksAccessories[entityId][key];
                        }
                    }
                }
            }
            stock_filter_options = {};
            for (j in stocksAccessories) {
                if (stocksAccessories.hasOwnProperty(j) && undefined !== stocksAccessories[j]['stock_status']) {
                    stock_filter_options[stocksAccessories[j]['stock_status']] = stocksAccessories[j]['stock_status_text'];
                }
            }
            if (window[filter + type] && window[filter + type]['accessoire'] && window[filter + type]['accessoire']['stock_status']) {
                jQuery.extend(window[filter + type]['accessoire']['stock_status']['options'], stock_filter_options);
            }

            callbackInit(data, clone, type);
            window.setPageLoadingState && window.setPageLoadingState(false);
            triggerConfiguratorEvent('configurator.init', '');

            // Update left side sections if they are complete or not
            var sections;
            if (data1[0].hasOwnProperty('incomplete_sections')) {
                sections = data1[0]['incomplete_sections'];
            } else {
                sections = [];
            }
            if (typeof configurator != "undefined") {
                configurator.showWarnings(sections);
            }

            return data;
        });
    }
</script>
