<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
$priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>


<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-10">
            <div class="item-title">{{ name }}</div>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-1">
            <div class="right item-pricing">
                {{#if promotional_maf}}
                <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax price right">
                    <div class="top">
                        <span><?php echo $this->__('from') ?>&nbsp;{{ money regular_maf }}&nbsp;<?php echo $this->__('to') ?></span>
                    </div>
                    <div class="per-month">
                        <span>
                            <span class="normal-price">{{ money promotional_maf }}</span><span class="interval"></span>
                        </span>
                    </div>
                </div>
                <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price right">
                    <div class="top">
                        <span><?php echo $this->__('from') ?>&nbsp;{{ money regular_maf_with_tax }}&nbsp;<?php echo $this->__('to') ?></span>
                    </div>
                    <div class="per-month">
                        <span>
                            <span class="tax-price">{{ money promotional_maf_with_tax }}</span>
                        </span>
                    </div>
                </div>
                {{ else }}
                <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax price right">
                    <div class="top">
                        <span>&nbsp;</span>
                    </div>
                    <div class="per-month">
                        <span>
                            <span class="normal-price">{{ money regular_maf }}</span>
                        </span>
                    </div>
                </div>
                <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price right">
                    <div class="top">
                        <span>&nbsp;</span>
                    </div>
                    <div class="per-month">
                        <span>
                            <span class="tax-price">{{ money regular_maf_with_tax }}</span>
                        </span>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
