<div class="conf-block panel panel-default panel-searchable" id="<?php echo $this->getSection() ?>-block" data-expanded="false" data-type="<?php echo $this->getSection() ?>" data-index="{{index}}" data-multi="true">
    <div class="selection-block box-closed">

        <div class="panel-heading" onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 item-title">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="counter">4</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="panel-title">
                            <a href="#"><?php echo $this->__("Discounts & Promotions") ?></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-discounts-container family" data-family-id="mobile_discounts">
            <div class="mobile-discounts-header family-header">
                <h3>
                    <?php echo $this->__("Discounts"); ?>
                </h3>
            </div>
            <div class="mobile-discounts-content family-content">
                {{#each discounts}}
                    <div class="item-name item-row discount-item exclusive-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
                        <div class="name">
                            <div class="item-title">{{name}}</div>
                        </div>
                    </div>
                {{else}}
                    <p><?php echo $this->__('No discounts available') ?></p>
                {{/each}}
            </div>
        </div>
        <div class="mobile-promotions-header panel-heading">
            <h3>
                <?php echo $this->__("Promotions"); ?>
            </h3>
            <div class="row filter-results filter-status">
                <div class="results-number col-xs-11">
                    <span data-default-message="<strong>{0}</strong> <?php echo $this->__('products') ?>"
                          data-message="<strong>{0}</strong> <?php echo $this->__('products ') ?> ">
                        {{products.length}} <?php echo $this->__('products') ?>
                    </span>
                </div>
                <div class="col-xs-1">
                    <div class="filter-results-unique right">
                        <?php echo $this->__("Monthly"); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-table product-mobile-discounts col-md-12">
            {{#each products}}
                {{> <?php echo $this->getSection() ?>_selected_item this}}
            {{else}}
                <p><?php echo $this->__('No products available') ?></p>
            {{/each}}
        </div>
    </div>
    <div class="selected-item" data-no-item="<?php echo $this->__('Please select') ?>" onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
        <div class="panel-heading block-header">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 item-title">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="counter">4</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="panel-title">
                            <a href="#"><?php echo $this->__("Discounts & Promotions") ?></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9 pull-right">
                    <div class="content text-right">
                        <div class="no-item-message"><?php echo $this->__('Please select') ?></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-footer col-md-12"></div>
    </div>
</div>
