<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$_value = $this->getDeviceTax();
$_mafValue = $this->getMafTotal()->getValue();
$_style = $this->getTotal()->getStyle();
$_mafStyle = $this->getMafTotal()->getStyle();
?>

<tr class="div-table-row">
    <td style="<?php echo $_style ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->getTotal()->getTitle() ?>
    </td>
    <td style="<?php echo $_style ?>" class="div-table-cell a-right"><?php echo $helper->showNewFormattedPriced($_mafValue) ?></td>
    <td style="<?php echo $_mafStyle ?>" class="div-table-cell a-right"><?php echo $helper->showNewFormattedPriced($_value) ?></td>
</tr>
