<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
    $priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>
<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-9">
            <div class="item-title">{{ name }}</div>
            {{#if minimum_contract_duration}}
                <div class="item-desc in-stock">
                    {{ minimum_contract_duration }} <?php echo $this->__("months minimum term") ?>
                </div>
            {{/if}}
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-2">
            {{#if promotional_maf}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                    <span>
                        <span class="normal-price">{{ money promotional_maf }}</span>
                    </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay; ?>">
                    <span>
                        <span class="tax-price">{{ money promotional_maf_with_tax }}</span>
                    </span>
                </div>
            {{else}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                    <span>
                        <span class="normal-price-2">{{ money regular_maf }}</span>
                    </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay?>">
                    <span>
                        <span class="tax-price-2">{{ money regular_maf_with_tax }}</span>
                    </span>
                </div>
            {{/if}}
        </div>
    </div>
</div>
