<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head'); ?>

<script type="text/javascript">
    <?php if ( ! $this->getIsCheckout() ) : ?>
        var templates = {};
        <?php
            /** @var Omnius_Configurator_Block_Wrapper $wrapper */
            $wrapper = Mage::getBlockSingleton('omnius_configurator/wrapper')
                ->setFormat('json');
            $partials = array(); ?>
    <?php foreach(array('mobile') as $type):?>
        <?php
            $templates = Mage::getSingleton('omnius_configurator/template')->getAllTemplates($type);
            $wrapper->setTemplates($templates);
            // collect partials
            $partials[$type] = $templates['partials'];
            $html = trim($wrapper->setType($type)->toHtml());
        ?>
        templates['<?php echo $type; ?>'] = <?php echo $html;?>;
    <?php endforeach;?>
        templates['partials'] = <?php echo json_encode($partials); ?>;
    <?php endif; ?>
</script>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().' ' . Mage::app()->getWebsite()->getName() . ' website-' . Mage::app()->getWebsite()->getCode() . '"': ' class="'.Mage::app()->getWebsite()->getName(). ' website-' . Mage::app()->getWebsite()->getCode() . '"' ?>>
<input type="hidden" id="isLTIE9" value="<?php // check user_agent if <= ie9
    echo preg_match('/MSIE [1-9]\.\d.?;/', Mage::helper('core/http')->getHttpUserAgent()) ? 1 : 0; ?>" />
<input type="hidden" id="loading_customer_data_label" value="<?php echo Mage::helper('omnius_customer')->__('Loading customer data...');?>"/>
<input type="hidden" id="unloading_customer_data_label" value="<?php echo Mage::helper('omnius_customer')->__('Unloading customer data...');?>"/>
<input type="hidden" id="agent_id" value="<?php echo Mage::helper('agent')->getAgentId(); ?>"/>
<input type="hidden" id="dealer_id" value="<?php echo (($agent = Mage::helper('agent')->getAgent()) && ($dealer = $agent->getDealer())) ? $dealer->getId() : null; ?>"/>
<input type="hidden" id="dealer_code" value="<?php echo ($agent = Mage::helper('agent')->getAgent()) ? $agent->getDealerCode() : null; ?>"/>
<input type="hidden" id="dealer_group_ids" value="<?php echo implode(',', Mage::helper('agent')->getCurrentDealerGroups())?>"/>
<input type="hidden" id="axi_store_id" value="<?php echo Mage::helper('agent')->getCurrentStoreId()?>"/>
<input type="hidden" id="current_website_code" value="<?php echo Mage::app()->getWebsite()->getCode() ?>"/>
<input type="hidden" id="current_website_id" value="<?php echo Mage::helper('superorder')->shouldEmulateStore(Mage::app()->getWebsite()->getId()); ?>"/>
<input type="hidden" id="current_store_id" value="<?php echo Mage::app()->getStore()->getId() ?>"/>
<input type="hidden" id="is_order_edit_mode" value="<?php echo (int) Mage::getSingleton('customer/session')->getOrderEditMode(); ?>"/>
<input type="hidden" id="all_mandatory_families" value="<?php echo implode('|', Mage::helper('omnius_configurator')->getMandatoryCategories()); ?>"/>
<input type="hidden" id="maximum_oo_results" value="<?php echo Mage::getStoreConfig('agent_configuration/open_orders_limits/maximum_oo_results'); ?>"/>
<input type="hidden" id="default_oo_results" value="<?php echo Mage::getStoreConfig('agent_configuration/open_orders_limits/default_oo_results'); ?>"/>
<?php echo $this->getChildHtml('after_body_start'); ?>
<?php if((Mage::getSingleton('customer/session')->getOrderEdit() && Mage::app()->getRequest()->getControllerName() == 'cart') || Mage::app()->getRequest()->getControllerName() == 'cart' || Mage::app()->getRequest()->getControllerName() == 'inlife') {$editMode = true;} else {$editMode = false;} ?>
<?php if(Mage::getSingleton('core/session')->getGeneralError()):?>
    <div id="general_error" class="general_error"><?php echo Mage::getSingleton('core/session')->getGeneralError();?></div>
<?php endif;?>
<div class="page">
    <?php echo $this->getChildHtml('header') ?>
    <div class="main <?php echo Mage::app()->getWebsite()->getName(); ?>">
        <div class="wrapper">
            <?php echo $this->getChildHtml('global_notices') ?>
            <div class="main-container col3-layout<?php if($editMode) echo " edit-mode"; ?>">
                <div class="main">
                    <div class="col-main<?php if(!Mage::getSingleton('customer/session')->getCustomer() || !Mage::getSingleton('customer/session')->getCustomer()->getId()): ?> guest<?php endif; ?><?php if($this->getIsInlife()) echo ' inlife'; ?>">
                        <div id="left-panels" class="left"></div>
                        <div id="right-panels" class="right"></div>
                        <?php echo $this->getChildHtml('global_messages') ?>
                        <?php echo $this->getChildHtml('content') ?>
                    </div>
                    <div class="col-left bigView sidebar<?php if(!Mage::getSingleton('customer/session')->getCustomer() || !Mage::getSingleton('customer/session')->getCustomer()->getId()): ?> guest<?php endif; ?>">
                        <span class="icon-person-search icon-person-search-reduced">P</span><button class="reduce left-direction">&nbsp;</button><?php echo $this->getChildHtml('left') ?>
                    </div>
                    <?php  if(!$editMode) : ?>
                        <div class="col-right sidebar<?php if(!Mage::getSingleton('customer/session')->getCustomer() || !Mage::getSingleton('customer/session')->getCustomer()->getId()): ?> guest<?php endif; ?>">
                            <?php if (!Mage::getSingleton('customer/session')->getCustomer()->isInMigration()): ?>
                                <button class="enlarge left-direction">&nbsp;</button>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('right') ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/footer-elements.phtml')->toHtml() ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
</div>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('customerModal') ?>
</body>
</html>
