<div class="col-md-12 family" data-family-id="{{ entity_id }}">
    <div class="family-header">
        <span class="family-name">{{ name }}</span>
    </div>
    <div class="family-content col-md-12">
        {{#each products}}
            {{> option_selected_item this}}
        {{else}}
            <p><?php echo $this->__('No products available') ?></p>
        {{/each}}
    </div>
</div>
