<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price with tax
    $priceWithoutTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price without tax
?>
<div class="col-md-12 item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this);return false;">
    <div class="col-md-9 div-table">
        <div class="div-table-row">
            <div class="product-image div-table-cell">
                {{#ifCond thumbnail '===' 'no_selection'}}
                <img src="skin/frontend/base/default/images/catalog/product/placeholder/small_image.jpg" alt="{{name}}"/>
                {{else}}
                <img src="{{thumbnail}}" alt="{{name}}"/>
                {{/ifCond}}
            </div>
            <div class="product-name div-table-cell">
                <span>{{ name }}</span>
                <a class="stock-status {{ stock_status_class }}" onclick="showStockStatus(this,event)" data-id="{{ entity_id }}">{{ stock_status_text }}</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 campaign-identifier">
        <span class="label label-purple hidden"></span>
    </div>
    <div class="col-md-2 item-pricing">
        {{!-- {{#if price}} --}}
        <div class="excl-vat-tax price right" style="<?php echo $priceWithoutTaxDisplay; ?>">
            <div class="top">
                <span><?php echo $this->__('from') ?>&nbsp;{{ money price }}&nbsp;<?php echo $this->__('to') ?></span>
            </div>
            <div class="per-month">
                <span>
                    <span class="normal-price">{{ money price }}</span>
                </span>
            </div>
        </div>
        <div class="incl-vat-tax price right" style="<?php echo $priceWithTaxDisplay;?>">
            <div class="top">
                <span><?php echo $this->__('from') ?>&nbsp;{{ money price_with_tax }}&nbsp;<?php echo $this->__('to') ?></span>
            </div>
            <div class="per-month">
                <span>
                    <span class="tax-price">{{ money price_with_tax }}</span>
                </span>
            </div>
        </div>
        {{!-- {{/if}} --}}
    </div>
</div>
