<?php
    /** @var $this Dyna_Checkout_Block_Cart */
    $checkoutHelper     = $this->getCheckoutHelper();
    $quote              = $this->getQuote();
?>

<script>
    // variable stores the VarienForm objects
    var form = {};
    var checkout = new Checkout('<?php echo Mage::app()->getWebsite()->getCode(); ?>','<?php echo (int)$this->getCustomerSession()->getOrderEdit(); ?>');
    checkout.baseURL = '<?php echo Mage::getBaseUrl(); ?>';
    var numberPortingPackages = [];
    var retentionPackages = [];
</script>

<div class="clearfix" id="cart">
    <div id="cart-top" class="clearfix row">
        <div class="col-lg-9 col-md-8 col-xs-6" id="checkout-title">
            <h1><?php echo $this->__('Checkout'); ?></h1>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-6 hidden" id="order-submitted-title">
            <h1><?php echo $this->__("Order submitted"); ?></h1>
        </div>
    </div>
    <div id="cart-left" class="col-xs-4">
        <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
                <li class="active">
                    <a id="cart_left_klantgegevens" href="#klantgegevens" name="saveCustomer" class="checkout_left_btn pre-order"><?php echo $this->__('Customer Details & Billing Details'); ?></a>
                </li>
                <?php if($this->hasCableOrFixedTypePackage()) : ?>
                    <li class="disabled">
                        <a id="cart_left_change_provider" href="#change_provider" name="saveChangeProvider" class="checkout_left_btn pre-order"><?php echo $this->__('Change provider')?></a>
                    </li>
                <?php endif?>
                <li class="disabled">
                    <a id="cart_left_delivery_address" href="#delivery_address" name="saveDeliveryAddress" class="checkout_left_btn pre-order"><?php echo $this->__('Delivery address & Payment')?></a>
                </li>
                <li class="disabled">
                    <a id="cart_left_other" href="#other" name="saveOther" class="checkout_left_btn pre-order"><?php echo $this->__('Other')?></a>
                </li>
                <li class="disabled">
                    <a id="cart_left_order_overview" href="#order_overview" name="saveOrderOverview" class="checkout_left_btn pre-order"><?php echo $this->__('Overview')?></a>
                </li>
                <li class="disabled" id="confirmation-menu">
                    <a id="cart_left_voicelog" href="#voicelog" name="saveVoicelog" class="checkout_left_btn post-order"><?php echo $this->__('Voicelog')?></a>
                </li>
                <?php /* there is functionality in scrollspy which selects the last element when scrolled to bottom, so I added a placeholder to not show Voicelog as active */ ?>
                <li class="disabled" style="visibility:hidden;">
                    <a id="cart_left_placeholder" href="#placeholder" name="savePlaceholder" class="checkout_left_btn post-order"><?php echo $this->__('placeholder')?></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="cart-content" class="col-xs-9" data-spy="scroll" data-target=".bs-sidebar" data-offset="0">
        <?php echo $this->getChildHtml('save_customer'); ?>
        <?php echo $this->getChildHtml('save_change_provider'); ?>
        <?php echo $this->getChildHtml('save_delivery_address'); ?>
        <?php echo $this->getChildHtml('save_other'); ?>
        <?php echo $this->getChildHtml('save_overview'); ?>
        <?php echo $this->getChildHtml('save_voicelog'); ?>
        <?php echo $this->getChildHtml('order_confirmation'); ?>
    </div> <!-- END cart-content -->

</div> <!-- END cart -->

<script>
    jQuery(function ($) {
        // TODO: refactor to include only once
        checkout.validatorMessages = {
            'nl-postcode': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('nl-postcode');?>',
            'validate-date-future': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-date-future');?>',
            'validate-date-age': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-date-age');?>',
            'validate-date-nl': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-date-age');?>',
            'validate-legitimation-number-0': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-0');?>',
            'validate-legitimation-number-1-4': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-1-4');?>',
            'validate-legitimation-number-p': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-p');?>',
            'validate-legitimation-number-p-nl': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-p-nl');?>',
            'validate-legitimation-number-r': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-r');?>',
            'validate-legitimation-number-n': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-n');?>',
            'validate-iban-code':  Translator.translate('Invalid IBAN')
        };
        checkout.checkoutController = '<?php echo Mage::getUrl('checkout/index/') ?>';
        checkout.checkCurrentStep('<?php echo $checkoutHelper->underscoreToCamelCase($quote->getCurrentStep(), true) ? 'save' . $checkoutHelper->underscoreToCamelCase($quote->getCurrentStep(), true) : 'null'; ?>');

        checkout.initCart();

        jQuery('#cart-content form').each(function () {
            checkout.handleCheckoutStepValidationRules(jQuery(this).attr('id'));
        });
    });
</script>
