<?php /** @var Dyna_Checkout_Block_Cart_Steps_OrderConfirmation $this  */?>
<br/>
<br/>
<div class="bs-docs-section hidden">
    <form class="cart" action="showOrderConfirmation" method="post" role="form" id="showOrderConfirmation">
        <div class="row">
            <div class="col-md-12">
                <p id="order-confirmation-old-order-message"><?php echo $this->__('Your order was submitted under the following order number'); ?></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-white superorder_block">
                        <span class="bg-success"
                              id="order-increment-id"><?php echo $this->getSuperOrderNumber(); ?></span>
                </div>
            </div>
        </div>
        <!-- These will be needed for order edit! They are hidden at this point-->
        <!-- Start order edit block-->
        <div class="row new_superorder" style="margin-top: 10px;">
            <div class="col-md-12">
                <p id="order-confirmation-new-order-message">
                    <?php echo $this->__('The order has been sent successfully. You can order with the new revised packages find the next number.'); ?>
                </p>
            </div>
        </div>
        <div class="row new_superorder">
            <div class="col-md-12">
                <div class="bg-white superorder_block">
                    <strong id="new-order-increment-id"></strong>
                </div>
            </div>
        </div>
        <br/>
        <!-- End order edit block-->
        <a class="btn btn-info btn-goto-homepage pull-right"
           href="<?php echo Mage::getUrl('/') ?>"><?php echo $this->__('Close page'); ?></a>
    </form>
</div>
