<?php /** @var $this Dyna_Checkout_Block_Cart_Steps_SaveOrderOverview */

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

$noPorting = false;
$cable = false;
$dsl = false;

$serviceAddressDetails = $this->getServiceAddressDetails();

$customerFields = $this->getCustomerFields();
$customerPhoneNr = $this->getTelephoneNumbers($customerFields);

$fixed = $mobile = [];
if(count($customerPhoneNr)) {
    foreach ($customerPhoneNr as $phoneNr) {
        if($phoneNr['type'] === 'landline') {
            $fixed[] = sprintf("%s %s", $phoneNr['prefix'], $phoneNr['phone']);
        } else {
            $mobile[] = sprintf("%s %s", $phoneNr['prefix'], $phoneNr['phone']);;
        }
    }
}
$fullName = '';
if(isset($customerFields['customer[firstname]'])) {
    if(isset($customerFields['customer[lastname]'])) {
        $fullName =  sprintf("%s %s", $customerFields['customer[firstname]'], $customerFields['customer[lastname]']) ;
    }
    else {
        $fullName = $customerFields['customer[firstname]'];
    }
}
$customers = [
    [
        'fullname' => $fullName,
        'street' => isset($customerFields['customer[address][street]']) ? $customerFields['customer[address][street]'] : '',
        'postcode' => isset($customerFields['customer[address][postcode]']) ? $customerFields['customer[address][postcode]']: '',
        'dob' => isset($customerFields['customer[dob]']) ? $customerFields['customer[dob]'] : '',
        'telephone' => count($fixed) ? implode(", ", $fixed): "",
        'mobile' => count($mobile) ? implode(", ", $mobile): ""
    ]
];
if(isset($customerFields['customer[contact_person_details][0][lastname]'])) {
    $customers[] = [
        'dob' => ' ',
        'fullname' => sprintf("%s %s", $customerFields['customer[contact_person_details][0][firstname]'], $customerFields['customer[contact_person_details][0][lastname]']),
        'telephone' => $customerFields['customer[contact_person_details][0][telephone]'],

    ];
}
?>
<div class="bs-docs-section hidden">
    <form class="cart" action="saveOrderOverview" method="post" role="form" id="saveOrderOverview">
        <h3 id="order_overview"><?php echo $this->__('Overview'); ?></h3>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h4><?php echo $this->__('Customer'); ?></h4>
        <?php foreach($customers as $key=>$customer): ?>
            <div class="overview-block customer-overview col-md-12">
                <div class="col-md-6">
                    <div>
                        <span id="overview[customer][<?php echo $key+1; ?>][gender_firstname_lastname]"><?php echo $customer['fullname']; ?></span> <br/>
                        <span id="overview[customer][<?php echo $key+1; ?>][street]"><?php echo $customer['street'] ?></span> <br/>
                        <span id="overview[customer][<?php echo $key+1; ?>][postcode]"><?php echo  $customer['postcode'];?></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <?php if(isset($customer['dob'])):?>
                        <div><?php echo $this->__('Birthday') . ":"; ?></div>
                        <?php endif;?>
                        <div><?php echo $this->__('Phone (private)') . ":"; ?></div>
                        <?php if(!empty($customer['mobile'])) : ?>
                            <div><?php echo $this->__('Phone (mobile)') . ":"; ?></div>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-8">
                        <?php if(isset($customer['dob'])):?>
                            <div id="overview[customer][<?php echo $key+1; ?>][birth_date]"> <?php echo  $customer['dob'];?></div>
                        <?php endif;?>
                        <div id="overview[customer][<?php echo $key+1; ?>][private_phone]"> <?php echo $customer['telephone'];?></div>
                        <?php if(!empty($customer['mobile'])) : ?>
                            <div id="overview[customer][<?php echo $key+1; ?>][mobile_phone]"> <?php echo  $customer['mobile'];?></div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        <?php endforeach;?>

        <p>&nbsp;</p>

        <h4 class="product-selection"><?php echo $this->__("Product selection") ?></h4>

        <?php
        /** @var Dyna_Package_Model_Package $package */
        foreach ($this->getPackages() as $package):
            $packageType = $package->getType();
            $packageItemsBySections = $package->getPackagesProductsForOverviewSection($package->getData('items')); ?>
            <div class="col-md-12 no-padding">
                <p class="package-title">
                    <span>
                        <?php echo sprintf('%s %d', $this->__('Package'), $package->getPackageId()); ?>
                    </span>
                </p>
            </div>
            <?php foreach ($packageItemsBySections as $section => $productsInSection) : ?>
                <div class="overview-block products-overview col-md-12">
                    <div class="col-md-9">
                        <div class="overview-block-title">
                            <?php echo $packageItemsBySections[$section]['title'] ;?>
                        </div>
                        <?php foreach($packageItemsBySections[$section]['items'] as $key => $product) : ?>
                            <div><?php echo $product['name']; ?></div>
                        <?php endforeach; ?>
                    </div>
                    <div class="col-md-3 overview-prices">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="overview-block-title"><?php echo $this->__('Monthly'); ?></div>
                            <?php foreach($packageItemsBySections[$section]['items'] as $key => $product) : ?>
                                <div><?php echo isset($product['maf']) && $product['maf'] ? $product['maf'] . " Euro" : "0,00 Euro"; ?></div>
                            <?php endforeach; ?>
                        </div>
                        <div class="col-md-4">
                            <div class="overview-block-title"><?php echo $this->__('One time cost'); ?></div>
                            <?php foreach($packageItemsBySections[$section]['items'] as $key => $product) : ?>
                                <div><?php echo isset($product['price']) && $product['price'] ? $product['price']. " Euro": "0,00 Euro"; ?></div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
            <?php endforeach ?>

            <?php if(strtoupper($packageType) == Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE ||
                strtoupper($packageType) == Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT) :

                $packageTotals = $this->getQuote()->calculateTotalsForPackage($package->getPackageId());
                ?>
                <?php foreach($packageItemsBySections['products']['items'] as $key => $product) : ?>
                    <?php if(isset($product['price_per_month'])) : ?>
                        <div class="overview-block products-overview col-md-12">
                            <div class="col-md-9">
                                <div class="overview-block-title">
                                    <?php echo $this->__('General overview of costs') ; ?>
                                </div>
                                <div><?php echo $this->__("One cost"); ?></div>
                                <br>
                                <div class="overview-block-title">
                                    <?php echo $this->__('Recurring costs (monthly)') ; ?>
                                </div>
                                <?php foreach($product['price_per_month'] as $monthValues => $price) : ?>
                                    <div><?php echo $this->__("Month") . $monthValues; ?></div>
                                <?php endforeach ?>
                            </div>
                            <div class="col-md-3 overview-prices">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <div class="overview-block-title"><?php echo $this->__('Monthly'); ?></div>
                                    <div>
                                        <?php echo $helper->showPriceWithoutCurrencySymbol($packageTotals['total_maf']) ." Euro"?>
                                    </div>
                                    <br>
                                    <div>&nbsp;</div>
                                    <?php foreach($product['price_per_month'] as $monthValues => $price) : ?>
                                        <div><?php echo ($price) ? $price . " Euro" : "0,00 Euro"; ?></div>
                                    <?php endforeach ?>
                                </div>
                                <div class="col-md-4">
                                    <div class="overview-block-title"><?php echo $this->__('One time cost'); ?></div>
                                    <div>
                                        <?php echo $helper->showPriceWithoutCurrencySymbol($packageTotals['total']) ." Euro"?>
                                    </div>
                                    <br>
                                    <div>&nbsp;</div>
                                    <?php foreach($product['price_per_month'] as $monthValues => $price) : ?>
                                        <div><?php echo  "00,00 Euro"; ?></div>
                                    <?php endforeach ?>
                                </div>
                            </div>
                        </div>
                    <?php endif?>
                <?php endforeach; ?>
            <?php endif?>
            <div class="col-md-12 no-padding"><hr/></div>
        <?php endforeach ?>

        <?php if($noPorting): ?>
            <p>&nbsp;</p>
            <div class="overview-block products-overview col-md-12">
                <div class="col-md-9">
                    <div class="overview-block-title">
                        <?php echo $this->__('Number porting') ; ?>
                    </div>
                    <div><?php echo $this->__("One cost"); ?></div>
                </div>
            </div>
        <?php endif?>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <h4 class="address-details"><?php echo $this->__("Delivery") ?></h4>

        <div class="overview-block address-overview col-md-12">
            <div class="col-md-3">
                <div class="pin-address"></div>
                <div class="address-details">
                    <div class="overview-block-title address-title"><?php echo $this->__('Customer Address'); ?></div>
                    <p class="small">&nbsp;</p>
                    <span id="overview[delivery][address][street_houseno]"><?php echo "Geschwister-Scholl 10,"; ?></span> <br/>
                    <span id="overview[delivery][address][postcode_city]"><?php echo "12345 Goslar"; ?></span> <br/>
                    <span id="overview[delivery][address][country]"><?php echo "Deutschland"; ?></span> <br/>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div id="overview[delivery][other_address][type]" class="overview-block-title bank-details-title"><?php echo $this->__('Different Shipping Address'); ?></div>
                    <p class="small">&nbsp;</p>
                    <span id="overview[delivery][other_address][street_houseno]"><?php echo "-"; ?></span> <br/>
                    <span id="overview[delivery][other_address][postcode_city]"></span> <br/>
                    <span id="overview[delivery][other_address][country]"></span> <br/>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="overview-block-title bank-details-title"><?php echo $this->__('Delivery'); ?></div>
                    <p class="small">&nbsp;</p>
                    <span id="overview[delivery][choice]"><?php echo "Lieferung an einer abweichende Adresse"; ?></span> <br/>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <h4 class="address-details"><?php echo $this->__("Billing Details") ?></h4>

        <div class="overview-block address-overview col-md-12">
            <div class="col-md-3">
                <div class="pin-address"></div>
                <div class="address-details">
                    <div class="overview-block-title address-title"><?php echo $this->__('Billing Address'); ?></div>
                    <p class="small">&nbsp;</p>
                    <span id="overview[billing][gender_firstname_lastname]"></span> <br/>
                    <span id="overview[billing][street_houseno]"></span> <br/>
                    <span id="overview[billing][postcode_city]"></span> <br/>
                    <span id="overview[billing][country]"></span> <br/>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div class="overview-block-title bank-details-title"><?php echo $this->__('Different Billing Address'); ?></div>
                    <p class="small">&nbsp;</p>
                    <span id="overview[billing][other_address][gender_firstname_lastname]"><?php echo "-"; ?></span> <br/>
                    <span id="overview[billing][other_address][street_houseno]"></span> <br/>
                    <span id="overview[billing][other_address][postcode_city]"></span> <br/>
                    <span id="overview[billing][other_address][country]"></span> <br/>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="overview-block-title bank-details-title"><?php echo $this->__('Payment'); ?></div>
                    <p class="small">&nbsp;</p>
                    <span id="overview[payment][choice]"> - </span> <br/>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <h4 class="address-details"><?php echo $this->__("Payment data") ?></h4>

        <div class="overview-block bank-overview col-md-12">
            <div class="col-md-2">
                <div>
                    <div class="overview-block-title bank-details-title"><?php echo $this->__('IBAN'); ?></div>
                    <div class="overview-block-title bank-details-title"><?php echo $this->__('Account number'); ?></div>
                    <div class="overview-block-title bank-details-title"><?php echo $this->__('Bank code'); ?></div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div id="overview[payment][bank][iban]"><?php echo "DE89370400440532013000"; ?></div>
                    <div id="overview[payment][bank][account_number]"><?php echo "0532013000"; ?></div>
                    <div id="overview[payment][bank][code]"><?php echo "70020270 Deutsche Bank"; ?></div>
                </div>
            </div>
            <?php if ($this->hasMobile()) : ?>
                <div class="col-md-6">
                    <div class="pin-address"></div>
                    <div class="address-details no-margin-bottom">

                    </div>
                </div>
            <?php endif; ?>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="row submit">
            <div class="col-md-12 clearfix">
                <button type="submit" data-step="saveOrderOverview"
                        class="btn btn-info pull-right checkout-continue-btn step"><?php echo $this->__('Next step'); ?></button>
            </div>
        </div>

    </form>
</div>

<script>
    var forceFill = false;
    //<![CDATA[
    // Save saveOrderOverview form validation
    form.saveOrderOverview = new VarienForm('saveOrderOverview', true);
    //]]>

    function fillSaveOrderOverviewData() {
        var empty = '-';
        var bankAccountDigits = 10;

        
        // Customer values
        var customerGenderValue = jQuery('[name="customer[gender]"]:checked').val();
        var customerFirstnameValue = jQuery('[id="customer[firstname]"]').val();
        var customerLastnameValue = jQuery('[id="customer[lastname]"]').val();
        var customerAddressStreetValue = jQuery('[id="customer[address][street]"]').val();
        var customerAddressHouseNoValue = jQuery('[id="customer[address][houseno]"]').val();
        var customerAddressPostcodeValue = jQuery('[id="customer[address][postcode]"]').val();
        var customerAddressCityValue = jQuery('[id="customer[address][city]"]').val();
        var customerBirthDateValue = jQuery('[id="customer[dob]"]').val();
        var customerPrefixValue = jQuery('[id="customer[contact_details][telephone_prefix]"]').val();
        var customerTelephoneValue = jQuery('[id="customer[contact_details][telephone]"]').val();
        var customerGender = ('2' == customerGenderValue) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';
        var customerGenderFirstnameLastname = (customerFirstnameValue || customerLastnameValue) ? customerGender + ' ' + customerFirstnameValue + ' ' + customerLastnameValue : empty;
        var customerAddressStreet = (customerAddressStreetValue) ? customerAddressStreetValue + ' ' + customerAddressHouseNoValue : empty;
        var customerAddressZipcode = (customerAddressPostcodeValue) ? customerAddressPostcodeValue + ' ' + customerAddressCityValue : empty;
        var customerBirthDate = (customerBirthDateValue) ? customerBirthDateValue : empty;
        var customerPrivatePhone = (customerPrefixValue || customerTelephoneValue) ? customerPrefixValue + ' ' + customerTelephoneValue : empty;

        
        // Payment values
        var paymentIbanValue = jQuery('[id="payment[monthly][direct_debit][iban]"]').val();
        var paymentChoiceValue = jQuery('[name="payment[one_time]"]:checked').val() ? jQuery('[name="payment[one_time]"]:checked').val() : jQuery('[name="payment[monthly][type]"]:checked').val();
        var paymentChoice = (paymentChoiceValue) ? paymentChoiceValue : empty;

        var paymentIBAN = (paymentIbanValue) ? paymentIbanValue : empty;
        var paymentAccountNo = (paymentIbanValue) ? paymentIbanValue.substr(paymentIbanValue.length - bankAccountDigits) : empty;
        <?php if ($this->hasMobile()) : ?>
            if (jQuery('[name="payment[one_time][type]"]:checked').val() == 'checkmo') {
                var paymentAddress = jQuery('[id="payment[one_time][invoice]"]').html();
            } else if (jQuery('[name="payment[one_time][type]"]:checked').val() == 'cashondelivery') {
                var paymentAddress = ''
                    + '<span>' + jQuery('[name="payment[one_time][cash][gender]"]:checked').next().html() + ' ' +  jQuery('[id="payment[one_time][cash][firstname]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][lastname]"]').val() + '</span> <br/>'
                    + '<span>' + jQuery('[id="payment[one_time][cash][street]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][houseno]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][addition]"]').val() + '</span> <br/>'
                    + '<span>' + jQuery('[id="payment[one_time][cash][postcode]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][city]"]').val() + '</span>';
            }

            jQuery('.bank-overview .address-details').append(paymentAddress);
        <?php endif; ?>
        
        
        // Delivery values
        var deliveryChoiceValue = jQuery('[name="delivery[choice]"]:checked').val();
        var deliveryAddressStreetHouseNo = customerAddressStreet;
        var deliveryAddressZipcode = customerAddressZipcode;

        var deliveryOtherAddressStreetValue =
            ('2' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][street]"]').val() :
                ('1' == deliveryChoiceValue ? '<?php echo $serviceAddressDetails['street'] ?>' : '');
        var deliveryOtherAddressHouseNoValue =
            ('2' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][houseno]"]').val() :
                ('1' == deliveryChoiceValue ? '<?php echo $serviceAddressDetails['houseno'] ?>' : '');
        var deliveryOtherAddressPostcodeValue =
            ('2' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][postcode]"]').val() :
                ('1' == deliveryChoiceValue ? '<?php echo $serviceAddressDetails['postcode'] ?>' : '');
        var deliveryOtherAddressCityValue =
            ('2' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][city]"]').val() :
                ('1' == deliveryChoiceValue ? '<?php echo $serviceAddressDetails['city'] ?>' : '');
        var deliveryOtherAddressType =
            ('2' == deliveryChoiceValue || '3' == deliveryOtherAddressType) ? '<?php echo $this->__('Different Shipping Address'); ?>' :
                (('1' == deliveryChoiceValue) ? '<?php echo $this->__('Service address'); ?>' : '');
        var deliveryOtherAddressStreetHouseNo = (deliveryOtherAddressStreetValue) ? deliveryOtherAddressStreetValue + ' ' + deliveryOtherAddressHouseNoValue : empty;
        var deliveryOtherAddressZipcode = (deliveryOtherAddressPostcodeValue) ? deliveryOtherAddressPostcodeValue + ' ' + deliveryOtherAddressCityValue : empty;

        
        // Billing values
        var billingChoiceValue = jQuery('[name="billing[other_address]"]:checked').val();
        var billingAddressGenderFirstnameLastnameValue = '<?php echo $serviceAddressDetails['full_name']; ?>';
        var billingAddressStreetValue = '<?php echo $serviceAddressDetails['street']; ?>';
        var billingAddressHouseNoValue = '<?php echo $serviceAddressDetails['houseno']; ?>';
        var billingAddressPostcodeValue = '<?php echo $serviceAddressDetails['postcode']; ?>';
        var billingAddressCityValue = '<?php echo $serviceAddressDetails['city']; ?>';
        var billingAddressGenderFirstnameLastname = (billingAddressGenderFirstnameLastnameValue) ? billingAddressGenderFirstnameLastnameValue : empty;
        var billingAddressStreetHouseNo = (billingAddressStreetValue) ? billingAddressStreetValue + ' ' + billingAddressHouseNoValue : empty;
        var billingAddressZipcode = (billingAddressPostcodeValue) ? billingAddressPostcodeValue + ' ' + billingAddressCityValue : empty;

        var billingOtherAddressTypeValue = jQuery('[name="billing[other_address][type]"]:checked').val();
        var billingOtherAddressGenderValue = jQuery('[name="billing[other_address][gender]"]:checked').val();
        var billingOtherAddressFirstnameValue = jQuery('[id="billing[other_address][firstname]"]').val();
        var billingOtherAddressLastnameValue = jQuery('[id="billing[other_address][lastname]"]').val();
        var billingOtherAddressPostcodeValue = jQuery('[id="billing[other_address][postcode]"]').val();
        var billingOtherAddressCityValue = jQuery('[id="billing[other_address][city]"]').val();
        var billingOtherAddressStreetValue = jQuery('[id="billing[other_address][street]"]').val();
        var billingOtherAddressHouseNoValue = jQuery('[id="billing[other_address][houseno]"]').val();
        var billingOtherAddressGender = ('2' == billingOtherAddressGenderValue) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';
        var billingOtherAddressGenderFirstnameLastname =
            (billingOtherAddressFirstnameValue || billingOtherAddressLastnameValue)
                ? billingOtherAddressGender + ' ' + billingOtherAddressFirstnameValue + ' ' + billingOtherAddressLastnameValue
                : empty;
        var billingOtherAddressStreetHouseNo = (billingOtherAddressStreetValue) ? billingOtherAddressStreetValue + ' ' + billingOtherAddressHouseNoValue : empty;
        var billingOtherAddressAddressZipcode = (billingOtherAddressPostcodeValue) ? billingOtherAddressPostcodeValue + ' ' + billingOtherAddressCityValue : empty;


        // Marketing Values
        var marketingVoucherValue = jQuery('[id="other[campaign_voucher]"]').val();
        var marketingDisclosureValue = jQuery('[id="other[marketing][data_disclosure]"]').prop('checked');
        var marketingCallsValue = jQuery('[id="other[marketing][calls]"]').prop('checked');
        var marketingMailAdsValue = jQuery('[id="other[marketing][mail_avertising]"]').prop('checked');
        var marketingEmailAdsValue = jQuery('[id="other[marketing][email_avertising]"]').prop('checked');
        var marketingVoucher = marketingVoucherValue ? marketingVoucherValue : empty;


        // Fill customer data
        if ((empty !== customerGenderFirstnameLastname) || forceFill) {
            jQuery('[id="overview[customer][1][gender_firstname_lastname]"]').html(customerGenderFirstnameLastname);
        }
        if ((empty !== customerAddressStreet) || forceFill) {
            jQuery('[id="overview[customer][1][street]"]').html(customerAddressStreet);
        }
        if ((empty !== customerAddressZipcode) || forceFill) {
            jQuery('[id="overview[customer][1][postcode]"]').html(customerAddressZipcode);
        }
        if ((empty !== customerBirthDate) || forceFill) {
            jQuery('[id="overview[customer][1][birth_date]"]').html(customerBirthDate);
        }
        if ((empty !== customerPrivatePhone) || forceFill) {
            jQuery('[id="overview[customer][1][private_phone]"]').html(customerPrivatePhone);
        }
        if ((empty !== customerPrivatePhone) || forceFill) {
            jQuery('[id="overview[customer][1][private_phone]"]').html(customerPrivatePhone);
        }

        
        // Fill payment data
        if ((empty !== paymentIBAN) || forceFill) {
            jQuery('[id="overview[payment][bank][iban]"]').html(paymentIBAN);
        }
        if ((empty !== paymentAccountNo) || forceFill) {
            jQuery('[id="overview[payment][bank][account_number]"]').html(paymentAccountNo);
        }

        if ((empty !== paymentChoice) || forceFill) {
            var paymentChoiceText = jQuery('[id="payment[one_time][' + paymentChoice  + ']"]').next().html();
            if (paymentChoiceText) {
                jQuery('[id="overview[payment][choice]"]').html(paymentChoiceText);
            }
        }
        

        // Fill delivery data
        if ((empty !== deliveryAddressStreetHouseNo) || forceFill) {
            jQuery('[id="overview[delivery][address][street_houseno]"]').html(deliveryAddressStreetHouseNo);
        }
        if ((empty !== deliveryAddressZipcode) || forceFill) {
            jQuery('[id="overview[delivery][address][postcode_city]"]').html(deliveryAddressZipcode);
        }
        if ((empty !== deliveryOtherAddressType) || forceFill) {
            jQuery('[id="overview[delivery][other_address][type]"]').html(deliveryOtherAddressType);
        }
        if ((empty !== deliveryOtherAddressStreetHouseNo) || forceFill) {
            jQuery('[id="overview[delivery][other_address][street_houseno]"]').html(deliveryOtherAddressStreetHouseNo);
        }
        if ((empty !== deliveryOtherAddressZipcode) || forceFill) {
            jQuery('[id="overview[delivery][other_address][postcode_city]"]').html(deliveryOtherAddressZipcode);
        }
        if ((deliveryChoiceValue) || forceFill) {
            var deliveryChoiceText = jQuery('[id="delivery[choice][' + deliveryChoiceValue  + ']"]').next().html();
            if (deliveryChoiceText) {
                jQuery('[id="overview[delivery][choice]"]').html(deliveryChoiceText);
            }
        }
        

        // Fill billing data
        if ((empty !== billingAddressGenderFirstnameLastname) || forceFill) {
            jQuery('[id="overview[billing][gender_firstname_lastname]"]').html(billingAddressGenderFirstnameLastname);
        }
        if ((empty !== billingAddressStreetHouseNo) || forceFill) {
            jQuery('[id="overview[billing][street_houseno]"]').html(billingAddressStreetHouseNo);
        }
        if ((empty !== billingAddressZipcode) || forceFill) {
            jQuery('[id="overview[billing][postcode_city]"]').html(billingAddressZipcode);
        }

        if ('1' == billingChoiceValue && 'address' == billingOtherAddressTypeValue) {
            if ((empty !== billingOtherAddressGenderFirstnameLastname) || forceFill) {
                jQuery('[id="overview[billing][other_address][gender_firstname_lastname]"]').html(billingOtherAddressGenderFirstnameLastname);
            }
            if ((empty !== billingOtherAddressStreetHouseNo) || forceFill) {
                jQuery('[id="overview[billing][other_address][street_houseno]"]').html(billingOtherAddressStreetHouseNo);
            }
            if ((empty !== billingOtherAddressAddressZipcode) || forceFill) {
                jQuery('[id="overview[billing][other_address][postcode_city]"]').html(billingOtherAddressAddressZipcode);
            }
        }


        // Fill marketing values
        if ((empty !== marketingVoucher) || forceFill) {
            jQuery('[id="overview[marketing][voucher]"]').html(marketingVoucher);
        }
        if (marketingDisclosureValue) {
            jQuery('[id="overview[marketing][disclosure]"]').html('<?php echo $this->__('Yes'); ?>');
        }
        if (marketingCallsValue) {
            jQuery('[id="overview[marketing][calls]"]').html('<?php echo $this->__('Yes'); ?>');
        }
        if (marketingMailAdsValue) {
            jQuery('[id="overview[marketing][mail_ads]"]').html('<?php echo $this->__('Yes'); ?>');
        }
        if (marketingEmailAdsValue) {
            jQuery('[id="overview[marketing][email_ads]"]').html('<?php echo $this->__('Yes'); ?>');
        }
    }
</script>
