<?php /** @var $this Dyna_Checkout_Block_Cart_Steps_SaveBilling */

$mobilePostPaid = false;
$mobilePrepaid = true;
$cable = false;
$dsl = false;
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

$customerFields = $this->getCustomerFields();
$paymentFields = $this->getCustomerFields("save_payment");

$accountNo = (! empty($paymentFields['payment[iban]'])) ? $paymentFields['payment[iban]'] : '';

$deliveryAddress = [
    "street" => '',
    "zipcode" => '',
];

$customer = [];
if (count($customerFields)) {

    $customer = [
        'name' => sprintf("%s %s %s", $customerFields['customer[prefix]'], $customerFields['customer[firstname]'], $customerFields['customer[lastname]']),
    ];

    $deliveryAddress = [
        "street" => $customerFields['customer[address][street]'],
        "zipcode" => $customerFields['customer[address][postcode]']
    ];
}
?>
<div class="bs-docs-section hidden">
    <form class="cart" action="saveOverview" method="post" role="form" id="saveOverview">
        <h3 id="voicelog"><?php echo $this->__('Voicelog'); ?></h3>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div><?php echo $this->__("Please first confirm that you agree with the recording, by the word „Yes“.") ?></div>
        <p class="small-paragraph">&nbsp;</p>
        <div><?php echo (isset($customer['name'])) ? $customer['name'] : '' ?><?php echo $this->__(" Sie haben bei uns folgendes verbindlich bestellt:")  ?></div>

        <p>&nbsp;</p>
        <?php
        /** @var Dyna_Package_Model_Package $package */
        foreach ($this->getPackages() as $package): ?>
            <div class="col-md-12 no-padding">
                <p class="package-title">
                    <span>
                        <?php echo sprintf('%s %d', $this->__('Package'), $package->getPackageId()); ?>
                    </span>
                </p>
            </div>
            <?php $packageItemsBySections = $package->getPackagesProductsForOverviewSection($package->getData('items'));
            foreach ($packageItemsBySections as $section => $productsInSection) : ?>
                <div class="products-overview col-md-11">
                    <div class="col-md-8">
                        <div class="overview-block-title">
                            <?php echo $packageItemsBySections[$section]['title'] ;?>
                        </div>
                        <?php foreach ($packageItemsBySections[$section]['items'] as $key => $product) : ?>
                            <div><?php echo $product['name']; ?></div>
                        <?php endforeach; ?>
                    </div>
                    <div class="col-md-4 overview-prices">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-5">
                            <div class="overview-block-title"><?php echo $this->__('Monthly'); ?></div>
                            <?php foreach ($packageItemsBySections[$section]['items'] as $key => $product) : ?>
                                <div><?php echo isset($product['maf']) && $product['maf'] ? "€ ".$product['maf']: '€ 0,00'; ?></div>
                            <?php endforeach; ?>
                        </div>
                        <div class="col-md-5">
                            <div class="overview-block-title"><?php echo $this->__('One time cost'); ?></div>
                            <?php foreach ($packageItemsBySections[$section]['items'] as $key => $product) : ?>
                                <div><?php echo isset($product['price']) && $product['price'] ? "€ ".$product['price']: "€ 0,00"; ?></div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            <?php endforeach ?>
        <?php endforeach; ?>
        <div class="products-overview col-md-11">
            <div class="col-md-8">
                <div class="overview-block-title">
                    <?php echo $this->__('Total Cost Overview'); ?>
                </div>
                <div><?php echo $this->__("Total"); ?></div>
            </div>
            <div class="col-md-4 overview-prices">
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <div class="overview-block-title"><?php echo $this->__('Monthly'); ?></div>
                    <div><?php echo "€ ".$helper->showPriceWithoutCurrencySymbol($this->getQuote()->getData('maf_grand_total')); ?></div>
                </div>
                <div class="col-md-5">
                    <div class="overview-block-title"><?php echo $this->__('One time cost'); ?></div>
                    <div><?php echo "€ ".$helper->showPriceWithoutCurrencySymbol($this->getQuote()->getData('grand_total')); ?></div>
                </div>
            </div>
        </div>

        <div class="voicelog-overview col-md-11">
            <p>&nbsp;</p>
            <?php echo $this->__("The delivery of your hardware is at the following address") ?>
            <p class="small-paragraph">&nbsp;</p>
            <div class="overview-block-title">
                <?php echo $deliveryAddress['street']; ?>
            </div>
            <div class="overview-block-title">
                <?php echo $deliveryAddress['zipcode']; ?>
            </div>
            <p>&nbsp;</p>
        </div>

        <div class="voicelog-terms col-md-12">
            <?php if ($mobilePrepaid || $mobilePostPaid) : ?>
                <div><?php echo $this->__("You get the full contract documents to your mobile contract incl. Conditions of Use within the next few days.") ?></div>
                <p>&nbsp;</p>
                <div><?php echo sprintf($this->__("We will debit the monthly amount of your Acct. %s at the German bank."), $accountNo) ?></div>
                <div><?php echo $this->__("We will charge your account for your hardware from the same account.") ?></div>
                <p>&nbsp;</p>
                <div><?php echo $this->__("You receive an invoice, which then settle in accordance with the payment term itself.") ?></div>
                <div><?php echo $this->__("Please confirm that this is all so correctly briefly with the word") ?></div>

                <label class="checkbox-inline">
                    <input type="checkbox" name="voicelog[terms1]" class="voicelog-terms-check" id="voicelog[terms1]" value="0" class="required">
                    <strong><?php echo $this->__("YES") ?></strong>
                </label>
            <?php endif ?>
            <?php if ($cable) : ?>
                <div><?php echo $this->__("You get the full contract documents to your mobile contract incl. Conditions of Use within the next few days.") ?></div>
                <p>&nbsp;</p>
                <div><?php echo sprintf($this->__("We will debit the monthly amount of your Acct. %s at the German bank."), $accountNo) ?></div>
                <div><?php echo $this->__("We will charge your account for your hardware from the same account.") ?></div>
                <p>&nbsp;</p>
                <div><?php echo $this->__("You receive an invoice, which then settle in accordance with the payment term itself.") ?></div>
                <div><?php echo $this->__("Please confirm that this is all so correctly briefly with the word") ?></div>

                <label class="checkbox-inline">
                    <input type="checkbox" name="voicelog[terms1]" class="voicelog-terms-check" id="voicelog[terms1]" value="0" class="required">
                    <strong><?php echo $this->__("YES") ?></strong>
                </label>
            <?php endif ?>
            <?php if ($dsl) : ?>
                <div><?php echo $this->__("You get the full contract documents to your mobile contract incl. Conditions of Use within the next few days.") ?></div>
                <p>&nbsp;</p>
                <div><?php echo sprintf($this->__("We will debit the monthly amount of your Acct. %s at the German bank."), $accountNo) ?></div>
                <div><?php echo $this->__("We will charge your account for your hardware from the same account.") ?></div>
                <p>&nbsp;</p>
                <div><?php echo $this->__("You receive an invoice, which then settle in accordance with the payment term itself.") ?></div>
                <div><?php echo $this->__("Please confirm that this is all so correctly briefly with the word") ?></div>

                <label class="checkbox-inline">
                    <input type="checkbox" name="voicelog[terms1]" class="voicelog-terms-check" id="voicelog[terms1]" value="1" class="required">
                    <strong><?php echo $this->__("YES") ?></strong>
                </label>
            <?php endif ?>
        </div>

        <div class="voicelog-terms col-md-12">
            <div
                class="important-info"><?php echo $this->__("The contract has a minimum term of 24 months and then extended for 1 year, if it is not terminated.") ?></div>
            <p>&nbsp;</p>
            <div><?php echo $this->__("The notice period is 3 months.") ?></div>
            <p>&nbsp;</p>
            <div><?php echo $this->__("Please confirm that this is all so correctly briefly with the word") ?></div>
            <label class="checkbox-inline">
                <input type="checkbox" name="voicelog[terms2]" class="voicelog-terms-check" id="voicelog[terms2]" value="1" class="required">
                <strong><?php echo $this->__("YES") ?></strong>
            </label>
        </div>

        <div class="voicelog-terms col-md-12">
            <div><?php echo $this->__("Can Vodafone cable Germany Vertrieb und Service GmbH/Vodafone Your contract data, "
                    . "ie your name, title, address, date of birth, telephone number, e-mail address and information about the products you have selected for "
                    . "the duration of the contract to provide information on their own products, consulting and own market research by mail, phone and use e-mail?") ?></div>
            <p>&nbsp;</p>
            <div><?php echo $this->__("Please confirm that this is all so correctly briefly with the word") ?></div>
            <label class="checkbox-inline">
                <input type="checkbox" name="voicelog[terms3]" class="voicelog-terms-check" id="voicelog[terms3]" value="1" class="required">
                <strong><?php echo $this->__("YES") ?></strong>
            </label>
        </div>

        <div class="voicelog-terms col-md-12">
            <div><?php echo $this->__("Naturally, you have the opportunity to withdraw your information at any time and without cause with effect for the future. All information on the perception of your right of withdrawal can be found on our website under the „Privacy Policy“."); ?></div>
            <p>&nbsp;</p>
            <div><?php echo $this->__("Please confirm that this is all so correctly briefly with the word") ?></div>
            <label class="checkbox-inline">
                <input type="checkbox" name="voicelog[terms4]" class="voicelog-terms-check" id="voicelog[terms4]" value="1" class="required">
                <strong><?php echo $this->__("YES") ?></strong>
            </label>
        </div>

        <div class="row submit submit-buttons">
            <div class="col-md-12 clearfix">
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-info-white checkout-continue-btn step" onclick="backToFirstStep()"><?php echo $this->__('Back'); ?></button>
                 </div>
                <div class="col-md-3">
                    <button type="button"
                            onclick="checkout.initContractSend()"
                            class="btn pull-right btn-info step"><?php echo $this->__("Save your order"); ?></button>
                </div>
                <div class="col-md-3">
                    <button type="submit" data-step="saveOverview"
                            class="submitbutton btn btn-info pull-right step disabled"><?php echo $this->__("Complete your order"); ?></button>
                </div>
            </div>
        </div>

    </form>
</div>

<script>
    jQuery('.voicelog-terms').on('click', function() {
        jQuery(this).find('input.voicelog-terms-check').trigger('click');
    });

    //<![CDATA[
    // Save saveOverview form validation
    form.saveOverview = new VarienForm('saveOverview', true);
    //]]>
    
    jQuery(document).ready(function () {
        $j('.voicelog-terms-check').click(function(e){
            toggleSelectedTerms(jQuery(e.target));
        });
        $j("[name^='voicelog\\[terms']").on('click', function () {
            el = $j(this);
            if ($j("[name^='voicelog\\[terms']:not(:checked)").length == 0) {
                el.first().parents('.cart').find('.submit-buttons button.submitbutton').removeClass('disabled');
            } else {
                el.first().parents('.cart').find('.submit-buttons button.submitbutton').addClass('disabled');
            }
        });
    });

    function toggleSelectedTerms(element) {
        if (false !== element.prop('checked')) {
            element.closest('div.voicelog-terms').addClass('checked-terms-background');
        } else {
            element.closest('div.voicelog-terms').removeClass('checked-terms-background');
        }
    }

    // todo: remove
    function submitVoiceLog() {
        if ($j("[name^='voicelog\\[terms']:not(:checked)").length == 0) {

            $j('#polling-modal').modal();

            $j('form#saveOverview').submit();

            return true;
            // @todo remove the bundle from session if exists set on session
        }

        return false;
    }
</script>
