<?php
/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveCustomer */
$checkoutHelper = $this->getCheckoutHelper();
/** @var Omnius_Customer_Model_Session $session */
$customerSession = $this->getCustomerSession();

$quote = $this->getQuote();
/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();
$customerLoggedIn = $customer->isCustomerLoggedIn();
$isSohoCustomer = $customerLoggedIn ? $customer->getIsSoho() : ($customerSession->getIsSoho() ? $customerSession->getIsSoho() : false);
$skipToDeliverSteps = false;

$serviceAddressDetails = $this->getServiceAddressDetails();
$fullServiceAddress = $this->hasCable() ? $this->getServiceAddressAsString(true) : $this->getServiceAddressAsString();
/* @TODO temp fix */
$telephone_type = $this->getTelephoneType();
$commercial_register_type = $this->getCommercialRegisterType();

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
//set current checkout step data
$checkoutData->setCheckoutData("save_customer", $quote->getId());
$addDistrict = $this->hasCable() ? true : false;
$phoneFieldsLimit = 3;
$checkoutDataPhoneFieldsLimit = 0;

for ($i=0; $i<$phoneFieldsLimit; $i++) {
    if ($checkoutData->getFieldValue('customer[contact_details][phone_list][' . $i . '][telephone_prefix]') !== false) {
        $checkoutDataPhoneFieldsLimit = $i;
    } else {
        break;
    }
}
?>
<!-- Klantgegevens
    ================================================== -->
<div class="bs-docs-section margin-top-0 <?php echo !$skipToDeliverSteps ? 'active' : 'hidden'; ?>" xmlns="http://www.w3.org/1999/html">
    <form class="cart" action="saveCustomer" method="post" role="form" id="saveCustomer">
        <h3 id="klantgegevens"><?php echo $this->__('Customer Details'); ?></h3>
        <p class="hr-under"></p>
        <div id="customer_info">
            <div class="row" id="personal-contract">
                <div class="col-md-9">
                    <p><?php echo $this->__('Please enter only one person as a contractor!') ?></p>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <div class="col-md-2">
                                <label for="customer[type]"><?php echo $this->__('Customer Type'); ?></label>
                                <input readonly type="text" id="customer[type]" name="customer[type]"
                                       class="form-control input-sm required-entry <?php echo ($customerLoggedIn) ? 'disabled' : '' ?>"
                                       value="<?php echo $isSohoCustomer ? $checkoutData->getFieldValue('customer[type]', $this->__('Soho')) : $checkoutData->getFieldValue("customer[type]", $this->__('Private')); ?>" />
                            </div>
                        </div>
                    </div>
                    <?php if ($isSohoCustomer && ($this->hasFixedTypePackage())): ?>
                        <div class="clearfix form-row">
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <label><?php echo $this->__('Commercial register entry available').' *'; ?></label>
                                    <div class="radio-wrapper-one-line clearfix">
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="customer[business][commercial_register][1]" name="customer[business][commercial_register]" value="1"
                                                <?php echo ( $checkoutData->getFieldValue("customer[business][commercial_register]") == 1 || $customer->getCommercialRegister() )
                                                    ? 'checked' : ''; ?> />
                                            <span><?php echo $this->__('Yes'); ?></span>
                                        </label>
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="customer[business][commercial_register][2]" name="customer[business][commercial_register]" value="2"
                                                <?php echo ($checkoutData->getFieldValue("customer[business][commercial_register]") == 2 || (false === $customer->getCommercialRegister()))
                                                    ? 'checked' : ''; ?> />
                                            <span><?php echo $this->__('No'); ?></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="clearfix form-row <?php echo $isSohoCustomer ? 'commercial-register-2 non-removable' : '' ?>">
                        <div class="col-md-10">
                            <div class="<?php echo ($isSohoCustomer && $this->hasCable()) ? 'col-md-4' : 'col-md-3' ?> <?php echo $isSohoCustomer && $this->hasCable() && !$this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE) ? 'hidden' : '' ?>">
                                <label for="customer[gender]"><?php echo $this->__('Salutation').' *'; ?></label>
                                <div class="radio-wrapper-one-line clearfix">
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="customer[gender][1]" name="customer[gender]"
                                               value="1" class="<?php echo $customerLoggedIn ? 'disabled' : '' ?>" <?php echo ($customerLoggedIn) ? 'readonly' : '' ?>
                                                <?php
                                                    echo
                                                    (
                                                        ($checkoutData->getFieldValue("customer[gender]") == 1 || strtolower($customer->getTitle()) == strtolower($this->__('Mr.'))) &&
                                                        (!$isSohoCustomer || !$this->hasCable() || $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE))
                                                    )
                                                    ? 'checked' : "";
                                                ?>
                                        />
                                        <span><?php echo $this->__('Mr.'); ?></span>
                                    </label>
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="customer[gender][2]" name="customer[gender]"
                                               value="2" class="<?php echo $customerLoggedIn ? 'disabled' : '' ?>" <?php echo ($customerLoggedIn) ? 'readonly' : '' ?>
                                                <?php
                                                    echo
                                                    (
                                                        ($checkoutData->getFieldValue("customer[gender]") == 2 || strtolower($customer->getTitle()) == strtolower($this->__('Mrs.'))) &&
                                                        (!$isSohoCustomer || !$this->hasCable() || $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE))
                                                    )
                                                    ? 'checked' : "";
                                                ?>
                                        />
                                        <span><?php echo $this->__('Mrs.'); ?></span>
                                    </label>
                                    <?php if ($isSohoCustomer && $this->hasCable()): ?>
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="customer[gender][3]" class="<?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                   name="customer[gender]" value="3" checked <?php echo ($customerLoggedIn) ? 'readonly' : '' ?> />
                                            <span><?php echo $this->__('Company'); ?></span>
                                        </label>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="col-md-3 <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                                <label for="customer[prefix]"><?php echo $this->__('Title'); ?></label>
                                <?php $prefixOptions = $checkoutHelper->getPrefixOptions(); ?>
                                <select id="customer[prefix]" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                        name="customer[prefix]" <?php echo ($customerLoggedIn) ? 'readonly' : '' ?> >
                                    <option value=""><?php echo $this->__(''); ?></option>
                                    <?php foreach ($prefixOptions as $option) : ?>
                                        <option value="<?php echo $option; ?>" <?php
                                            echo $checkoutData->getFieldValue("customer[prefix]") == $option ? "selected" : ""; ?>><?php echo $option; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-row <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                        <div class="col-md-4">
                            <label for="customer[firstname]"><?php echo $this->__('First name').' *'; ?></label>
                            <input type="text" id="customer[firstname]" name="customer[firstname]"
                                   class="form-control required-entry input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                   value="<?php echo $checkoutData->getFieldValue("customer[firstname]", $customer->getFirstName()) ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                        </div>
                        <div class="col-md-4">
                            <label for="customer[lastname]"><?php echo $this->__('Last Name / Maiden Name').' *'; ?></label>
                            <input type="text" id="customer[lastname]" name="customer[lastname]"
                                   class="form-control required-entry input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                   value="<?php echo $checkoutData->getFieldValue("customer[lastname]", $customer->getLastName()) ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                        </div>
                        <div class="col-md-4 date-element-wrapper label-field-container">
                            <label for="customer[dob]"><?php echo $this->__('Birth Date').' *'; ?></label>
                            <input type="text" id="customer[dob]" name="customer[dob]"
                                   class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?><?php echo $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_PREPAID) ? 'validate-min-age-7' : 'validate-min-age-18'; ?>"
                                   placeholder="<?php echo 'mm/dd/yyyy'; ?>"
                                   value="<?php echo $checkoutData->getFieldValue("customer[dob]", $customer->getDob()) ?: ''; ?>"
                                   maxlength="10" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                        </div>
                    </div>
                    <?php if ($isSohoCustomer && ($this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE) || $this->hasFixedTypePackage() )): ?>
                        <div class="form-row-small clearfix <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="customer[address][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                    <input type="number" id="customer[address][postcode]" name="customer[address][postcode]" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                           value="<?php echo $checkoutData->getFieldValue("customer[address][postcode]", ($customer['postal_code']));
                                           ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customer[address][city]"><?php echo $this->__('City').' *'; ?></label>
                                    <input type="text" id="customer[address][city]" name="customer[address][city]" class="form-control input-sm  <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                           value="<?php echo $checkoutData->getFieldValue("customer[address][city]", $customer['city']);
                                           ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                </div>
                            </div>
                            <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()) : ?>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="customer[address][district]"><?php echo $this->__('District').' *'; ?></label>
                                        <input type="text" id="customer[address][district]" name="customer[address][district]" class="form-control input-sm  <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                               value="<?php echo $checkoutData->getFieldValue("customer[address][district]", $customer['district']);
                                               ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                    </div>
                                </div>
                            <?php endif; ?>

                        </div>
                        <div class="form-row-small clearfix <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="customer[address][street]"><?php echo $this->__('Street').' *'; ?></label>
                                    <input type="text" id="customer[address][street]"
                                           name="customer[address][street]" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                           value="<?php echo $checkoutData->getFieldValue("customer[address][street]", $customer['street']);
                                           ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="customer[address][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                    <input type="number" id="customer[address][houseno]" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                           name="customer[address][houseno]"  value="<?php echo $checkoutData->getFieldValue("customer[address][houseno]", $customer['no']);
                                    ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                </div>
                            </div>
                            <?php if ($this->hasCableOrFixedTypePackage()) : ?>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <div class="form-group">
                                        <label for="customer[address][addition]"><?php echo $this->__('Add.'); ?></label>
                                        <input type="text" id="customer[address][addition]" class="form-control input-sm maximum <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                               name="customer[address][addition]"  value="<?php echo $checkoutData->getFieldValue("customer[address][addition]", $customer['no']);
                                        ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?>/>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>

                    <?php if ($this->hasMobileTypePackage() || $this->hasCable()) : ?>
                        <div class="clearfix form-row <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                            <div class="col-md-4">
                                <label for="customer[id_number]"><?php echo $this->__('Legitimation number').' *'; ?></label>
                                <input type="text" id="customer[id_number]" name="customer[id_number]"
                                       class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                       placeholder="<?php echo $this->__('i.e. 1220001932'); ?>"
                                       maxlength="35" <?php /* echo $customerLoggedIn ? 'readonly' : '' */ ?> value="<?php echo $checkoutData->getFieldValue("customer[id_number]"); ?>"/>
                            </div>
                            <div class="col-md-4">
                                <label for="customer[nationality]"><?php echo $this->__('Nationality').' *'; ?></label>
                                <select name="customer[nationality]" id="customer[nationality]" <?php echo $customerLoggedIn ? 'readonly' : '' ?>
                                        class="form-control input-sm validate-select <?php echo $customerLoggedIn ? 'disabled' : '' ?>">
                                    <?php foreach ($this->getCountries() as $key => $country): ?>
                                        <option value="<?php echo $key ?>" <?php echo $checkoutData->getFieldValue("customer[nationality]") == $key ? "selected" : "" ?>>
                                            <?php echo htmlspecialchars($country); ?>
                                        </option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                        <?php if($this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE)): ?>
                            <div class="clearfix form-row <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                                <div class="col-md-6">
                                    <input type="checkbox" id="customer[other_identity][checked]" class="checkbox-no-margin" value="1" name="customer[other_identity][selected]" onclick="toggleOtherIdentityFields(jQuery(this));"/>
                                    <?php if ($checkoutData->getFieldValue("customer[other_identity][selected]") !== false) : ?>
                                        <script type="text/javascript">
                                            jQuery(document).ready(function (){
                                                jQuery('[id="customer[other_identity][selected]"]').trigger('click');
                                            });
                                        </script>
                                    <?php endif; ?>
                                    <label class="no-format" for="customer[other_identity][checked]">
                                        <span><?php echo $this->__('Other identity'); ?></span>
                                    </label>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php if ($isSohoCustomer && $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE)): ?>
                            <div class="clearfix form-row">
                                <div class="col-md-5">
                                    <label for="customer[account_password]"><?php echo $this->__('Account password'); ?></label>
                                    <input type="text" id="customer[account_password]" name="customer[account_password]"
                                           class="form-control input-sm " value="<?php echo $checkoutData->getFieldValue("customer[account_password]", $customer['password']); ?>"/>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="clearfix form-row hidden <?php echo $isSohoCustomer ? 'commercial-register-2' : '' ?>">
                            <div class="col-md-4">
                                <label><?php echo $this->__('Banking, Credit or Maestro card no.').' *'; ?></label>
                                <input type="text" id="customer[other_identity][card_no]" name="customer[other_identity][card_no]"
                                       class="form-control input-sm "
                                       maxlength="35" value="<?php echo $checkoutData->getFieldValue("customer[other_identity][card_no]"); ?>"/>
                            </div>
                            <div class="col-md-4 date-element-wrapper label-field-container">
                                <label><?php echo $this->__('Expiration Date').' *'; ?></label>
                                <input type="text" id="customer[other_identity][exp_date]" name="customer[other_identity][exp_date]"
                                       class="form-control input-sm"
                                       placeholder="<?php echo $this->__('MM-JJJJ'); ?>"
                                       maxlength="7" value="<?php echo $checkoutData->getFieldValue("customer[other_identity][exp_date]"); ?>"/>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>

            <?php if($isSohoCustomer) : ?>
                <?php if(!$this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE)) : ?>
                    <hr class="hr-over"/>
                    <h4>
                        <?php echo  $this->__('Information about company')?>
                    </h4>
                <?php endif; ?>
            <?php else: ?>
                <hr class="hr-over"/>
                <h4>
                    <?php echo  $this->__('Customer Address')?>
                </h4>
            <?php endif; ?>
            
            <div class="row" id="customer-address">
                <div class="col-md-11">
                    <?php if ($isSohoCustomer && !$this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE)): ?>
                        <div class="clearfix form-row">
                            <div class="col-md-4">
                                <label for="customer[address][company_name]"><?php echo $this->__('Company name').' *'; ?></label>
                                <input type="text" id="customer[address][company_name]" name="customer[address][company_name]" class="form-control input-sm required-entry"
                                       value="<?php echo $checkoutData->getFieldValue("customer[address][company_name]", $customer->getCompanyName()) ?>" />
                            </div>
                            <div class="col-md-4 commercial-register-1">
                                <label for="customer[address][company_additional_name]"><?php echo $this->__('Additional company name'); ?></label>
                                <input type="text" id="customer[address][company_additional_name]" name="customer[address][company_additional_name]" class="form-control input-sm"
                                       value="<?php echo $checkoutData->getFieldValue("customer[address][company_additional_name]", $customer->getCompanyAdditionalName()) ?>" />
                            </div>
                        </div>
                        <div class="clearfix form-row commercial-register-1">
                            <div class="col-md-3">
                                <label for="customer[address][commercial_register_type]"><?php echo $this->__('Commercial register type').' *'; ?></label>
                                <select id="customer[address][commercial_register_type]" name="customer[address][commercial_register_type]" class="form-control input-sm validate-business-commercial-register-type-de">
                                    <option value=""><?php echo ""; ?></option>
                                    <?php foreach ($commercial_register_type as $key => $value) : ?>
                                        <option value="<?php echo $value; ?>" <?php echo $checkoutData->getFieldValue("customer[address][commercial_register_type]", $customer->getCommercialRegisterType()) == $value
                                            ? "selected" : ''; ?>><?php echo $this->__($value); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix form-row commercial-register-1">
                            <div class="col-md-4">
                                <label for="customer[address][company_registration_number]"><?php echo $this->__('Company registration number').' *'; ?></label>
                                <input type="text" id="customer[address][company_registration_number]" name="customer[address][company_registration_number]"
                                       class="form-control input-sm"
                                       value="<?php echo $checkoutData->getFieldValue("customer[address][company_registration_number]", $customer->getCompanyRegistrationNumber()) ?>" />
                            </div>
                            <div class="col-md-4">
                                <label for="customer[address][company_trade_location]"><?php echo $this->__('Trade Register Location').' *'; ?></label>
                                <input type="text" id="customer[address][company_trade_location]" name="customer[address][company_trade_location]"
                                       class="form-control input-sm"
                                       value="<?php echo $checkoutData->getFieldValue("customer[address][company_trade_location]", $customer->getCompanyTradeLocation()) ?>" />
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="clearfix form-row ">
                        <?php if (!$isSohoCustomer) : ?>
                            <input type="hidden" id="customer[address][address]" name="customer[address][address]" value="address"/>
                        <?php endif; ?>
                        <!-- Search address -->
                        <div class="col-md-13">
                            <?php if (!($isSohoCustomer && $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE))) : ?>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label for="customer[address][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="customer[address][postcode]" name="customer[address][postcode]" data-form="postcode" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                   value="<?php echo $checkoutData->getFieldValue("customer[address][postcode]", ($customer['postal_code']));
                                                   ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer[address][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="customer[address][city]" name="customer[address][city]" data-form="city" class="form-control input-sm  <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                   value="<?php echo $checkoutData->getFieldValue("customer[address][city]", $customer['city']);
                                                   ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                        </div>
                                    </div>
                                    <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()) : ?>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="customer[address][district]"><?php echo $this->__('District').' *'; ?></label>
                                                <input type="text" id="customer[address][district]" name="customer[address][district]" data-form="district" class="form-control input-sm  <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                       value="<?php echo $checkoutData->getFieldValue("customer[address][district]", $customer['district']);
                                                       ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                            </div>
                                        </div>
                                    <?php endif; ?>

                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="customer[address][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="customer[address][street]"
                                                   name="customer[address][street]" data-form="street" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                   value="<?php echo $checkoutData->getFieldValue("customer[address][street]", $customer['street']);
                                                   ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                        </div>
                                    </div>
                                    <div class="col-md-1 house-number">
                                        <div class="form-group">
                                            <label for="customer[address][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="customer[address][houseno]" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                   name="customer[address][houseno]"  data-form="houseno" value="<?php echo $checkoutData->getFieldValue("customer[address][houseno]", $customer['no']);
                                                   ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?> />
                                        </div>
                                    </div>
                                    <?php if ($isSohoCustomer && $this->hasCableOrFixedTypePackage()) : ?>
                                    <div class="col-md-1" style="padding-right: 0px;">
                                        <div class="form-group">
                                            <label for="customer[address][addition]"><?php echo $this->__('Add.'); ?></label>
                                            <input type="text" id="customer[address][addition]" data-form="addition" class="form-control input-sm maximum <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                                   name="customer[address][addition]"  value="<?php echo $checkoutData->getFieldValue("customer[address][addition]", $customer['no']);
                                                ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?>/>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>

                            <?php if (!$isSohoCustomer && ($this->hasCableOrFixedTypePackage() || $this->hasMobile())) : ?>
                                <div class="clearfix form-row">
                                    <div class="col-md-5">
                                        <label for="customer[account_password]"><?php echo $this->__('Account password'); ?></label>
                                        <input type="text" id="customer[account_password]" name="customer[account_password]"
                                               class="form-control input-sm " value="<?php echo $checkoutData->getFieldValue("customer[account_password]", $customer['password']); ?>"/>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>

            <?php if ($this->hasCable() && $isSohoCustomer) : ?>
                <hr class="hr-over"/>
                <h4><?php echo $this->__('Contact Person'); ?></h4>
                <div id="customer_contact_person" class="row">
                    <div id="customer_contact_wrapper" class="col-md-10">
                        <div class="clearfix form-row-small contact-fields">
                            <div class="col-md-3">
                                <label><?php echo $this->__('Name') . ' *'; ?></label>
                                <input type="text" id="customer[contact_person][name]" name="customer[contact_person][name]"
                                       class="form-control input-sm customer-contact-person-name"
                                        value="<?php echo $checkoutData->getFieldValue('customer[contact_person][name]'); ?>"/>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->hasFixedTypePackage() && $isSohoCustomer) : ?>
                <hr class="hr-over"/>
                <h4><?php echo $this->__('Contact Person'); ?></h4>
                <div id="customer_contact_person" class="row">

                    <div class="col-md-3">
                        <label for="customer[contact_person][gender]"><?php echo $this->__('Salutation').' *'; ?></label>
                        <div class="radio-wrapper-one-line clearfix">
                            <label class="radio-inline pull-left">
                                <input type="radio" id="customer[contact_person][gender][1]" name="customer[contact_person][gender]" value="1"
                                       class="<?php echo $customerLoggedIn ? 'disabled' : '' ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?>
                                    <?php
                                        echo
                                        (
                                            ($checkoutData->getFieldValue("customer[contact_person][gender]") == 1 || strtolower($customer->getTitle()) == strtolower($this->__('Mr.'))) &&
                                            (!$isSohoCustomer || !$this->hasCable() || $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE))
                                        )
                                        ? 'checked' : "";
                                    ?>
                                />
                                <span><?php echo $this->__('Mr.'); ?></span>
                            </label>
                            <label class="radio-inline pull-left">
                                <input type="radio" id="customer[contact_person][gender][2]" name="customer[contact_person][gender]" value="2"
                                       class="<?php echo $customerLoggedIn ? 'disabled' : '' ?>" <?php echo $customerLoggedIn ? 'readonly' : '' ?>
                                    <?php
                                        echo
                                        (
                                            ($checkoutData->getFieldValue("customer[contact_person][gender]") == 2 || strtolower($customer->getTitle()) == strtolower($this->__('Mrs.'))) &&
                                            (!$isSohoCustomer || !$this->hasCable() || $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE))
                                        )
                                        ? 'checked' : "";
                                    ?>
                                />
                                <span><?php echo $this->__('Mrs.'); ?></span>
                            </label>
                            <?php if ($isSohoCustomer && $this->hasCable()): ?>
                                <label class="radio-inline pull-left">
                                    <input type="radio" id="customer[gender][3]" name="customer[gender]" value="3" checked />
                                    <span><?php echo $this->__('Company'); ?></span>
                                </label>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="col-md-3 commercial-register-2">
                        <label for="customer[prefix]"><?php echo $this->__('Title'); ?></label>
                        <?php $prefixOptions = $checkoutHelper->getPrefixOptions(); ?>
                        <select id="customer[prefix]" class="form-control input-sm <?php echo $customerLoggedIn ? 'disabled' : '' ?>"
                                name="customer[prefix]"  <?php echo $customerLoggedIn ? 'readonly' : '' ?>>
                            <option value=""><?php echo $this->__(''); ?></option>
                            <?php foreach ($prefixOptions as $option) : ?>
                                <option value="<?php echo $option; ?>" <?php
                                echo $checkoutData->getFieldValue("customer[prefix]") == $option ? "selected" : ""; ?>><?php echo $option; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <div id="customer_contact_wrapper" class="col-md-6">
                        <div class="clearfix form-row-small contact-fields">
                            <div class="col-md-3">
                                <label><?php echo $this->__('First Name') . '*'; ?></label>
                                <input type="text" id="customer[contact_person][first_name]" name="customer[contact_person][first_name]"
                                       class="form-control required-entry input-sm customer-contact-person-first-name"
                                       value="<?php echo $checkoutData->getFieldValue('customer[contact_person][first_name]'); ?>" />
                            </div>
                            <div class="col-md-3">
                                <label><?php echo $this->__('Last Name') . '*'; ?></label>
                                <input type="text" id="customer[contact_person][last_name]" name="customer[contact_person][last_name]"
                                       class="form-control required-entry input-sm customer-contact-person-last-name"
                                       value="<?php echo $checkoutData->getFieldValue('customer[contact_person][last_name]'); ?>" />
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <hr class="hr-over"/>
            <h4><?php echo $this->__('Contact Details'); ?></h4>
            <div id="customer_contact" class="row">
                <div id="customer_contact_method_container" class="col-md-7">
                    <?php if ($isSohoCustomer && ($this->hasDsl() || $this->hasLte())): ?>
                        <div class="clearfix form-row">
                            <div class="col-md-13">
                                <div class="form-row-small clearfix">
                                    <div class="col-md-7">
                                        <label for="customer[account_password]"><?php echo $this->__('Account password'); ?></label>
                                        <input type="text" id="customer[account_password]" name="customer[account_password]"
                                               class="form-control input-sm " value="<?php echo $checkoutData->getFieldValue("customer[account_password]", $customer['password']); ?>"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="clearfix form-row">
                        <div class="col-md-13">
                            <div class="form-row-small clearfix">
                                <div class="col-md-7">
                                    <label for="customer[contact_details][email]"><?php echo $this->__('E-Mail'); ?></label>
                                    <input type="email" id="customer[contact_details][email]" name="customer[contact_details][email]"
                                           class="form-control input-sm " value="<?php echo $checkoutData->getFieldValue("customer[contact_details][email]", $customer['email']); ?>" />
                                    <p class="used-email-context hide"><?php echo $this->__('The first email address will be used for order mailings.'); ?></p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <?php for ($i=0; $i<$phoneFieldsLimit; $i++) : ?>
                        <?php
                            if ($i < 1 ||
                                ($i == 1 && $this->hasCableOrFixedTypePackage()) ||
                                ($i > 1 && $this->hasCableOrFixedTypePackage() && $i <= $checkoutDataPhoneFieldsLimit)
                            ) :
                        ?>
                            <div class="clearfix form-row phone-list-fields <?php echo ($i > 1) ? 'phone-list-fields-added' : ''; ?>">
                                <div class="col-md-13">
                                    <div class="form-row-small clearfix">
                                        <div class="col-md-2">
                                            <label><?php echo ucfirst($this->__('Prefix')); ?></label>
                                            <input type="number" data-prefix="telephone_prefix" id="customer[contact_details][phone_list][<?php echo $i; ?>][telephone_prefix]"
                                                   name="customer[contact_details][phone_list][<?php echo $i; ?>][telephone_prefix]" class="form-control input-sm"
                                                   value="<?php echo $checkoutData->getFieldValue("customer[contact_details][phone_list][" . $i . "][telephone_prefix]", $customer["contact_number_prefix"]); ?>"/>
                                        </div>
                                        <div class="col-md-5">
                                            <label><?php echo $this->__('Telephone number'); ?></label>
                                            <input type="number"  data-prefix="telephone" id="customer[contact_details][phone_list][<?php echo $i; ?>][telephone]"
                                                   name="customer[contact_details][phone_list][<?php echo $i; ?>][telephone]" class="form-control input-sm "
                                                   value="<?php echo $checkoutData->getFieldValue("customer[contact_details][phone_list][" . $i . "][telephone]", $customer["contact_number"]); ?>"/>
                                        </div>
                                        <?php  if (!($isSohoCustomer && $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE))) : ?>
                                            <div class="col-md-3">
                                                <label><?php echo $this->__('telephone type'); ?></label>
                                                <select id="customer[contact_details][phone_list][<?php echo $i; ?>][telephone_type]"
                                                        name="customer[contact_details][phone_list][<?php echo $i; ?>][telephone_type]"
                                                        class="form-control input-sm ">
                                                    <?php foreach ($telephone_type as $key => $value) : ?>
                                                    <option value="<?php echo $value; ?>" <?php echo $checkoutData->getFieldValue("customer[contact_details][phone_list][" . $i . "][telephone_type]", $customer["telephone_type"]) == $value
                                                    ? "selected" : ''; ?>><?php echo $this->__($value); ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                            <?php if ($this->hasCableOrFixedTypePackage() && $i > 0) : ?>
                                                <div class="col-md-2 btn-wrapper telephone">
                                                    <?php if ($i > 1) : ?>
                                                        <input type="button" id="customer[contact_details][phone_list][<?php echo $i; ?>][remove_button]"
                                                               class="btn btn-default btn-contact-add btn-contact-remove add-tel pull-left clearfix validation-passed margin-right-15" value="-"/>
                                                    <?php endif; ?>
                                                    <?php if (($checkoutDataPhoneFieldsLimit == 0 && $i > 0) || $i == $checkoutDataPhoneFieldsLimit) : ?>
                                                        <input type="button" id="customer[contact_details][phone_list][<?php echo $i; ?>][add_button]"
                                                               class="btn btn-default btn-contact-add add-tel pull-left clearfix validation-passed <?php echo ($i == ($phoneFieldsLimit - 1)) ? 'disabled' : '' ?>"
                                                               value="+" <?php echo ($i == ($phoneFieldsLimit - 1)) ? 'disabled' : '' ?> />
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endfor; ?>
                </div>
            </div>

            <?php if ($this->hasMobileTypePackage()) : ?>
                <hr class="hr-over"/>
                <h4><?php echo $this->__('Contact Person'); ?></h4>
                <div id="customer_contact_person" class="row">
                    <div id="customer_contact_wrapper" class="col-md-10">
                        <div class="clearfix form-row">
                            <div class="col-md-6">
                                <label class="no-format" for="contact_person">
                                    <input type="checkbox" id="contact_person" class="checkbox-no-margin" name="contact_person" onchange="toggleContactFields(jQuery(this));"/>
                                    <?php if ($checkoutData->getFieldValue("contact_person") == "on"): ?>
                                        <script type="text/javascript">
                                            jQuery(document).ready(function() {
                                                jQuery("#contact_person").trigger("click");
                                            });
                                        </script>
                                    <?php endif; ?>
                                    <span><?php echo $this->__('Add another contact'); ?></span>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix form-row hidden contact-fields">
                            <div class="col-md-6">
                                <label><?php echo $this->__('Salutation').' *'; ?></label>
                                <div class="radio-wrapper-one-line clearfix">
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="customer[contact_person_details][0][salutation][male]" <?php echo $checkoutData->getFieldValue("customer[contact_person_details][0][salutation]") == 1
                                            ? 1 : "" ?> name="customer[contact_person_details][0][salutation]" value="1"/>
                                        <span><?php echo $this->__('Mr.'); ?></span>
                                    </label>
                                    <label class="radio-inline pull-left">
                                        <input type="radio" class="customer-contact-person-gender[female]" id="customer[contact_person_details][0][salutation][female]" <?php echo $checkoutData->getFieldValue("customer[contact_person_details][0][salutation]") == 2
                                            ? "checked" : ""; ?> name="customer[contact_person_details][0][salutation]" value="2"/>
                                        <span><?php echo $this->__('Mrs.'); ?></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-row-small hidden contact-fields">
                            <div class="col-md-3">
                                <label><?php echo $this->__('Last Name / Maiden Name').' *'; ?></label>
                                <input type="text" id="customer[contact_person_details][0][lastname]" name="customer[contact_person_details][0][lastname]"
                                       class="form-control input-sm customer-contact-person-lastname" value="<?php echo $checkoutData->getFieldValue("customer[contact_person_details][0][lastname]"); ?>"/>
                            </div>
                            <div class="col-md-3">
                                <label><?php echo $this->__('First name').' *'; ?></label>
                                <input type="text" id="customer[contact_person_details][0][firstname]" name="customer[contact_person_details][0][firstname]"
                                       class="form-control input-sm customer-contact-person-firstname" value="<?php echo $checkoutData->getFieldValue("customer[contact_person_details][0][firstname]"); ?>"/>
                            </div>
                            <div class="col-md-3">
                                <label><?php echo $this->__('Telephone').' *'; ?></label>
                                <input type="number" id="customer[contact_person_details][0][telephone]" name="customer[contact_person_details][0][telephone]"
                                       class="form-control input-sm required-entry customer-contact-person-telephone" data-prefix="telephone"
                                       value="<?php echo $checkoutData->getFieldValue("customer[contact_person_details][0][telephone]"); ?>"/>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->hasMobileTypePackage()) : ?>
                <hr class="hr-over"/>
                <h4><?php echo $this->__('Order status'); ?></h4>
                <div id="customer_order_status" class="row">
                    <div class="col-md-9">
                        <div class="clearfix form-row">
                            <p><?php echo $this->__('Communication preferences for order status') ?></p>
                        </div>
                        <div class="clearfix form-row order-status-fields">
                            <div class="col-md-6">
                                <label><?php echo $this->__('SMS (Mobile number)'); ?></label>
                                <input type="text" id="order_status[telephone_field]" name="order_status[telephone]"
                                       class="form-control input-sm "
                                       value="<?php echo $checkoutData->getFieldValue("order_status[telephone]",
                                           $customer['contact_number_prefix'] . $customer["contact_number"]); ?>"/>
                            </div>
                        </div>
                        <div class="clearfix form-row order-status-fields">
                            <div class="col-md-6">
                                <label><?php echo $this->__('E-Mail'); ?></label>
                                <input type="email" id="order_status[email_field]" name="order_status[email]" class="form-control input-sm "
                                       value="<?php echo $checkoutData->getFieldValue("order_status[email]", $customer["email"]); ?>"/>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->hasCableOrFixedTypePackage()) : ?>
                <hr class="hr-over"/>
                <h4><?php echo $this->__('Service address'); ?></h4>
                <div class="clearfix form-row">
                    <div id="customer_service_address" class="col-md-9 no-margin-bottom"></div>
                </div>
            <?php endif; ?>
        </div>

        <hr/>


        <!-- SAVE BILLING START -->
        <h3 id="billing"><?php echo $this->__('Billing Details'); ?></h3>
        <p>&nbsp;</p>
        <h4><?php echo $this->__('Invoicing'); ?></h4>
        <?php if ($this->hasMobile() || $this->hasPrepaid()): ?>
            <p><strong><?php echo $this->__("Phone billing address"); ?></strong></p>
        <?php elseif ($this->hasCable() || $this->hasLte() || $this->hasDsl()): ?>
                <p><strong><?php echo $this->__("Fixed billing address"); ?></strong></p>
        <?php endif; ?>
        <div class="clearfix form-row">
            <label class="radio-inline">
                <input type="radio" id="billing[other_address][selected][1]" checked name="billing[other_address][selected]" value="1" onclick="switchOtherAddress(this)"/>
                <span><?php echo $this->__("At customer's address"); ?></span>
            </label>
        </div>
        <div class="billingAddress strong">
            <div class="billing-address-details">
                <?php echo $this->getCustomer()->getFullAddressInfo($isSohoCustomer, $addDistrict); ?>
            </div>
        </div>
        <br/>
        <div class="clearfix form-row">
            <label class="radio-inline">
                <input type="radio" id="billing[other_address][selected][2]" name="billing[other_address][selected]" value="2" onclick="switchOtherAddress(this)"/>
                <span><?php echo $this->__("At another address"); ?></span>
            </label>
        </div>
        <div class=" clearfix">
            <div class="col-md-8 other-address-container hidden">
                <div class="clearfix form-row">
                    <!-- Search address -->
                    <div class="col-md-12">
                        <?php if ($this->hasMobile() || $this->hasPrepaid()): ?>
                        <div class="form-row-small clearfix">
                            <div class="col-md-3">
                                <label><?php echo $this->__('Adresse-Typ'); ?></label>
                                <div class="radio-wrapper">
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="billing[other_address][type][address]" name="billing[other_address][type]" value="address" checked onclick="switchAddressType(this)" />
                                        <span><?php echo $this->__('Address'); ?></span>
                                    </label>
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="billing[other_address][type][pobox]" name="billing[other_address][type]" value="pobox" onclick="switchAddressType(this)" />
                                        <span><?php echo $this->__('PO Box'); ?></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                        <br/>
                        <div class="switch-address type-address">
                            <div class="form-row-small clearfix">
                                <div class="col-md-3">
                                    <label><?php echo $this->__('Salutation').' *'; ?></label>
                                    <div class="radio-wrapper">
                                        <label class="radio-inline pull-left">
                                            <input type="radio" <?php echo in_array($checkoutData->getFieldValue("billing[other_address][gender]", $this->getCustomer()->getTitle()), [1, $this->__('Mr.')])
                                                ? "checked" : ""; ?> id="billing[other_address][gender][1]" name="billing[other_address][gender]" value="1"/>
                                            <span><?php echo $this->__('Mr.'); ?></span>
                                        </label>
                                        <label class="radio-inline pull-left">
                                            <input type="radio" <?php echo in_array($checkoutData->getFieldValue("billing[other_address][gender]", $this->getCustomer()->getTitle()), [2, $this->__('Mrs.')])
                                                ? "checked" : ""; ?> id="billing[other_address][gender][2]" name="billing[other_address][gender]" value="2"/>
                                            <span><?php echo $this->__('Mrs.'); ?></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="form-row-small clearfix">
                                <div class="col-md-4">
                                    <label for="billing[other_address][firstname]"><?php echo $this->__('First Name').' *'; ?></label>
                                    <input type="text" id="billing[other_address][firstname]" name="billing[other_address][firstname]"
                                           class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("billing[other_address][firstname]"); ?>"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="billing[other_address][lastname]"><?php echo $this->__('Last Name').' *'; ?></label>
                                    <input type="text" id="billing[other_address][lastname]" name="billing[other_address][lastname]"
                                           class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("billing[other_address][lastname]"); ?>"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-row-small clearfix">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="billing[other_address][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                        <input type="number" id="billing[other_address][postcode]" name="billing[other_address][postcode]"
                                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][postcode]"); ?>">
                                    </div>
                                </div>
                                <div class="<?php echo $this->hasCable() ? 'col-md-6' : 'col-md-6' ?>">
                                    <div class="form-group">
                                        <label for="billing[other_address][city]"><?php echo $this->__('City').' *'; ?></label>
                                        <input type="text" id="billing[other_address][city]" name="billing[other_address][city]"
                                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][city]"); ?>"/>
                                    </div>
                                </div>
                                <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()) : ?>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="billing[other_address][district]"><?php echo $this->__('District').' *'; ?></label>
                                            <input type="text" id="billing[other_address][district]" name="billing[other_address][district]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][district]"); ?>">
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="form-row-small clearfix">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="billing[other_address][street]"><?php echo $this->__('Street').' *'; ?></label>
                                        <input type="text" id="billing[other_address][street]" name="billing[other_address][street]"
                                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][street]"); ?>"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="billing[other_address][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                        <input type="number" id="billing[other_address][houseno]" name="billing[other_address][houseno]"
                                               class="form-control input-sm validate-number" value="<?php echo $checkoutData->getFieldValue("billing[other_address][houseno]"); ?>"/>
                                    </div>
                                </div>
                                <?php if($this->hasFixedTypePackage()): ?>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="billing[other_address][addition]"><?php echo $this->__('Zusatz'); ?></label>
                                            <input type="text" id="billing[other_address][addition]" name="billing[other_address][addition]"
                                                   class="form-control input-sm validate-length maximum-length-10" value="<?php echo $checkoutData->getFieldValue("billing[other_address][addition]"); ?>"/>
                                        </div>
                                    </div>
                                <?php endif?>
                            </div>
                            <?php if ($this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE) || $this->hasCable()) : ?>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-4">
                                        <label for="billing[other_address][nationality]"><?php echo $this->__("Nationality"); ?></label>
                                        <select name="billing[other_address][nationality]" class="form-control input-sm">
                                            <?php foreach ($this->getCountries() as $key => $country): ?>
                                                <option value="<?php echo $key ?>" <?php echo $checkoutData->getFieldValue("billing[other_address][nationality]") == $key ? "selected" : "" ?>>
                                                    <?php echo htmlspecialchars($country); ?>
                                                </option>
                                            <?php endforeach ?>
                                        </select>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="switch-address type-pobox hidden">
                            <div class="form-row-small clearfix">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="billing[other_address][pobox]"><?php echo $this->__('PO Box').' *'; ?></label>
                                        <input type="text" id="billing[other_address][pobox]" name="billing[other_address][pobox]"
                                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][pobox]"); ?>"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="billing[other_address][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                        <input type="number" id="billing[other_address][postcode]" name="billing[other_address][postcode]"
                                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][postcode]"); ?>"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="billing[other_address][city]"><?php echo $this->__('City').' *'; ?></label>
                                        <input type="text" id="billing[other_address][city]" name="billing[other_address][city]"
                                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("billing[other_address][city]"); ?>"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($this->hasMobile() || $this->hasDsl() || $this->hasLte()): ?>
            <div class="invoice-options">
                <?php if ($isSohoCustomer): ?>
                    <div class="clearfix form-row">
                        <label class="checkbox-inline">
                            <input type="checkbox" <?php echo $checkoutData->getFieldValue("billing[post_invoice]") == 1
                                ? "checked" : "" ?> name="billing[post_invoice]" id="billing[post_invoice]" value="1">
                            <strong><?php echo $this->__('Invoice by post'); ?> <?php echo $this->__('(+2,50 &euro;)'); ?></strong>
                        </label>
                    </div>
                <?php endif; ?>
                <div class="clearfix form-row">
                    <label class="checkbox-inline">
                        <input type="checkbox" <?php echo ($checkoutData->getFieldValue("billing[email_invoice]") == 2)
                            ? "checked" : ""; ?> name="billing[email_invoice]" id="billing[email_invoice]" value="2">
                        <strong><?php echo $this->__('Billing by e-mail'); ?></strong>
                    </label>
                </div>
            </div>
            <p><?php echo $this->__("Once a new account is available in My Vodafone for you, you get a message to the following e-mail address"); ?></p>
            <div class="clearfix form-row">
                <div class="col-md-4">
                    <input type="email" placeholder="" id="billing[email_address]" name="billing[email_address]" class="form-control input-sm"
                           value="<?php echo $checkoutData->getFieldValue("billing[email_address]", $this->getCustomer()->getEmailAddress()); ?>">
                </div>
            </div>
        <?php endif; ?>

        <?php if ($isSohoCustomer && !$this->hasMobile() && !$this->hasPrepaid()): ?>
            <p>&nbsp;</p>
            <h4 class="single-connection"><?php echo $this->__('Single connection detection'); ?></h4>
            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="billing[single_connection]" name="billing[single_connection]" value="1"
                        <?php echo in_array($checkoutData->getFieldValue("billing[single_connection]"), [1, false], true) ? "checked" : "" ?>/>
                    <span><?php echo $this->__("No one"); ?></span>
                </label>
            </div>
            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="billing[single_connection]" name="billing[single_connection]" value="2"
                        <?php echo $checkoutData->getFieldValue("billing[single_connection]") == 2 ? "checked" : "" ?>/>
                    <span><?php echo $this->__("Full destination number"); ?></span>
                </label>
            </div>
            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="billing[single_connection]" name="billing[single_connection]" value="3"
                        <?php echo $checkoutData->getFieldValue("billing[single_connection]") == 3 ? "checked" : "" ?>/>
                    <span><?php echo $this->__("Condensed destination number"); ?></span>
                </label>
            </div>
        <?php endif; ?>

        <!-- SAVE BILLING END -->
        <?php if (!$this->getCustomerSession()->getOrderEdit()): ?>
            <div class="row submit">
                <div class="col-md-11 clearfix">
                    <button type="submit" data-step="saveCustomer" class="btn btn-info pull-right step checkout-continue-btn"><?php echo $this->__('Next step'); ?></button>
                </div>
            </div>
        <?php endif; ?>
    </form>
</div>

<script>
    //<![CDATA[
    // Save customer form validation
    form.saveCustomer = new VarienForm('saveCustomer', true);
    //]]>

    var addedContactCount = 0;
    var phoneFieldsLimit = <?php echo $phoneFieldsLimit ?>;
    var addedPhoneIndex;
    var checkoutDataPhoneFieldsLimit = <?php echo $checkoutDataPhoneFieldsLimit ?>;
    
    
    jQuery(document).ready(function () {
        jQuery('[id="customer[other_identity][exp_date]"]').datepicker({
            dateFormat: 'mm/dd/yy',
            showOn: 'button',
            buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
            buttonText: 'date'
        });

        var lastIndex = getLastPhoneListIndex();
        addedPhoneIndex = jQuery('.phone-list-fields').length;
        
        jQuery('[id="customer[contact_person_details][0][submit]"]').click(function(e){
            addNewContactFields(jQuery(e.target));
        });
        jQuery('[id="customer[contact_details][phone_list][' + lastIndex + '][add_button]"]').click(function(e){
            addNewPhoneListFields(jQuery(e.target));
        });

        if (jQuery('#customer_contact_method_container .btn-contact-remove').length > 0) {
            jQuery('#customer_contact_method_container .btn-contact-remove').each(function () {
                jQuery(this).click(function(e){
                    removeNewPhoneListFields(jQuery(e.target));
                });
            });
        }

        <?php if ($isSohoCustomer && $this->hasDsl() && !$this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE)): ?>
            jQuery('[name="customer[business][commercial_register]"]').change(function(e){
                handleSohoAffectedFields(jQuery(e.target));
            });

            if (jQuery('[name="customer[business][commercial_register]"]:checked').length) {
                handleSohoAffectedFields(jQuery('[name="customer[business][commercial_register]"]:checked'));
            }
        <?php endif; ?>

        fillSaveCustomerData();
        fillBillingAddressDetails();

        <?php if ($checkoutData->getFieldValue('customer[contact_details][phone_list][0][telephone_type]') == false) : ?>
            jQuery('[id="customer[contact_details][phone_list][0][telephone_type]"]').val('mobile');
        <?php endif; ?>
        <?php if ($checkoutData->getFieldValue('customer[contact_details][phone_list][1][telephone_type]') == false) : ?>
            jQuery('[id="customer[contact_details][phone_list][1][telephone_type]"]').val('landline');
        <?php endif; ?>

        jQuery('[id="customer[firstname]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[lastname]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[address][postcode]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[address][city]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[address][street]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[address][houseno]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[address][addition]"]').on('blur', fillBillingAddressDetails);
        jQuery('[id="customer[address][company_name]"]').on('blur', fillBillingAddressDetails);
        <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()): ?>
            jQuery('[id="customer[address][district]"]').on('blur', fillBillingAddressDetails);
        <?php endif; ?>

        jQuery('[id="customer[contact_details][email]"]').on('blur', fillBillingEmailAddress);

        <?php if ($isSohoCustomer && $this->hasCable() && !$this->hasMobileTypePackage() && !$this->hasDsl()): ?>
            removeSohoAffectedFields();
        <?php endif; ?>
    });

    function handleReadOnlyFields() {
        // Inserts hidden inputs for elements which cannot be set to readonly
        jQuery('#saveCustomer')
            .find('select, input[type="checkbox"]:checked').each(function () {
                if (jQuery(this).prop('readonly') !== false) {
                    var input = jQuery('<input/>')
                        .attr('name', jQuery(this).attr('name'))
                        .attr('type', 'hidden')
                        .val(jQuery(this).val());

                    jQuery('#saveCustomer').append(input);
                    jQuery(this)
                        .attr('name', '')
                        .prop('disabled', true);
                }
            });
        jQuery('#saveCustomer')
            .find('input[type="radio"]:checked').each(function () {
                if (jQuery(this).prop('readonly') !== false) {
                    var input = jQuery('<input/>')
                        .attr('name', jQuery(this).attr('name'))
                        .attr('type', 'hidden')
                        .val(jQuery(this).val());


                    jQuery('[name="' + jQuery(this).attr('name') + '"]')
                            .prop('readonly', false)
                            .prop('disabled', true)
                            .attr('name', '');

                    jQuery('#saveCustomer').append(input);
                }
            });
    }

    function getAllEuCountries() {
        return jQuery.parseJSON('<?php echo Mage::helper('core')->jsonEncode($checkoutHelper->getEuCountries()); ?>');
    }

    function getAllCountries() {
        return jQuery.parseJSON('<?php echo Mage::helper('core')->jsonEncode($checkoutHelper->getAllCountries()); ?>');
    }

    function toggleOtherIdentityFields(element) {
        if (true == element.prop('checked')) {
            jQuery('[id="customer[other_identity][card_no]"]').parents('.form-row:first').removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('[id="customer[other_identity][card_no]"]').parents('.form-row:first'));
        } else {
            jQuery('[id="customer[other_identity][card_no]"]').parents('.form-row:first').addClass('hidden');
            checkout.removeCheckoutContainerValidationRules(jQuery('[id="customer[other_identity][card_no]"]').parents('.form-row:first'));
        }
    }

    function toggleContactFields(element) {
        if (true == element.prop('checked')) {
            jQuery('.contact-fields').removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('.contact-fields'));
        } else {
            if (jQuery('.contact-fields:not(.contact-fields-added):last').find('[id="customer[contact_person_details][0][submit]"]').length == 0) {
                var addButton = jQuery('[id="contact[' + addedContactCount + '][submit]"]').clone();
                addButton.attr('id', 'customer[contact_person_details][0][submit]');
                jQuery('.contact-fields:not(.contact-fields-added):last .btn-wrapper').append(addButton);
                jQuery('[id="customer[contact_person_details][0][submit]"]').click(function(e){ addNewContactFields(jQuery(e.target)); });
            }

            jQuery('.contact-fields').addClass('hidden');
            jQuery('.contact-fields-added').remove();
            jQuery('.hr-added').remove();
            checkout.removeCheckoutContainerValidationRules(jQuery('.contact-fields'));

            addedContactCount = 0;
        }
    }

    function addNewContactFields(element) {
        var addButton = element.clone();
        var removeButton = element.clone();
        var delimitator = jQuery('<hr/>').addClass('hr-middle hr-added');

        addedContactCount++;

        removeButton.val('-').attr('id', 'contact[' + addedContactCount + '][remove]').addClass('margin-right-15');
        addButton.attr('id', 'contact[' + addedContactCount + '][submit]');
        element.remove();

        jQuery('#customer_contact_wrapper').append(delimitator);

        var newInputs = jQuery('#customer_contact_wrapper .contact-fields:not(.contact-fields-added)').clone();
        newInputs.find(':input').val('');
        newInputs.find('select').val('mobile');
        newInputs.find(':radio').prop('checked', false);
        newInputs.addClass('contact-fields-added').appendTo('#customer_contact_wrapper');
        updateAttributesForAddedFields(newInputs);

        jQuery('.contact-fields-added:last .btn-wrapper').append(removeButton).append(addButton);

        jQuery('[id="contact[' + addedContactCount + '][submit]"]').click(function(e){ addNewContactFields(jQuery(e.target)); });
        jQuery('[id="contact[' + addedContactCount + '][remove]"]').click(function(e){ removeNewContactFields(jQuery(e.target)); });
    }

    function removeNewContactFields(element) {
        var addButton = jQuery('[id="contact[' + addedContactCount + '][submit]"]').clone();

        element.closest('div.contact-fields-added').prev().prev().remove();
        element.closest('div.contact-fields-added').prev().remove();
        element.closest('div.contact-fields-added').remove();

        if (jQuery('[id="contact[' + addedContactCount + '][submit]"]').length == 0) {
            addButton.attr('id', 'contact[' + (addedContactCount - 1) + '][submit]');
            jQuery('.contact-fields:last .btn-wrapper').append(addButton);
            addButton.click(function(e){ addNewContactFields(jQuery(e.target)); });
        }
    }

    function addNewPhoneListFields(element) {
        if (jQuery('.phone-list-fields').length < phoneFieldsLimit) {
            var addButton = element.clone();
            var removeButton = element.clone();
            var newInputs = [];

            removeButton.val('-').attr('id', 'customer[contact_details][phone_list][' + addedPhoneIndex + '][remove_button]').addClass('margin-right-15');
            addButton.attr('id', 'customer[contact_details][phone_list][' + addedPhoneIndex + '][add_button]');

            element.remove();

            newInputs = jQuery('#customer_contact_method_container .phone-list-fields:not(.phone-list-fields-added)').last().clone();
            newInputs.find(':input').val('');
            newInputs.addClass('phone-list-fields-added').appendTo('#customer_contact_method_container');
            updateAttributesForAddedFields(newInputs);

            if (jQuery('.phone-list-fields').length == phoneFieldsLimit) {
                addButton.prop('disabled', true).addClass('disabled');
            }

            jQuery('.phone-list-fields-added:last .btn-wrapper').append(removeButton).append(addButton);

            jQuery('[id="customer[contact_details][phone_list][' + addedPhoneIndex + '][add_button]"]').click(function(e){ addNewPhoneListFields(jQuery(e.target)); });
            jQuery('[id="customer[contact_details][phone_list][' + addedPhoneIndex + '][remove_button]"]').click(function(e){ removeNewPhoneListFields(jQuery(e.target)); });

            addedPhoneIndex++;
        }
    }

    function removeNewPhoneListFields(element) {
        var lastIndex = getLastPhoneListIndex();
        var addButton = jQuery('[id="customer[contact_details][phone_list][' + lastIndex + '][add_button]"]').clone();

        element.closest('div.phone-list-fields-added').remove();

        if (jQuery('[id="customer[contact_details][phone_list][' + lastIndex + '][add_button]"]').length == 0) {
            lastIndex = getLastPhoneListIndex();
            addButton.attr('id', 'customer[contact_details][phone_list][' + lastIndex + '][add_button]');
            jQuery('.phone-list-fields:last .btn-wrapper').append(addButton);
            addButton.click(function(e){ addNewPhoneListFields(jQuery(e.target)); });
        }

        if (jQuery('.phone-list-fields').length < phoneFieldsLimit) {
            jQuery('[id="customer[contact_details][phone_list][' + lastIndex + '][add_button]"]').prop('disabled', false).removeClass('disabled');
        }

        updateAttributeIndexForEachAddedFieldSet();
        addedPhoneIndex--;
    }

    function updateAttributesForAddedFields(container) {
        var count = container.hasClass('contact-fields') ? addedContactCount : addedPhoneIndex;

        container.find('input, select').each(function (e) {
            var elementId = jQuery(this).attr('id');
            var elementName = jQuery(this).attr('name');

            jQuery(this).attr('id', elementId.replace(/\[(\d+)\]/g, '[' + count + ']'));
            jQuery(this).attr('name', elementName.replace(/\[(\d+)\]/g, '[' + count + ']'));
        });
    }

    function updateAttributeIndexForEachAddedFieldSet(container) {
        var i = 0;

        jQuery('.phone-list-fields').each(function () {
            jQuery(this).find('input, select').each(function (e) {
                var elementId = jQuery(this).attr('id');
                var elementName = jQuery(this).attr('name');

                jQuery(this).attr('id', elementId.replace(/\[(\d+)\]/g, '[' + i + ']'));
                if (jQuery(this).attr('type') != 'button') {
                    jQuery(this).attr('name', elementName.replace(/\[(\d+)\]/g, '[' + i + ']'));
                }
            });
            i++;
        });
    }

    function getLastPhoneListIndex() {
        return jQuery('.phone-list-fields:last')
            .find('input:first')
            .attr('id')
            .replace('customer[contact_details][phone_list][', '')
            .replace('][telephone_prefix]', '');
    }

    function handleSohoAffectedFields(element) {
        var value = element.val();

        jQuery('.commercial-register-' + (3 - parseInt(value, 10))).addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(jQuery('.commercial-register-' + (3 - parseInt(value, 10))));

        jQuery('.commercial-register-' + value).removeClass('hidden');
        checkout.setCheckoutContainerValidationRules(jQuery('.commercial-register-' + value));
    }

    function removeSohoAffectedFields() {
        jQuery('.commercial-register-1:not(.non-removable)').remove();
        jQuery('.commercial-register-2:not(.non-removable)').remove();
    }

    //Ausweis ID validator
    Validation.add('validate-customer-id-number', '<?php echo $this->__('Invalid ID Number');?>', function(v, element) {
        var digits = {
            '0': 0,
            '1': 1,
            '2': 2,
            '3': 3,
            '4': 4,
            '5': 5,
            '6': 6,
            '7': 7,
            '8': 8,
            '9': 9,
            'A': 10,
            'B': 11,
            'C': 12,
            'D': 13,
            'E': 14,
            'F': 15,
            'G': 16,
            'H': 17,
            'I': 18,
            'J': 19,
            'K': 20,
            'L': 21,
            'M': 22,
            'N': 23,
            'O': 24,
            'P': 25,
            'Q': 26,
            'R': 27,
            'S': 28,
            'T': 29,
            'U': 30,
            'V': 31,
            'W': 32,
            'X': 33,
            'Y': 34,
            'Z': 35
        };

        var sum = 0;
        sum += digits[v[0]] * 7;
        sum += digits[v[1]] * 3;
        sum += digits[v[2]] * 1;

        sum += digits[v[3]] * 7;
        sum += digits[v[4]] * 3;
        sum += digits[v[5]] * 1;

        sum += digits[v[6]] * 7;
        sum += digits[v[7]] * 3;
        sum += digits[v[8]] * 1;
        if (sum % 10 == v[9]) {
            return true;
        }
        return false;
    });

    Validation.add('validate-min-age-18', '<?php echo $this->__('We are afraid that legal requirements demand us you to be at least 18 years old.');?>', function(v, element) {
        /****Start Age Verification here ****/
        var date = new Date();
        var input = v.split('-');
        var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

        // At least 18 years old
        var dateLegal = new Date(date.getFullYear() - 18, date.getMonth(), date.getDate() );
        if (test.valueOf() > dateLegal.valueOf()) {
            return false;
        }
        /****End Age Verification here ****/

        return true;
    });

    Validation.add('validate-min-age-7', '<?php echo $this->__('We are afraid that legal requirements demand us you to be at least 7 years old.');?>', function(v, element) {
        /****Start Age Verification here ****/
        var date = new Date();
        var input = v.split('-');
        var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

        // At least 18 years old
        var dateLegal = new Date(date.getFullYear() - 7, date.getMonth(), date.getDate() );
        if (test.valueOf() > dateLegal.valueOf()) {
            return false;
        }
        /****End Age Verification here ****/

        return true;
    });

    Validation.add('invalid-address', '<?php echo $this->__('Invalid address.');?>', function() {
        return false;
    })

    function fillSaveCustomerData() {
        <?php if ($this->hasCableOrFixedTypePackage()): ?>
            var fullServiceAddress = '<?php echo $fullServiceAddress; ?>';

            jQuery('[id="customer_service_address"]').empty().append(fullServiceAddress);

            <?php if (!$customerLoggedIn && !$checkoutData->hasCheckoutData()): ?>
                // Fill customer address fields with service address only if 
                jQuery('[id="customer[address][postcode]"]').val('<?php echo $serviceAddressDetails['postcode'] ?>');
                jQuery('[id="customer[address][city]"]').val('<?php echo $serviceAddressDetails['city'] ?>');
                jQuery('[id="customer[address][street]"]').val('<?php echo $serviceAddressDetails['street'] ?>');
                jQuery('[id="customer[address][houseno]"]').val('<?php echo $serviceAddressDetails['houseno'] ?>');
                <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()) : ?>
                    jQuery('[id="customer[address][district]"]').val('<?php echo $serviceAddressDetails['district'] ?>');
                <?php endif; ?>
            <?php endif; ?>
        <?php else: ?>
            return true;
        <?php endif; ?>
    }

    function switchAddressType(elem) {
        var stepContainer = '#saveCustomer';
        $j(stepContainer).find('.switch-address').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules($j(stepContainer).find('.switch-address'));
        if (elem.checked) {
            $j(stepContainer).find('.type-' + elem.value).removeClass('hidden');
            checkout.setCheckoutContainerValidationRules($j(stepContainer).find('.type-' + elem.value));
        }
    }

    function switchOtherAddress(elem) {
        var stepContainer = '#saveCustomer';
        var $_matchContainer = $j(stepContainer).find('.other-address-container');
        if (elem.value == 2) {
            $_matchContainer.removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('[id="billing[other_address][street]"]').parents('.form-row:first'));
        } else {
            $_matchContainer.addClass('hidden');
            checkout.removeCheckoutContainerValidationRules(jQuery('[id="billing[other_address][street]"]').parents('.form-row:first'));
        }
    }

    function fillSaveBillingData() {
        <?php if (!$checkoutData->hasCheckoutData() && ($this->hasMobile() || $this->hasCableOrFixedTypePackage())): ?>
        /*    $j('[id="billing[other_address][firstname]"]').val($j('[id="customer[firstname]"]').val());
            $j('[id="billing[other_address][lastname]"]').val($j('[id="customer[lastname]"]').val());
            $j('[id="billing[other_address][postcode]"]').val($j('[id="customer[address][postcode]"]').val());
            $j('[id="billing[other_address][city]"]').val($j('[id="customer[address][city]"]').val());
            $j('[id="billing[other_address][street]"]').val($j('[id="customer[address][street]"]').val());
            $j('[id="billing[other_address][houseno]"]').val($j('[id="customer[address][houseno]"]').val());
            $j('[id="billing[other_address][addition]"]').val($j('[id="customer[address][addition]"]').val());*/
            <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()) : ?>
            //    $j('[id="billing[other_address][district]"]').val($j('[id="customer[address][district]"]').val());
            <?php endif; ?>

            if ($j('[id="billing[email_address]"]').val() == '') {
                if ($j('[id="customer[contact_details][email]"]').length > 0 && $j('[id="customer[contact_details][email]"]').val() != '') {
                    $j('[id="billing[email_address]"]').val($j('[id="customer[contact_details][email]"]').val());
                } else if ($j('[id="order_status[email_field]"]').length > 0 && $j('[id="order_status[email_field]"]').val() != '') {
                    $j('[id="billing[email_address]"]').val($j('[id="order_status[email_field]"]').val());
                }
            }
        <?php else: ?>
            return true;
        <?php endif; ?>
    }

    function fillBillingAddressDetails() {
        <?php if (!$this->getCustomer()->isCustomerLoggedIn()):  ?>
            <?php if (!$isSohoCustomer): ?>
                var name = $j('[id="customer[firstname]"]').val() + ' ' + $j('[id="customer[lastname]"]').val() + '<br>';
            <?php else: ?>
                var name = $j('[id="customer[address][company_name]"]').val();
                if ($j('[name="customer[business][commercial_register]"]:checked').val() == '2') {
                    name += ' ' + $j('[id="customer[address][company_additional_name]"]').val() + '<br>';
                    name += $j('[id="customer[firstname]"]') + ' ' + $j('[id="customer[lastname]"]');
                } else {
                    name += '<br/>';
                }
            <?php endif; ?>

            var streetNumber = $j('[id="customer[address][street]"]').val() + ' ' + $j('[id="customer[address][houseno]"]').val() + '<br>';;
            var postCode = $j('[id="customer[address][postcode]"]').val() + ' ' + $j('[id="customer[address][city]"]').val() + ' ';
            <?php if ($this->hasCable() || $this->hasDsl() || $this->hasLte()): ?>
                postCode += $j('[id="customer[address][district]"]').val() + '<br>';
            <?php endif; ?>

            $j('.billing-address-details').empty()
                .append(name)
                .append(streetNumber)
                .append(postCode);
        <?php endif; ?>
    }

    function fillBillingEmailAddress() {
        jQuery('[id="billing[email_address]"').val(jQuery('[id="customer[contact_details][email]"]').val());
    }

    jQuery(document).ready(function() {
        //Trigger selected billing
        <?php if (($billingSelected = $checkoutData->getFieldValue("billing[other_address][selected]")) !== false) : ?>
        $j('[id="billing[other_address][selected][<?php echo $billingSelected ?>]"]').trigger('click');
        <?php endif; ?>
        //Trigger selected address type
        <?php if (($addressSelected = $checkoutData->getFieldValue("billing[other_address][type]")) !== false) : ?>
        $j('[id="billing[other_address][type][<?php echo $addressSelected ?>]"]').trigger('click');
        <?php endif; ?>
        <?php if ($checkoutData->getFieldValue("customer[business][commercial_register]") == false): ?>
        $j('[id="customer[business][commercial_register][1]"').trigger('click');
        <?php endif; ?>

        address.validateAddress('#customer-address', "customer_address");
    });
</script>
