<?php
// ::: Delivery data ::: //
/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

$serviceAddressDetails = $this->getServiceAddressDetails();
$specifiedAddressRows = ($this->hasCable()) ? $this->getDeliveryAddress(true) : $this->getDeliveryAddress();

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
$checkoutData->setCheckoutData("save_delivery", $quote->getId());
?>
<!-- Klantgegevens
    ================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveDeliveryAddress" method="post" role="form" id="saveDeliveryAddress">
        <input id="customer[logged]" name="customer[logged]" type="hidden" value="<?php echo $customer->isCustomerLoggedIn() ? 'true' : 'false'; ?>"/>
        <h3 id="delivery_address"><?php echo $this->__('Delivery address'); ?></h3>
        <p class="hr-under"></p>
        <div id="delivery_content">
            <div id="delivery_choices" class="row">
                <input type="hidden" name="delivery[deliver][address]" value="billing_address" />
                <div class="col-md-9">
                    <!-- Billing address -->
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <label class="radio-inline pull-left">
                                <input type="radio" checked id="delivery[method][1]" onclick="toggleDeliveryChoices(jQuery(this))" data-address="billing_address" name="delivery[method]" value="deliver"/>
                                <span><?php echo $this->__('Deliver to specified address'); ?></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix form-row radio-indent">
                        <div class="col-md-6">
                            <div id="delivery[specified_address]" class="specified-address">
                                <?php foreach ($specifiedAddressRows as $row) : ?>
                                    <p><?php echo $row; ?></p>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>

                    <!-- Other address delivery -->
                    <div class="clearfix form-row no-margin-bottom">
                        <div class="col-md-10">
                            <label class="radio-inline pull-left">
                                <input type="radio" id="delivery[method][2]" onclick="toggleDeliveryChoices(jQuery(this))" data-address="other_address" name="delivery[method]" value="deliver"/>
                                <span><?php echo $this->__('Deliver to another address'); ?></span>
                            </label>
                        </div>
                    </div>
                    <?php // OMNVFDE-648: Mobile postpaid should not have a separate person only address ?>
                    <?php // if (!$this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE)): ?>
                        <div class="clearfix form-row radio-indent hidden block-choice-other_address">
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <label><?php echo $this->__('Salutation').' *'; ?></label>
                                    <div class="radio-wrapper-one-line clearfix">
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="delivery[other_address][gender][1]" name="delivery[other_address][gender]"
                                                <?php
                                                //todo refactor
                                                 echo $checkoutData->getFieldValue("delivery[other_address][gender]") == 1 ? "checked" : ""; ?> value="1"/>
                                            <span><?php echo $this->__('Mr.'); ?></span>
                                        </label>
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="delivery[other_address][gender][2]" name="delivery[other_address][gender]"
                                                <?php //todo refactor
                                                echo $checkoutData->getFieldValue("delivery[other_address][gender]") == 2 ? "checked" : ""; ?> value="2"/>
                                            <span><?php echo $this->__('Mrs.'); ?></span>
                                        </label>
                                        <?php if ($this->hasMobileTypePackage() || $this->hasCable()): ?>
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="delivery[other_address][gender][3]"
                                                       name="delivery[other_address][gender]" <?php echo $checkoutData->getFieldValue("delivery[other_address][gender]") == 3 ? "checked" : "" ?> value="3"/>
                                                <span><?php echo $this->__('Company'); ?></span>
                                            </label>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php if ($this->hasMobileTypePackage() || $this->hasCable()): ?>
                            <div class="clearfix form-row radio-indent hidden block-choice-other_address block-choice-gender-1 block-choice-gender-2">
                                <div class="col-md-3">
                                    <label for="delivery[other_address][prefix]"><?php echo $this->__('Title'); ?></label>
                                    <?php $prefixOptions = $checkoutHelper->getPrefixOptions(); ?>
                                    <select name="delivery[other_address][prefix]" id="delivery[other_address][prefix]" class="form-control input-sm ">
                                        <option value=""><?php echo $this->__(''); ?></option>
                                        <?php foreach ($prefixOptions as $option) : ?>
                                            <option value="<?php echo $option; ?>" <?php
                                            echo $checkoutData->getFieldValue("delivery[other_address][prefix]") == $option ? "selected" : "";
                                            ?>><?php echo $option; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="clearfix form-row radio-indent hidden block-choice-other_address block-choice-gender-3">
                            <div class="col-md-4">
                                <label for="delivery[other_address][company_name]"><?php echo $this->__('Company name').' *'; ?></label>
                                <input type="text" id="delivery[other_address][company_name]" name="delivery[other_address][company_name]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[other_address][company_name]"); ?>"/>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery[other_address][co_name]"><?php echo $this->__('c/o Name').' *'; ?></label>
                                <input type="text" id="delivery[other_address][co_name]" name="delivery[other_address][co_name]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[other_address][co_name]"); ?>"/>
                            </div>
                        </div>
                        <div class="clearfix form-row radio-indent hidden block-choice-other_address block-choice-gender-1 block-choice-gender-2">
                            <div class="col-md-4">
                                <label for="delivery[other_address][firstname]"><?php echo $this->__('First name').' *'; ?></label>
                                <input type="text" id="delivery[other_address][firstname]" name="delivery[other_address][firstname]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[other_address][firstname]"); ?>"/>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery[other_address][lastname]"><?php echo $this->__('Last Name / Maiden Name').' *'; ?></label>
                                <input type="text" id="delivery[other_address][lastname]" name="delivery[other_address][lastname]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[other_address][lastname]"); ?>"/>
                            </div>
                        </div>
                    <?php // endif; ?>
                    <div class="clearfix form-row radio-indent hidden block-choice-other_address">
                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="clearfix form-row-small">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="delivery[other_address][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="delivery[other_address][postcode]" name="delivery[other_address][postcode]" class="form-control input-sm"
                                                value="<?php echo $checkoutData->getFieldValue("delivery[other_address][postcode]"); ?>">
                                        </div>
                                    </div>
                                    <div class="<?php echo $this->hasCable() ? 'col-md-4' : 'col-md-8' ?>">
                                        <div class="form-group">
                                            <label for="delivery[other_address][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="delivery[other_address][city]" name="delivery[other_address][city]" class="form-control input-sm"
                                                   value="<?php echo $checkoutData->getFieldValue("delivery[other_address][city]"); ?>"/>
                                        </div>
                                    </div>
                                    <?php if ($this->hasCable()) : ?>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="delivery[other_address][district]"><?php echo $this->__('District').' *'; ?></label>
                                                <input type="text" id="delivery[other_address][district]" name="delivery[other_address][district]"
                                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[other_address][district]"); ?>">
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <div class="clearfix form-row-small">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="delivery[other_address][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="delivery[other_address][street]"
                                                   name="delivery[other_address][street]" class="form-control input-sm"
                                                   value="<?php echo $checkoutData->getFieldValue("delivery[other_address][street]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="delivery[other_address][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="delivery[other_address][houseno]" name="delivery[other_address][houseno]" class="form-control input-sm "
                                                    value="<?php echo $checkoutData->getFieldValue("delivery[other_address][houseno]"); ?>">
                                        </div>
                                    </div>
                                    <?php if (!$this->hasMobile() && !$this->hasPrepaid()): ?>
                                        <div class="col-md-2" style="padding-right: 0px;">
                                            <div class="form-group">
                                                <label for="delivery[other_address][addition]"><?php echo $this->__('Add.'); ?></label>
                                                <input type="text" id="delivery[other_address][addition]" name="delivery[other_address][addition]" class="form-control input-sm maximum-length-10"
                                                        value="<?php echo $checkoutData->getFieldValue("delivery[other_address][addition]"); ?>">
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Store delivery -->
                    <?php if ($this->hasMobileTypePackage()) : ?>
                        <div class="clearfix form-row no-margin-bottom">
                            <div class="col-md-10">
                                <label class="radio-inline pull-left">
                                    <input type="radio" id="delivery[method][3]" onclick="toggleDeliveryChoices(jQuery(this))" data-address="store" name="delivery[method]" value="pickup"/>
                                    <span><?php echo $this->__('Deliver to Vodafone shop'); ?></span>
                                </label>
                                <input type="hidden" name="delivery[pickup][store_id]" value="1">
                            </div>
                        </div>
                        <div class="clearfix form-row-small hidden block-choice-store">
                            <div class="clearfix form-row"></div>
                            <div class="col-md-4">
                                <label for="delivery[pickup][store]"><?php echo $this->__('Search for a Vodafone Shop'); ?></label>
                                <input type="text" id="delivery[pickup][store]" name="delivery[pickup][store]"
                                       class="form-control input-sm"  placeholder="<?php echo $this->__('Please enter street and city, state or zip'); ?>"
                                       value="<?php echo $checkoutData->getFieldValue("delivery[pickup][store]"); ?>"/>
                            </div>
                        </div>
                    <?php endif; ?>

                    <br/>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <?php if ($this->hasMobileTypePackage()) : ?>
                                <br/>
                                <label class="no-format" for="delivery[same_day]">
                                    <input type="checkbox" id="delivery[same_day]" class="checkbox-no-margin" name="delivery[same_day]"
                                           onchange="toggleSameDayScheduleFields(jQuery(this));" value="1"/>
                                    <span><?php echo $this->__('Same day delivery'); ?></span>
                                    <?php if($checkoutData->getFieldValue("delivery[same_day]") !== false): ?>
                                        <script type="text/javascript">
                                            jQuery(document).ready(function () {
                                                jQuery('[id="delivery[same_day]"]').trigger("click");
                                            });
                                        </script>
                                    <?php endif; ?>
                                </label>
                                <div id="same-day-schedule-container" class="col-md-12 radio-schedule-container hidden">
                                    <div class="clearfix form-row-small radio-wrapper-multiple-line radio-indent">
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="delivery[same_day_schedule][1]" name="delivery[same_day_schedule]" value="1"
                                                <?php echo $checkoutData->getFieldValue("delivery[same_day_schedule]") == 1 ? " checked" : ""; ?>/>
                                            <span><?php echo $this->__('18:00 - 20:00 Uhr'); ?></span>
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="delivery[same_day_schedule][2]" name="delivery[same_day_schedule]" value="2"
                                                <?php echo $checkoutData->getFieldValue("delivery[same_day_schedule]") == 2 ? " checked" : ""; ?>/>
                                            <span><?php echo $this->__('19:00 - 21:00 Uhr'); ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <?php if ($this->hasCable()): ?>
                                <div class="clearfix form-row"></div>
                                <div class="clearfix form-row">
                                    <label><?php echo $this->__('Delivery date'); ?></label>
                                </div>
                                <div class="radio-wrapper-multiple-line clearfix form-row">
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="delivery[date_choice][1]" name="delivery[date_choice]" value="1" />
                                        <span><?php echo $this->__('No preference'); ?></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="delivery[date_choice][2]" name="delivery[date_choice]" value="2" />
                                        <span><?php echo $this->__('Preferred date'); ?></span>
                                    </label>
                                </div>
                                <div class="clearfix form-row"></div>
                                <div class="clearfix form-row">
                                    <div class="col-md-4 date-element-wrapper">
                                        <input type="text" id="delivery[date]" name="delivery[date]" class="form-control input-sm"
                                               placeholder="<?php echo 'mm/dd/yyyy'; ?>"
                                               value="<?php echo $checkoutData->getFieldValue("delivery[date]") !== false ? $checkoutData->getFieldValue("delivery[date]") : ''; ?>"
                                               maxlength="10" disabled />
                                    </div>
                                </div>
                                <br/>
                                <div class="clearfix form-row no-margin-bottom">
                                    <label class="checkbox-inline pull-left">
                                        <input type="checkbox" id="delivery[install_service]" name="delivery[install_service]" />
                                        <span><?php echo $this->__('Installation service'); ?></span>
                                    </label>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>

        <!-- PAYMENT SECTION -->
        <h3 id="payment"><?php echo $this->__('Payment data'); ?></h3>

        <?php if ($this->hasMobile()|| $this->hasCableTypePackage()): ?>
            <p>&nbsp;</p>
            <h4><?php echo $this->__('Bank account for your monthly bill'); ?></h4>

            <?php if ($this->hasDsl()) : ?>
                <div class="clearfix form-row">
                    <label class="radio-inline">
                        <input type="radio" id="payment[monthly][type][direct_debit]" name="payment[monthly][type]" checked value="direct_debit" onclick="switchMonthlyPayment(this)"/>
                        <span><?php echo $this->__("By direct debit"); ?></span>
                    </label>
                </div>
            <?php else: ?>
                <input type="hidden" id="payment[monthly][type][direct_debit]" name="payment[monthly][type]" value="direct_debit" />
            <?php endif; ?>

            <div class="monthly direct_debit <?php echo $this->hasDsl() ? 'radio-indent' : ''; ?> form-group">
                <br/>
                <div class="clearfix form-row">
                    <div class="col-md-4">
                        <label for="payment[monthly][direct_debit][account_holder]"><?php echo $this->__("Account owner").' *'; ?></label>
                        <input type="text" placeholder="<?php echo $this->__("Customer name"); ?>" id="payment[monthly][direct_debit][account_holder]" name="payment[monthly][direct_debit][account_holder]"
                               class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][direct_debit][account_holder]", $customer->getName());  ?>"/>
                    </div>
                </div>

                <br/>
                <div class="clearfix radio-indent form-row">
                    <label><?php echo $this->__("Customer Address"); ?>:</label>
                    <div id="payment[monthly][direct_debit][customer_address]" class="specified-address-normal"></div>
                </div>

                <div class="clearfix form-row">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="payment[alternative_account_holder]" id="payment[alternative_account_holder]" value="1">
                        <?php if ($checkoutData->getFieldValue("payment[alternative_account_holder]") == 1): ?>
                            <script type="text/javascript">
                                jQuery(document).ready(function () {
                                    jQuery('[id="payment[alternative_account_holder]"]').trigger("click");
                                });
                            </script>
                        <?php endif; ?>
                        <strong><?php echo $this->__("Alternative account holder"); ?></strong>
                    </label>
                </div>

                <div class="clearfix alternative-account-holder hidden">
                    <div class="col-md-8 other-address-container highlight">
                        <div class="clearfix form-row">
                            <!-- Search address -->
                            <div class="col-md-12">
                                <div class="form-row-small clearfix">
                                    <div class="col-md-3">
                                        <label><?php echo $this->__('Salutation').' *'; ?></label>
                                        <div class="radio-wrapper-one-line clearfix">
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[monthly][alternative][gender][1]"
                                                       name="payment[monthly][alternative][gender]" <?php echo $checkoutData->getFieldValue("payment[monthly][alternative][gender]") == 1 ? "checked" : "" ?> value="1"/>
                                                <span><?php echo $this->__('Mr.'); ?></span>
                                            </label>
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[monthly][alternative][gender][2]"
                                                       name="payment[monthly][alternative][gender]" <?php echo $checkoutData->getFieldValue("payment[monthly][alternative][gender]") == 2 ? "checked" : "" ?> value="2"/>
                                                <span><?php echo $this->__('Mrs.'); ?></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="clearfix form-row-small">
                                    <div class="col-md-5">
                                        <label for="payment[monthly][alternative][firstname]"><?php echo $this->__('First Name').' *'; ?></label>
                                        <input type="text" id="payment[monthly][alternative][firstname]" name="payment[monthly][alternative][firstname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][firstname]"); ?>"/>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="payment[monthly][alternative][lastname]"><?php echo $this->__('Last Name').' *'; ?></label>
                                        <input type="text" id="payment[monthly][alternative][lastname]" name="payment[monthly][alternative][lastname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][lastname]"); ?>"/>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[monthly][alternative][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="payment[monthly][alternative][postcode]" name="payment[monthly][alternative][postcode]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][postcode]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="payment[monthly][alternative][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="payment[monthly][alternative][city]" name="payment[monthly][alternative][city]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][city]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="payment[monthly][alternative][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="payment[monthly][alternative][street]" name="payment[monthly][alternative][street]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][street]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[monthly][alternative][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="payment[monthly][alternative][houseno]" name="payment[monthly][alternative][houseno]"
                                                   class="form-control input-sm validate-number" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][houseno]"); ?>"/>
                                        </div>
                                    </div>
                                    <?php if (!$this->hasMobile()): ?>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="payment[monthly][alternative][addition]"><?php echo $this->__('Add.'); ?></label>
                                                <input type="text" id="payment[monthly][alternative][addition]" name="payment[monthly][alternative][addition]"
                                                       class="form-control input-sm validate-length maximum-length-10" value="<?php echo $checkoutData->getFieldValue("payment[monthly][alternative][addition]"); ?>"/>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br/>
                <div class="clearfix form-row">
                    <div class="col-md-4">
                        <label for="payment[monthly][direct_debit][iban]"><?php echo $this->__("IBAN").' *'; ?></label>
                        <input type="text" placeholder="<?php echo $this->__("IBAN"); ?>" id="payment[monthly][direct_debit][iban]" name="payment[monthly][direct_debit][iban]"
                               class="form-control input-sm required-entry validate-iban-code iban-field" maxlength="22"
                               value="<?php echo $checkoutData->getFieldValue("payment[monthly][direct_debit][iban]", $customer->getBankAccountNumber()); ?>" onblur="checkout.validateIBANRequest()"/>
                        <span id="payment[monthly][direct_debit][iban_counter]" class="iban-counter"></span>
                    </div>
                </div>

                <div class="clearfix form-row">
                    <a id="payment[monthly][direct_debit][generate]" onclick="checkout.displayBankGenerator(jQuery(this))" href="#"><?php echo $this->__('Calculate IBAN'); ?></a>
                </div>
                <br/>

                <?php
                $hideIbanAddress = "";
                if(!$checkoutData->getFieldValue("delivery[iban_check][postcode]")){
                    $hideIbanAddress = "hidden";
                }
                ?>
                <div class="clearfix iban-check-address <?php echo $hideIbanAddress;?>">
                    <div class="col-md-8 other-address-container">
                        <div class="clearfix form-row">
                            <!-- IBAN address -->
                            <div class="col-md-12">
                                <div class="form-row-small clearfix">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="delivery[iban_check][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="delivery[iban_check][postcode]" name="delivery[iban_check][postcode]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[iban_check][postcode]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="delivery[iban_check][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="delivery[iban_check][city]" name="delivery[iban_check][city]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[iban_check][city]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="delivery[iban_check][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="delivery[iban_check][street]" name="delivery[iban_check][street]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("delivery[iban_check][street]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="delivery[iban_check][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="delivery[iban_check][houseno]" name="delivery[iban_check][houseno]"
                                                   class="form-control input-sm validate-number" value="<?php echo $checkoutData->getFieldValue("delivery[iban_check][houseno]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <?php if ($this->hasDsl()) : ?>
                <div class="clearfix form-row">
                    <label class="radio-inline">
                        <input type="radio" id="payment[monthly][type][self_transfer]" name="payment[monthly][type]" value="banktransfer" onclick="switchMonthlyPayment(this)"/>
                        <span><?php echo $this->__("Per self transfer"); ?></span>
                    </label>
                </div>

                <div class="monthly self_transfer hidden clearfix">
                    <div class="col-md-8 other-address-container highlight">
                        <div class="clearfix form-row">
                            <!-- Search address -->
                            <div class="col-md-12">
                                <div class="form-row-small clearfix">
                                    <div class="col-md-3">
                                        <label><?php echo $this->__('Salutation').' *'; ?></label>
                                        <div class="radio-wrapper-one-line clearfix">
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[monthly][self_transfer][gender][1]" name="payment[monthly][self_transfer][gender]" <?php
                                                echo $checkoutData->getFieldValue("payment[monthly][self_transfer][gender]") ? "checked" : ""; ?> value="1"/>
                                                <span><?php echo $this->__('Mr.'); ?></span>
                                            </label>
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[monthly][self_transfer][gender][2]" name="payment[monthly][self_transfer][gender]" <?php
                                                echo $checkoutData->getFieldValue("payment[monthly][self_transfer][gender]") ? "checked" : ""; ?> value="2"/>
                                                <span><?php echo $this->__('Mrs.'); ?></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-3">
                                        <label for="payment[monthly][self_transfer][prefix]"><?php echo $this->__('Title'); ?></label>
                                        <?php $prefixOptions = $checkoutHelper->getPrefixOptions(); ?>
                                        <select name="payment[monthly][self_transfer][prefix]" id="payment[monthly][self_transfer][prefix]" class="form-control input-sm">
                                            <option value=""><?php echo $this->__(''); ?></option>
                                            <?php foreach ($prefixOptions as $option) : ?>
                                                <option value="<?php echo $option; ?>" <?php
                                                echo $checkoutData->getFieldValue("payment[monthly][self_transfer][prefix]") == $option ? "selected" : ""; ?>><?php echo $option; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <br/>
                                <div class="clearfix form-row-small">
                                    <div class="col-md-5">
                                        <label for="customer[firstname]"><?php echo $this->__('First Name').' *'; ?></label>
                                        <input type="text" id="payment[monthly][self_transfer][firstname]" name="payment[monthly][self_transfer][firstname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[monthly][self_transfer][firstname]"); ?>"/>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="customer[lastname]"><?php echo $this->__('Last Name').' *'; ?></label>
                                        <input type="text" id="payment[monthly][self_transfer][lastname]" name="payment[monthly][self_transfer][lastname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[monthly][self_transfer][lastname]"); ?>"/>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[monthly][self_transfer][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="payment[monthly][self_transfer][postcode]" name="payment[monthly][self_transfer][postcode]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][self_transfer][postcode]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="payment[monthly][self_transfer][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="payment[monthly][self_transfer][city]" name="payment[monthly][self_transfer][city]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][self_transfer][city]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="payment[monthly][self_transfer][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="payment[monthly][self_transfer][street]"
                                                   name="payment[monthly][self_transfer][street]" class="form-control input-sm" value="<?php
                                            echo $checkoutData->getFieldValue("payment[monthly][self_transfer][street]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[monthly][self_transfer][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="payment[monthly][self_transfer][houseno]" class="form-control input-sm validate-number"
                                                   name="payment[monthly][self_transfer][houseno]" value="<?php
                                            echo $checkoutData->getFieldValue("payment[monthly][self_transfer][houseno]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[monthly][self_transfer][addition]"><?php echo $this->__('Zusatz'); ?></label>
                                            <input type="text" id="payment[monthly][self_transfer][addition]" class="form-control input-sm validate-length maximum-length-10"
                                                   name="payment[monthly][self_transfer][addition]"
                                                   value="<?php echo $checkoutData->getFieldValue("payment[monthly][self_transfer][addition]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            <?php endif; ?>


        <?php endif; ?>

        <?php if ($this->hasMobileTypePackage()) : ?>
            <p>&nbsp;</p>
            <h4 class="<?php if ($this->hasMobile() || $this->hasCableTypePackage()) { echo 'border-top'; } ?>"><?php echo $this->__('Payment for your one-off costs'); ?></h4>

            <?php if ($this->hasMobile() || $this->hasCable()) : ?>

                <div class="clearfix form-row">
                    <label class="radio-inline">
                        <input type="radio" id="payment[one_time][type][invoice]" name="payment[one_time][type]" checked value="checkmo" onclick="switchOneTimePayment(this)"/>
                        <span><?php echo $this->__("By invoice") ?></span>
                    </label>
                </div>
                <div class="billingAddress strong">
                    <div id="payment[one_time][invoice]" class="specified-address billing-address-details">
                        <?php if ($customer->isCustomerLoggedIn()): ?>
                            <?php echo $customer->getFullAddressInfo(); ?>
                        <?php endif; ?>
                    </div>
                </div>
                <br/>

            <?php endif; ?>

            <?php if ($this->hasPrepaid() && !$this->hasMobile() && !$this->hasCableTypePackage()): ?>
                <br/>
                <div class="clearfix form-row">
                    <label class="radio-inline">
                        <input type="radio" id="payment[one_time][type][cash]" name="payment[one_time][type]"
                               value="cashondelivery" onclick="switchOneTimePayment(this)" checked />
                        <span><?php echo $this->__("Cash on delivery"); ?></span>
                    </label>
                </div>

                <div class="one-time cash clearfix">
                    <div class="col-md-8 other-address-container highlight">
                        <div class="clearfix form-row">
                            <!-- Search address -->
                            <div class="col-md-12">
                                <div class="form-row-small clearfix">
                                    <div class="col-md-3">
                                        <label><?php echo $this->__('Salutation').' *'; ?></label>
                                        <div class="radio-wrapper-one-line clearfix">
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[one_time][cash][gender][1]" name="payment[one_time][cash][gender]"
                                                       value="1" <?php echo $checkoutData->getFieldValue("payment[one_time][cash][gender]") == 1  ? "checked" : "" ?>/>
                                                <span><?php echo $this->__('Mr.'); ?></span>
                                            </label>
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[one_time][cash][gender][2]" name="payment[one_time][cash][gender]"
                                                       value="2" <?php echo $checkoutData->getFieldValue("payment[one_time][cash][gender]") == 2 ? "checked" : "" ?>/>
                                                <span><?php echo $this->__('Mrs.'); ?></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="clearfix form-row-small">
                                    <div class="col-md-5">
                                        <label for="payment[one_time][cash][firstname]"><?php echo $this->__('First Name').' *'; ?></label>
                                        <input type="text" id="payment[one_time][cash][firstname]" name="payment[one_time][cash][firstname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][firstname]"); ?>"/>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="payment[one_time][cash][lastname]"><?php echo $this->__('Last Name').' *'; ?></label>
                                        <input type="text" id="payment[one_time][cash][lastname]" name="payment[one_time][cash][lastname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][lastname]"); ?>"/>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="payment[one_time][cash][postcode]" name="payment[one_time][cash][postcode]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][postcode]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="payment[one_time][cash][city]" name="payment[one_time][cash][city]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][city]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="payment[one_time][cash][street]" name="payment[one_time][cash][street]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][street]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="payment[one_time][cash][houseno]" name="payment[one_time][cash][houseno]"
                                                   class="form-control input-sm validate-number" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][houseno]"); ?>"/>
                                        </div>
                                    </div>
                                    <?php if (!$this->hasMobile() && !$this->hasPrepaid()): ?>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="payment[one_time][cash][addition]"><?php echo $this->__('Add.'); ?></label>
                                                <input type="text" id="payment[one_time][cash][addition]" name="payment[one_time][cash][addition]"
                                                       class="form-control input-sm validate-length maximum-length-10" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][addition]"); ?>"/>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            <?php endif; ?>


            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="payment[one_time][type][direct_debit]" name="payment[one_time][type]" value="direct_debit" onclick="switchOneTimePayment(this)"/>
                    <span><?php echo $this->__("By direct debit"); ?></span>
                </label>
            </div>

            <div class="one-time direct_debit clearfix form-group hidden">
                <div class="col-md-8 highlight">
                    <div class="clearfix form-row">
                        <div class="col-md-6">
                            <label for="payment[monthly][direct_debit][account_holder]"><?php echo $this->__("Account owner"); ?>*</label>
                            <input type="text" placeholder="<?php echo $this->__("Customer name"); ?>" id="payment[monthly][direct_debit][account_holder]" name="payment[monthly][direct_debit][account_holder]"
                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[monthly][direct_debit][account_holder]", $customer->getName());  ?>"/>
                        </div>
                    </div>
                    <div class="clearfix form-row">
                        <div class="col-md-6">
                            <label for="payment[monthly][direct_debit][iban]"><?php echo $this->__("IBAN"); ?>*</label>
                            <input type="text" placeholder="<?php echo $this->__("IBAN") ?>" id="payment[monthly][direct_debit][iban]" name="payment[monthly][direct_debit][iban]"
                                   class="form-control input-sm validate-iban-code" value="<?php echo $checkoutData->getFieldValue("payment[monthly][direct_debit][iban]", $customer->getBankAccountNumber()); ?>">
                            <span class="iban-length-count-wrapper" maxlength="22">
                                <img class="hidden" src="<?php echo $this->getSkinUrl('images/icon-date.png'); ?>" />
                            </span>
                        </div>
                    </div>
                    <div class="clearfix form-row">
                        <a id="payment[monthly][direct_debit][generate]" onclick="checkout.displayBankGenerator(jQuery(this))" href="#"><?php echo $this->__('Calculate IBAN'); ?></a>
                    </div>
                </div>
            </div>

            <?php if ($this->hasMobile() || $this->hasCableTypePackage()): ?>
                <div class="clearfix form-row">
                    <label class="radio-inline">
                        <input type="radio" id="payment[one_time][type][cash]" name="payment[one_time][type]" value="cashondelivery" onclick="switchOneTimePayment(this)"/>
                        <?php if ($this->hasDsl() && !$this->hasMobileTypePackage() && !$this->hasCable()): ?>
                            <span><?php echo $this->__("Per self transfer"); ?></span>
                        <?php else: ?>
                            <span><?php echo $this->__("Cash on delivery"); ?></span>
                        <?php endif; ?>
                    </label>
                </div>

                <div class="one-time cashondelivery hidden clearfix">
                    <div class="col-md-8 other-address-container highlight">
                        <div class="clearfix form-row">
                            <!-- Search address -->
                            <div class="col-md-12">
                                <div class="form-row-small clearfix">
                                    <div class="col-md-3">
                                        <label><?php echo $this->__('Salutation').' *'; ?></label>
                                        <div class="radio-wrapper-one-line clearfix">
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[one_time][cash][gender][1]" name="payment[one_time][cash][gender]" <?php
                                                echo $checkoutData->getFieldValue("payment[one_time][cash][gender]") ? "checked" : ""; ?> value="1"/>
                                                <span><?php echo $this->__('Mr.'); ?></span>
                                            </label>
                                            <label class="radio-inline pull-left">
                                                <input type="radio" id="payment[one_time][cash][gender][2]" name="payment[one_time][cash][gender]" <?php
                                                echo $checkoutData->getFieldValue("payment[one_time][cash][gender]") ? "checked" : ""; ?> value="2"/>
                                                <span><?php echo $this->__('Mrs.'); ?></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="clearfix form-row-small">
                                    <div class="col-md-5">
                                        <label for="customer[firstname]"><?php echo $this->__('First Name').' *'; ?></label>
                                        <input type="text" id="payment[one_time][cash][firstname]" name="payment[one_time][cash][firstname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][firstname]"); ?>"/>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="customer[lastname]"><?php echo $this->__('Last Name').' *'; ?></label>
                                        <input type="text" id="payment[one_time][cash][lastname]" name="payment[one_time][cash][lastname]"
                                               class="form-control input-sm validate-name" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][lastname]"); ?>"/>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                            <input type="number" id="payment[one_time][cash][postcode]" name="payment[one_time][cash][postcode]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][postcode]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][city]"><?php echo $this->__('City').' *'; ?></label>
                                            <input type="text" id="payment[one_time][cash][city]" name="payment[one_time][cash][city]"
                                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][city]"); ?>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row-small clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][street]"><?php echo $this->__('Street').' *'; ?></label>
                                            <input type="text" id="payment[one_time][cash][street]"
                                                   name="payment[one_time][cash][street]" class="form-control input-sm" value="<?php
                                            echo $checkoutData->getFieldValue("payment[one_time][cash][street]"); ?>"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="payment[one_time][cash][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                            <input type="number" id="payment[one_time][cash][houseno]" class="form-control input-sm validate-number"
                                                   name="payment[one_time][cash][houseno]" value="<?php
                                            echo $checkoutData->getFieldValue("payment[one_time][cash][houseno]"); ?>"/>
                                        </div>
                                    </div>
                                    <?php if (!$this->hasMobile() && !$this->hasPrepaid()): ?>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="payment[one_time][cash][addition]"><?php echo $this->__('Zusatz'); ?></label>
                                                <input type="text" id="payment[one_time][cash][addition]" class="form-control input-sm validate-length maximum-length-10"
                                                       name="payment[one_time][cash][addition]"
                                                       value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][addition]"); ?>"/>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>

        <hr/>
        <?php if (!$this->getCustomerSession()->getOrderEdit()): ?>
            <div class="row submit">
                <div class="col-md-11 clearfix">
                    <button type="submit" data-step="saveDeliveryAddress" class="btn btn-info pull-right step checkout-continue-btn"><?php echo $this->__('Next step'); ?></button>
                </div>
            </div>
        <?php endif; ?>
    </form>
</div>

<script>
    //<![CDATA[
    // Save delivery address form validation
    form.saveDeliveryAddress = new VarienForm('saveDeliveryAddress', true);
    //]]>

    jQuery(document).ready(function () {
        jQuery('[id="delivery[date]"]').datepicker({
            dateFormat: 'mm/dd/yy',
            showOn: 'button',
            buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
            buttonText: 'date'
        });

        jQuery('[name="delivery[date_choice]"]').click(function(e){
            toggleDeliveryDateElements(jQuery(e.target));
        });

        jQuery('[name="payment[monthly][type]"]').click(function(e){
            toggleDeliveryDateElements(jQuery(e.target));
        });

        jQuery('[name="delivery[other_address][gender]"]').on('change', function(e){
            toggleDeliveryCustomerGenderChoices(jQuery(e.target));
        });

        jQuery('[id="payment[alternative_account_holder]"]').click(function(e){
            toggleAlternativeAccountBlocks(jQuery(e.target));
        });

        //Trigger delivery choice if changed
        <?php if (($deliverySelected = $checkoutData->getFieldValue("delivery[method]")) !== false) : ?>
            jQuery('[id="delivery[method][<?php echo $deliverySelected ?>]"]').trigger('click');
        <?php endif; ?>

        //Trigger delivery date choice if exists
        <?php if (($deliveryDate = $checkoutData->getFieldValue("delivery[date_choice]")) !== false) : ?>
            jQuery('[id="delivery[date_choice][<?php echo $deliveryDate; ?>]"]').trigger('click');
        <?php else: ?>
            jQuery('[id="delivery[date_choice][1]"]').trigger('click');
        <?php endif; ?>

        <?php if(($paymentType = $checkoutData->getFieldValue("payment[one_time][type]")) !== false) : ?>
            jQuery('[id="payment[one_time][type][<?php echo $paymentType ?>]"]').trigger('click');
        <?php elseif (!$checkoutData->hasCheckoutData() && $this->hasDsl() && !$this->hasMobileTypePackage() && !$this->hasCable()) : ?>
            jQuery('[id="payment[one_time][type][direct_debit]"]').trigger('click');
        <?php endif; ?>

        <?php if($checkoutData->getFieldValue("delivery[install_service]") !== false): ?>
            jQuery('[id="delivery[install_service]"]').trigger("click");
        <?php endif; ?>
    });

    function toggleDeliveryChoices(element) {
        hideDeliveryChoiceDependentBlocks();

        if (jQuery('[id="delivery[same_day]"]').length > 0) {
            jQuery('[id="delivery[same_day]"], #same-day-schedule-container input[type=radio]').prop('readonly', false).prop('disabled', false);
        }

        if (true == element.prop('checked')) {
            var address = $j(element).data('address');
            $j('[name="delivery[deliver][address]"]').val(address);

            jQuery('.block-choice-' + address).removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('.block-choice-' + address));

            if ('other_address' == address) {
                if (jQuery('[name="delivery[other_address][gender]"]:checked').length == 0) {
                    jQuery('.block-choice-gender-3').addClass('hidden');
                    checkout.removeCheckoutContainerValidationRules(jQuery('.block-choice-gender-3'));
                } else {
                    toggleDeliveryCustomerGenderChoices(jQuery('[name="delivery[other_address][gender]"]:checked'));
                }
            }

            if ('store' == address) {
                if (jQuery('[id="delivery[same_day]"]').length > 0) {
                    jQuery('[id="delivery[same_day]"], #same-day-schedule-container input[type=radio]')
                        .prop('readonly', true)
                        .prop('disabled', true)
                        .prop('checked', false);
                    toggleSameDayScheduleFields(jQuery('[id="delivery[same_day]"]'));
                }
            }
        }
    }

    function hideDeliveryChoiceDependentBlocks() {
        jQuery('.block-choice-' + 'other_address').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(jQuery('.block-choice-' + 'other_address'));
        jQuery('.block-choice-' + 'store').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(jQuery('.block-choice-' + 'store'));
    }

    function toggleSameDayScheduleFields(element) {
        if (false !== element.prop('checked')) {
            jQuery('#same-day-schedule-container').removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('#same-day-schedule-container'));
        } else {
            jQuery('#same-day-schedule-container').addClass('hidden');
            checkout.removeCheckoutContainerValidationRules(jQuery('#same-day-schedule-container'));
        }
    }

    function toggleDeliveryDateElements(element) {
        var deliveryDateElement = jQuery('[id="delivery[date]"]');

        deliveryDateElement.prop('disabled', false);
        deliveryDateElement.datepicker('enable');

        if ('1' == element.val()) {
            deliveryDateElement.prop('disabled', true);
            deliveryDateElement.datepicker('disable');
        }
    }

    function toggleDeliveryCustomerGenderChoices(element) {
        hideDeliveryCustomerGenderBlocks();

        if (true == element.prop('checked')) {
            jQuery('.block-choice-gender-' + element.val()).removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('.block-choice-gender-' + element.val()));
        }
    }

    function hideDeliveryCustomerGenderBlocks() {
        jQuery('[name="delivery[other_address][gender]"]').each(function () {
            jQuery('.block-choice-gender-' + jQuery(this).val()).addClass('hidden');
            checkout.removeCheckoutContainerValidationRules(jQuery('.block-choice-gender-' + jQuery(this).val()));
        });
    }

    function toggleAlternativeAccountBlocks(element) {
        jQuery('.alternative-account-holder').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(jQuery('.alternative-account-holder'));

        if (element.prop('checked') !== false) {
            jQuery('.alternative-account-holder').removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(jQuery('.alternative-account-holder'));
        }
    }

    function switchOneTimePayment(elem) {
        var stepContainer = '#saveDeliveryAddress';
        $j(stepContainer).find('.one-time').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules($j(stepContainer).find('.one-time'));
        $j(stepContainer).find('.one-time.' + elem.value).removeClass('hidden');
        checkout.setCheckoutContainerValidationRules($j(stepContainer).find('.one-time.' + elem.value));
    }

    function switchMonthlyPayment(elem) {
        var stepContainer = '#saveDeliveryAddress';
        $j(stepContainer).find('.monthly').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules($j(stepContainer).find('.monthly'));
        $j(stepContainer).find('.monthly.' + elem.value).removeClass('hidden');
        checkout.setCheckoutContainerValidationRules($j(stepContainer).find('.monthly.' + elem.value));
    }

    // called by checkout.fillFormData
    function fillSaveDeliveryAddressData() {
        console.trace();
        var customerFirstnameValue = jQuery('[id="customer[firstname]"]').val();
        var customerLastnameValue = jQuery('[id="customer[lastname]"]').val();
        var customerAddressAdditionValue = '';
        var customerAddressDistrictValue = '';

        <?php if ($this->hasMobileTypePackage()): ?>
            var customerAddressStreetValue = jQuery('[id="customer[address][street]"]').val();
            var customerAddressHouseNoValue = jQuery('[id="customer[address][houseno]"]').val();
            var customerAddressPostcodeValue = jQuery('[id="customer[address][postcode]"]').val();
            var customerAddressCityValue = jQuery('[id="customer[address][city]"]').val();
            if (jQuery('[id="customer[address][addition]"]').length > 0) {
                customerAddressAdditionValue = jQuery('[id="customer[address][addition]"]').val();
            }
            if (jQuery('[id="customer[address][district]"]').length > 0) {
                customerAddressDistrictValue = jQuery('[id="customer[address][district]"]').val();
            }
        <?php else: ?>
            var customerAddressStreetValue = '<?php echo $serviceAddressDetails['street']; ?>';
            var customerAddressHouseNoValue = '<?php echo $serviceAddressDetails['houseno']; ?>';
            var customerAddressPostcodeValue = '<?php echo $serviceAddressDetails['postcode']; ?>';
            var customerAddressCityValue = '<?php echo $serviceAddressDetails['city']; ?>';
            var customerAddressAdditionValue = '<?php echo $serviceAddressDetails['addition']; ?>';
            <?php if ($this->hasCable()) : ?>
                var customerAddressDistrictValue = '<?php echo $serviceAddressDetails['district']; ?>';
            <?php endif; ?>
        <?php endif; ?>

        if (jQuery('[id="delivery[specified_address]"]').length > 0) {
            var customerFirstnameLastname = (customerFirstnameValue || customerLastnameValue) ? customerFirstnameValue + ' ' + customerLastnameValue : false;
            var customerAddressStreet = (customerAddressStreetValue) ? customerAddressStreetValue + ' ' + customerAddressHouseNoValue + ' ' + customerAddressAdditionValue : false;
            var customerAddressZipcode = (customerAddressPostcodeValue) ? customerAddressPostcodeValue + ' ' + customerAddressCityValue + ' ' + customerAddressDistrictValue : false;

            jQuery('[id="delivery[specified_address]"]').empty();

            if (customerFirstnameLastname) {
                jQuery('[id="delivery[specified_address]"]').append(jQuery('<p></p>').html(customerFirstnameLastname));
            }
            if (customerAddressStreet) {
                jQuery('[id="delivery[specified_address]"]').append(jQuery('<p></p>').html(customerAddressStreet));
            }
            if (customerAddressZipcode) {
                jQuery('[id="delivery[specified_address]"]').append(jQuery('<p></p>').html(customerAddressZipcode));
            }
        }

        <?php if ($customer->isCustomerLoggedIn()): ?>
            var paymentOneTimeTitle = '<?php echo $customer->getTitle() ? $customer->getTitle() : '' ?>';
            var paymentOneTimeFirstname = '<?php echo $customer->getFirstName() ? $customer->getFirstName() : '' ?>';
            var paymentOneTimeLastname = '<?php echo $customer->getLastName() ? $customer->getLastName() : '' ?>';
            var paymentOneTimePostcode = '<?php echo $customer->getPostalCode() ? $customer->getPostalCode() : '' ?>';
            var paymentOneTimeCity = '<?php echo $customer->getCity() ? $customer->getCity() : '' ?>';
            var paymentOneTimeStreet = '<?php echo $customer->getStreet() ? $customer->getStreet() : '' ?>';
            var paymentOneTimeHouseno = '<?php echo $customer->getHouseNo() ? $customer->getHouseNo() : '' ?>';
        <?php elseif ($serviceAddressDetails['foundAddress']) : ?>
            var paymentOneTimeTitle = '<?php echo $serviceAddressDetails['title'] ? $serviceAddressDetails['title'] : '' ?>';
            var paymentOneTimeFirstname = '<?php echo $serviceAddressDetails['firstname'] ? $serviceAddressDetails['firstname'] : '' ?>';
            var paymentOneTimeLastname = '<?php echo $serviceAddressDetails['lastname'] ? $serviceAddressDetails['lastname'] : '' ?>';
            var paymentOneTimePostcode = '<?php echo $serviceAddressDetails['postcode'] ? $serviceAddressDetails['postcode'] : '' ?>';
            var paymentOneTimeCity = '<?php echo $serviceAddressDetails['city'] ? $serviceAddressDetails['city'] : '' ?>';
            var paymentOneTimeStreet = '<?php echo $serviceAddressDetails['street'] ? $serviceAddressDetails['street'] : '' ?>';
            var paymentOneTimeHouseno = '<?php echo $serviceAddressDetails['houseno'] ? $serviceAddressDetails['houseno'] : '' ?>';
        <?php else: ?>
            var paymentOneTimeTitle = jQuery('[name="customer[gender]"]:checked').html();
            var paymentOneTimeFirstname = customerFirstnameValue;
            var paymentOneTimeLastname = customerLastnameValue;
            var paymentOneTimePostcode = jQuery('[id="customer[address][postcode]"]').val();
            var paymentOneTimeCity = jQuery('[id="customer[address][city]"]').val();
            var paymentOneTimeStreet = jQuery('[id="customer[address][street]"]').val();
            var paymentOneTimeHouseno = jQuery('[id="customer[address][houseno]"]').val();
        <?php endif; ?>

        var paymentFirstnameLastname = (paymentOneTimeFirstname || paymentOneTimeLastname) ? paymentOneTimeTitle + ' ' + paymentOneTimeFirstname + ' ' + paymentOneTimeLastname : false;
        var paymentAddressStreet = (paymentOneTimeStreet) ? paymentOneTimeStreet + ' ' + paymentOneTimeHouseno : false;
        var paymentAddressZipcode = (paymentOneTimePostcode || paymentOneTimeCity) ? paymentOneTimePostcode + ' ' + paymentOneTimeCity : false;

        if (jQuery('[id="payment[one_time][invoice]"]').length > 0) {
            jQuery('[id="payment[one_time][invoice]"]').empty();

            if (paymentFirstnameLastname) {
                jQuery('[id="payment[one_time][invoice]"]').append(jQuery('<p></p>').html(paymentFirstnameLastname));
            }
            if (paymentAddressStreet) {
                jQuery('[id="payment[one_time][invoice]"]').append(jQuery('<p></p>').html(paymentAddressStreet));
            }
            if (paymentAddressZipcode) {
                jQuery('[id="payment[one_time][invoice]"]').append(jQuery('<p></p>').html(paymentAddressZipcode));
            }
        }
        if (jQuery('[id="payment[monthly][direct_debit][customer_address]"]').length > 0) {
            jQuery('[id="payment[monthly][direct_debit][customer_address]"]').empty();

            if (paymentAddressStreet) {
                jQuery('[id="payment[monthly][direct_debit][customer_address]"]').append(jQuery('<p></p>').html(paymentAddressStreet));
            }
            if (paymentAddressZipcode) {
                jQuery('[id="payment[monthly][direct_debit][customer_address]"]').append(jQuery('<p></p>').html(paymentAddressZipcode));
            }
        }

        <?php if(!$checkoutData->hasCheckoutData()): ?>
            jQuery('[name="payment[one_time][cash][gender]"]').each(function () {
                if (paymentOneTimeTitle.toLowerCase() == jQuery(this).next().html().toLowerCase()) {
                    jQuery(this).prop('checked', true);
                }
            });
            jQuery('[id="payment[one_time][cash][firstname]"]').val(paymentOneTimeFirstname);
            jQuery('[id="payment[one_time][cash][lastname]"]').val(paymentOneTimeLastname);
            jQuery('[id="payment[one_time][cash][postcode]"]').val(paymentOneTimePostcode);
            jQuery('[id="payment[one_time][cash][city]"]').val(paymentOneTimeCity);
            jQuery('[id="payment[one_time][cash][street]"]').val(paymentOneTimeStreet);
            jQuery('[id="payment[one_time][cash][houseno]"]').val(paymentOneTimeHouseno);
        <?php endif; ?>
    }
</script>
