<?php
/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider */
$checkoutHelper = $this->hasCableOrFixedTypePackage();
?>
<?php if ($this->hasCableOrFixedTypePackage()) : ?>

    <?php
    $quote = $this->getQuote();
    /** @var Dyna_Customer_Model_Customer $customer */
    $customer = $this->getCustomer();
    //
    $changeProviderRadioOptions = $this->getChangeProviderRadioOptions();
    $currentProvidersOptions = $this->getCurrentProvidersOptions();
    $noOfPhoneTransfersOptions = $this->geNoOfPhoneTransfersOptions();
    $ownerOfTerminalOptions = $this->getOwnerOfTerminalOptions();
    $terminationDateNotFilledReasons = $this->getTerminationDateNotFilledReasons();
    $lteActivateWithPhoneOptions = $this->getActivationWithPhoneOptionsForLte();
    $dslAndCableDatesOptionsForNewConnection = $this->getNewConnectionDesiredDatesOptionsForCableAndDsl();
    $dslHomeTypesOptions = $this->getDslResidenceTypesOptions();
    $dslHomeEntranceOptions = $this->getDslHomeEntranceOptions();
    $dslHomeFloorsOptions = $this->getDslHomeFloorsOptions();
    $dslHomeLocationOptions = $this->getDslApartmentLocationOptions();

    /** @var Dyna_Checkout_Helper_Cart $checkoutData */
    $checkoutData = Mage::helper("dyna_checkout/fields");
    $checkoutData->setCheckoutData("save_change_provider", $quote->getId());
    ?>

    <!-- Change provider
        ================================================== -->
    <div class="bs-docs-section hidden">
        <form class="cart" action="saveChangeProvider" method="post" role="form" id="saveChangeProvider">
            <h3 id="change_provider"><?php echo $this->__("Previous connection"); ?></h3>
            <p class="hr-under"></p>
            <div id="provider_content">
                <div>
                    <h4><?php echo $this->__("Changing suppliers") ?></h4>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <label
                                for="provider[change_provider]"><?php echo $this->__("Do you want to change your current provider?"); ?></label>
                            <div class="radio-wrapper-one-line">
                                <?php foreach ($changeProviderRadioOptions as $value => $label) : ?>
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="provider[change_provider]['<?php echo $value ?>']"
                                               name="provider[change_provider]"
                                               value="<?php echo $value ?>"
                                               onclick="toggleChangeProvider()"
                                            <?php echo $checkoutData->getFieldValue("provider[change_provider]") == $value ? "checked" : ""; ?>
                                        />
                                        <span><?php echo $label; ?></span>
                                    </label>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-row show-for-change-provider hidden">
                        <div class="col-md-10">
                            <div class="col-md-4">
                                <label
                                    for="provider[current_provider_type]"><?php echo $this->__("Which provider are you today?"); ?></label>
                                <select name="provider[current_provider_type]" id="provider[current_provider_type]"
                                        class="form-control input-sm ">
                                    <option value=""><?php echo $this->__(''); ?></option>
                                    <?php foreach ($currentProvidersOptions as $key => $optionLabel) : ?>
                                        <option
                                            value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[current_provider_type]") == $key
                                            ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-for-change-provider hidden" id="provider_transfer_numbers_container">
                    <hr class="hr-over">
                    <h4><?php echo $this->__("Number transfer") ?></h4>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <div class="col-md-4">
                                <label
                                    for="provider[no_phones_transfer]"><?php echo $this->__("Number to be taken over phones"); ?></label>
                                <select name="provider[no_phones_transfer]" id="provider[no_phones_transfer]"
                                        class="form-control input-sm " onclick="handleNoOfPhonesForTransfer()">
                                    <?php foreach ($noOfPhoneTransfersOptions as $key => $optionLabel) : ?>
                                        <option
                                            value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[no_phones_transfer]") == $key
                                            ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix form-row transfer-phone-list-fields">
                        <div class="col-md-13">
                            <div class="form-row-small clearfix ">
                                <div class="col-md-2">
                                    <label><?php echo ucfirst($this->__('Prefix')); ?>*</label>
                                    <input type="number" data-prefix="telephone_prefix"
                                           id="provider[phone_transfer_list][telephone_prefix][0]"
                                           name="provider[phone_transfer_list][telephone_prefix][0]"
                                           class="provider[prefix_transfer] form-control input-sm required-entry"
                                           value="<?php echo $checkoutData->getFieldValue('provider[phone_transfer_list][telephone_prefix][0]') ?>"/>
                                </div>
                                <div class="col-md-3">
                                    <label><?php echo $this->__("Phone numbers"); ?>*</label>
                                    <input type="number" data-prefix="telephone"
                                           id="provider[phone_transfer_list][telephone][0]"
                                           name="provider[phone_transfer_list][telephone][0]"
                                           class="provider[phone_transfer] form-control input-sm required-entry"
                                           value="<?php echo $checkoutData->getFieldValue('provider[phone_transfer_list][telephone][0]') ?>"/>
                                </div>
                                <div class="col-md-3 show-for-no-phone-transfer hidden">
                                    <div class="warning"></div>
                                    <div class="warning-text">
                                        <?php echo $this->__("If not taken") ?>
                                    </div>
                                </div>
                                <div class="col-1 btn-wrapper more-than-1-phone-transfer">
                                    <input type="button" id="provider[phone_transfer_list][add_button][0]"
                                           class="btn btn-default btn-contact-add pull-left clearfix hide-for-no-or-1-phone-transfer"
                                           value="+"
                                           onclick="addNewPhoneTransferListFields(this)"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php
                    $providerPhoneListPrefix = $checkoutData->getFieldValueBeginsWith('provider[phone_transfer_list][telephone_prefix]');
                    $providerPhoneListTelephoneNo = $checkoutData->getFieldValueBeginsWith('provider[phone_transfer_list][telephone]');
                    ?>
                    <?php
                    // since both prefix and no are required if exists values for prefix saved => it must exist value for number and also the key for prefix is the same with the key for tel no
                    // a group of fields with key = 0 is already added by default; we will go through the rest of the saved fields
                    if(count($providerPhoneListPrefix) > 0) : ?>
                        <?php foreach ($providerPhoneListPrefix as $key => $value) :
                            if($key == 0) {
                            continue;
                            }?>
                            <div class="clearfix form-row transfer-phone-list-fields transfer-phone-list-fields-added hide-for-no-or-1-phone-transfer">
                                <div class="col-md-13">
                                    <div class="form-row-small clearfix ">
                                        <div class="col-md-2">
                                            <label><?php echo ucfirst($this->__('Prefix')); ?>*</label>
                                            <input type="number" data-prefix="telephone_prefix"
                                                   id="provider[phone_transfer_list][telephone_prefix][<?php echo $key ?>]"
                                                   name="provider[phone_transfer_list][telephone_prefix][<?php echo $key ?>]"
                                                   class="provider[prefix_transfer] form-control input-sm required-entry"
                                                   value="<?php echo $value ?>"/>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?php echo $this->__("Phone numbers"); ?>*</label>
                                            <input type="number" data-prefix="telephone"
                                                   id="provider[phone_transfer_list][telephone][<?php echo $key ?>]"
                                                   name="provider[phone_transfer_list][telephone][<?php echo $key ?>]"
                                                   class="provider[phone_transfer] form-control input-sm required-entry"
                                                   value="<?php echo $providerPhoneListTelephoneNo[$key] ?>"/>
                                        </div>
                                        <div class="col-md-3 show-for-no-phone-transfer hidden">
                                            <div class="warning"></div>
                                            <div class="warning-text">
                                                <?php echo $this->__("If not taken") ?>
                                            </div>
                                        </div>
                                        <div class="col-1 btn-wrapper more-than-1-phone-transfer">
                                            <input type="button" id="provider[phone_transfer_list][add_button][<?php echo $key ?>]"
                                                   class="btn btn-default btn-contact-add pull-left clearfix margin-right-15"
                                                   value="+"
                                                   onclick="addNewPhoneTransferListFields(this)"
                                            />
                                            <?php if($key > 0) : ?>
                                                <input type="button" id="provider[phone_transfer_list][remove_button][<?php echo $key ?>]"
                                                       class="btn btn-default btn-contact-add pull-left clearfix"
                                                       value="-"
                                                       onclick="removeNewPhoneTransferListFields(this)"
                                                />
                                            <?php endif?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    <?php endif?>
                </div>
                <div class="show-for-change-provider hidden">
                    <hr class="hr-over">
                    <h4><?php echo $this->__("Connection owner") ?></h4>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <div class="col-md-4">
                                <label
                                    for="provider[owner_of_terminal]"><?php echo $this->__("Are you the owner terminal"); ?></label>
                                <select name="provider[owner_of_terminal]" id="provider[owner_of_terminal]"
                                        class="form-control input-sm" onclick="handleOwnerOfTheTerminal()">
                                    <?php foreach ($ownerOfTerminalOptions as $key => $optionLabel) : ?>
                                        <option
                                            value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[owner_of_terminal]") == $key
                                            ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-for-change-provider hidden">
                    <hr class="hr-over">
                    <h4><?php echo $this->__("Other following address") ?></h4>
                    <div class="clearfix form-row-small">
                        <div class="col-md-9 checkbox-wrapper">
                            <label class="pull-left" for="provider[other_address][selected]">
                                <input type="checkbox" id="provider[other_address][selected]"
                                       class="checkbox-no-margin" name="provider[other_address][selected]"
                                        onclick="handleOtherProviderAddress()" value="<?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::OTHER_PROVIDER_ADDRESS?>"
                                    <?php echo $checkoutData->getFieldValue("provider[other_address][selected]") ? "checked" : "" ?>>
                                <span><?php echo $this->__("Is to denouncing the another following address") ?></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix form-row show-other-provider-address hidden">
                        <div class="col-md-13">
                            <div class="form-row-small clearfix">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label for="provider[other_address][postcode]"><?php echo $this->__('Postcode').' *'; ?></label>
                                        <input type="number"
                                               id="provider[other_address][postcode]"
                                               name="provider[other_address][postcode]"
                                               class="form-control input-sm required-entry"
                                               value="<?php echo $checkoutData->getFieldValue("provider[other_address][postcode]");
                                               ?>"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="provider[other_address][city]"><?php echo $this->__('City').' *'; ?></label>
                                        <input type="text" id="provider[other_address][city]" name="provider[other_address][city]" class="form-control input-sm required-entry"
                                               value="<?php echo $checkoutData->getFieldValue("provider[other_address][city]");
                                               ?>"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row-small clearfix">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="provider[other_address][street]"><?php echo $this->__('Street').' *'; ?></label>
                                        <input type="text" id="provider[other_address][street]"
                                               name="provider[other_address][street]" class="form-control input-sm required-entry"
                                               value="<?php echo $checkoutData->getFieldValue("provider[other_address][street]");
                                               ?>"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="provider[other_address][houseno]"><?php echo $this->__('House No.').' *'; ?></label>
                                        <input type="number" id="provider[other_address][houseno]" class="form-control input-sm required-entry"
                                               name="provider[other_address][houseno]"  value="<?php echo $checkoutData->getFieldValue("provider[other_address][houseno]");
                                        ?>" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label for="provider[other_address][addition]"><?php echo $this->__('Add.'); ?></label>
                                        <input type="text" id="provider[other_address][addition]" class="form-control input-sm maximum"
                                               name="provider[other_address][addition]"  value="<?php echo $checkoutData->getFieldValue("provider[other_address][addition]");
                                        ?>"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-row show-when-not-owner hidden">
                        <div class="col-md-4">
                            <label for="provider[other_owner][firstname]"><?php echo $this->__('First name').' *'; ?></label>
                            <input type="text" id="provider[other_owner][firstname]" name="provider[other_owner][firstname]"
                                   class="form-control required-entry input-sm"
                                   value="<?php echo $checkoutData->getFieldValue("provider[other_owner][firstname]") ?>"/>
                        </div>
                        <div class="col-md-4">
                            <label for="provider[other_owner][lastname]"><?php echo $this->__('Last Name').' *'; ?></label>
                            <input type="text" id="provider[other_owner][lastname]" name="provider[other_owner][lastname]"
                                   class="form-control required-entry input-sm "
                                   value="<?php echo $checkoutData->getFieldValue("provider[other_owner][lastname]") ?>" />
                        </div>
                    </div>
                </div>
                <?php if($this->hasCable()): ?>
                    <div class="clearfix form-row show-for-change-provider hidden">
                        <hr class="hr-over">
                        <h4><?php echo $this->__("Notice the previous supplier") ?></h4>
                        <div class="clearfix form-row">
                            <div class="col-md-4 date-element-wrapper label-field-container">
                                <label for="provider[notice_date]"><?php echo $this->__("The last possible date of notice"); ?></label>
                                <input type="text" id="provider[notice_date]" name="provider[notice_date]"
                                       class="form-control input-sm"
                                       placeholder="<?php echo 'MM.DD.YYYY'; ?>"
                                       value="<?php echo $checkoutData->getFieldValue("provider[notice_date]") ?: ''; ?>"
                                       maxlength="10" />
                            </div>
                        </div>
                        <div class="clearfix form-row">
                            <div class="col-md-4 date-element-wrapper label-field-container">
                                <label for="provider[termination_date_reason]"><?php echo $this->__("Termination Date not relevant because"); ?></label>
                                <select name="provider[termination_date_reason]" id="provider[termination_date_reason]"
                                        class="form-control input-sm">
                                    <option value=""><?php echo $this->__('-'); ?></option>
                                    <?php foreach ($terminationDateNotFilledReasons as $key => $optionLabel) : ?>
                                        <option
                                            value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[termination_date_reason]") == $key
                                            ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="clearfix form-row  <?php echo ($this->hasLte())?"show-for-change-provider hidden" : ""?>">
                    <h3><?php echo $this->__("New terminal"); ?></h3>
                    <p class="hr-under"></p>
                    <?php if($this->hasLte()) : ?>
                        <h4><?php echo $this->__("Instant activation"); ?></h4>
                        <div class="radio-wrapper-multiple-line">
                            <?php foreach ($lteActivateWithPhoneOptions as $value => $label) : ?>
                                <div class="clearfix form-row no-margin-bottom">
                                    <label class="radio-inline pull-left">
                                        <input type="radio" id="provider[activation_with_phone][<?php echo $value ?>]" name="provider[activation_with_phone]" value="<?php echo $value ?>"
                                            <?php echo $checkoutData->getFieldValue("provider[activation_with_phone]") == $value ? "checked" :
                                                ($value == Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::ACTIVATE_WITH_NEW_PHONE) ? "checked": ""; ?>/>
                                        <span><?php echo $label; ?></span>
                                    </label>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    <?php else : ?>
                        <?php if($this->hasDsl()) : ?>
                            <h4><?php echo $this->__("Notes on residence"); ?></h4>
                            <div class="clearfix form-row-small">
                                <div class="col-md-2">
                                    <label for="provider[home_type]"><?php echo $this->__("Building") .":"; ?></label>
                                    <select name="provider[home_type]" id="provider[home_type]"
                                            class="form-control input-sm " onclick="handleHomeType()">
                                        <?php foreach ($dslHomeTypesOptions as $key => $optionLabel) : ?>
                                            <option
                                                value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[home_type]") == $key
                                                ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix form-row show-for-multi-families hidden">
                                <div class="col-md-3">
                                    <label for="provider[home_entrance]"><?php echo $this->__("Entrance").' :'; ?></label>
                                    <select name="provider[home_entrance]" id="provider[home_entrance]"
                                            class="form-control input-sm ">
                                        <option value=""><?php echo $this->__('-'); ?></option>
                                        <?php foreach ($dslHomeEntranceOptions as $key => $optionLabel) : ?>
                                            <option
                                                value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[home_entrance]") == $key
                                                ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="provider[home_floor]"><?php echo $this->__("Floor").' :'; ?></label>
                                    <select name="provider[home_floor]" id="provider[home_floor]"
                                            class="form-control input-sm ">
                                        <option value=""><?php echo $this->__('-'); ?></option>
                                        <?php foreach ($dslHomeFloorsOptions as $key => $optionLabel) : ?>
                                            <option
                                                value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[home_floor]") == $key
                                                ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="provider[home_location]"><?php echo $this->__("Apartament location").':'; ?></label>
                                    <select name="provider[home_location]" id="provider[home_location]"
                                            class="form-control input-sm ">
                                        <option value=""><?php echo $this->__('-'); ?></option>
                                        <?php foreach ($dslHomeLocationOptions as $key => $optionLabel) : ?>
                                            <option
                                                value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("provider[home_location]") == $key
                                                ? "selected" : "" ?>><?php echo $optionLabel; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix form-row-small">
                                <p class="hr-under"></p>
                                <div class="col-md-2">
                                    <label for="provider[phone_socket_no]"><?php echo $this->__("Telephone socket number") .":"; ?></label>
                                    <input type="text" id="provider[phone_socket_no]" class="form-control input-sm maximum"
                                           name="provider[phone_socket_no]" value="<?php echo $checkoutData->getFieldValue("provider[phone_socket_no]");?>"
                                    />
                                </div>
                            </div>
                            <div class="clearfix form-row">
                                <p class="hr-under"></p>
                                <div class="col-md-9">
                                    <div class="col-md-11">
                                        <label for="provider[comment_installer]"><?php echo $this->__("Note for installers").":" ?></label>
                                        <textarea id="provider[comment_installer]" name="provider[comment_installer]" class="form-control textarea provider-comment-installer">
                                            <?php echo $checkoutData->getFieldValue("provider[comment_installer]"); ?>
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                            <hr class="hr-over">
                            <h4><?php echo $this->__("Landlord data") ?></h4>
                            <div class="clearfix form-row">
                                <div class="col-md-3">
                                    <label for="provider[landlord_firstname]"><?php echo  $this->__("First name") ?></label>
                                    <input type="text" id="provider[landlord_firstname]" name="provider[landlord_firstname]" class="form-control input-sm"
                                       value="<?php echo $checkoutData->getFieldValue("provider[landlord_firstname]") ?>"/>
                                </div>
                                <div class="col-md-3">
                                    <label for="provider[landlord_lastname]"><?php echo  $this->__("Surname") ?></label>
                                    <input type="text" id="provider[landlord_lastname]" name="provider[landlord_lastname]" class="form-control input-sm"
                                           value="<?php echo $checkoutData->getFieldValue("provider[landlord_lastname]") ?>"/>
                                </div>
                                <div class="col-md-1">
                                    <label for="provider[landlord_prefix]"><?php echo  $this->__("Prefix") ?></label>
                                    <input type="text" id="provider[landlord_prefix]" name="provider[landlord_prefix]" class="form-control input-sm"
                                           value="<?php echo $checkoutData->getFieldValue("provider[landlord_prefix]") ?>"/>
                                </div>
                                <div class="col-md-2">
                                    <label for="provider[landlord_phone]"><?php echo  $this->__("Phone numbers") ?></label>
                                    <input type="text" id="provider[landlord_phone]" name="provider[landlord_phone]" class="form-control input-sm"
                                           value="<?php echo $checkoutData->getFieldValue("provider[landlord_phone]") ?>"/>
                                </div>
                            </div>
                            <hr class="hr-over">
                        <?php endif?>
                        <p class="hr-under"></p>
                        <h4><?php echo $this->__("Your date"); ?></h4>
                        <div class="clearfix form-row">
                            <div class="col-md-10">
                                <div class="radio-wrapper-one-line col-md-9">
                                    <?php foreach ($dslAndCableDatesOptionsForNewConnection as $value => $label) : ?>
                                        <label class="radio-inline pull-left">
                                            <input type="radio" id="provider[wish_date_option][<?php echo $value ?>]"
                                                   name="provider[wish_date_option]"
                                                   value="<?php echo $value ?>"
                                                   onclick="handleWishDateToggle()"
                                                <?php echo $checkoutData->getFieldValue("provider[wish_date_option]") == $value ? "checked" : ""; ?>
                                            />
                                            <span class="label-wish-date-option-<?php echo $value ?>"><?php echo $label; ?></span>
                                        </label>
                                    <?php endforeach; ?>
                                    <div class="col-md-4 date-element-wrapper">
                                        <input type="text" id="provider[wish_date]" class="form-control input-sm maximum"
                                               name="provider[wish_date]" value="<?php echo $checkoutData->getFieldValue("provider[wish_date]");?>"
                                               placeholder="<?php echo 'MM.DD.YYYY'; ?>"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif?>
                </div>
            </div>
            <hr/>
            <?php if (!$this->getCustomerSession()->getOrderEdit()): ?>
                <div class="row submit">
                    <div class="col-md-11 clearfix">
                        <button type="submit" data-step="saveChangeProvider"
                                class="btn btn-info pull-right step checkout-continue-btn"><?php echo $this->__('Next step'); ?></button>
                    </div>
                </div>
            <?php endif; ?>
        </form>
    </div>

    <script>
        // Save change provider form validation
        form.saveChangeProvider = new VarienForm('saveChangeProvider', true);
        var addedTransferPhoneCount = 0;

        function addNewPhoneTransferListFields(elem) {
            var currentAddBtn = jQuery(elem);
            var newAddButton = currentAddBtn.clone();
            var newRemoveButton = currentAddBtn.clone();
            addedTransferPhoneCount++;
            // change the + to - sign for the remove btn; also change the id
            newRemoveButton.val('-').attr('id', 'provider[phone_transfer_list][remove_button][' + addedTransferPhoneCount + ']').addClass('margin-right-15');
            // change the event for remove btn
            newRemoveButton.attr('onclick', 'removeNewPhoneTransferListFields(this)');
            // change the id of the new add btn
            newAddButton.attr('id', 'provider[phone_transfer_list][add_button][' + addedTransferPhoneCount + ']');
            // remove the current Add btn
            currentAddBtn.remove();

            var newInputs = jQuery('#provider_transfer_numbers_container').find('.transfer-phone-list-fields:not(.transfer-phone-list-fields-added)').clone();
            newInputs.find(':input').val('');
            newInputs.addClass('transfer-phone-list-fields-added').appendTo('#provider_transfer_numbers_container');
            updateAttributesForAddedContactTransferFields(newInputs);

            jQuery('.transfer-phone-list-fields-added:last .btn-wrapper').append(newRemoveButton).append(newAddButton);
        }

        function removeNewPhoneTransferListFields(removeBtnElem) {
            var currentRemoveBtn = jQuery(removeBtnElem);
            var lastIndex = getLastPhoneTransferListIndex();
            var newAddButton = jQuery("[id='provider[phone_transfer_list][add_button][" + lastIndex + "]']").clone();

            // remove the fields added (the fields that are closest to this remove btn)
            currentRemoveBtn.closest('div.transfer-phone-list-fields-added').remove();

            if (jQuery("[id='provider[phone_transfer_list][add_button][" + lastIndex + "]']").length == 0) {
                lastIndex = getLastPhoneTransferListIndex();
                newAddButton.attr('id', 'provider[phone_transfer_list][add_button][' + lastIndex + ']');
                jQuery('.transfer-phone-list-fields:last .btn-wrapper').append(newAddButton);
            }
        }

        function getLastPhoneTransferListIndex() {
            return jQuery('.transfer-phone-list-fields:last')
                .find('input:first')
                .attr('id')
                .replace('provider[phone_transfer_list][telephone_prefix][', '')
                .replace(']', '')
        }

        function updateAttributesForAddedContactTransferFields(container) {
            container.find('input').each(function (e) {
                var elementId = jQuery(this).attr('id');
                var elementName = jQuery(this).attr('name');

                jQuery(this).attr('id', elementId.replace('[0]', '[' + addedTransferPhoneCount + ']'));
                jQuery(this).attr('name', elementName.replace('[0]', '[' + addedTransferPhoneCount + ']'))
            });
        }

        function toggleChangeProvider() {
            var changeProviderValue = jQuery('[name="provider[change_provider]"]:checked').val(),
                showForChangeProviderOption = jQuery('.show-for-change-provider'),
                wishDateOptionAsSoonAsPossible = jQuery('[id="provider[wish_date_option][<?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::NEW_CONNECTION_DATE_AS_SOON_AS_POSSIBLE?>]"]'),
                labelWishDateOptionAsSoonAsPossible = jQuery('.label-wish-date-option-<?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::NEW_CONNECTION_DATE_AS_SOON_AS_POSSIBLE?>');

            // yes change provider
            if (changeProviderValue == <?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::YES_CHANGE_PROVIDER?>) {
                showForChangeProviderOption.removeClass('hidden');
                wishDateOptionAsSoonAsPossible.removeClass('hidden');
                labelWishDateOptionAsSoonAsPossible.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(showForChangeProviderOption);
                checkout.setCheckoutContainerValidationRules(wishDateOptionAsSoonAsPossible);
                checkout.setCheckoutContainerValidationRules(labelWishDateOptionAsSoonAsPossible);
            }
            else {
                // for dsl when change provider is on no the wish date must be inserted; the option for the first possible show be hidden
                if('<?php echo $this->hasDsl() ?>') {
                    wishDateOptionAsSoonAsPossible.addClass('hidden');
                    labelWishDateOptionAsSoonAsPossible.addClass('hidden');
                    checkout.removeCheckoutContainerValidationRules(wishDateOptionAsSoonAsPossible);
                    checkout.removeCheckoutContainerValidationRules(labelWishDateOptionAsSoonAsPossible);
                }
                showForChangeProviderOption.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(showForChangeProviderOption);
            }
        }

        function handleNoOfPhonesForTransfer() {
            var value = jQuery('[id="provider[no_phones_transfer]"]').val(),
                showForNoPhoneTransferOption = jQuery('.show-for-no-phone-transfer'),
                hideForNoOr1PhoneTransferOption = jQuery('.hide-for-no-or-1-phone-transfer'),
                providerOtherAddress = jQuery("[id='provider[other_address]']"),
                isCheckedProviderOtherAddress = jQuery(providerOtherAddress).prop('checked');

            initNoOfPhonesForTransfer();
            // if no phone transfer : show warning and do not allow multiple phone inputs
            if (value == <?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::TRANSFER_NONE?>) {
                showForNoPhoneTransferOption.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(hideForNoOr1PhoneTransferOption);
                hideForNoOr1PhoneTransferOption.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(showForNoPhoneTransferOption);
                if(!isCheckedProviderOtherAddress) {
                    providerOtherAddress.trigger("click");
                }
            }
            // if single phone transfer : do not allow multiple phone inputs
            else if (value == <?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::TRANSFER_1_PHONE?>) {
                hideForNoOr1PhoneTransferOption.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(hideForNoOr1PhoneTransferOption);
            }
        }

        function initNoOfPhonesForTransfer() {
            var showForNoPhoneTransferOption = jQuery('.show-for-no-phone-transfer'),
                hideForNoOr1PhoneTransferOption = jQuery('.hide-for-no-or-1-phone-transfer');

            showForNoPhoneTransferOption.addClass('hidden');
            checkout.removeCheckoutContainerValidationRules(showForNoPhoneTransferOption);
            hideForNoOr1PhoneTransferOption.removeClass('hidden');
            checkout.setCheckoutContainerValidationRules(hideForNoOr1PhoneTransferOption);
        }

        function handleWishDateToggle() {
            var providerWishDateInput = jQuery('[id="provider[wish_date]"]');
            if(jQuery('[name="provider[wish_date_option]"]:checked').val() == <?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::NEW_CONNECTION_DATE_AS_SOON_AS_POSSIBLE?>) {
                providerWishDateInput.prop('readonly', true);
                providerWishDateInput.datepicker('disable');
            }
            else {
                providerWishDateInput.prop("readonly", false);
                providerWishDateInput.datepicker('enable');
            }
        }
        function handleOtherProviderAddress() {
            var showOtherProviderAddress = jQuery('.show-other-provider-address');
            if (true == jQuery('[id="provider[other_address][selected]"]').prop('checked')) {
                showOtherProviderAddress.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(showOtherProviderAddress);
            }
            else {
                showOtherProviderAddress.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(showOtherProviderAddress);
            }
        }

        function handleOwnerOfTheTerminal() {
            var showWhenNotOwner = jQuery('.show-when-not-owner'),
                isOwnerOfTerminal = jQuery('[id="provider[owner_of_terminal]"] option:selected').val();

            if (isOwnerOfTerminal != <?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::YES_OWNER_OF_TERMINAL?>) {
                showWhenNotOwner.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(showWhenNotOwner);
            }
            else {
                showWhenNotOwner.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(showWhenNotOwner);
            }
        }

        function handleHomeType() {
            var homeTypeSelected = jQuery('[id="provider[home_type]"] option:selected').val(),
                multiFamiliesOptions = jQuery('.show-for-multi-families ');

            // for multiple family home selected show details input
            if(homeTypeSelected == <?php echo Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::HOME_WITH_MULTIPLE_FAMILIES?>) {
                multiFamiliesOptions.removeClass('hidden');
                checkout.setCheckoutContainerValidationRules(multiFamiliesOptions);
            }
            else {
                multiFamiliesOptions.addClass('hidden');
                checkout.removeCheckoutContainerValidationRules(multiFamiliesOptions);
            }
        }
        jQuery(document).ready(function () {
            jQuery('[id="provider[notice_date]"]').datepicker({
                dateFormat: 'mm/dd/yy',
                showOn: 'button',
                buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
                buttonText: 'date'
            });

            jQuery('[id="provider[wish_date]"]').datepicker({
                dateFormat: 'mm/dd/yy',
                showOn: 'button',
                buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
                buttonText: 'date'
            });

            handleWishDateToggle();
            handleHomeType();
            toggleChangeProvider();
            handleOtherProviderAddress();
            handleNoOfPhonesForTransfer();
            handleOwnerOfTheTerminal();
        });
    </script>
<?php endif ?>



