<?php
/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveOther */
$noteTypeArray = $this->getNoteTypes();
$floorArray = $this->getFloors();
$telephoneProviderArray = $this->getTelephoneProviders();
$telephoneInfoOptions = $this->getTelephoneInfoOptions();
$infoExchangeOptions = $this->getInfoExchangeOptions();
$keywordOptions = $this->getKeywordOptions();
$phoneEntryTypeOptions = $this->getPhoneEntryTypeOptions();

$quote=$this->getQuote();
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
$checkoutData->setCheckoutData("save_other", $quote->getId());

$checkoutHelper = $this->getCheckoutHelper();
$phonebookEntriesLimit = $this->getHasComfortConnection() ? 3 : 1;

$migrationState = Mage::getSingleton('dyna_customer/customer')->getInMigrationState();
?>
<!-- Other details
    ================================================== -->
<div class="bs-docs-section hidden">
    <form class="cart" action="saveOther" method="post" role="form" id="saveOther">
        <h3 id="other"><?php echo $this->__('Other'); ?></h3>
        <p class="hr-under"></p>

        <div id="other_content">
            <?php if ($this->hasMobileTypePackage()): ?>
                <?php if ($this->getHasStudentDiscount()) : ?>
                    <br/>
                    <hr class="hr-over"/>
                    <h4><?php echo $this->__('Student offer'); ?></h4>
                    <br/>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <div class="col-md-3">
                                <label for="other[student][matriculation_nr]"><?php echo $this->__('Matriculation number').'*'; ?></label>
                                <input type="text" id="other[student][matriculation_nr]" name="other[student][matriculation_nr]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[student][matriculation_nr]"); ?>"/>
                            </div>
                            <div class="col-md-3">
                                <label for="other[student][institution_location]"><?php echo $this->__('Location of institution').'*'; ?></label>
                                <input type="text" id="other[student][institution_location]" name="other[student][institution_location]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[student][institution_location]"); ?>"/>
                            </div>
                        </div>
                    </div>
                <?php elseif ($this->getHasDisabledDiscount()) : ?>
                    <br/>
                    <hr class="hr-over"/>
                    <h4><?php echo $this->__('Offer for people with disabilities'); ?></h4>
                    <br/>
                    <div class="clearfix form-row">
                        <div class="col-md-10">
                            <div class="col-md-3">
                                <label for="other[disabled][disabled_id]"><?php echo $this->__('Disabled ID'); ?></label>
                                <input type="text" id="other[disabled][disabled_id]" name="other[disabled][disabled_id]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[disabled][disabled_id]"); ?>"/>
                            </div>
                            <div class="col-md-3">
                                <label for="other[disabled][disabled_degree]"><?php echo $this->__('Degree'); ?></label>
                                <input type="text" id="other[disabled][disabled_degree]" name="other[disabled][disabled_degree]"
                                       class="form-control input-sm" value="<?php $checkoutData->getFieldValue("other[disabled][disabled_degree]"); ?>"/>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>

            <h4><?php echo $this->__('Phone book entries'); ?></h4>
            <div class="radio-wrapper-multiple-line">
                <div class="clearfix form-row no-margin-bottom">
                    <label class="radio-inline pull-left">
                        <input type="radio" id="other[phonebook_choice][0]" name="other[phonebook_choice]" value="0" checked/>
                        <span><?php echo $this->__('Standard (Name/Address)'); ?></span>
                    </label>
                </div>
                <div class="clearfix form-row no-margin-bottom">
                    <label class="radio-inline pull-left">
                        <input type="radio" id="other[phonebook_choice][1]" name="other[phonebook_choice]" value="1"/>
                            <span>
                                <?php echo $this->__('No phone book entries'); ?>
                            </span>
                    </label>
                </div>
                <div class="clearfix form-row no-margin-bottom">
                    <label class="radio-inline pull-left">
                        <input type="radio" id="other[phonebook_choice][2]" name="other[phonebook_choice]" value="2"/>
                            <span>
                                <?php echo $this->__('Extended'); ?>
                            </span>
                    </label>
                </div>

                <br/>
                <div class="clearfix form-row no-margin-bottom">
                    <label class="checkbox-inline pull-left">
                        <input type="checkbox" id="other[not_inverse_search]" name="other[not_inverse_search]" />
                        <span><?php echo $this->__('Contrary to the inverse search in telephone directories'); ?></span>
                    </label>
                </div>
            </div>

            <div class="phonebook-choice choice-2">
                <?php if ($this->hasCable() || $this->hasFixed()) : ?>
                    <?php for ($i = 0;  $i<$phonebookEntriesLimit; $i++) : ?>
                        <br/>
                        <div class="clearfix form-row phonebook-entry-<?php echo $i; ?>">
                            <div class="col-md-1">
                                <label><?php echo $this->__('Prefix'); ?></label>
                                <div class="col-md-12 height" id="other[extended][phone_entries][<?php echo $i; ?>][prefix]">
                                    <?php echo $checkoutData->getFieldValue("other[extended][phone_entries][".$i."][prefix]"); ?>
                                </div>
                                <input type="hidden" id="other[extended][phone_entries][<?php echo $i; ?>][prefix][hidden]" name="other[extended][phone_entries][<?php echo $i; ?>][prefix]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[extended][phone_entries][".$i."][prefix]"); ?>"/>
                            </div>
                            <div class="col-md-2">
                                <label><?php echo $this->__('Telephone Number'); ?></label>
                                <select id="other[extended][phone_entries][<?php echo $i; ?>][telephone_no]" name="other[extended][phone_entries][<?php echo $i; ?>][telephone_no]" class="form-control input-sm">
    
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <select name="other[extended][phone_entries][<?php echo $i; ?>][type]" id="other[extended][phone_entries][<?php echo $i; ?>][type]" class="form-control input-sm ">
                                    <option value="" hidden><?php echo $this->__(''); ?></option>
                                    <?php foreach ($phoneEntryTypeOptions as $option) : ?>
                                        <option value="<?php echo $option; ?>" <?php
                                        echo $checkoutData->getFieldValue("other[extended][phone_entries][".$i."][type]") == $option ? "selected" : ""; ?>><?php echo $this->__($option); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    <?php endfor; ?>
                <?php endif; ?>
                <?php if ($this->hasMobileTypePackage() || $this->hasFixed()) : ?>
                    <br/>
                    <div class="clearfix form-row">
                        <div class="col-md-2">
                            <label><?php echo $this->__('First Name').'*'; ?></label>
                            <input type="text" id="other[extended][firstname]" name="other[extended][firstname]"
                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[extended][firstname]"); ?>"/>
                        </div>
                        <div class="col-md-2">
                            <label><?php echo $this->hasMobileTypePackage() ? $this->__('Last Name').' / '.$this->__('Company').'*' : $this->__('Last Name / Maiden Name'); ?></label>
                            <input type="text" id="other[extended][lastname]" name="other[extended][lastname]"
                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[extended][lastname]"); ?>"/>
                        </div>
                        <div class="col-md-2">
                            <label><?php echo $this->__('Title'); ?></label>
                            <?php $prefixOptions = $checkoutHelper->getPrefixOptions(); ?>
                            <select name="other[extended][prefix]" id="other[extended][prefix]" class="form-control input-sm ">
                                <option value=""><?php echo $this->__(''); ?></option>
                                <?php foreach ($prefixOptions as $option) : ?>
                                    <option value="<?php echo $option; ?>" <?php
                                    echo $checkoutData->getFieldValue("other[extended][prefix]") == $option ? "selected" : ""; ?>><?php echo $option; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <?php if ($this->hasFixed()) : ?>
                        <div class="clearfix form-row">
                            <div class="col-md-2">
                                <label><?php echo $this->__('Co-user First Name').'*'; ?></label>
                                <input type="text" id="other[extended][co_users][firstname]" name="other[extended][co_users][firstname]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[extended][co_users][firstname]"); ?>"/>
                            </div>
                            <div class="col-md-2">
                                <label><?php echo $this->__('Co-user Last Name / Maiden Name').'*'; ?></label>
                                <input type="text" id="other[extended][co_users][lastname]" name="other[extended][co_users][lastname]"
                                       class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[extended][co_users][lastname]"); ?>"/>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="clearfix form-row">
                        <div class="col-md-2">
                            <label><?php echo $this->__('Occupation').'*'; ?></label>
                            <input type="text" id="other[extended][occupation]" name="other[extended][occupation]"
                                   class="form-control input-sm" value="<?php echo $checkoutData->getFieldValue("other[extended][occupation]"); ?>"/>
                        </div>
                        <div class="col-md-2">
                            <label><?php echo $this->__('Keyword'); ?></label>
                            <select name="other[extended][keyword]" id="other[extended][keyword]" class="form-control input-sm ">
                                <option value=""><?php echo $this->__(''); ?></option>
                                <?php foreach ($keywordOptions as $option) : ?>
                                    <option value="<?php echo $option; ?>" <?php
                                    echo $checkoutData->getFieldValue("other[extended][keyword]") == $option ? "selected" : ""; ?>><?php echo $option; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>

                <?php if ($this->hasCable()) : ?>
                    <br/>
                    <div class="clearfix form-row no-margin-bottom">
                        <label class="checkbox-inline pull-left">
                            <input type="checkbox" id="other[extended][abreviated_name]" name="other[extended][abreviated_name]" />
                            <span><?php echo $this->__('Enter Abbreviated Name'); ?></span>
                        </label>
                    </div>
                <?php endif; ?>

                <br/>
                <div class="clearfix form-row no-margin-bottom">
                    <label class="checkbox-inline pull-left">
                        <input type="checkbox" id="other[extended][publish_address]" name="other[extended][publish_address]" />
                        <span><?php echo $this->__('Publish address'); ?></span>
                    </label>
                </div>

                <br/>
                <div class="form-row clearfix">
                    <div class="col-md-3">
                        <label><?php echo $this->__('Entry in the directories').' *'; ?></label>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-inline pull-left">
                                <input type="checkbox" id="other[extended][directories_entry][electronic]" name="other[extended][directories_entry][electronic]" <?php
                                echo $checkoutData->getFieldValue("other[extended][directories_entry][electronic]") == "on" ? "checked" : ""; ?> />
                                <span><?php echo $this->__('Electronic'); ?></span>
                            </label>
                            <label class="checkbox-inline pull-left">
                                <input type="checkbox" id="other[extended][directories_entry][printed]" name="other[extended][directories_entry][printed]" <?php
                                echo $checkoutData->getFieldValue("other[extended][directories_entry][printed]") == "on" ? "checked" : ""; ?> />
                                <span><?php echo $this->__('Printed'); ?></span>
                            </label>
                        </div>
                    </div>
                </div>

                <?php if ($this->hasMobileTypePackage() || $this->hasFixed()) : ?>
                    <div class="form-row clearfix">
                        <div class="col-md-3">
                            <label><?php echo $this->__('Information exchange'); ?></label>
                            <select name="other[extended][information_exchange]" id="other[extended][information_exchange]" class="form-control input-sm ">
                                <?php foreach ($infoExchangeOptions as $key => $option) : ?>
                                    <option value="<?php echo $key; ?>" <?php echo $checkoutData->getFieldValue("other[extended][information_exchange]") == $key
                                        ? "selected" : ""; ?>><?php echo $this->__($option); ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
            </div>

            <p>&nbsp;</p><p>&nbsp;</p>
            <h4 class="single-connection"><?php echo $this->__('Single connection detection'); ?></h4>
            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="other[single_connection][1]" name="other[single_connection]" value="1"
                        <?php echo in_array($checkoutData->getFieldValue("other[single_connection]"), [1, false], true) ? "checked" : "" ?>/>
                    <span><?php echo $this->__("No one"); ?></span>
                </label>
            </div>
            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="other[single_connection][2]" name="other[single_connection]" value="2"
                        <?php echo $checkoutData->getFieldValue("other[single_connection]") == 2 ? "checked" : "" ?>/>
                    <span><?php echo $this->__("Full destination number"); ?></span>
                </label>
            </div>
            <div class="clearfix form-row">
                <label class="radio-inline">
                    <input type="radio" id="other[single_connection][3]" name="other[single_connection]" value="3"
                        <?php echo $checkoutData->getFieldValue("other[single_connection]") == 3 ? "checked" : "" ?>/>
                    <span><?php echo $this->__("Shortened destination number"); ?></span>
                </label>
            </div>

            <?php if ($this->hasCable()) : ?>
                <p>&nbsp;</p><p>&nbsp;</p>
                <h4><?php echo $this->__('Connection data'); ?></h4>
                <div class="form-row clearfix">
                    <div class="col-md-9">
                        <div class="radio-wrapper">
                            <label class="radio-inline pull-left">
                                <input type="radio" id="other[connection_data][1]" name="other[connection_data]" <?php
                                echo $checkoutData->getFieldValue("other[connection_data]") == 1 ? "checked" : ""; ?> value="1" />
                                <span><?php echo $this->__('Save (legal limit)'); ?></span>
                            </label>
                            <label class="radio-inline pull-left"></label>
                            <label class="radio-inline pull-left">
                                <input type="radio" id="other[connection_data][2]" name="other[connection_data]" <?php
                                echo $checkoutData->getFieldValue("other[connection_data]") == 2 ? "checked" : ""; ?> value="2" />
                                <span><?php echo $this->__('Clear after accounting'); ?></span>
                            </label>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->hasFixed()) : ?>
                <p>&nbsp;</p><p>&nbsp;</p>
                <h4><?php echo $this->__('Connection options'); ?></h4>
                <div class="clearfix form-row">
                    <div class="col-sm-9 checkbox-wrapper">
                        <div class="clearfix form-row no-margin-bottom">
                            <label class="checkbox-inline pull-left">
                                <input type="checkbox" id="other[conn_options][foreign_lock]"
                                       name="other[conn_options][foreign_lock]" <?php echo $checkoutData->getFieldValue("other[conn_options][foreign_lock]") !== false
                                    ? "checked" : "" ?>/>
                                <span><?php echo $this->__('Foreign lock'); ?></span>
                            </label>
                        </div>
                        <div class="clearfix form-row no-margin-bottom">
                            <label class="checkbox-inline pull-left">
                                <input type="checkbox" id="other[conn_options][barrier]"
                                       name="other[conn_options][barrier]" <?php echo $checkoutData->getFieldValue("other[conn_options][barrier]") !== false
                                    ? "checked" : "" ?>/>
                                <span><?php echo $this->__('0190 / 0900-Barrier'); ?></span>
                            </label>
                        </div>
                        <div class="clearfix form-row no-margin-bottom">
                            <label class="checkbox-inline pull-left">
                                <input type="checkbox" id="other[conn_options][clir]"
                                       name="other[conn_options][clir]" <?php echo $checkoutData->getFieldValue("other[conn_options][clir]") !== false
                                    ? "checked" : "" ?>/>
                                <span><?php echo $this->__('CLIR'); ?></span>
                            </label>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <p>&nbsp;</p><p>&nbsp;</p>
            <h4><?php echo $this->__('Remarks'); ?></h4>
            <br/>
            <div class="clearfix form-row">
                <div class="col-md-10">
                    <div class="col-md-7 padding-right-30">
                        <label for="other[remarks][content]"><?php echo $this->__('Remarks (max 150 characters)'); ?></label>
                        <textarea id="other[remarks][content]" name="other[remarks][content]"
                                  class="form-control textarea other-install-instruction-textarea">
                        <?php echo $checkoutData->getFieldValue("other[remarks][content]"); ?></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <hr class="hr-over"/>
        <?php if (!$this->getCustomerSession()->getOrderEdit()): ?>
            <div class="row submit">
                <div class="col-md-11 clearfix">
                    <button type="submit" data-step="saveOther" class="btn btn-info pull-right step"><?php echo $this->__('Next step'); ?></button>
                </div>
            </div>
        <?php endif; ?>
    </form>
</div>

<script>
    <?php // refactor the [1] or [2] from the below code;  ?>
    //<![CDATA[
    // Save delivery address form validation
    form.saveOther = new VarienForm('saveOther', true);
    //]]>

    jQuery(document).ready(function () {
        // Event callbacks definition
        jQuery('[name="other[phonebook_choice]"]').click(function(e){
            togglePhonebookChoices(jQuery(e.target));
        });

        // If no checkout data is present for this step, handle preselected elements
        <?php if (!$checkoutData->hasCheckoutData()) : ?>
            jQuery('[id="other[extended][directories_entry][electronic]]"]').prop('checked', true);

            <?php if ($this->getHasStudentDiscount() || $this->hasCableOrFixedTypePackage()) : ?>
                jQuery('[id="other[extended][directories_entry][printed]"]').prop('checked', true);
            <?php endif; ?>

            jQuery('[id="other[phonebook_choice][0]"]').trigger('click');

            if (jQuery('[id="other[connection_data][1]"]').length > 0) {
                jQuery('[id="other[connection_data][1]"]').prop('checked', true);
            }
        <?php endif; ?>

        <?php if (($choice = $checkoutData->getFieldValue('other[phonebook_choice]')) !== false): ?>
            jQuery('[id="other[phonebook_choice][<?php echo $choice ?>]"]').trigger('click');
        <?php endif; ?>
    });

    function togglePhonebookChoices(element) {
        hidePhonebookChoiceDependentBlocks(element);

        jQuery('.phonebook-choice.choice-' + element.val()).removeClass('hidden');
        checkout.setCheckoutContainerValidationRules(jQuery('.phonebook-choice.choice-' + element.val()));
    }

    function hidePhonebookChoiceDependentBlocks(element) {
        jQuery('.phonebook-choice').addClass('hidden');
        checkout.removeCheckoutContainerValidationRules(jQuery('.phonebook-choice'));
    }

    function handlePhonebookEntries() {
        var phoneBookLimit = <?php echo $this->getHasComfortConnection() ? '3' : '1' ?>;

        for (var i = 0; i<phoneBookLimit; i++) {
            var prefix = jQuery('[id="provider[phone_transfer_list][telephone_prefix][' + i + ']"]').val() ? jQuery('[id="provider[phone_transfer_list][telephone_prefix][' + i + ']"]').val() : '-';
            var numbersArray = [''];

            jQuery('[id="other[extended][phone_entries][' + i + '][prefix]"]').html(prefix);
            jQuery('[id="other[extended][phone_entries][' + i + '][prefix][hidden]"]').val(prefix);

            if (jQuery('[id="provider[no_phones_transfer]"]').val() != '3' && jQuery('[name="provider[change_provider]"]:checked').val() != '0') {
                <?php if ($this->hasCable()) : ?>
                    numbersArray.push(jQuery('[id="provider[phone_transfer_list][telephone][0]"]').val());
                <?php elseif ($this->hasFixed()) : ?>
                    jQuery('[class="provider[prefix_transfer]"').each(function () {
                        numbersArray.push(jQuery(this).val());
                    });
                <?php endif; ?>
            }
            numbersArray.push(Translator.translate('New'));

            for (var key in numbersArray) {
                if (numbersArray.hasOwnProperty(key)) {
                    var option = jQuery('<option></option>')
                        .val(numbersArray[key])
                        .html(numbersArray[key]);

                    if (numbersArray[key] == "") {
                        option.prop('hidden', true);
                    }

                    jQuery('[id="other[extended][phone_entries][' + i + '][telephone_no]"]').append(option);
                }
            }

            if (jQuery('[id="provider[no_phones_transfer]"]').val() == '3' || jQuery('[name="provider[change_provider]"]:checked').val() == '0') {
                jQuery('[id="other[extended][phone_entries][' + i + '][telephone_no]"]').val(numbersArray.length - 1);
            }
        }
    }

    function fillSaveOtherData () {
        handlePhonebookEntries();
    }
</script>
