<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
    $priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>
<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-8">
            <div class="item-title">
                {{ name }}
            </div>
            <div class="item-desc in-stock">
                {{#if initial_period }}
                    {{initial_period}}
                {{else}}
                    <?php echo Dyna_Configurator_Model_Mobile::DEFAULT_24_MONTHS_INITIAL_PERIOD ?>
                {{/if}}
                <?php echo " ". $this->__("months minimum term") ?>
            </div>
        </div>
        <div class="col-xs-1 marked-selected-container">
            <span class="is-marked-selected hidden">U</span>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-1">
            <div>
                <div>
                    <span>{{ money maf }}</span>
                </div>
            </div>
        </div>
        <div class="item-price col-xs-1">
            <div class="right">
                {{#if rel_promotional_maf}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                    <span>
                        <span class="normal-price">{{ money rel_promotional_maf }}</span>
                    </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay; ?>">
                    <span>
                        <span class="tax-price">{{ money rel_promotional_maf_with_tax }}</span>
                    </span>
                </div>
                {{else}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                    <span>
                        <span class="normal-price">{{ money rel_regular_maf }}</span>
                    </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay?>">
                    <span>
                        <span class="tax-price">{{ money rel_regular_maf_with_tax }}</span>
                    </span>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
