# File Managed by Puppet
server {
    listen <%= @port %>;
    root  <%= @docroot %>;
    server_name <%= @name %> <%= @serveraliases %>;

    access_log /var/log/nginx/<%= @name %>_access.log;
    error_log  /var/log/nginx/<%= @name %>_error.log;

    location /app/                { deny all; }
    location /includes/           { deny all; }
    location /lib/                { deny all; }
    location /media/downloadable/ { deny all; }
    location /pkginfo/            { deny all; }
    location /report/config.xml   { deny all; }
    location /var/                { deny all; }
    location /shell/              { deny all; }

    location / {
        index index.html index.php; ## Allow a static html file to be shown first
        try_files $uri $uri/ @handler; ## If missing pass the URI to Magento's front handler
        expires 30d; ## Assume all files are cachable
    }
    location /. {
        return 404;
    }
    location /rest {
        rewrite ^/rest(.*) /restapi.php?route=$1 last;
    }
    location ~* \.(js|css|png|jpg|jpeg|gif|ico|woff|ttf|eot|svg)(\?v=.*)?$ {
        expires max;
        log_not_found off;
        add_header Pragma public;
        add_header Cache-Control "public";
    }
    location @handler {
        rewrite / /index.php;
    }
    location ~* .php/ {
        rewrite ^(.*.php)/ $1 last;
    }
    ## Execute PHP scripts
    location ~* .php$ {
        fastcgi_pass   unix:/run/php/php7.0-fpm.sock;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_send_timeout 1800;
        fastcgi_read_timeout 1800;
        fastcgi_connect_timeout 1800;
        fastcgi_param MAGE_RUN_CODE telesales;
        fastcgi_param MAGE_RUN_TYPE <%= @template_options["mage_run_type"] %>;
        fastcgi_param MAGE_ENV_CODE <%= @template_options["mage_env_code"] %>;
        include fastcgi_params;
    }

    error_page 599 =503 @maintenance;
    location @maintenance {
        if ($request_method ~* GET) {
            rewrite ^(.*)$ /maintenance.html break;
        }
        return 503;
    }
}
