<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

    $priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
    $priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>

<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-9">
            <div class="item-title">{{ name }}</div>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-maf col-xs-1">
            {{#if maf}}
            <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                        <span>
                            <span class="normal-price">{{ money maf }}</span>
                        </span>
            </div>
            <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay; ?>">
                        <span>
                            <span class="tax-price">{{ money maf }}</span>
                        </span>
            </div>
            {{/if}}
        </div>
        <div class="item-price col-xs-1">
            {{#compare price null operator='!='}}
            <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax price">
                <div class="top">
                    <span><?php echo $this->__('from') ?>&nbsp;{{ money price }}&nbsp;<?php echo $this->__('to') ?></span>
                </div>
                <div class="per-month">
                                <span>
                                    <span class="normal-price">{{ money price }}</span>
                                </span>
                </div>
            </div>
            <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price">
                <div class="top">
                    <span><?php echo $this->__('from') ?>&nbsp;{{ money price_with_tax }}&nbsp;<?php echo $this->__('to') ?></span>
                </div>
                <div class="per-month">
                                <span>
                                    <span class="tax-price">{{ money price_with_tax }}</span>
                                </span>
                </div>
            </div>
            {{/compare}}
        </div>
    </div>
</div>
