<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
    $priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>


<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-10">
            <div class="item-title">{{ name }}</div>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-1">
            {{#if promotional_maf}}
            <div style="<?php echo $priceWithoutTaxDisplay;?>" class="excl-vat-tax price right">
                <div class="top">
                    <span><?php echo $this->__('from') ?>&nbsp;{{ money regular_maf }}&nbsp;<?php echo $this->__('to') ?></span>
                </div>
                <div class="per-month">
                    <span>
                        <span class="normal-price">{{ money promotional_maf }}</span><span class="interval"></span>
                    </span>
                </div>
            </div>
            <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price right">
                <div class="top">
                    <span><?php echo $this->__('from') ?>&nbsp;{{ money regular_maf }}&nbsp;<?php echo $this->__('to') ?></span>
                </div>
                <div class="per-month">
                        <span>
                            <span class="tax-price">{{ money promotional_maf_with_tax }}</span>
                        </span>
                </div>
            </div>
            {{ else }}
            <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax price right">
                <div class="top">
                    <span>&nbsp;</span>
                </div>
                <div class="per-month">
                        <span>
                            <span class="normal-price">{{ money regular_maf }}</span>
                        </span>
                </div>
            </div>
            <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price right">
                <div class="top">
                    <span>&nbsp;</span>
                </div>
                <div class="per-month">
                        <span>
                            <span class="tax-price">{{ money regular_maf_with_tax }}</span>
                        </span>
                </div>
            </div>
            {{/if}}

            <div class="price right price-for-device big-screen" style="line-height: 1em; margin-right: 20px;">
                {{#if rel_promotional_maf}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                <span>
                    <span class="normal-price">{{ money rel_promotional_maf }}</span>
                </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay; ?>">
                <span>
                    <span class="tax-price">{{ money rel_promotional_maf_with_tax }}</span>
                </span>
                </div>
                {{else}}
                <div class="excl-vat-tax per-month" style="<?php echo $priceWithoutTaxDisplay; ?>">
                <span>
                    <span class="normal-price">{{ money rel_regular_maf }}</span>
                </span>
                </div>
                <div class="incl-vat-tax per-month" style="<?php echo $priceWithTaxDisplay?>">
                <span>
                    <span class="tax-price">{{ money rel_regular_maf_with_tax }}</span>
                </span>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
