<?php
$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
?>

<div class="sticker">
    <div id="soho-toggle" class="toggle-container soho-toggle" data-state="<?php echo($isSoho) ? true: false ?>">
        <div class="toggle-label off-state">
            <label for="advanced-search" onclick="customerDe.setBusinessState(); "><?php echo $this->__("Private") ?></label>
        </div>
        <div class="switch">
            <div id="tog" class="toggle-button <?php echo($isSoho) ? 'on-state': 'off-state' ?> " onclick="customerDe.setBusinessState()"><span class="bullet"> </span></div>
        </div>
        <div class="toggle-label off-state">
            <label for="advanced-search" onclick="customerDe.setBusinessState();"><?php echo $this->__("Business") ?></label>
        </div>
    </div>

    <div class="clearfix row">
        <div class="cart_right_expanded col-md-9 col-xs-8" style="max-height: 630px; overflow-y: auto; position: relative;">
            <h2 class="col-title">
                <span class="cart-icon"> </span>
                <?php echo $this->__("Shopping cart"); ?>
            </h2>
        </div>
        <div class="col-md-3 col-xs-4" style="position: relative;" id="right-panel-cart-menu">
            <div class="menu-expand full">
                <ul>
                    <li class="icons save-and-send">
                        <a onclick="showSaveCartModal()"><?php echo $this->__('Save & Send') ?></a>
                    </li>
                    <li class="icons delete">
                        <a onclick="showCancelCartModal();"><?php echo $this->__('Delete all packages') ?></a>
                    </li>
                </ul>
            </div>
            <div class="drop-menu pull-right red-menu dots-menu" onclick="switchPackageMenu(event, this)" style="margin-top:0 !important;">
                <div class="menu red"></div>
            </div>
        </div>
    </div>


    <?php
    $packages = $this->getQuote()->getPackages();
    $hasOnePackage = (bool) count($packages);
    ?>
    <div class="relative" id="cart-spinner-wrapper">
        <div id="cart-spinner" class="cart-spinner hide">
            <p><img src="<?php echo $this->getSkinUrl('images/spinner.gif'); ?>" alt=""></p>
        </div>
        <div class="buttons-container">
            <div id="show-packages" class="btn btn-default btn-block shadow-grey cursor<?php echo !$hasOnePackage?' hide':''; ?>">
                <?php echo $this->__("+ Add package"); ?>
            </div>
            <div id="package-types" class="<?php echo $hasOnePackage?' hide':''; ?>">
                <div class="btn btn-default btn-block no-cursor"><?php echo $this->__("Mobilfunk"); ?></div>
                <div class="btn btn-default btn-xs btn-block" data-target="mobile"
                     onclick="sidebar.initConfigurator(this)">- <?php echo $this->__("Deals with contract"); ?></div>
                <div class="btn btn-default btn-xs btn-block" data-target="prepaid"
                     onclick="sidebar.initConfigurator(this)">- <?php echo $this->__("Prepaid/CallYa"); ?></div>

                <div class="btn btn-default btn-block no-cursor"><?php echo $this->__("Internet & Telefon"); ?></div>
                <div class="btn btn-default btn-xs btn-block requires-serviceability"
                     data-target="cable_internet_phone"
                     onclick="sidebar.initConfigurator(this)">- <?php echo $this->__("Kabel"); ?></div>
                <div class="btn btn-default btn-xs btn-block requires-serviceability"
                     data-target="dsl"
                     onclick="sidebar.initConfigurator(this)">- <?php echo $this->__("DSL"); ?></div>
                <div class="btn btn-default btn-xs btn-block requires-serviceability" data-target="lte"
                     onclick="sidebar.initConfigurator(this)">- <?php echo $this->__("LTE"); ?></div>

                <div class="btn btn-default btn-block requires-serviceability cursor" data-target="cable_tv"
                     onclick="sidebar.initConfigurator(this)"><?php echo $this->__("Kabel TV"); ?></div>
                <div class="btn btn-default btn-block requires-serviceability cursor" data-target="cable_independent"
                     onclick="sidebar.initConfigurator(this)"><?php echo $this->__("Cable Independent Services"); ?></div>

                <div class="btn btn-default btn-block no-cursor"><?php echo $this->__("Bundle"); ?></div>
                <div class="btn btn-default btn-xs btn-block requires-serviceability" data-target="hardware"
                     onclick="sidebar.initConfigurator(this)">- <?php echo $this->__("Red One"); ?></div>
                <div class="btn btn-default btn-xs btn-block requires-serviceability" data-target="hardware"
                     onclick="sidebar.initConfigurator(this)">
                    - <?php echo $this->__("Kabel Internet & Telefon + TV"); ?></div>
            </div>
        </div>
        <?php echo $this->getLayout()->createBlock('page/html')->setActivePackageId($this->getActivePackageId())->setTemplate('checkout/cart/partials/package_block.phtml')->toHtml(); ?>
    </div>
    <?php echo Mage::getSingleton('core/layout')->createBlock('checkout/cart_totals')->setTemplate('checkout/cart/totals.phtml')->toHtml();?>
</div>

<?php
/*********************************************************************************************************************
 * INIT CONFIGURATOR JS
 *********************************************************************************************************************/
?>

<script type="text/javascript">
    Handlebars.registerHelper("debug", function(optionalValue) {
        console.log("called handlebars debugger ====================");
        console.log(this);

        if (optionalValue) {
            console.log(optionalValue);
        }

        console.log("eof handlebars debugger ====================");
    });


    jQuery(document).ready(function(){
        jQuery(document).on("change", ".filter-options",function(){
            var optionSelected = jQuery("option:selected", this);
            configurator.filter(optionSelected);
        })
    });


    var showOnlyOnePackage = <?php echo (int)Omnius_Checkout_Helper_Data::SHOW_ONLY_ONE_PACKAGE; ?>;
    window.consumerIdentifier = '<?php echo Mage::helper('omnius_configurator/attribute')->getSubscriptionIdentifier(); ?>';
    <?php $products = $this->getQuote()->getPackageProductIds()?>
    function initConfigurator(type, packageId, saleType, ctn, current_products, create_package, migration, callBack) {
        if (migration == undefined) {
            migration = "";
        }

        if (type == undefined) {
            if (jQuery('.enlarge.right-direction').hasClass('expanded')) {
                jQuery('.enlarge.right-direction').hide().trigger('click');
            }
            return;
        }
        if (!packageId) {
            var packageCTN = ctn;

            // check if package has more than one ctn
            var hasManyCtns = Boolean(ctn && ctn.match(/,/g));
            if (hasManyCtns) {
                var ctns = ctn.split(',');
                // keep last package to show as open
                packageCTN = ctns.pop();
                var len = ctns.length;

                for (var i = 0; i < len; ++i) {
                    // create dummy package line that will be populated later with an id
                    createCartPackageLine(type, saleType, ctns[i], true);
                }
            }

            if (create_package) {
                var activeProducts = '';
            } else {
                var activeProducts = '<?php echo implode(',', $products)?>';
            }

            var clone = createCartPackageLine(type, saleType, packageCTN, true, current_products);
            /** Uncomment this in order to not load the configurator when creating a new package */
            //return;

        } else {
            var toSearch = '[data-package-id="{0}"]'.format(packageId);
            var activeProducts = jQuery(toSearch).children('.block-container').data('active-products');
        }
        window.setPageLoadingState && window.setPageLoadingState(true);
        var websiteId = jQuery('#current_website_id').val();
        var dealerGroups = jQuery('#dealer_group_ids').val();

        var dfInit = jQuery.ajax(
            'configurator/init/' + type,
            {
                type: 'POST',
                data: {
                    'packageId': packageId,
                    /* @todo switch lines after implementation */
                    'saleType': saleType,
                    'ctn': ctn,
                    'current_products': current_products,
                    'migration': migration
                }
            }
        );

        var dfOptions = jQuery.ajax(
            'configurator/init/getConfiguratorOptions',
            {
                data: {
                    'type': type,
                    'dealer_groups': dealerGroups,
                    'website_id': websiteId,
                    'products': activeProducts ? activeProducts : null,
                    'customer_type': '1'
                }
            }
        );

        var dfPrices = jQuery.ajax(
            'configurator/init/getPrices',
            {
                data: {
                    'website_id': websiteId,
                    'type': saleType == 'acquisitie' ? 0 : 1,
                    'products': activeProducts ? activeProducts : null
                }
            }
        );

        //TODO: Refactor this to avoid replacing the same items in the current configurator
        //Temporarily removed because it doesn't persist the items fetched at the first call.
        var needsProducts = true;
        var dfProducts = jQuery.ajax(
            'configurator/init/getProducts',
            {
                data: {
                    'website_id': websiteId,
                    'dealer_groups': jQuery('#dealer_group_ids').val(),
                    'customer_type': '1',
                    'package_type': type
                }
            }
        );

        var request = jQuery.when(
            dfInit,
            dfOptions,
            dfPrices,
            dfProducts
        );

        request.done(function (cInit, cOptions, cPrices, products) {

            if (needsProducts) {
                window.allProducts = products;
            } else {
                products = window.allProducts;
            }

            for (var propertyKey in products[0]) {
                if (products[0].hasOwnProperty(propertyKey)) {
                    window[propertyKey] = products[0][propertyKey];
                }
            }

            window.families = (products[0]['fam_' + type] != undefined && products[0]['fam_' + type]['items'] != undefined)
                    ? products[0]['fam_' + type]['items']
                    : [];
            window.products = products[0]['prod_' + type];

            /** might be needed **/
            //var customerCacheData = customer.cache.get('customer/<?php /* echo $customerSession->getCustomer()->getId() */ ?>');
            var customerCacheData = null;
            var filter;
            if (customerCacheData
                && customerCacheData.hasOwnProperty('customerData')
                && customerCacheData.customerData.is_business == "0"
                && products[0].hasOwnProperty('filter_consumer_' + type)
            ) {
                filter = 'filter_consumer_';
                //window.permanentFilters = {'subscription': {'<?php echo Dyna_Catalog_Model_Product::CATALOG_CONSUMER_TYPE; ?>': window.consumerIdentifier}};
            } else {
                filter = 'filter_';
                window.permanentFilters = {};
            }
            window.permanentFilters = {};
            window.filters = products[0][filter + type];

            var data = jQuery.extend(cInit[0], cOptions[0], cPrices[0]);

            <?php if (Mage::getSingleton('customer/session')->getOrderEdit()) : ?>
            // ############# START ORDER EDIT #############
                <?php
                    $prevProducts = array();
                    if (Mage::getSingleton('checkout/session')->getPreviousPackages()) {
                        foreach (Mage::getSingleton('checkout/session')->getPreviousPackages() as $packageId => $packageData) {
                            if (isset($packageData['items']) && is_array($packageData['items'])) {
                                foreach ($packageData['items'] as $items) {
                                    foreach ($items as $item) {
                                        $prevProducts[] = $item['product_id'];
                                    }
                                }
                            }
                        }
                    }
                ?>

                var tempAll = [];

                // TODO: map new package subtypes and determine if logic below is needed
                if (window.products.device != undefined) {
                    window.products.device.each(function (item) {
                        tempAll[item.entity_id] = item.entity_id;
                    });
                }
                if (window.products.accessoire != undefined) {
                    window.products.accessoire.each(function (item) {
                        tempAll[item.entity_id] = item.entity_id;
                    });
                }
                if (window.products.subscription != undefined) {
                    window.products.subscription.each(function (item) {
                        tempAll[item.entity_id] = item.entity_id;
                    });
                }
                if (window.products.addon != undefined) {
                    window.products.addon = jQuery.grep(window.products.addon, function (item) {
                        tempAll[item.entity_id] = item.entity_id;
                    });
                }

                var pr = [];
                var pr1 = <?php echo json_encode($prevProducts); ?>;
                jQuery.each(pr1, function (key, el) {
                    if (undefined == tempAll[el]) {
                        pr.push(el);
                    }
                });

                var previousProducts = {};
                var previousProducts1 = <?php echo json_encode(Mage::getModel('dyna_configurator/catalog')->parseAttributesDisabled($prevProducts)); ?>;
                jQuery.each(previousProducts1, function (key, pTypes) {
                    previousProducts[key] = [];
                    jQuery.each(pTypes, function (key2, el) {
                        if (undefined == tempAll[el.entity_id]) {
                            previousProducts[key].push(el);
                        }
                    });
                });

                if (previousProducts.device != undefined) {
                    jQuery.merge(window.products.device, previousProducts.device);
                }

                if (previousProducts.accessoire != undefined) {
                    jQuery.merge(window.products.accessoire, previousProducts.accessoire);
                }

                if (previousProducts.subscription != undefined) {
                    jQuery.merge(window.products.subscription, previousProducts.subscription);
                }

                if (previousProducts.addon != undefined) {
                    jQuery.merge(window.products.addon, previousProducts.addon);
                }
            // ############# END ORDER EDIT #############
            <?php endif; ?>

            callbackInit(data, clone, type);

            window.setPageLoadingState && window.setPageLoadingState(false);
            triggerConfiguratorEvent('configurator.init', '');

            // Update left side sections if they are complete or not
            var sections;
            if (cInit[0].hasOwnProperty('incomplete_sections')) {
                sections = cInit[0]['incomplete_sections'];
            } else {
                sections = [];
            }
            if (typeof configurator != "undefined") {
                configurator.showWarnings(sections);
            }

            if (typeof callBack == "function") {
                callBack();
            }

            // @todo add the campaign marks on the campaign products
            return data;
        });
    }
</script>
