<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>

<script type="text/javascript">
    <?php if (!$this->getIsCheckout() ) : ?>
        var templates = {};
        <?php
        /** @var Omnius_Configurator_Block_Wrapper $wrapper */
        $wrapper = Mage::getBlockSingleton('omnius_configurator/wrapper')
            ->setFormat('json');
        $partials = array(); ?>
        <?php foreach(Dyna_Catalog_Model_Type::getSections() as $type):?>
            <?php
                $templates = Mage::getSingleton('dyna_configurator/template')->getAllTemplates($type);
                $wrapper->setTemplates($templates);
                // collect partials
                $partials[$type] = $templates['partials'];
                $html = trim($wrapper->setType($type)->toHtml());
            ?>
            templates['<?php echo $type; ?>'] = <?php echo $html;?>;
        <?php endforeach;?>
        templates['partials'] = <?php echo json_encode($partials); ?>;
    <?php endif; ?>
</script>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<input type="hidden" id="current_website_code" value="<?php echo Mage::app()->getWebsite()->getCode() ?>"/>
<input type="hidden" id="current_website_id" value="<?php echo Mage::helper('superorder')->shouldEmulateStore(Mage::app()->getWebsite()->getId()); ?>"/>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container col3-layout">
            <div class="main">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <div class="col-wrapper">
                    <div class="col-main">
                        <?php echo $this->getChildHtml('global_messages') ?>
                        <?php echo $this->getChildHtml('content') ?>
                    </div>
                    <div class="col-left sidebar bigView<?php if(!Mage::getSingleton('customer/session')->getCustomer() || !Mage::getSingleton('customer/session')->getCustomer()->getId()): ?> guest<?php endif; ?>">
                        <button class="enlargeSearch right-direction contracted">&nbsp;</button><span class="icon-person-search icon-person-search-reduced">&nbsp</span><?php echo $this->getChildHtml('left') ?>
                    </div>
                </div>
                <div class="col-right sidebar">
                    <button class="enlarge left-direction">&nbsp;</button>
                    <?php echo $this->getChildHtml('right') ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/footer-elements.phtml')->toHtml() ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>

<?php echo $this->getChildHtml('modals') ?>

</body>
</html>
