<p class="box-description">
    <span>
        <?php echo Mage::helper('omnius_customer')->__('Current'); ?>:
    </span>
{{#each products}}
<b>{{name}}, </b>
{{/each}}
</p>
{{#each products}}
    <div class="row package-product group_type_{{group_type}}">
        <div class="col-sm-9 section package-details name-row">{{name}}</div>
        <div class="col-sm-3 right-align price-row">{{money maf}}</div>
        <div class="col-sm-3 right-align price-row">{{money price}}</div>
    </div>
{{/each}}