<div class="col-md-12 family" data-family-id="{{ entity_id }}">
    <div class="family-header">
        <span class="family-name">{{ name }}</span>
    </div>
    <div class="family-content col-md-12">
        {{#each this.products}}
            {{#if requires_serial}}
                {{> hardware_family_serialnumber_item this}}
            {{else}}
                {{> hardware_selected_item this}}
            {{/if}}
        {{else}}
            <p><?php echo $this->__('No products available') ?></p>
        {{/each}}
    </div>
</div>
