<div class="col-md-4 pull-left">
    <strong><?php echo $this->__('Discounts');?></strong>
    <div class="discounts-block">
    <?php
    $hasPromoRulesApplied = false;
    $conditions_array = array();
    foreach(Mage::helper('pricerules')->findApplicablePromoRules() as $rule) :
        $discount = 0;
        if($rule->getIsCurrentlyApplied()) {
            $checked = ' checked="checked"';
            $hasPromoRulesApplied = true;
        } else {
            $checked = '';
        }

        if ($rule->getSimpleAction() == 'ampromo_items'){
            $promoSku = $rule->getPromoSku();
            $productsArray = explode(',', $promoSku);
            $totalProducts = 0;
            foreach ($productsArray as $sku)
            {
                $realSku = trim($sku);
                $product = Mage::getModel('catalog/product')->reset();
                $product->load($product->getIdBySku($sku)); // we have to load each product individually
                $totalProducts += (float) $product->getDiscountMaf();
            }

            $quote = Mage::getSingleton('checkout/session')->getQuote();
            $items = $quote->getAllItems();
            $qty = 0;

            foreach($items as $item){
                if ($item->getPackageId() == $quote->getActivePackageId()){
                    $qty = $item->getQty();
                    break;
                }
            }

            if ($qty > 0){
                $discount = $rule->getDiscountAmount() * $qty * $totalProducts;
            }else {
                $discount = 0;
            }

        }
    ?>
        <p class="rules_show" id="rule-<?php echo $rule->getId();?>"><label class="radio-inline"><input type="radio" value="<?php echo $rule->getId()?>" name="rule"<?php echo $checked; ?>><?php echo $rule->getName();?></label></p>
    <?php endforeach;?>
    </div>
</div>
<?php $promoUrl = Mage::getUrl('pricerules/promo/addRule'); ?>
<div class="clearfix col-md-12">
    <?php if($hasPromoRulesApplied) : ?><button 
        class="btn pull-left btn-xs btn-default" 
        id="remove-promo-rules" 
        type="button" 
        onclick="applyPromoRule(true, '<?php echo $promoUrl; ?>')" 
        ><?php echo $this->__('Remove promo discounts') ?></button>
    <?php endif; ?>
    <button 
        class="btn pull-right btn-xs btn-info" 
        type="button" 
        onclick="applyPromoRule(false, '<?php echo $promoUrl; ?>')"
        ><?php echo $this->__('Apply') ?></button>
</div>
