/** Button styling **/

.btn-wrapper {
    padding-top: 16px;
    padding-right: 0;
    margin-right: 15px;
}

.btn-wrapper.telephone {
    margin-right: 0px;
}

.btn-addr-search {
    color: #fff;
    background-color: #6cc0dd;
    width: 100%;
    height: 32px;
    padding: 0;
    font-family: 'Vodafone Rg Bold', 'Vodafone Rg', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.btn-addr-search:hover, .btn-addr-search:focus {
    color: #FFF;
}

.btn-contact-details-add {
    width: auto;
    height: 100%;
}

.btn-contact-details-add img {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.btn-info {
    font-family: 'Arial Bold', 'Arial Regular', 'Arial', serif;
}

.margin-top-0 {
    margin-top: 0 !important;
}

/** Cart sections **/

#cart-top h1 {
    border-bottom: 1px solid #eee;
    font-size: 30px;
    color: #F00;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#cart-content {
    font: 12px Arial, Helvetica, sans-serif;
}

#cart-content .radio-wrapper-one-line, .radio-wrapper-multiple-line, .radio-wrapper, .checkbox-wrapper {
    display: block;
    padding-top: 5px;
}

#cart-content .radio-wrapper-one-line label {
    margin-right: 15px;
    margin-left: 0;
}

#cart-content .radio-wrapper-multiple-line label {
    margin-top: 0;
    margin-bottom: 0;
}

#cart-content .checkbox-no-margin {
    margin: 0;
}

#cart-content label {
    font-size: 11px;
    margin-bottom: 5px;
}

#cart-content label span {
    font-size: 12px;
    font-weight: normal;
}

#cart-content input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=submit], select, button, textarea {
    font-family: 'Arial Bold', 'Arial Regular', 'Arial', serif;
}

#cart-content input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], select, textarea {
    box-shadow: inset 0 1px 1px 0 #BCBCBC;
    -webkit-box-shadow: inset 0 1px 1px 0 #BCBCBC;
}

#cart-content .radio-schedule-container {
    padding: 5px;
    background-color: #e4e4e4;
    border: 1px solid #CCCCCC;
}

#cart-content h3 {
    line-height: 200%;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

#cart-content h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

#cart-content h1, #cart-content h2, #cart-content h3, #cart-content h4, #cart-content h5, #cart-content h6 {
    color: #333333 !important;
    font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
}

#cart-content .strong {
    font-weight: bold;
}

#cart-content .billing-address-details {
    margin-left: 20px;
    margin-top: 10px;
}

#cart-content .highlight {
    padding: 20px;
    border: 1px solid #CCCCCB;
    background-color: #EEEEEE;
}

#cart-content .other-address-container {
    padding: 20px;
    border: 1px solid #CCCCCB;
    background-color: #EEEEEE;
}

#cart-content #customer_service_address {
    max-width: 180px !important;
}

/** START saveBilling step **/

#cart-content #saveBilling .invoice-options {
    margin-top: 20px;
    margin-bottom: 10px;
}

#cart-content #saveBilling .single-connection {
    border-top: 1px solid #eee;
    line-height: 200%;
}

#cart-content #saveBilling .single-connection {
    border-top: 1px solid #eee;
    line-height: 200%;
}

/** END saveBilling step **/

/** START savePayment step **/

#cart-content #savePayment h4.border-top {
    border-top: 1px solid #eee;
    line-height: 200%;
}

/** END savePayment step **/

#cart-content .hr-under {
    margin-top: 5px;
    margin-bottom: 20px;
}

#cart-content .hr-over {
    margin-top: 40px;
    margin-bottom: 5px;
}

#cart-content .hr-between {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cart-content .radio-indent {
    padding-left: 21px;
}

#cart-content .specified-address p, #cart-content .specified-address-normal p {
    margin-bottom: 0;
}
#cart-content .specified-address p {
    font-weight: bold;
}
#cart-content .specified-address-normal p {
    font-weight: normal;
}


.radio-wrapper-one-line {
    position: relative;
}
.radio-wrapper-one-line .validation-advice {
    position: absolute;
    left: 0;
    bottom: -6px;
    min-width: 200px;
}
.col-left-button-wrapper {
    border-bottom: 1px solid #CCC;
    text-align: center;
    width: 60px;
}

.icon-person-search {
    width: 20px;
    height: 30px;
    font-size: 22px;
    line-height: 0;
    background: url("../images/de/person.png") no-repeat;
    background-size: 16px 20px;
    padding-left: 40px;
    margin: auto auto 15px;
    background-position-x: 15px;
    background-position-y: 1px;
}

.bigView .icon-person-search-reduced {
    display: none;
}

.smallView .icon-person-search-reduced {
    display: block;
}

/* OTHER CHECKOUT STEP*/

#cart-content .phonebook-entry-block, #cart-content .prev-conn-block {
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
}

#cart-content .phonebook-entry-block {
    padding: 5px 25px;
}

#cart-content .prev-conn-block {
    padding: 20px 25px;
}

#cart-content .phonebook-entry-block-nr {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #3d3d3d;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#cart-content .numbering-text-align {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
}

#cart-content .other-conn-location-textarea,
#cart-content .provider-comment-installer {
    height: 90px;
    box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
    -webkit-box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
}

#cart-content .other-install-instruction-textarea {
    height: 95px;
    box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
    -webkit-box-shadow: inset 0 1px 1px 0 #BCBCBC !important;
    font-family: 'Vodafone Rg Regular', 'Vodafone Rg', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    text-align: left;
    border-color: transparent;
    outline-style: none;
}

#cart-content .conn-periods-notification {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
}

#cart-content .conn-periods-notification span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#cart-content .conn-periods-notification span.icon-info-sign {
    background: url("../images/info-sign.png") no-repeat;
    height: 16px;
    width: 16px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: 'Arial Bold', 'Arial', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin-right: 2px;
}

#cart-content .date-element-wrapper {
    position: relative;
}

#cart-content .date-element-wrapper .date_icon_wrapper, #cart-content .date-element-wrapper .ui-datepicker-trigger {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    right: 30px;
}

#cart-content .date-element-wrapper .ui-datepicker-trigger {
    border: none;
}

#cart-content .date-element-wrapper.label-field-container .date_icon_wrapper, #cart-content .date-element-wrapper.label-field-container .ui-datepicker-trigger {
    top: 25px;
}

#cart-content .date-element-wrapper.date-field-icon-container .date_icon_wrapper, #cart-content .date-element-wrapper.date-field-icon-container .ui-datepicker-trigger {
    top: 17px;
}

#cart-content .date_icon_wrapper img, #cart-content .ui-datepicker-trigger img {
    width: 100%;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

#cart-content .date_icon_wrapper img:hover, #cart-content .ui-datepicker-trigger img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* END OTHER CHECKOUT STEP */

/* OVERVIEW CHECKOUT STEP */

#saveOrderOverview .customer-overview.col-md-12 {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#saveOrderOverview .overview-block {
    background: #f8f8f8;
    bordeR: solid 1px #e4e4e4;
    border-radius: 5px;
    font-family: 'Vodafone Rg Regular', 'Vodafone Rg', serif;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

#cart-content #saveOrderOverview .product-selection {
    border-top: 1px solid #eee;
    line-height: 200%;
    margin-bottom: 0;
}

#cart-content #saveOrderOverview h4.bank-details,
#cart-content #saveOrderOverview h4.address-details,
#cart-content #saveOrderOverview h4.marketing-details {
    border-top: 1px solid #eee;
    line-height: 100%;
    margin-bottom: 14px;
    padding-top: 10px;
}

#saveOrderOverview .overview-prices.col-md-3 {
    padding: 0 5px 0 25px;
}

#saveOrderOverview .overview-prices .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

#saveOrderOverview .overview-prices .align-right {
    float: right;
}

#saveOrderOverview .overview-block-title,
#saveOverview .overview-block-title {
    font-weight: 700;
    padding-bottom: 3px;
}

#saveOrderOverview .overview-block-title.bank-details-title,
#saveOrderOverview .overview-block-title.address-title {
    line-height: 15px;
}

#saveOrderOverview .overview-block-title.marketing-title {
    line-height: 18px;
}

#saveOrderOverview .marketing-info {
    line-height: 21px;
}

#saveOrderOverview .bank-overview.col-md-12 {
    padding: 15px 10px 10px 5px;
}

#saveOrderOverview .marketing-overview.col-md-12 {
    padding: 20px 10px 20px 5px;
}

#saveOrderOverview .products-overview.col-md-12 {
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#saveOrderOverview .address-overview p.small {
    margin: 0;
    height: 6px;
}

#saveOrderOverview .address-overview div.pin-address {
    background: url("../images/de/pin.png") no-repeat;
    min-height: 40px;
    width: 40px;
    background-size: 40px 40px;
    display: block;
    float: left;
}

#saveOrderOverview .address-overview div.address-details {
    display: inline-block;
    padding-left: 10px;
}

#saveOrderOverview .address-overview.col-md-12 {
    padding: 20px 10px 20px 0;
    line-height: 16px;
}

.checkout-continue-btn {
    width: 140px;
}

/*END OVERVIEW CHECKOUT STEP*/

/*VOICELOG CHECKOUT STEP*/
#saveOverview {
    font-family: 'Vodafone Rg Regular', 'Vodafone Rg', serif;
    font-size: 14px;
}

#saveOverview p.small-paragraph {
    margin: 0;
}

#saveOverview .products-overview.col-md-11,
#saveOverview .voicelog-overview.col-md-11,
#saveOverview .products-overview .col-md-8 {
    padding-left: 0;
}

#saveOverview .products-overview.col-md-11 {
    padding-bottom: 20px;
}

#saveOverview .overview-block-title {
    line-height: 20px;
}

#saveOverview .voicelog-terms .important-info {
    font-family: 'Vodafone Rg Bold', 'Vodafone Rg', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #363636;
}

#saveOverview .voicelog-terms {
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 5px;
    font-family: 'Vodafone Rg Regular', 'Vodafone Rg', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

#cart-content #saveOverview label.checkbox-inline {
    line-height: 22px;
    font-weight: inherit;
    font-size: 12px;
    margin-top: 15px;
    font-family: 'Arial Bold', 'Arial', serif;
    margin-bottom: 0;
}

#cart-content #saveOverview label.checkbox-inline input {
    margin-right: 15px;
}

#saveOverview .submit-buttons .col-md-6 {
    padding-left: 0;
}

#saveOverview .submit-buttons .col-md-3 {
    padding-right: 0;
}

#saveOverview .checked-terms-background {
    background-color: #f3fdf3;
}

/*END VOICELOG CHECKOUT STEP*/

#cart .bg-white.superorder_block {
    background-color: #F8F8F8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 42px 0;
    border-color: #D8D8D8;
}

#cart-top h1.confirmation {
    color: #E60000;
}

#order-confirmation-old-order-message {
    font-family: 'Arial Bold', 'Arial', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
}

#order-increment-id {
    font-family: 'Vodafone Rg Bold', 'Vodafone Rg', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    line-height: normal;
}

#cart-content .btn.btn-info.btn-goto-homepage {
    padding-top: 5px;
    font-family: 'Arial Bold', 'Arial', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

#cart-top {
    margin-right: 0;
}

.modal-title-processing {
    font-family: 'Vodafone Rg Regular', 'Vodafone Rg', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #FF0000;
    text-align: left;
    line-height: 25px;
}

.modal-block span {
    font-family: 'Arial Regular', 'Arial', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

#polling-modal .progress {
    height: 32px;
}

#polling-modal .progress-bar {
    background-color: #800080;
}

#polling-modal .modal-content {
    height: 300px;
    padding: 40px 50px 40px 50px;
}

/* GENERAL CHECKOUT CSS */

#cart-content select, #checkout-bank-generator select {
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 97% center;
    color: #333;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-right: 40px;
    min-width: 145px;
}

.conf-block .block-header span.is-marked-selected {
    font-family: "vficons-regular-webfont";
    margin-right: 5px;
    vertical-align: sub;
    margin-left: -3px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;
    color: #666666;
    font-size: 12px;
}

#cart-spinner-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 250px);
}

.btn.btn-default.btn-block.no-cursor {
    cursor: inherit;
}

#cart-content .bs-docs-section {
    margin-top: 50px;
}

.side-cart.active .content {
    max-height: 325px;
    overflow: auto;
}

#cart-spinner-wrapper .cart_packages {
    height: calc(100% - 90px);
}

#cart-content .show-for-no-phone-transfer {
    background-color: #f4f4f4;
    border: solid 1px #e3e3e3;
    height: 50px;
    padding-top: 15px;
}

#cart-content .show-for-no-phone-transfer .warning{
    background: url(../images/de/info.png) no-repeat;
    background-size: 18px 18px;
    width: 40px;
    height: 20px;
    float: left;
    display: inline-block;
    background-position-x: 15px;
}
#cart-content .show-for-no-phone-transfer .warning-text{
    float: left;
    padding-top: 3px;
}

/** Modals CSS **/
#customer-address-search .modal-body, #customer-address-search .modal-footer, #customer-address-search .modal-header {
    padding: 15px 25px;
}

#customer-address-search .modal-body {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#customer-address-search .modal-footer input {
    width: 25%;
}

.address-search-container .address-search-count {
    height: 40px;
    color: #51ABCC;
}

.address-search-container .address-search-item input[type=radio] {
    margin-top: -1px;
    vertical-align: middle;
}

.address-search-container .address-search-item {
    line-height: normal;
    padding: 5px 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
}

.address-search-container .address-search-item label {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: normal;
}

#checkout-bank-generator .modal-body, #checkout-bank-generator .modal-header {
    padding-left: 5px;
    padding-right: 5px;
}

#checkout-bank-generator .modal-footer {
    padding-left: 20px;
    padding-right: 20px;
}

#checkout-bank-generator .modal-header {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Arial Bold", "Arial", serif;
    color: #333333;
}

#checkout-bank-generator .modal-footer input, #checkout-offer-send .modal-footer input {
    width: 25%;
}

#checkout-offer-send .terms {
    width: auto;
    display: inline-block;
    margin: auto;
    height: auto
}

#checkout-offer-send .modal-header {
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: "Vodafone Rg Bold", serif;
    color: #666666;
}

#checkout-offer-send .modal-footer input {
    background-color: #9c2aa0;
}

.modal-body label {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Arial Bold", "Arial";
    margin-top: 10px;
}

/** End of Modals CSS **/

/** General use CSS **/

.no-margin-bottom, .no-margin-bottom * {
    margin-bottom: 0 !important;
}

.no-margin-top, .no-margin-top * {
    margin-top: 0 !important;
}

.no-margin-left, .no-margin-left * {
    margin-left: 0 !important;
}

.no-margin-right, .no-margin-right * {
    margin-right: 0 !important;
}

.no-margin, .no-margin * {
    margin: 0 !important;
}

.no-padding-bottom, .no-padding-bottom * {
    padding-bottom: 0 !important;
}

.no-padding-top, .no-padding-top * {
    padding-top: 0 !important;
}

.no-padding-left, .no-padding-left * {
    padding-left: 0 !important;
}

.no-padding-right, .no-padding-right * {
    padding-right: 0 !important;
}

.no-padding, .no-padding * {
    padding: 0 !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

/** End of General use CSS **/
