#config-wrapper .conf-block .conf-header-container {
    border-bottom: 1px solid red;
}

#config-wrapper .conf-block .conf-header-container h3 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 2px;
    line-height: 25px;
    text-align: left;
    font-family: "Vodafone Rg";
}

#config-wrapper .conf-block {
    margin-bottom: 5px;
}

#config-wrapper .conf-block.mobile-discounts-content {
    border: 0;
}

#config-wrapper .conf-block .panel-heading {
    padding: 7px 6px 0 6px;
}

#config-wrapper .conf-block .panel-title {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
}

#config-wrapper .conf-block a {
    text-decoration: none;
}

#config-wrapper .conf-block .counter {
    display: inline-block;
    padding: 3px 9px;
    background-color: #D2322D;
    color: white;
    border-radius: 10%;
    font-size: 15px;
    line-height: 22px;
}

#config-wrapper .conf-block .panel-heading .row {
    margin: 0 0 5px 0;
}

#config-wrapper .conf-block .row [class*="col-"] {
    padding-left: 0;
}

#config-wrapper .conf-block input[type="text"] {
    background-color: #ffffff;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    color: #CCCCCC;
    text-align: left;
    border-color: #E4E4E4;
    outline-style: none;
    border-radius: 4px;
    box-shadow: none;
    height: 26px;
}

#config-wrapper .conf-block select {
    width: 100%;
    height: 25px;
    font-family: vodafonerg-webfont;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

/*#config-wrapper .conf-block .panel-collapse, .content .panel-heading {
    background-color: #F8F8F8;
}*/

#config-wrapper .conf-block .panel-heading .results-number {
    color: #51ABCC;
    font: normal 400 12px 'Arial Regular', 'Arial';
}

#config-wrapper .conf-block .product-table {
    padding: 0 0 2px;

}

#config-wrapper .conf-block .panel-body-choice {
    padding: 5px 15px 0px 30px;
}

#config-wrapper .conf-block .product-table .item-row {
    font-size: 14px;
    border-top: 1px solid #CCCCCC;
    padding: 10px 0 14px 30px;
}

#config-wrapper .conf-block .option-products .item-row {
    padding: 15px 5px 15px 25px;
}

.option-products .item-price .per-month, .product-table .item-price .per-month {
    font-size: 14px;
}

#config-wrapper .conf-block .product-table .item-row.padding {
    padding: 15px 0px 15px 30px;
}

#config-wrapper .conf-block .product-table .item-row:last-child {
    border-bottom: 1px solid #CCCCCC;
}

#config-wrapper .conf-block .product-table {
    /* max-height: 100px; */
    overflow: hidden;
    overflow-y: auto;
}

#config-wrapper .conf-block .panel-body .item-title {
    font-family: "Vodafone Rg Bold", "Vodafone Rg";
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: left;
    line-height: normal;
}

#config-wrapper .conf-block .panel-body .item-price {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 18px
}

.cursor {
    cursor: pointer !important;
}
#config-wrapper .conf-block .item-row .in-stock {
    color: #008000;
    font-size: 12px;
}

#config-wrapper .conf-block .item-row .out-of-stock {
    color: #CC0000;
    font-size: 12px;
}

#config-wrapper .conf-block .panel-heading, .content .panel-body .item-row {
    cursor: pointer;
}

#config-wrapper .conf-block .panel-body-choice {
    background-color: white;
}

#config-wrapper .conf-block .promotions {
    padding: 15px 0px 15px 30px;
}

#config-wrapper .conf-block #section-discount h3 {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

.conf-block .no-item-message {
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
#config-wrapper #accessory-block .panel-body {
    padding: 0px;
}
#config-wrapper .label-purple {
background-color: #9C2AA0;
}

.conf-block .item-row.selected:not('.discount-item') {
    background-color:#DCEEF5;
}

.conf-block .item-row.mandatory-row {
    cursor: not-allowed;
}

.conf-block .product-table .item-row:hover {
    background-color: #C1C1C1;
}

.cart_right_expanded_packages .package-item-description-coupon {
    visibility:hidden;
}

.cart_packages .coupon.form-inline {
    visibility:hidden;
}
