<script id="left-sidebar-link-details" type="text/x-handlebars-template">
    <div id="link-details-360" class="customer-results-table customer-panel-table scrollable-y-table">
        <div class="col-title">
            <div class="table-title"><?php echo $this->__('Link details'); ?></div>
        </div>
        <div class="left-sidebar-additional-info">
            <div class="table-description">
                {{#compare linkedAccounts.length 0 operator="!="}}
                {{linkedAccounts.length}} <?php echo $this->__("Linked accounts") ?>
                {{else}}
                <?php echo $this->__("No linked accounts") ?>
                {{/compare}}
            </div>
        </div>
        <div class="col-md-12 row row-with-headers" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{current_customer.link_id}}">
            <div class="col-md-1">
                <button type="button" class="collapse-button-search buttons-trigger icon-not-linked">
                </button>
            </div>
            <div class="col-md-5 customer-details-name">
                <div class="col-md-7 names">
                    {{current_customer.first_name}}
                    {{current_customer.last_name}}
                </div>
                <div class="col-md-5 customer-icon-details">
                      <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                        <span class="triangle"></span>
                        {{current_customer.link_id}}
                      </span>
                    {{#compare current_customer.IsSoho "1" operator="=="}}
                    <span class="icon-soho-cust"></span>
                    {{else}}
                    <span class="icon-private-cust"></span>
                    {{/compare}}

                    {{#compare linkedAccounts.length 0 operator="!="}}
                    <span class="icon-linked"></span>
                    {{/compare}}
                </div>
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-1 customer-types">
                {{#compare  current_customer.KIAS '1' operator="=="}}
                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{/compare}}

                {{#compare  current_customer.KDG '1' operator="=="}}
                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                {{/compare}}

                {{#compare  current_customer.FN '1' operator="=="}}
                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{/compare}}
            </div>
        </div>
        <div class="col-md-12 row row-with-address" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{current_customer.link_id}}">
            <div class="col-md-1">
            </div>
            <div class="col-md-5 customer-details-content">
                {{current_customer.street}}
                {{current_customer.no}}
                {{current_customer.postal_code}}
                {{current_customer.city}}
            </div>
            <div class="col-md-2  customer-details-content">
                {{current_customer.birth_date}}
            </div>
            <div class="col-md-2  customer-details-content">
                {{#if current_customer.contact_number}}
                {{current_customer.contact_number}}
                {{else}}
                -
                {{/if}}
            </div>
            <div class="col-md-1 customer-types">
            </div>
        </div>
        <div class="col-md-12 customer-delimiter"></div>
        {{#if linkedAccounts}}
        {{#each linkedAccounts}}
        <div class="col-md-12 row row-with-headers collapse out potential-links-{{../current_customer.link_id}}">
            <div class="col-md-1">
                <span class="icon-not-linked"></span>
            </div>
            <div class="col-md-5 customer-details-name">
                <div class="col-md-7 names">
                    {{customer_data.Role.Person.FirstName}}
                    {{customer_data.Role.Person.FamilyName}}
                </div>
                <div class="col-md-5 customer-icon-details">
                    <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                        <span class="triangle"></span>
                        {{customer_data.Contact.ID}}
                    </span>
                    {{#compare customer_data.IsSoho "1" operator="=="}}
                    <span class="icon-soho-cust"></span>
                    {{else}}
                    <span class="icon-private-cust"></span>
                    {{/compare}}
                    <span class="icon-linked"></span>
                </div>
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-1 customer-types">
                {{#compare  customer_data.KIAS '1' operator="=="}}
                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{/compare}}

                {{#compare  customer_data.KDG '1' operator="=="}}
                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                {{/compare}}

                {{#compare  customer_data.FN '1' operator="=="}}
                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{/compare}}
            </div>
        </div>
        <div class="col-md-12 row row-with-address collapse out potential-links-{{../current_customer.link_id}}">
            <div class="col-md-1">
            </div>
            <div class="col-md-5 customer-details-content">
                {{customer_data.PostalAddress.StreetName}}
                {{customer_data.PostalAddress.BuildingNumber}}
                {{customer_data.PostalAddress.PostalZone}}
                {{customer_data.PostalAddress.CityName}}
            </div>
            <div class="col-md-2  customer-details-content">
                {{customer_data.Role.Person.BirthDate}}
            </div>
            <div class="col-md-2  customer-details-content">
                {{#if customer_data.MobileMSISDN}}
                {{customer_data.MobileMSISDN}}
                {{else}}
                {{#if customer_data.FixedMSISDN}}
                {{customer_data.FixedMSISDN}}
                {{else}}
                -
                {{/if}}
                {{/if}}
            </div>
            <div class="col-md-1 customer-types">
            </div>
        </div>
        <div class="col-md-12 customer-delimiter collapse out potential-links-{{../current_customer.link_id}}"></div>
        {{/each}}
        {{/if}}
        <script>
            jQuery(document).ready(function(){
                jQuery(".auth-call").tooltip({
                    template: '<div class="tooltip auth-tooltip" role="tooltip"><div class="tooltip-arrow triangle"></div><div class="body-tooltip"><div class="header-tooltip">Authentifizierung</div><div class="triangle"></div><div class=""><p class=""><strong>Kennwort:</strong> <span class="password">Wilkommen1234</span></p><p class=""><strong>IBAN:</strong> <span class="iban">DE1234567898765434567</span></p><p class=""><strong>Bank Name:</strong> <span class="bank_name">Deutsche Bank</span></p></div></div><div class="tooltip-inner"></div></div>'
                });
                jQuery('.type-customer-icon').tooltip();
            });
</script>
</div>
</script>