<script id="left-sidebar-link-details" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table scrollable-y-table">
        <div class="col-title">
            <div class="table-title"><?php echo $this->__('Link details'); ?></div>
        </div>
        <div class="left-sidebar-additional-info">
            <div class="table-description"><?php echo $this->__('The following accounts are part of the Legal Link with ID:'); ?> <strong class="green-color-info">{{current_customer.link_id}}</strong></div>
            <div class="table-description"><?php echo $this->__('The legal Link Status:'); ?> <strong class="green-color-info">{{current_customer.link_status}}</strong></div>
        </div>
        <table class="div-table fullWidth initial-customer">
            <thead>
            <tr class="div-table-row div-table-row-header">
                <th class="div-table-cell"><?php echo $this->__('Customer'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('First name'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('Surname'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('Birthday'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('Street'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('No.'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('Postcode'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('City'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('Phone no.'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('M'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('C'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('F'); ?></th>
            </tr>
            </thead>
            <tbody>
            {{#each linkedAccounts}}
            <tr class="div-table-row">
                <td class="div-table-cell" colspan="1">
                    {{customer_data.Role.Person.ID}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.Role.Person.FirstName}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.Role.Person.FamilyName}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.Role.Person.BirthDate}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.PostalAddress.StreetName}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.PostalAddress.BuildingNumber}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.PostalAddress.PostalZone}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{customer_data.PostalAddress.CityName}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#if customer_data.MobileMSISDN}}
                    {{customer_data.MobileMSISDN}}
                    {{else}}
                    {{#if customer_data.FixedMSISDN}}
                    {{customer_data.FixedMSISDN}}
                    {{else}}
                    -
                    {{/if}}
                    {{/if}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#compare customer_data.AccountCategory '<?php echo Dyna_Customer_Helper_Client::LEGACY_SYSTEM_KIAS ; ?>' operator="=="}}
                    <span class="mobile-selected"></span>
                    {{else}}
                    <span class="no-option-selected"></span>
                    {{/compare}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#compare customer_data.AccountCategory '<?php echo Dyna_Customer_Helper_Client::LEGACY_SYSTEM_KDG ; ?>' operator="=="}}
                    <span class="cable-selected"></span>
                    {{else}}
                    <span class="no-option-selected"></span>
                    {{/compare}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#compare customer_data.AccountCategory '<?php echo Dyna_Customer_Helper_Client::LEGACY_SYSTEM_FN ; ?>' operator="=="}}
                    <span class="fixed-selected"></span>
                    {{else}}
                    <span class="no-option-selected"></span>
                    {{/compare}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="buttons-container">
            <div class="table-button below-table-button proceed-button">
                <input class="btn btn-block btn-info-white" value="<?php echo $this->__('Find Other matches') ?>"
                       onclick="customerDe.showLinkPageDetails('{{current_customer.ban}}')"/>
            </div>
        </div>
    </div>
</script>