<script id="left-sidebar-orders-content" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table">
        <div class="title with-top-spacing">
            <div class="table-title table-title-search"><?php echo $this->__('Orders'); ?></div>
        </div>
        <div class="table-responsive">
            <table class="table customer-360-table">
                <thead>
                    <tr class="div-table-row div-table-row-header">
                        <th class="div-table-cell"><?php echo $this->__('Stack'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Creation date'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Order number'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Order status'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Sales channel'); ?></th>
                        <th class="div-table-cell"></th>
                    </tr>
                </thead>
                <tbody id="left-sidebar-orders-content-entries">
                    {{#each orders}}
                        <tr class="div-table-row">
                            <td class="div-table-cell" colspan="1">
                                {{#compare  KIAS '1' operator="=="}}
                                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                                {{/compare}}

                                {{#compare  KDG '1' operator="=="}}
                                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                {{/compare}}

                                {{#compare  FN '1' operator="=="}}
                                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                {{/compare}}
                            </td>
                            <td class="div-table-cell create-date" colspan="1">
                                {{creationDate}}
                            </td>
                            <td class="div-table-cell" colspan="1">
                                <span class="order-no">
                                    {{orderNumber}}
                                </span>
                            </td>
                            <?php
                            /** @todo remove hardcoded order status from template */
                            ?>
                            <td class="div-table-cell {{#ifCond orderStatus '==' 'Canceled'}}cancelled{{/ifCond}}" colspan="1">
                                {{orderStatus}}
                            </td>
                            <td class="div-table-cell 4" colspan="1">
                                {{salesChannel}}
                            </td>
                            <td class="div-table-cell has-button" colspan="1">
                                <input class="btn btn-info btn-medium" value="<?php echo $this->__('Show'); ?>" />
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <script>
            jQuery(document).ready(function(){
                jQuery('.type-customer-icon').tooltip();
            });
    </script>
    </div>
</script>
