<script id="left-sidebar-orders-content" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table">
        <div class="col-title">
            <div class="table-title"><?php echo $this->__('Orders'); ?></div>
        </div>
        <table class="div-table fullWidth initial-customer">
            <thead>
            <tr class="div-table-row div-table-row-header">
                <th class="div-table-cell sort-by sort-desc" order-by="date"
                    onclick="customerDe.sortRows(this, '#left-sidebar-orders-content-entries', 'tr', 'td')"><?php echo $this->__('Creation date'); ?>
                    <span></span>
                </th>
                <th class="div-table-cell sort-by" order-by="number"
                    onclick="customerDe.sortRows(this, '#left-sidebar-orders-content-entries', 'tr', 'td')"><?php echo $this->__('Order number'); ?>
                    <span></span>
                </th>
                <th class="div-table-cell sort-by" order-by="string"
                    onclick="customerDe.sortRows(this, '#left-sidebar-orders-content-entries', 'tr', 'td')"><?php echo $this->__('Order status'); ?>
                    <span></span>
                </th>
                <th class="div-table-cell"><?php echo $this->__('Packages'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('M'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('C'); ?></th>
                <th class="div-table-cell"><?php echo $this->__('F'); ?></th>
                <th class="div-table-cell"></th>
            </tr>
            </thead>
            <tbody id="left-sidebar-orders-content-entries">
            {{#each orders}}
            <tr class="div-table-row">
                <td class="div-table-cell" colspan="1">
                    {{creationDate}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{orderNumber}}
                </td>
                <?php
                /** @todo remove hardcoded order status from template */
                ?>
                <td class="div-table-cell {{#ifCond orderStatus '==' 'Cancelled'}}cancelled{{/ifCond}}" colspan="1">
                    {{orderStatus}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{packages}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#ifCond hasMobile '==' '1'}}
                    <span class="mobile-selected"></span>
                    {{else}}
                    <span class="no-option-selected"></span>
                    {{/ifCond}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#ifCond hasCable '==' '1'}}
                    <span class="cable-selected"></span>
                    {{else}}
                    <span class="no-option-selected"></span>
                    {{/ifCond}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{#ifCond hasFixed '==' '1'}}
                    <span class="fixed-selected"></span>
                    {{else}}
                    <span class="no-option-selected"></span>
                    {{/ifCond}}
                </td>
                <td class="div-table-cell has-button" colspan="1">
                    <input class="btn btn-block btn-info-white btn-medium" value="<?php echo $this->__('Open order') ?>"
                           onclick="showModalError('Loading order {{orderNumber}} is not currently implemented.')"/>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</script>
