<script id="left-sidebar-products-content" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table scrollable-y-table">
        <div class="title with-bottom-border with-top-spacing">
            <div class="table-title table-title-search"><?php echo $this->__('My products'); ?></div>
        </div>
        <?php //todo - refactor the section that are delimited by the conditions if mobile/cable/fixed ? ?>
        <!-- Mobile products section -->
        {{#if Mobile}}
        <div class="row products-section mobile-products">
            <div class="products-section-header">
                <div class="col-md-9 second-title no-padding">
                    <?php echo $this->__("MobileProduct"); ?>
                </div>
                <div class="col-md-3 text-right no-padding">
                    <input id="prolongationButton" type="submit" class="prolongationButton btn btn-block btn-info-white btn-info-gray inactive" onclick="customerOrder.checkProlongation()" value="<?php echo $this->__("Check VVL"); ?>"/>
                </div>
            </div>
            <div class="products-section-products">
                {{#each Mobile}}
                    <div class="products-order-additional-container">
                        <div class="products-order-additional">
                            <div class="products-order-number">{{@key}} <span><img src="<?php echo $this->getSkinUrl('images/icon-info.png'); ?>" alt=""></span></div>
                        </div>
                    </div>
                    {{#each this}}
                        <div class="products-sub-package">
                            <div class="products-sub-package-header">
                                <div class="col-md-7 product-details">
                                    <div class="products-sub-package-header-check">
                                        <?php //Show prolongation check only if package is mobile post paid, as it can be seen in GUI ?>
                                        {{#compare this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="=="}}
                                            <input class="check-prolongation" title="" id="input-{{@key}}-{{@index}}" autocomplete="off" type="checkbox" data-order="{{@key}}" data-package="{{@index}}" value="1" data-kias="{{kias}}" data-contract="{{contract_nr}}" data-ctn="{{phone_number}}" onclick="customerOrder.updateProlongationList(jQuery(this));">
                                            <label for="input-{{@key}}-{{@index}}"><span></span></label>
                                        {{else}}
                                            <input title="" disabled="disabled" id="input-{{@key}}-{{@index}}" type="checkbox">
                                            <label for="input-{{@key}}-{{@index}}"><span></span></label>
                                        {{/compare}}
                                    </div>
                                    <div class="product-name">{{product_name}}</div>
                                    {{#if phone_number}}
                                        <div class="product-phone-number"><?php echo $this->__("with phone number"); ?> {{phone_number}}</div>
                                    {{/if}}
                                </div>
                                <div class="col-md-4 product-prolongation-info" id="package-status-{{@key}}-{{@index}}"></div>
                                <div class="col-md-1 product-more-details">
                                    {{#compare this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="=="}}
                                        <button type="button" onclick="customerOrder.toggle(this, '#mobile-product-{{@key}}-{{@index}}', 100);">+</button>
                                    {{/compare}}
                                </div>
                            </div>
                            <?php //Show package details only if package is post-paid, as it can be seen in GUI ?>
                            <?php //Order status might need to be a condition for showing product details and to check for prolongation ?>
                            {{#compare this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="=="}}
                                <div id="mobile-product-{{@key}}-{{@index}}" class="collapse">
                                    <div class="card card-block">
                                        <?php //mobile product template is defined below ?>
                                        {{> customer-screen-mobile-product this}}
                                    </div>
                                </div>
                            {{/compare}}
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
        {{/if}}
        <!-- EOF Mobile products section -->
        <!-- Cable products section -->
        {{#if Cable}}
        <div class="row products-section cable-products">
            <div class="products-section-header">
                <div class="col-md-12 second-title no-padding">
                    <?php echo $this->__("Cable"); ?>
                </div>
            </div>
            <div class="products-section-products">
                {{#each Cable}}
                    <div class="products-order-additional-container">
                        <div class="products-order-additional">
                            <div class="products-order-number">{{@key}}</div>
                        </div>
                    </div>
                    {{#each this}}
                        <div class="products-sub-package">
                            <div class="products-sub-package-header">
                                <div class="col-md-7 product-details">
                                    <div class="product-name">{{product_name}}</div>
                                    {{#if service_address}}
                                        <div class="product-phone-number"><?php echo $this->__("at Service Address"); ?> {{service_address.straße}} {{service_address.hausnummer}}, {{service_address.plz}} {{service_address.ort}}</div>
                                    {{/if}}
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2 package-migration-info" id="package-status-{{@key}}-{{@index}}">
                                    <div class="migration-icon" onclick="customerOrder.migrateToDsl(this)" data-kias="{{@key}}"></div>
                                </div>
                                <div class="col-md-1 product-more-details">
                                    <button type="button" onclick="customerOrder.toggle(this, '#cable-product-{{@key}}-{{@index}}', 100);">+</button>
                                </div>
                            </div>
                            <div id="cable-product-{{@key}}-{{@index}}" class="collapse">
                                <div class="card card-block">
                                    <?php //cable product template is defined below ?>
                                    {{> customer-screen-cable-product this}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
        {{/if}}
        <!-- EOF Cable products section -->
        <!-- Fixed products section -->
        {{#if Fixed}}
        <div class="row products-section fixed-products">
            <div class="products-section-header">
                <div class="col-md-12 second-title no-padding">
                    <?php echo $this->__("landline"); ?>
                </div>
            </div>
            <div class="products-section-products">
                {{#each Fixed}}
                    <div class="products-order-additional-container">
                        <div class="products-order-additional">
                            <div class="products-order-number">{{@key}}</div>
                        </div>
                    </div>
                    {{#each this}}
                        <div class="products-sub-package">
                            <div class="products-sub-package-header">
                                <div class="col-md-7 product-details">
                                    <div class="product-name">{{product_name}}</div>
                                    {{#if service_address}}
                                        <div class="product-phone-number"><?php echo $this->__("at Service Address"); ?> {{service_address.straße}} {{service_address.hausnummer}}, {{service_address.plz}} {{service_address.ort}}</div>
                                    {{/if}}
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2 package-migration-info" id="package-status-{{@key}}-{{@index}}">
                                    <div class="migration-icon" onclick="customerOrder.migrateToCable(this)" data-kias="{{@key}}"></div>
                                </div>
                                <div class="col-md-1 product-more-details">
                                    <button type="button" onclick="customerOrder.toggle(this, '#cable-product-{{@key}}-{{@index}}', 100);">+</button>
                                </div>
                            </div>
                            <div id="cable-product-{{@key}}-{{@index}}" class="collapse">
                                <div class="card card-block">
                                    <?php //cable product template is defined below ?>
                                    {{> customer-screen-fixed-product this}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
        {{/if}}
        <!-- EOF Cable products section -->
    </div>
</script>

<script id="customer-screen-mobile-product" type="text/x-handlebars-template">
    <div class="mobile-product-details-content">
        <div class="left-column">
            <div class="product-type-title"><?php echo $this->__("Vodafone Tarif Name"); ?></div>
            <div class="product-name">{{product_name}}</div>
            <div class="product-description">
                <div class="row product-description-row">
                    <div class="col-md-6 info-title"><?php echo $this->__("Contract start date"); ?></div>
                    <div class="col-md-6 info-description">{{contract_start_date}}</div>
                </div>
                <div class="row product-description-row">
                    <div class="col-md-6 info-title"><?php echo $this->__("Initial activation date"); ?></div>
                    <div class="col-md-6 info-description">{{first_activation_date}}</div>
                </div>
                <div class="row product-description-row">
                    <div class="col-md-6 info-title"><?php echo $this->__("Contract end date"); ?></div>
                    <div class="col-md-6 info-description">{{contract_end_date}}</div>
                </div>
                <div class="roduct-description-separator">&nbsp;</div>
                <div class="row product-description-row">
                    <div class="col-md-6 info-title"><?php echo $this->__("Product status"); ?></div>
                    <div class="col-md-6 info-description">{{product_status}}</div>
                </div>
                <div class="row product-description-row">
                    <div class="col-md-6 info-title"><?php echo $this->__("Bundle component"); ?></div>
                    <div class="col-md-6 info-description">{{part_of_bundle}}</div>
                </div>
                <div class="row product-description-row">
                    <div class="col-md-6 info-title"><?php echo $this->__("Bundle capable"); ?>?</div>
                    <div class="col-md-6 info-description">{{possible_for_bundle}}</div>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="right-column-content">
                <div class="option-and-discounts">
                    {{#if addon}}
                        <div class="addon-title"><?php echo $this->__("Addons"); ?></div>
                        {{#each addon}}
                            <div class="addon-content">
                                <div class="addon-name">{{name}}</div>
                                <div class="addon-date"><?php echo $this->__("Active from"); ?> {{active_from}}</div>
                            </div>
                        {{/each}}
                    {{/if}}
                    {{#if discount}}
                        <div class="addon-title"><?php echo $this->__("Goodies & Discounts"); ?></div>
                        <div class="addon-content">
                            <div class="addon-name">{{discount}}</div>
                        </div>
                    {{/if}}
                </div>
                <div class="customer-address">
                    <div class="customer-address-title"><?php echo $this->__("User address"); ?></div>
                    <div class="customer-address-value">{{user_address.straße}} {{user_address.hausnummer}}, {{user_address.plz}} {{user_address.ort}}</div>
                </div>
                <div class="change-package-button">
                    <input type="button" class="btn btn-block btn-info-white loading-search" value="<?php echo $this->__("Change tariff options"); ?>" onclick="showModalError('Not implemented!');">
                </div>
            </div>
        </div>
    </div>
</script>

<script id="customer-screen-cable-product" type="text/x-handlebars-template">
    <div class="cable-product-details-content">
        <div class="left-column">
            <div class="product-name">{{product_name}}</div>
            <div class="product-description">
                <div class="row product-description-row product-description-title">
                    <div class="col-md-2 info-title"><?php echo $this->__("Product"); ?></div>
                    <div class="col-md-8 info-description"></div>
                    <div class="col-md-2 info-title"></div>
                </div>
                <div class="row product-description-row product-description-title">
                    <div class="col-md-2 info-title"><?php echo $this->__("Tariff"); ?></div>
                    <div class="col-md-8 info-description">{{tarif.name}}</div>
                    <div class="col-md-2 info-title">{{tarif.active_from}}</div>
                </div>
                {{#each addon}}
                    <div class="row product-description-row {{#ifCond @index '==' '0'}}product-description-title{{/ifCond}}">
                        <div class="col-md-2 info-title">{{#ifCond @index '==' '0'}}<?php echo $this->__("Addons"); ?>{{/ifCond}}</div>
                        <div class="col-md-8 info-description">{{name}}</div>
                        <div class="col-md-2 info-title">{{active_from}}</div>
                    </div>
                {{/each}}
                {{#if phone_numbers}}
                    <div class="row product-description-row product-description-title">
                        <div class="col-md-2 info-title"><?php echo $this->__("Phone numbers"); ?></div>
                        <div class="col-md-8 info-description"></div>
                        <div class="col-md-2 info-title"></div>
                    </div>
                    {{#each phone_numbers}}
                        <div class="row product-description-row">
                            <div class="col-md-2 info-title">{{name}}</div>
                            <div class="col-md-8 info-description">{{phone_number}}</div>
                            <div class="col-md-2 info-title">{{active_from}}</div>
                        </div>
                    {{/each}}
                {{/if}}
                {{#if hardware}}
                    <div class="row product-description-row product-description-title">
                        <div class="col-md-2 info-title"><?php echo $this->__("Devices"); ?></div>
                        <div class="col-md-8 info-description"></div>
                        <div class="col-md-2 info-title"></div>
                    </div>
                    {{#each hardware}}
                        <div class="row product-description-row">
                            <div class="col-md-2 info-title">{{name}}</div>
                            <div class="col-md-8 info-description">{{identification_number}}</div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="right-column">
            <div class="right-column-content">
                <div class="customer-address">
                    <div class="customer-address-title"><?php echo $this->__("Service Address"); ?></div>
                    <div class="customer-address-value">{{service_address.straße}} {{service_address.hausnummer}}, {{service_address.plz}} {{service_address.ort}}</div>
                </div>
                <div class="customer-buttons">
                    <div class="change-package-button">
                        <input type="button" class="btn btn-block btn-info-white loading-search" value="<?php echo $this->__("Change tariff"); ?>" onclick="showModalError('Not implemented!');">
                    </div>
                    <div class="change-package-button">
                        <input type="button" class="btn btn-block btn-info-white loading-search" value="<?php echo $this->__("Change options"); ?>" onclick="showModalError('Not implemented!');">
                    </div>
                    <div class="change-package-button">
                        <input type="button" class="btn btn-block btn-info loading-search" value="<?php echo $this->__("Move Offnet"); ?>" onclick="showModalError('Not implemented!');">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="customer-screen-fixed-product" type="text/x-handlebars-template">
    <div class="fixed-product-details-content">
        <div class="left-column">
            <div class="fixed-product-section-container">
                <div class="fixed-product-section active" data-focus="contract-information" onclick="customerOrder.switchPanel(this)">
                    <?php echo $this->__("Contract information"); ?>
                </div>
                <div class="fixed-product-section" data-focus="voice-tariff" onclick="customerOrder.switchPanel(this)">
                    <?php echo $this->__("Voice tariff"); ?>
                </div>
                <div class="fixed-product-section" data-focus="internet-tariff" onclick="customerOrder.switchPanel(this)">
                    <?php echo $this->__("Internet tariff"); ?>
                </div>
                <div class="fixed-product-section" data-focus="tv-tariff" onclick="customerOrder.switchPanel(this)">
                    <?php echo $this->__("TV tariff"); ?>
                </div>
                <div class="fixed-product-section" data-focus="security-package" onclick="customerOrder.switchPanel(this)">
                    <?php echo $this->__("Security package"); ?>
                </div>
            </div>
            <div class="customer-address fixed-products-address fixed-products-details" data-target="contract-information">
                <div class="customer-address-title"><?php echo $this->__("Service Address"); ?></div>
                <div class="customer-address-value">{{service_address.straße}} {{service_address.hausnummer}}, {{service_address.plz}} {{service_address.ort}}</div>
            </div>
        </div>
        <div class="middle-column">
        </div>
        <div class="right-column">
            <div class="right-column-content">
                <div class="fixed-products-details contract-information-details" data-target="contract-information">
                    <div class="product-name">{{product_name}}</div>
                    <div class="product-description">
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Contract start date"); ?></div>
                            <div class="col-md-6 info-description">{{contract_start_date}}</div>
                        </div>
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Initial activation date"); ?></div>
                            <div class="col-md-6 info-description">{{first_activation_date}}</div>
                        </div>
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Contract end date"); ?></div>
                            <div class="col-md-6 info-description">{{contract_end_date}}</div>
                        </div>
                    </div>
                    <div class="customer-buttons">
                        <div class="change-package-button">
                            <input type="button" class="btn btn-block btn-info-white loading-search" value="<?php echo $this->__("Change tariff"); ?>" onclick="showModalError('Not implemented!');">
                        </div>
                        <div class="change-package-button">
                            <input type="button" class="btn btn-block btn-info-white loading-search" value="<?php echo $this->__("Change options"); ?>" onclick="showModalError('Not implemented!');">
                        </div>
                        <div class="change-package-button">
                            <input type="button" class="btn btn-block btn-info loading-search" value="<?php echo $this->__("Move Offnet"); ?>" onclick="showModalError('Not implemented!');">
                        </div>
                    </div>
                </div>
                <div class="fixed-products-details voice-tariff-details hidden" data-target="voice-tariff">
                    <div class="product-name">{{voice_tariff}}</div>
                    <div class="product-description">
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Phone numbers"); ?></div>
                            <div class="col-md-6 info-description">
                                {{#each phone_numbers}}
                                    {{phone_number}}<br>
                                {{/each}}
                            </div>
                        </div>
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Termination"); ?></div>
                            <div class="col-md-6 info-description">{{termination}}</div>
                        </div>
                    </div>
                    <div class="option-and-discounts">
                        {{#if voice_addon}}
                            <div class="addon-title"><?php echo $this->__("Addons"); ?></div>
                                {{#each voice_addon}}
                                    <div class="addon-content row">
                                        <div class="addon-name">{{name}}</div>
                                        <div class="addon-date col-md-6"><?php echo $this->__("Start date"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                        <div class="addon-date col-md-6"><?php echo $this->__("Active until"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                        <div class="addon-date col-md-6"><?php echo $this->__("Termination for"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                    </div>
                                {{/each}}
                        {{/if}}
                        {{#if voice_discount}}
                            <div class="addon-title"><?php echo $this->__("Special offers"); ?></div>
                            <div class="addon-content">
                                <div class="addon-name">{{voice_discount}}</div>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="fixed-products-details internet-tariff-details hidden" data-target="internet-tariff">
                    <div class="product-name">{{voice_tariff}}</div>
                    <div class="product-description">
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Phone numbers"); ?></div>
                            <div class="col-md-6 info-description">
                                {{#each phone_numbers}}
                                {{phone_number}}<br>
                                {{/each}}
                            </div>
                        </div>
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Termination"); ?></div>
                            <div class="col-md-6 info-description">{{termination}}</div>
                        </div>
                    </div>
                    <div class="option-and-discounts">
                        {{#if voice_addon}}
                            <div class="addon-title"><?php echo $this->__("Addons"); ?></div>
                            {{#each voice_addon}}
                                <div class="addon-content row">
                                    <div class="addon-name">{{name}}</div>
                                    <div class="addon-date col-md-6"><?php echo $this->__("Start date"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                    <div class="addon-date col-md-6"><?php echo $this->__("Active until"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                    <div class="addon-date col-md-6"><?php echo $this->__("Termination for"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if voice_discount}}
                            <div class="addon-title"><?php echo $this->__("Special offers"); ?></div>
                            <div class="addon-content">
                                <div class="addon-name">{{voice_discount}}</div>
                            </div>
                        {{/if}}
                        <div class="addon-title"><?php echo $this->__("Regio Award"); ?></div>
                        <div class="addon-content">
                            <div class="addon-name no-plus">...</div>
                        </div>
                    </div>
                </div>
                <div class="fixed-products-details tv-tariff-details hidden" data-target="tv-tariff">
                    <div class="product-name">{{tv_tariff}}</div>
                    <div class="product-description">
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Type"); ?></div>
                            <div class="col-md-6 info-description">
                                {{tv_type}}
                            </div>
                        </div>
                        <div class="row product-description-row">
                            <div class="col-md-6 info-title"><?php echo $this->__("Set Top Box"); ?></div>
                            <div class="col-md-6 info-description">
                                <strong>{{tv_setup_box.name}}</strong><br>
                                <?php echo $this->__("Article Number"); ?> {{tv_setup_box.serial_number}}<br>
                                {{tv_setup_box.loaner}}<br>
                            </div>
                        </div>
                    </div>
                    <div class="option-and-discounts">
                        {{#if voice_addon}}
                            <div class="addon-title"><?php echo $this->__("Addons"); ?></div>
                            {{#each voice_addon}}
                                <div class="addon-content row">
                                    <div class="addon-name">{{name}}</div>
                                    <div class="addon-date col-md-6"><?php echo $this->__("Start date"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                    <div class="addon-date col-md-6"><?php echo $this->__("Active until"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                    <div class="addon-date col-md-6"><?php echo $this->__("Termination for"); ?></div><div class="addon-date col-md-6">{{active_from}}</div>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if voice_discount}}
                            <div class="addon-title"><?php echo $this->__("Special offers"); ?></div>
                            <div class="addon-content">
                                <div class="addon-name">{{voice_discount}}</div>
                            </div>
                        {{/if}}
                        <div class="addon-title"><?php echo $this->__("Regio Award"); ?></div>
                        <div class="addon-content">
                            <div class="addon-name no-plus">...</div>
                        </div>
                    </div>
                </div>
                <div class="fixed-products-details security-package-details hidden" data-target="security-package">
                    {{#if security_package}}
                        <div class="product-name">{{security_package}}</div>
                        <div class="option-and-discounts">
                            <div class="addon-title"><?php echo $this->__("Special offers"); ?></div>
                            <div class="addon-content">
                                <div class="addon-name no-plus">{{security_discount}}</div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</script>

<script id="prolongation-check-info" type="text/x-handlebars-template">
    <div class="prolongation-info-container">
        <div class="prolongation-section" data-toggle="tooltip" data-placement="top" data-original-title="<?php echo $this->__("New Phone Every Year"); ?>">
            <div class="icon {{#if NPEY}}disabled{{/if}}">
                <img src="<?php echo $this->getSkinUrl('images/icon-phone.png'); ?>">
            </div>
            {{#if NPEY}}
                <div class="days-until-expire">{{NPEY}}</div>
            {{/if}}
        </div>
        <div class="prolongation-section" data-toggle="tooltip" data-placement="top" data-original-title="<?php echo $this->__("Premature contract. Prolongation without copayment"); ?>">
            <div class="icon {{#if ECWP}}disabled{{/if}}"><img src="<?php echo $this->getSkinUrl('images/icon-prolongation.png'); ?>"></div>
            {{#if ECWP}}
                <div class="days-until-expire">{{ECWP}}</div>
            {{/if}}
        </div>
        <div class="prolongation-section" data-toggle="tooltip" data-placement="top" data-original-title="<?php echo $this->__("Standard contract. Extension"); ?>">
            <div class="icon {{#if SCE}}disabled{{/if}}"><img src="<?php echo $this->getSkinUrl('images/icon-contract.png'); ?>"></div>
            {{#if SCE}}
                <div class="days-until-expire">{{SCE}}</div>
            {{/if}}
        </div>
    </div>
</script>

<script id="migrate-to-cable-template" type="text/x-handlebars-template">
    <div class="migration-info migrate-to-cable-container">
        <div class="migrate-to-cable-content">
            <div class="migrate-to-cable-title"><?php echo $this->__("Kabel: Move Offnet"); ?></div>
            <div class="migrate-to-cable-package"><?php echo $this->__("Internet & Phone Kabel 200 V"); ?></div>
        </div>
        <div class="migrate-confirm-button">
            <input type="button" class="btn btn-block btn-info" data-migration="" data-target="" value="<?php echo $this->__("Open configurator"); ?>" onclick="customerOrder.initConfiguratorForMigration(this);"/>
        </div>
    </div>
</script>

<script id="migrate-to-dsl-template" type="text/x-handlebars-template">
    <div class="migration-info migrate-to-dsl-container">
        <div class="migrate-to-dsl-content">
            <div class="migrate-to-dsl-title"><?php echo $this->__("Kabel: Move Offnet"); ?></div>
            <div class="migrate-to-dsl-package"><?php echo $this->__("Internet & Phone Kabel 200 V"); ?></div>
        </div>
        <div class="migrate-confirm-button">
            <input type="button" class="btn btn-block btn-info" data-migration="" data-target="" value="<?php echo $this->__("Open configurator"); ?>" onclick="customerOrder.initConfiguratorForMigration(this);"/>
        </div>
    </div>
</script>


<!-- Migration address check modal -->
<div class="modal checkAddressForMigration" id="checkAddressForMigration" tabindex="-1" role="dialog" aria-labelledby="checkAddressForMigration">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Availability DSL, LTE and cable") ?></div>
            <div class="modal-body">
                <form id="checkAddressForMigrationForm" class="form-inline form-row-small clearfix">
                    <div class="form-group col-xs-3">
                        <label for="addressCheck.postcode"><?php echo $this->__("Postcode"); ?></label>
                        <input type="text" class="form-control" name="postcode" id="postcode">
                    </div>
                    <div class="form-group col-xs-9">
                        <label for="addressCheck.city"><?php echo $this->__("City"); ?></label>
                        <input type="text" class="form-control" name="city" id="city">
                    </div>
                    <div class="form-group col-xs-10">
                        <label for="addressCheck.street"><?php echo $this->__("Street"); ?></label>
                        <input type="text" class="form-control required-entry" name="street" id="street">
                    </div>
                    <div class="form-group col-xs-2">
                        
                        <label for="addressCheck.houseNo"><?php echo $this->__("House no."); ?></label>
                        <input type="text" class="form-control required-entry" name="houseno" id="houseno">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-info has-spinner pull-left col-xs-3" onclick="customerOrder.checkForMigration(this)">
                    <?php echo $this->__("Check") ?> <span class="btn-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Migration to DSL: cable available, switch to cable confirmation modal -->
<div class="modal checkAddressForMigration migrateToCableModal" id="migrateToCableModal" tabindex="-1" role="dialog" aria-labelledby="migrateToCableModal">
    <!-- Content loaded through handlebars -->
</div>

<script id="migration-switch-to-cable-modal-content" type="text/x-handlebars-template">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Cable is Available") ?></div>
            <div class="modal-body">
                <?php echo sprintf($this->__("On your specified address <strong>%s</strong> Cable Service is available"), "{{street}} {{houseNumber}}, {{postCode}} {{city}}"), "<br><br>"; ?>
                <?php echo $this->__("Would you like to continue with cable package selection, rather than DSL?"); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-info-white" onclick="customerOrder.enableInitConfiguratorButton('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL) ?>', '<?php echo Dyna_Catalog_Model_Type::MIGRATE2DSL ?>', {{addressId}});">
                    <?php echo $this->__("No") ?>
                </button>
                <button type="button" class="btn btn-info" onclick="customerOrder.enableInitConfiguratorButton('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE) ?>', '<?php echo Dyna_Catalog_Model_Type::MIGRATE2DSL ?>', {{addressId}});">
                    <?php echo $this->__("Yes") ?>
                </button>
            </div>
        </div>
    </div>
</script>

<!-- Migration to DSL: loading state modal -->
<div class="modal migrateToCableLoadingModal" id="migrateToCableLoadingModal" tabindex="-1" role="dialog" aria-labelledby="migrateToCableLoadingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Checking availability") ?></div>
            <div class="modal-body"><img src="<?php echo $this->getSkinUrl('images/migration-loading-icon.png'); ?>" alt=""></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("customer-screen-mobile-product", jQuery("#customer-screen-mobile-product").html());
    Handlebars.registerPartial("customer-screen-cable-product", jQuery("#customer-screen-cable-product").html());
    Handlebars.registerPartial("customer-screen-fixed-product", jQuery("#customer-screen-fixed-product").html());

    var customerOrder = {
        prolongationCheckSelector: ".prolongationButton",
        prolongationCheckButton: null,
        checkProlongationMark: ".check-prolongation",
        checkAddressForMigrationModal: '#checkAddressForMigration',
        loadingModalSelector: "#migrateToCableLoadingModal",
        updateProlongationList: function (element) {
            var checkedOrdersList = this.getCheckedForProlongationInputs();
            if (checkedOrdersList.length) {
                //Clear prolongation list for current customer
                customerDe.clearProlongationList();
                checkedOrdersList.each(function() {
                    var contractNr = jQuery(this).attr('data-contract');
                    var kiasNr = jQuery(this).attr('data-kias');
                    var ctn = jQuery(this).attr('data-ctn')
                    //Update customer prolongation list
                    customerDe.addToProlongationList(contractNr, kiasNr, ctn);
                });
                this.enableProlongationButton();
            } else {
                this.disableProlongationButton();
            }
        },
        enableProlongationButton: function() {
            this.getProlongationButton().removeClass('inactive');
        },
        disableProlongationButton: function() {
            this.getProlongationButton().addClass('inactive');
        },
        getProlongationButton: function() {

            return jQuery(this.prolongationCheckSelector);
        },
        getLoadingModal: function () {
            return jQuery(this.loadingModalSelector);
        },
        toggle: function (clickedButton, elementSelector, time) {
            //saving previous icon
            var previousIcon = jQuery(clickedButton).html();
            //removing it during animation
            jQuery(clickedButton).html("");
            jQuery(elementSelector).slideToggle(time, function() {
                //adding new icon back
                if (previousIcon == "+") {
                    jQuery(clickedButton).html("-");
                } else {
                    jQuery(clickedButton).html("+");
                }
            });
        },
        switchPanel: function (element) {
            var target = jQuery(element).attr('data-focus');
            jQuery(element).siblings().removeClass('active');
            jQuery(element).addClass('active');
            jQuery(".fixed-products-details ").removeClass('hidden').hide();
            jQuery("[data-target='" + target + "']").removeClass('hidden').show();
        },
        checkProlongation: function () {
            var that = this;
            //No need for them to be enabled anymore to prevent consecutive ajax calls
            that.disableProlongationCheckboxes();
            //Show loading bar for prolongation check
            that.startProlongationLoading();
            //Executing prolongation check within customer object
            customerDe.prolongationCheck(function(prolongationResult) {
                that.stopProlongationLoading();
                //Error pop-up is launched from customerDe
                if (!prolongationResult.validationError) {
                    for (var contract_nr in prolongationResult) {
                        //If value for each contract is string, than there is an error with prolongation for this contract
                        //Prolongation should not have been performed for a problem contract nr in the first place as checkbox should be disabled
                        if (typeof prolongationResult[contract_nr] == "string") {
                            jQuery("input[data-contract='" + contract_nr + "']")
                                .closest('.products-sub-package-header')
                                .find('.product-prolongation-info')
                                .html("<div class='prolongation-error'>" + prolongationResult[contract_nr] + "</div>");
                        } else {
                            var template = Handlebars.compile(jQuery("#prolongation-check-info").html()),
                                prolongationDetails = template(prolongationResult[contract_nr]);
                            jQuery("input[data-contract='" + contract_nr + "']").closest('.products-sub-package-header').find('.product-prolongation-info').html(prolongationDetails);
                        }
                    }

                    /** Reindex document tooltips **/
                    jQuery('[data-toggle="tooltip"]').tooltip();
                }
            });
        },
        //Enable loading circle
        startProlongationLoading: function() {
            for (var contract_nr in customerDe.contractNoCheckedForRetention) {
                jQuery("input[data-contract='" + contract_nr + "']").closest('.products-sub-package-header').find('.product-prolongation-info').html("<div><img src='<?php echo $this->getSkinUrl('images/icon-loading.png'); ?>' alt=''></div>").addClass('loading');
            }
        },
        //Disable loading circle
        stopProlongationLoading: function() {
            for (var contract_nr in customerDe.contractNoCheckedForRetention) {
                jQuery("input[data-contract='" + contract_nr + "']").closest('.products-sub-package-header').find('.product-prolongation-info').html("").removeClass('loading');
            }
        },
        //Once prolongation check has been performed, there is no need for prolongation checkboxes to be enabled
        disableProlongationCheckboxes: function() {
            var checkedOrdersList = this.getCheckedForProlongationInputs();
            if (checkedOrdersList.length) {
                checkedOrdersList.each(function() {
                    jQuery(this).addClass('disabled').attr('disabled', 'disabled');
                });
                //Disable the check prolongation button as it needs new checkboxes to be active
                this.disableProlongationButton();
            }
        },
        getCheckedForProlongationInputs: function() {
            return jQuery("input" + this.checkProlongationMark + ":checked:enabled");
        },
        migrateToCable: function(element) {
            jElement = jQuery(element);
            //By default icon is inactive
            if (jElement.hasClass('active')) {
                jElement.removeClass('active');
                this.disableFixedToCableMigration();
            } else {
                var kiasNr = jElement.attr('data-kias');
                jElement.addClass('active');
                this.enableFixedToCableMigration(kiasNr)
            }
        },
        enableFixedToCableMigration: function(kiasNr) {
            var packageTypes = jQuery("#package-types");
            var showPackages = jQuery("#show-packages");
            var content = jQuery("#migrate-to-cable-template").html();

            //Notify address cannot be changed while migration
            //Address status might be not allowed for change if migration is in progress
            if (address.setAddressChangeState(false)) {
                address.cannotChangeAddressReason = Translator.translate("You cannot change address when migrating to Cable");
            }

            //Show add new package button
            showPackages.removeClass('hide');
            //Hide list of package type
            packageTypes.addClass('hide').after(content);
            //Set migration type on current element
            packageTypes.siblings('.migration-info')
                .find(".migrate-confirm-button input[type='button']")
                // @todo remove hardcode ??
                .attr('data-migration', '<?php echo Dyna_Catalog_Model_Type::MIGRATE2CABLE; ?>')
                .attr('data-target', '<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE); ?>')
            ;
        },
        //Disable will actually remove the right sidebar previously added content
        disableFixedToCableMigration: function() {
            var showPackages = jQuery("#show-packages");
            showPackages.siblings('.migration-info').remove();
            //Address status might be not allowed for change if migration is in progress
            if (address.setAddressChangeState(true)) {
                address.cannotChangeAddressReason = "";
            }
        },
        //Once the Open configurator button is clicked, an ajax call sets the migration flag on session
        initConfiguratorForMigration: function(element) {
            //If element has data-address-id that a new serviceAbility call needs to be made
            var addressId = jQuery(element).attr('data-address-id');
            if (addressId) {
                //Migration to Dsl
                address.checkService(addressId);
            } else {
                //Migration to Cable
                address.canChangeAddressStatus = false;
            }

            //Hide the migration content from right sidebar
            var showPackages = jQuery("#show-packages");
            showPackages.siblings('.migration-info').remove();
            //Hide customer panel
            LeftSidebar.toggleLeftSideBar();
            //Init configurator (element must have data-migration attribute)
            sidebar.initConfigurator(element);
        },
        migrateToDsl: function(element) {
            jElement = jQuery(element);
            //By default icon is inactive
            if (jElement.hasClass('active')) {
                jElement.removeClass('active');
                this.disableCableToFixedMigration();
            } else {
                var kiasNr = jElement.attr('data-kias');
                jElement.addClass('active');
                this.enableCableToFixedMigration(kiasNr)
            }
        },
        enableCableToFixedMigration: function(kiasNr) {
            var packageTypes = jQuery("#package-types");
            var showPackages = jQuery("#show-packages");
            var content = jQuery("#migrate-to-dsl-template").html();

            // Show add new package button
            showPackages.removeClass('hide');
            // Hide list of package type
            packageTypes.addClass('hide').after(content);
            // Set migration type on current element
            packageTypes.siblings('.migrate-to-dsl-container')
                .find(".migrate-confirm-button input[type='button']")
                // @todo remove hardcode ??
                .attr('data-migration', '<?php echo Dyna_Catalog_Model_Type::MIGRATE2DSL; ?>')
                .attr('data-target', '<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>')
                // Disable the Show configurator button until new address is loaded
                .attr('disabled', 'disabled')
                .addClass('inactive')
            ;
            // Show check for another address pop-up
            this.showCheckAddressForMigrationModal();
        },
        //Disable will actually remove the right sidebar previously added content
        disableCableToFixedMigration: function() {
            var showPackages = jQuery("#show-packages");
            showPackages.siblings('.migration-info').remove();
        },
        showCheckAddressForMigrationModal: function () {
            jQuery(this.checkAddressForMigrationModal).modal("show");
        },
        checkForMigration: function (button) {
            var migrationCheckForm = new VarienForm('checkAddressForMigrationForm');
            var that = this;

            //@todo form validation for migrationCheckForm

            jElement = jQuery("#checkAddressForMigrationForm");
            var addressResponse = {
                'city': jElement.find("input[name='city']").val(),
                'street' : jElement.find("input[name='street']").val(),
                'houseNumber' : jElement.find("input[name='houseno']").val(),
                'postCode' : jElement.find("input[name='postcode']").val()
            };

            //Close migration address modal
            jQuery(this.checkAddressForMigrationModal).modal("hide");

            //Open loading modal
            this.getLoadingModal().modal('show');

            jQuery.ajax({
                url: '/address/index/checkMigrationAddress/',
                type: "post",
                data: ({
                    'post_code': addressResponse.postCode,
                    'city': addressResponse.city,
                    'street': addressResponse.street,
                    'house_number': addressResponse.houseNumber
                }),
                dataType: "json",
                cache: false,
                success: function (response) {
                    //Close loading modal
                    that.getLoadingModal().modal('hide');

                    //Response should contain three keys: dsl => true|false, cable => true|false and a returned addressId specifying what technology is available at the new address
                    //If cable is available, a confirmation dialog opens and a cable package is initiated depending on user choice
                    if (response.error == false) {

                        if (response.cable) {
                            //Set address id on current address variable
                            addressResponse.addressId = response.addressId;
                            //Cable technology available: Show pop-up and ask if client wants to switch to cable
                            var template = Handlebars.compile(jQuery("#migration-switch-to-cable-modal-content").html()),
                                switchToCableContent = template(addressResponse);
                            jQuery('#migrateToCableModal').html(switchToCableContent).modal("show");

                        } else if (response.dsl) {
                            //Set address id on current address variable
                            addressResponse.addressId = response.addressId;

                            //Redo serviceability check for response address id
                            address.checkService(addressResponse.addressId);

                            //Dsl technology available: Just enable the Show configurator button
                            // @todo remove hardcode ??
                            that.enableInitConfiguratorButton('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL) ?>', '<?php echo Dyna_Catalog_Model_Type::MIGRATE2DSL ?>', addressResponse.addressId);
                        } else {
                            //No technology available at new address
                            showModalError(Translator.translate("No technology is available at the new address"));
                        }
                    } else {
                        showModalError(response.message);
                    }
                }
            });

        },
        enableInitConfiguratorButton: function (dataTarget, dataMigration, dataAddressId) {
            var packageTypes = jQuery("#package-types");

            //Close confirmation pop-up to switch to cable instead of dsl (if any)
            jQuery("#migrateToCableModal").modal('hide');

            // Set migration type on current element
            packageTypes.siblings('.migrate-to-dsl-container')
                .find(".migrate-confirm-button input[type='button']")
                .attr('data-migration', dataMigration)
                .attr('data-target', dataTarget)
                .attr('data-address-id', dataAddressId)
                .removeAttr('disabled')
                .removeClass('inactive')
            ;
        }
    }
</script>
