<script id="left-sidebar-products-content" type="text/x-handlebars-template">
    <div>
        <div class="customer-results-table customer-panel-table scrollable-y-table view-products">
            <div class="col-title">
                <div class="table-title"><?php echo $this->__('My products'); ?></div>
                <div class="table-button top-table-button">
                    <input id="retention-button" type="submit" class="btn btn-block btn-info-white inactive"
                           value="<?php echo $this->__('Prolongation check');?>" onclick="customerDe.prolongationCheck()"
                    >
                </div>
            </div>
            {{#compare Mobile.length 0 operator="!="}}
            <table class="div-table fullWidth view-mobile-products">
                <thead>
                <tr class="div-table-row div-table-row-header">
                    <th class="div-table-cell checkbox-cell"></th>
                    <th class="div-table-cell"><?php echo $this->__('Customer no.'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Product name'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Contract nr'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Product status'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Contract end date'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Change Addons'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Change Tariff'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Pre-post'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Migration'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Prolongation'); ?></th>
                </tr>
                </thead>
                <tbody id="left-sidebar-orders-content-entries">
                {{#each Mobile}}
                <tr class="div-table-row first-mobile-row">
                    <td class="checkbox-cell"><span></span> </td>
                    <td class="div-table-cell" colspan="1">
                        {{@key}}
                    </td>
                    <td class="div-table-cell mobile-type" colspan="1" onclick="customerDe.getBillingInformation('{{@key}}')">
                        <?php echo $this->__("Mobile") ?>
                        <span>i</span>
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                </tr>
                {{#each this}}
                <tr class="div-table-row">
                    <td class="checkbox-cell">
                        {{#compare this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="=="}}
                        <input type="checkbox" name="potential_link_{{this.contract_nr}}" value="{{this.contract_nr}}"
                               onchange="customerDe.activateProlongationButton('{{this.contract_nr}}','{{this.kias}}', this)">
                        {{/compare}}
                    </td>
                    <td class="div-table-cell" colspan="1">
                        {{#compareTwoConditions this.product_status '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_ACTIVE ; ?>'
                        this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="==" logicalOperator="&&"}}
                        <span class="collapse-button-subscription buttons-trigger blabla"
                              onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'subscription')" data-target="search-list-{{this.contract_nr}}">
                                                </span>
                        {{else}}
                        <span class="collapse-button-subscription buttons-trigger inactive asfaf">
                                                </span>
                        {{/compareTwoConditions}}
                    </td>
                    <td class="div-table-cell product-name" colspan="1">
                        {{this.product_name}}
                    </td>
                    <td class="div-table-cell" colspan="1">
                        {{this.contract_nr}}
                    </td>
                    {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_ACTIVE ; ?>' operator="!="}}
                    <td class="div-table-cell inactive-cell" colspan="1">
                        {{this.product_status}}
                    </td>
                    {{else}}
                    <td class="div-table-cell" colspan="1">
                        {{this.product_status}}
                    </td>
                    {{/compare}}
                    <td class="div-table-cell" colspan="1">
                        {{this.contract_end_date}}
                    </td>
                    {{#compareTwoConditions this.product_status '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_ACTIVE ; ?>'
                    this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="==" logicalOperator="&&"}}
                    <td class="div-table-cell border-cell account-action-linked-cell" colspan="1">
                        <div class="account-actions-and-linked">
                            <img class="account-action-linked" src="<?php echo $this->getSkinUrl('images/de/link-black.png') ?>"/>
                            <span class="account-action"></span>
                        </div>
                    </td>
                    {{else}}
                    <td class="div-table-cell border-cell" colspan="1"> </td>
                    {{/compareTwoConditions}}
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compareTwoConditions this.product_status '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_ACTIVE ; ?>'
                        this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="==" logicalOperator="&&"}}
                        <span class="account-action"></span>
                        {{/compareTwoConditions}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compareTwoConditions this.product_status '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_ACTIVE ; ?>'
                        this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="==" logicalOperator="&&"}}
                        <span class="account-action"></span>
                        {{/compareTwoConditions}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                    </td>
                    <td class="div-table-cell border-cell retention-response retention-response-{{this.contract_nr}}" colspan="1">
                    </td>
                </tr>
                {{#compareTwoConditions this.product_status '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_ACTIVE ; ?>'
                this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID ; ?>' operator="==" logicalOperator="&&"}}
                <tr class="div-table-row subscription collapse out search-list-{{this.contract_nr}}">
                    <td class="checkbox-cell" colspan="1">
                    </td>
                    <td class="first-table-subscription" colspan="4">
                        <p class="table-title">
                            <?php echo $this->__("Subscription information") ;?>
                        </p>
                        <table class="subscription-info">
                            <tr>
                                <td class="text"> <?php echo $this->__("Subscriber status").":" ;?></td>
                                <td class="value left-border">{{this.customer_value}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("PUK").":" ;?></td>
                                <td class="value left-border">{{this.PUK}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Contract type").":" ;?></td>
                                <td class="value left-border">{{this.contract_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Part of Bundle?") ;?></td>
                                <td class="value left-border">{{this.part_of_bundle}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Possible to add to Bundle?") ;?></td>
                                <td class="value left-border">{{this.possible_for_bundle}}</td>
                            </tr>
                        </table>
                        <p class="table-title subscription-content">
                            <?php echo $this->__("Subscription content") ;?>
                        </p>
                        <table class="subscription-content">
                            <tr>
                                <td class="text"><?php echo $this->__("Tariff").":" ;?></td>
                                <td class="value left-border">{{this.tarif}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Promotion(s)").":" ;?></td>
                                <td class="value left-border">{{this.promotion}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Discounts").":" ;?></td>
                                <td class="value left-border">{{this.discount}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Addons").":" ;?></td>
                                <td class="value left-border">
                                    {{#compare addon.length 0 operator="!="}}
                                    {{#each this.addon}}
                                    {{this}} <br>
                                    {{/each}}
                                    {{/compare}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="second-table-subscription" colspan="6">
                        <p class="table-title">
                            <?php echo $this->__("Contract information") ;?>
                        </p>
                        <table class="contract-information">
                            <tr>
                                <td class="text"><?php echo $this->__("First activation date").":" ;?></td>
                                <td class="value left-border">{{this.first_activation_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Contract start date").":" ;?></td>
                                <td class="value left-border">{{this.contract_start_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Next possible prolongation date").":" ;?></td>
                                <td class="value left-border">{{this.next_prolongation_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Cancellation notice period").":" ;?></td>
                                <td class="value left-border">{{this.cancel_period_notice}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Next possible cancellation date").":" ;?></td>
                                <td class="value left-border">{{this.next_possible_cancel_date}}</td>
                            </tr>
                        </table>
                        <p class="table-title">
                            <?php echo $this->__("User address") ?>
                        </p>
                        <p class="address-table-content">
                            {{this.user_address.straße}} {{this.user_address.hausnummer}}, {{this.user_address.plz}} {{this.user_address.ort}}
                        </p>
                        <p class="table-title">
                            <?php echo $this->__("Home address") ?>
                        </p>
                        <p class="address-table-content">
                            {{this.zuhause_address.straße}} {{this.zuhause_address.hausnummer}}, {{this.zuhause_address.plz}} {{this.zuhause_address.ort}}
                        </p>
                    </td>
                </tr>r
                {{/compareTwoConditions}}
                {{/each}}
                {{/each}}
                </tbody>
            </table>
            {{/compare}}

            {{#compareTwoConditions Cable.length 0 Fixed.length 0 operator="!=" logicalOperator="||"}}
            <table class="div-table fullWidth view-mobile-products">
                <thead>
                <tr class="div-table-row div-table-row-header">
                    <th class="div-table-cell checkbox-cell"></th>
                    <th class="div-table-cell"><?php echo $this->__('Customer no.'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Product name'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Contract nr'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Product status'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Contract end date'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Change Addons'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Change Tariff'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Pre-post'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Migration'); ?></th>
                    <th class="div-table-cell"><?php echo $this->__('Prolongation'); ?></th>
                </tr>
                </thead>
                <tbody id="left-sidebar-orders-content-entries">
                {{#each Cable}}
                <tr class="div-table-row first-mobile-row">
                    <td class="checkbox-cell"><span></span> </td>
                    <td class="div-table-cell" colspan="1">
                        {{@key}}
                    </td>
                    <td class="div-table-cell" colspan="1">
                        <?php echo $this->__("Cable") ?>
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                </tr>
                {{#each this}}
                <tr class="div-table-row">
                    <td class="checkbox-cell">
                    </td>
                    <td class="div-table-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::CABLE_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="collapse-button-subscription buttons-trigger"
                              onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'subscription')" data-target="search-list-{{this.contract_nr}}">
                                            </span>
                        {{else}}
                        <span class="collapse-button-subscription buttons-trigger inactive">
                                            </span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell product-name" colspan="1">
                        {{this.product_name}}
                    </td>
                    <td class="div-table-cell" colspan="1">
                        {{this.contract_nr}}
                    </td>
                    {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::CABLE_PRODUCT_STATUS_ACTIVE ; ?>' operator="!="}}
                    <td class="div-table-cell inactive-cell" colspan="1">
                        {{this.product_status}}
                    </td>
                    {{else}}
                    <td class="div-table-cell" colspan="1">
                        {{this.product_status}}
                    </td>
                    {{/compare}}
                    <td class="div-table-cell" colspan="1">
                        {{this.contract_end_date}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::CABLE_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="account-action"></span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::CABLE_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="account-action"></span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::CABLE_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="account-action"></span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                    </td>
                </tr>
                {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::CABLE_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                <tr class="div-table-row subscription collapse out search-list-{{this.contract_nr}}">
                    <td class="checkbox-cell" colspan="1">
                    </td>
                    <td class="first-table-subscription" colspan="4">
                        <p class="table-title">
                            <?php echo $this->__("Subscription information") ;?>
                        </p>
                        <table class="subscription-info">
                            <tr>
                                <td class="text"> <?php echo $this->__("Contract type").":" ;?></td>
                                <td class="value left-border">{{this.contract_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Part of Bundle?") ;?></td>
                                <td class="value left-border">{{this.part_of_bundle}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Possible to add to Bundle?") ;?></td>
                                <td class="value left-border">{{this.possible_for_bundle}}</td>
                            </tr>
                        </table>
                        <p class="table-title subscription-content">
                            <?php echo $this->__("Subscription content") ;?>
                        </p>
                        <table class="subscription-content">
                            <tr>
                                <td class="text"><?php echo $this->__("Tariff").":" ;?></td>
                                <td class="value left-border">{{this.tarif}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Promotion(s)").":" ;?></td>
                                <td class="value left-border">{{this.promotion}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Hardware").":" ;?></td>
                                <td class="value left-border">{{this.hardware}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Smartcard number").":" ;?></td>
                                <td class="value left-border">{{this.smartcard_number}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Smartcard type").":" ;?></td>
                                <td class="value left-border">{{this.smartcard_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Receiver number").":" ;?></td>
                                <td class="value left-border">{{this.receiver_number}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Receiver type").":" ;?></td>
                                <td class="value left-border">{{this.receiver_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Hierarchy giver").":" ;?></td>
                                <td class="value left-border">{{this.hierarchy_giver}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="second-table-subscription" colspan="6">
                        <p class="table-title">
                            <?php echo $this->__("Contract information") ;?>
                        </p>
                        <table class="contract-information">
                            <tr>
                                <td class="text"><?php echo $this->__("First activation date").":" ;?></td>
                                <td class="value left-border">{{this.first_activation_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Contract start date").":" ;?></td>
                                <td class="value left-border">{{this.contract_start_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Contract end date").":" ;?></td>
                                <td class="value left-border">{{this.contract_end_date}}</td>
                            </tr>
                        </table>
                        <p class="table-title">
                            <?php echo $this->__("Service address") ?>
                        </p>
                        <p class="address-table-content">
                            {{this.service_address.straße}} {{this.service_address.hausnummer}}, {{this.service_address.plz}} {{this.service_address.ort}}
                        </p>
                    </td>
                </tr>
                {{/compare}}
                {{/each}}
                {{/each}}

                {{#each Fixed}}
                <tr class="div-table-row first-mobile-row">
                    <td class="checkbox-cell"><span></span> </td>
                    <td class="div-table-cell" colspan="1">
                        {{@key}}
                    </td>
                    <td class="div-table-cell" colspan="1">
                        <?php echo $this->__("Fixed") ?>
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                    <td class="div-table-cell" colspan="1">
                    </td>
                </tr>
                {{#each this}}
                <tr class="div-table-row">
                    <td class="checkbox-cell">
                    </td>
                    <td class="div-table-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::FIXED_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="collapse-button-subscription buttons-trigger"
                              onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'subscription')" data-target="search-list-{{this.contract_nr}}">
                                            </span>
                        {{else}}
                        <span class="collapse-button-subscription buttons-trigger inactive">
                                            </span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell product-name" colspan="1">
                        {{this.product_name}}
                    </td>
                    <td class="div-table-cell" colspan="1">
                        {{this.contract_nr}}
                    </td>
                    {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::FIXED_PRODUCT_STATUS_ACTIVE ; ?>' operator="!="}}
                    <td class="div-table-cell inactive-cell" colspan="1">
                        {{this.product_status}}
                    </td>
                    {{else}}
                    <td class="div-table-cell" colspan="1">
                        {{this.product_status}}
                    </td>
                    {{/compare}}
                    <td class="div-table-cell" colspan="1">
                        {{this.contract_end_date}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::FIXED_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="account-action"></span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::FIXED_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="account-action"></span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                        {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::FIXED_PRODUCT_STATUS_ACTIVE ; ?>' operator="=="}}
                        <span class="account-action"></span>
                        {{/compare}}
                    </td>
                    <td class="div-table-cell border-cell" colspan="1">
                    </td>
                </tr>
                {{#compare this.product_status '<?php echo Dyna_Customer_Helper_Customer::FIXED_PRODUCT_STATUS_ACTIVE ; ?>' operator="==" }}
                <tr class="div-table-row subscription collapse out search-list-{{this.contract_nr}}">
                    <td class="checkbox-cell" colspan="1">
                    </td>
                    <td class="first-table-subscription" colspan="4">
                        <p class="table-title">
                            <?php echo $this->__("Subscription information") ;?>
                        </p>
                        <table class="subscription-info">
                            <tr>
                                <td class="text"> <?php echo $this->__("Contract type").":" ;?></td>
                                <td class="value left-border">{{this.contract_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Part of Bundle?") ;?></td>
                                <td class="value left-border">{{this.part_of_bundle}}</td>
                            </tr>
                            <tr>
                                <td class="text"> <?php echo $this->__("Possible to add to Bundle?") ;?></td>
                                <td class="value left-border">{{this.possible_for_bundle}}</td>
                            </tr>
                        </table>
                        <p class="table-title subscription-content">
                            <?php echo $this->__("Subscription content") ;?>
                        </p>
                        <table class="subscription-content">
                            <tr>
                                <td class="text"><?php echo $this->__("Tariff").":" ;?></td>
                                <td class="value left-border">{{this.tarif}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Promotion(s)").":" ;?></td>
                                <td class="value left-border">{{this.promotion}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Hardware").":" ;?></td>
                                <td class="value left-border">{{this.hardware}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Smartcard number").":" ;?></td>
                                <td class="value left-border">{{this.smartcard_number}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Smartcard type").":" ;?></td>
                                <td class="value left-border">{{this.smartcard_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Receiver number").":" ;?></td>
                                <td class="value left-border">{{this.receiver_number}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Receiver type").":" ;?></td>
                                <td class="value left-border">{{this.receiver_type}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Hierarchy giver").":" ;?></td>
                                <td class="value left-border">{{this.hierarchy_giver}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="second-table-subscription" colspan="6">
                        <p class="table-title">
                            <?php echo $this->__("Contract information") ;?>
                        </p>
                        <table class="contract-information">
                            <tr>
                                <td class="text"><?php echo $this->__("First activation date").":" ;?></td>
                                <td class="value left-border">{{this.first_activation_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Contract start date").":" ;?></td>
                                <td class="value left-border">{{this.contract_start_date}}</td>
                            </tr>
                            <tr>
                                <td class="text"><?php echo $this->__("Contract end date").":" ;?></td>
                                <td class="value left-border">{{this.contract_end_date}}</td>
                            </tr>
                        </table>
                        <p class="table-title">
                            <?php echo $this->__("Service address") ?>
                        </p>
                        <p class="address-table-content">
                            {{this.service_address.straße}} {{this.service_address.hausnummer}}, {{this.service_address.plz}} {{this.service_address.ort}}
                        </p>
                    </td>
                </tr>
                {{/compare}}
                {{/each}}
                {{/each}}
                </tbody>
            </table>
            {{/compareTwoConditions}}
        </div>
    </div>
</script>
