
<script id="left-sidebar-carts-content" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table">
        <div class="col-title">
            <div class="table-title"><?php echo $this->__('Shopping carts'); ?></div>
        </div>
        <div class="left-sidebar-additional-title">
            <div class="table-description"><strong><?php echo $this->__('Overview'); ?></strong></div>
        </div>
        <table class="div-table fullWidth initial-customer">
            <thead>
            <tr class="div-table-row div-table-row-header">
                <th class="div-table-cell sort-by sort-desc" order-by="date"
                    onclick="customerDe.sortRows(this, '#left-sidebar-orders-content-entries', 'tr', 'td')"><?php echo $this->__('Creation date'); ?>
                    <span></span>
                </th>
                <th class="div-table-cell sort-by" order-by="number"
                    onclick="customerDe.sortRows(this, '#left-sidebar-orders-content-entries', 'tr', 'td')"><?php echo $this->__('Type'); ?>
                    <span></span>
                </th>
                <th class="div-table-cell sort-by" order-by="string"
                    onclick="customerDe.sortRows(this, '#left-sidebar-orders-content-entries', 'tr', 'td')"><?php echo $this->__('Channel | Agent'); ?>
                    <span></span>
                </th>
                <th class="div-table-cell"></th>
            </tr>
            </thead>
            <tbody id="left-sidebar-orders-content-entries">
            {{#each orders}}
            <tr class="div-table-row">
                <td class="div-table-cell" colspan="1">
                    {{creationDate}}
                </td>
                <td class="div-table-cell" colspan="1">
                    {{orderType}}
                </td>
                <td class="div-table-cell {{#ifCond orderStatus '==' 'Cancelled'}}cancelled{{/ifCond}}" colspan="1">
                    {{channelAndAgent}}
                </td>
                <td class="div-table-cell has-button" colspan="1">
                    <div>
                        <input class="btn btn-block btn-info-black no-right-corners btn-medium no-right-corners"
                               value="<?php echo $this->__('Continue') ?>"
                               onclick="showModalError('Continuing order {{orderId}} is not currently implemented.')"/>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle no-left-corners"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="icon-delete"><a><?php echo $this->__("Delete") ?></a></li>
                                <li class="icon-view"><a
                                        onclick="customerDe.showShoppingCart('{{orderId}}')"><?php echo $this->__("Show") ?></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</script>