<script id="left-sidebar-carts-content" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table dots-menu">
        <div class="title with-top-spacing">
            <div class="table-title table-title-search"><?php echo $this->__('Shopping carts'); ?></div>
        </div>
        <div class="table-responsive">
            <table class="table customer-360-table">
                <thead>
                    <tr class="div-table-row div-table-row-header">
                        <th class="div-table-cell sort-by sort-desc" order-by="date"
                            onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Creation date'); ?>
                            <span></span>
                        </th>
                        <th class="div-table-cell sort-by" order-by="number"
                            onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Type'); ?>
                            <span></span>
                        <th class="div-table-cell sort-by" order-by="string"
                            onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Channel'); ?>
                            <span></span>
                        </th>
                        <th class="div-table-cell sort-by" order-by="string"
                            onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Agent'); ?>
                            <span></span>
                        </th>
                        <th class="div-table-cell"></th>
                    </tr>
                </thead>
                <tbody id="left-sidebar-saved-carts-content-entries">
                {{#each orders}}
                    <tr class="div-table-row">
                        <td class="div-table-cell create-date" colspan="1">
                            <div class="legacy-icons">
                                {{#compare  KIAS '1' operator="=="}}
                                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                                {{/compare}}

                                {{#compare  KDG '1' operator="=="}}
                                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                {{/compare}}

                                {{#compare  FN '1' operator="=="}}
                                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                {{/compare}}
                            </div>
                            <div class="create-date-value">
                                {{creationDate}}
                            </div>
                        </td>
                        <td class="div-table-cell" colspan="1">
                            {{orderType}}
                        </td>
                        <td class="div-table-cell" colspan="1">
                            {{channel}}
                        </td>
                        <td class="div-table-cell" colspan="1">
                            {{agent}}
                        </td>
                        <td class="div-table-cell has-button saved-carts-menu" colspan="1">
                            <input class="btn btn-info btn-medium" value="<?php echo $this->__('Continue'); ?>" onclick="showModalError('Continuing order {{orderId}} is not currently implemented.')"/>
                            <!-- menu for each package-->
                            <div class="menu-expand full">
                                <ul>
                                    <li class="edit-package icons view">
                                        <a onclick="customerDe.showShoppingCart('{{orderId}}')"><?php echo $this->__("Show") ?></a>
                                    </li>
                                    <li class="remove-package icons delete">
                                        <a onclick="customerDe.deleteShoppingCart('{{orderId}}')"><?php echo $this->__('Remove'); ?></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-drop-menu drop-menu pull-right" onclick="customerDe.switchSavedCartMenu(event, this)">
                                <div class="menu grey"></div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
</script>


