<?php

$session = Mage::getSingleton('customer/session');
/** @var Dyna_Agent_Model_Agent $agent*/
$agent = $session->getAgent();
if($agent) {
    $agentDealer = $agent->getDealer();
    /** @var Dyna_Agent_Model_Agent $superAgent */
    $superAgent = $session->getSuperAgent();
    if ($superAgent) {
        $superAgentDealer = $superAgent->getDealer();
    }
}
?>
<?php if($agent):?>
<div class="user-menu">
    <?php
        // Render incoming customer phone icon block
        echo $this->getLayout()
            ->createBlock('core/template')
            ->setTemplate('agent/top_menu_phone.phtml')
            ->toHtml();
    ?>
    <div class="drop-menu">
        <a href="#user-menu-content" data-slidebutton-top="panel">
            <div class="clearfix">
                <div class="menu">
                    <span id="impersonated_agent_details_top">
                        <?php
                        if ($superAgent) {
                            echo '' . $agent->getUsername() . '';
                            echo '&nbsp;-&nbsp;' . $agent->getDealerCode();
                        }
                        ?>
                    </span>

                    <span id="agent_details_top" class="<?php echo $superAgent ? 'grey': null;?>">
                        <?php
                        if ($superAgent) {
                            echo '&nbsp;<span>(</span>' . $superAgent->getUsername() . '';
                            echo '&nbsp;-&nbsp;' . $superAgent->getDealerCode() . '<span>)</span>';
                        } else {
                            echo '&nbsp;<span>(</span>' . $agent->getUsername() . '';
                            echo '&nbsp;-&nbsp;' . $agent->getDealerCode() . '<span>)</span>';
                        }
                        ?>
                    </span>
                </div>

                <div class="menu-arrow-down"><span>B</span></div>
            </div>
        </a>
    </div>
</div>
<div id="user-menu-content" class="cb_slide_panel">
    <div class="wrapper">
        <a href="javascript:void(0)" class="close">Close</a>
        <div class="inner">
            <div class="top-menu-buttons col-xs-12">
                <div class="nav btn-group">
                    <button type="button" class="btn btn-default el-tab profile active" onclick="jQuery('#profile-tab').tab('show');"><?php echo $this->__('Profile') ?></button>
                    <?php
                        $hiddenChangePass = 'hidden';
                        if(!Mage::getSingleton('customer/session')->getAgent()->getId() || !Mage::getSingleton('customer/session')->getSuperAgent()){
                            $hiddenChangePass = '';
                        }
                    ?>
                        <button type="button" class="btn btn-default el-tab change-password <?php echo $hiddenChangePass; ?>" onclick="jQuery('#password-change-tab').tab('show');"><?php echo $this->__('Change password') ?></button>
                    <!--   avoid agent impersonating for indirect store-->
                    <?php if ( Mage::app()->getWebsite()->getCode() != Dyna_AgentDE_Model_Website::WEBSITE_INDIRECT_CODE && ($superAgent || $agent->getIsSuperAgent())): ?>
                        <button type="button" class="btn btn-default el-tab login-other-user" onclick="agent.getAgents(true); jQuery('#agent-load-tab').tab('show');"><?php echo $this->__('Login as other agent') ?></button>
                    <?php endif; ?>
                </div>
                <button type="button" class="btn btn-danger pull-right" onclick="agent.logout();" ><?php echo $this->__('Logout') ?></button>
            </div>
            <div class="middle-section col-xs-12">
                <ul class="nav nav-tabs dont-show no-padding no-margin" id="top-tabs">
                    <li class=""><a href="#profile" id="profile-tab" data-toggle="tab"><?php echo $this->__('Profile'); ?></a></li>
                    <li class=""><a href="#password-change" id="password-change-tab" data-toggle="tab"><?php echo $this->__('Change password'); ?></a></li>
                    <?php if ($superAgent || $agent->getIsSuperAgent()): ?>
                        <li class=""><a href="#agent-load"<?php echo $superAgent ? ' style="display:none"' : '';?> id="agent-load-tab" data-toggle="tab" onclick="agent.getAgents(true)"><?php echo $this->__('Load other agent'); ?></a></li>
                    <?php endif; ?>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane top_menu_content active" id="profile">
                        <h4><?php echo $this->__('Agent details') ?></h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('Username'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getUsername() : $agent->getUsername(); ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('E-Mail'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getEmail() : $agent->getEmail(); ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('Phone'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getPhone() : $agent->getPhone(); ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('First Name'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getFirstName() : $agent->getFirstName(); ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('Last Name'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getLastName() : $agent->getLastName(); ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('Rights'); ?></strong>:</span>
                                <?php $roles = Dyna_Agent_Block_Adminhtml_Agent_Grid::getValueArray6();?>
                                    <span class="col-xs-6"><?php echo $roles[$superAgent ? $superAgent->getRoleId() : $agent->getRoleId()]; ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('Vodafone employee number'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getEmployeeNumber() : $agent->getEmployeeNumber(); ?></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-xs-6"><strong><?php echo $this->__('Dealer code'); ?></strong>:</span>
                                    <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getDealer()->getVfDealerCode() : $agent->getDealer()->getVfDealerCode();  ?></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane top_menu_content" id="password-change">
                        <p id="agent-change-password-error" class="error"></p>
                        <h4><?php echo $this->__('Change password') ?></h4>
                        <form role="form">
                            <div class="form-group">
                                <label for="curr-password"><?php echo $this->__('Current password');?></label>
                                <input type="password" class="form-control" id="curr-password">
                            </div>
                            <div class="form-group">
                                <label for="password"><?php echo $this->__('New password');?></label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="password-again"><?php echo $this->__('New password again');?></label>
                                <input type="password" class="form-control" id="password-again">
                            </div>
                            <div class="form-group info-block">
                                <ul>
                                    <li><?php echo $this->__('at least 8 characters'); ?></li>
                                    <li><?php echo $this->__('should contain at least 3 of the following character types:'); ?>
                                        <ul>
                                            <li><?php echo $this->__('numerals'); ?></li>
                                            <li><?php echo $this->__('punctuation'); ?></li>
                                            <li><?php echo $this->__('lower case literals'); ?></li>
                                            <li><?php echo $this->__('upper case literals'); ?></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn btn-info right" onclick="agent.changePassword(jQuery('#curr-password').val(), jQuery('#password').val(), jQuery('#password-again').val())">
                                <?php echo $this->__('Save'); ?>
                            </div>
                        </form>
                        <div class="clearfix clear clearer"></div>
                    </div>
                    <?php if ($superAgent || $agent->getIsSuperAgent()): ?>
                        <div class="tab-pane top_menu_content" id="agent-load">
                            <h4 class="login-user-agent<?php echo $superAgent ? ' hide': '' ?>"><?php echo $this->__('Log as other agent') ?></h4>
                                <p id="agent-login-error" class="error login-user-agent<?php echo $superAgent ? ' hide': '' ?>"></p>
                                <div class="login-user-agent<?php echo $superAgent ? ' hide': '' ?>">
                                    <form role="form" class="loginOtherUserForm">
                                        <div class="form-group">
                                            <label for="agent-username-input"><?php echo $this->__('Username').':';?></label>
                                            <input type="text" class="form-control" id="agent-username-input">
                                        </div>
                                    </form>
                                </div>
                                <div class="btn btn-info right login-user-agent<?php echo $superAgent ? ' hide': '' ?>" onclick="loginOtherUser()">
                                    <?php echo $this->__('login as other user'); ?>
                                </div>
                            <h4 class="logout-user<?php echo $superAgent ? '': " hide" ?>"><?php echo $this->__('Logout as other agent') ?></h4>
                                <ul class="list-group no-padding logout-user<?php echo $superAgent ? '': ' hide' ?>">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $this->__('Logged in as'); ?></strong></span>
                                            <span class="col-xs-6"><span id="agent-username"><?php echo $agent->getUsername(); ?></span> - <span id="agent-dealer"><?php echo $agentDealer ? $agentDealer->getVfDealerCode() : $this->__('N/A'); ?></span></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn btn-info right logout-user<?php echo $superAgent ? '': ' hide' ?>" onclick="agent.logoutOtherAgent();">
                                    <?php echo $this->__('logout other user'); ?>
                                </div>

                            <p id="agent-logout-error" class="error"></p>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>
    <?php
        $autoLogout = Mage::helper('agent')->getAutoLogoutConfig('enable');
        $dialogTimeout = Mage::helper('agent')->getAutoLogoutConfig('dialog_seconds');
        $forcedLogoff = Mage::helper('agent')->getAutoLogoutConfig('forced_logoff');
    ?>
    <?php if ($autoLogout): ?>
        <script type="text/javascript" charset="utf-8">
            jQuery(document).ready(function() {
                jQuery(document).idleTimeout({
                    idleTimeLimit: <?php echo $forcedLogoff; ?> * 1000,
                    dialogDisplayLimit: <?php echo $dialogTimeout; ?> * 1000,
                    redirectUrl: MAIN_URL + 'agent/account/logout',
                    customCallback: false,
                    activityEvents: 'click keypress scroll wheel mousewheel mousemove',
        
                    //dialog box configuration
                    dialogTitle: '',
                    dialogText: '<?php echo $this->__('Warning: You will be logged off in %s seconds.', $dialogTimeout); ?>'
                });
            });
        </script>
    <?php endif ;?>
<?php endif ;?>
