<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
$priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>
<div class="row item-row padding" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-9">
            <div class="item-title">{{ name }}</div>
        </div>
        <div class="col-xs-1 marked-selected-container">
            <span class="is-marked-selected hidden">U</span>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-1">
            <div class="right">
                {{ money regular_maf_with_tax }}
            </div>
        </div>
    </div>
</div>
