<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

if((!Mage::getSingleton('customer/session')->getCustomer()->getId() && !Mage::getSingleton('customer/session')->getProspect()) || $this->getTopMenu()): ?>
<div class="customer_left_search" id="customer_search">
    <p class="col-title">
        <span class="icon-person-search">P</span>
        <span><?php echo $this->__('Customer search')?></span>
    </p>
    <?php
        echo Mage::getBlockSingleton('page/html')
            ->setTemplate('customer/search.phtml')
            ->setFormId($this->getFormId())
            ->setOnClickAction(false)
            ->toHtml();
    ?>
</div>
<?php endif; ?>