<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$customerSession = Mage::getSingleton('customer/session');
$agent = $customerSession->getSuperAgent() ?: $customerSession->getAgent(true);
$showCounters = !$this->getData('hideCounters');
$customer = $customerSession->getCustomer();
if ((($customer_id = $customer->getId()) && !$customerSession->getProspect())):
    if ($showCounters) {
        /** @var Omnius_Superorder_Model_Superorder $superOrder */
        $superOrder = Mage::getModel('superorder/superorder');
        //Applying agent roles filters
        /** @var Omnius_Superorder_Model_Mysql4_Superorder_Collection $superOrders */
        $superOrders = $superOrder->applyFiltersByAgent($superOrder->getCollection());
        //Applying customer id filter
        $superOrders->addFieldToFilter('main_table.customer_id', $customer_id);
        //Actually resetting fields from select because
        $superOrders->removeAllFieldsFromSelect();
        //Now removing fields from select
        $superOrders->removeFieldFromSelect("entity_id");
        $superOrders->getSelect()->joinRight(array('sales_flat_order'), 'main_table.entity_id = sales_flat_order.superorder_id', array());
        //Setting up expression to count results
        $superOrders->addExpressionFieldToSelect("all_orders", "COUNT(DISTINCT(main_table.entity_id))", 1);
        //Executing count(collection) without loading collection
        $superOrdersCounter = Mage::getModel('core/resource')->getConnection('read')->fetchRow($superOrders->getSelectSql(true));
        $superOrdersCounter = $superOrdersCounter['all_orders'];
    } else {
        $superOrdersCounter = 0;
    }
?>
<script>
    window.checkoutEnabled = <?php echo !Mage::getSingleton('customer/session')->getCustomer()->getId() || Mage::getSingleton('customer/session')->getCustomerInfoSync() || Mage::getSingleton('customer/session')->getOrderEditMode() ? 'true' : 'false' ?>;
    jQuery(".col-left .enlarge.right-direction").css('display', 'block');
    jQuery(".guest").removeClass('guest');
</script>
<?php $this->setCustomer(Mage::getModel('customer/customer')->load($customer_id));  ?>
    <p><span class="col-title loggedin"><span class="icon-person-search">P</span><?php echo $this->__('Current client') ?></span><a class="right client_logout" href="javascript:void(0)" onclick="customer.logoutCustomer()"><?php echo $this->__('Find other customer');?></a></p>
    <div class="block">
        <p><a href="javascript:void(0)" class="arrow-down customer-info-hide"></a><a href="javascript:void(0)" class="customer-info-hide"><b><?php echo $this->__('Client'); ?></b></a></p>
        <div class="customer-info clear clearfix clearboth" style="font-size: 11px;" id="customer-info-section">
        <?php foreach($this->getCustomer()->getCampaigns() as $campaign): ?>
            <span class="campaign badge badge-customer"><?php echo $campaign->getCode(); ?></span>
        <?php endforeach; ?>
            <?php if ($this->getCustomer()->getData('is_business')): ?>
                <div class="customer-company"><strong><?php echo sprintf('%s (KVK: %s)', $this->getCustomer()->getData('company_name'), $this->getCustomer()->getData('company_coc')) ?></strong></div>
            <?php endif; ?>
            <?php
            // Where is my block? Refactor me to method
            function _getCustomerValueLabel($customer) {
                $customerValueDetails = Mage::getSingleton("eav/config")->getAttribute("customer", "customer_value")->getSource()->getAllOptions(false);
                foreach($customerValueDetails as $customerValueDetail)
                    if ($customerValueDetail['value'] == $customer->getCustomerValue())
                        return $customerValueDetail['label'];
                return '';
            }
            ?>
            <?php $addresses = array($this->getCustomer()->getDefaultBillingAddress(), $this->getCustomer()->getDcefaultShippingAddress()); ?>
            <?php $counter = 1; foreach ($addresses as $address): /** @var Mage_Customer_Model_Address $address */ ?>
                <?php if ($address instanceof Mage_Customer_Model_Address): ?>
                    <div class="customer-address col-md-12 no-padding">
                     <?php /*   <div class="col-md-3 no-padding">
                            <span><?php echo $this->__(sprintf('Author %s', $counter++)) ?></span>
                        </div> */ ?>
                        <div class="col-md-12 no-padding">
                            <span class="campaign badge badge-da"><?php echo $this->getCustomer()->getCustomerLabel() ?: '';?></span>
                            <div class="col-md-12 no-padding">
                                <strong class="address-customer-gender">
                                    <?php if($this->getCustomer()->getData('is_business')): ?>
                                        <?php echo sprintf('%s %s %s %s', $this->__($this->getCustomer()->getContractantPrefix()), $this->getCustomer()->getContractantFirstname(), $this->getCustomer()->getContractantMiddlename() ? $this->getCustomer()->getContractantMiddlename() :  '', $this->getCustomer()->getContractantLastname()) ?>
                                    <?php else: ?>
                                        <?php echo sprintf('%s %s %s %s', $this->__($this->getCustomer()->getPrefix()), $this->getCustomer()->getFirstname(), $this->getCustomer()->getMiddlename() ? $this->getCustomer()->getMiddlename() :  '', $this->getCustomer()->getLastname()) ?>
                                    <?php endif; ?>
                                </strong>
                            </div>
                            <div class="col-md-12 no-padding"><?php if(_getCustomerValueLabel($this->getCustomer()) != ''): ?><span class="address-customer-value"><?php echo $this->__('Value') ?>: <?php echo _getCustomerValueLabel($this->getCustomer()); ?></span><?php endif; ?></div>
                            <div class="col-md-12 no-padding"><?php if($this->getCustomer()->getData('campaign')): ?><span class="address-customer-campaign"><?php echo $this->__('Campaign') ?>: <?php echo $this->getCustomer()->getResource()->getAttribute('campaign')->getFrontend()->getValue($this->getCustomer()) ?></span><?php endif; ?></div>
                            <div class="col-md-12 no-padding"><span class="address-customer-address"><?php echo sprintf('%s, %s, %s', $address->getData('street'), $address->getPostcode(), $address->getCity()) ?></span></div>
                            <?php if(!$this->getCustomer()->getData('is_business')): ?>
                                <?php if ($this->getCustomer()->hasDob()): ?>
                                    <div class="col-md-12 no-padding"><span class="address-customer-dob"><?php echo sprintf($this->__('Date of birth') . ': %s', $this->getCustomer()->getDob()) ?></span></div>
                                <?php endif; ?>
                            <?php else: ?>
                                <?php if ($this->getCustomer()->hasContractantDob()): ?>
                                    <div class="col-md-12 no-padding"><span class="address-customer-dob"><?php echo sprintf($this->__('Date of birth') . ': %s', $this->getCustomer()->getContractantDob()) ?></span></div>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if ($this->getCustomer()->getPin()): ?>
                                <div class="col-md-12 no-padding"><a class="address-customer-pin" data-state-0="<?php echo $this->getCustomer()->getPin(); ?>" data-state-1="<?php echo $this->__('Password'); ?>" data-state="1"><?php echo $this->__('Password'); ?></a></div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php break; ?>
            <?php endforeach; ?>
        </div>
    </div>
    <div class="customer_ctns block">
        <p><a href="javascript:void(0)" class="arrow-down ctn-hide" id="arrow"></a><a href="javascript:void(0)" class="ctn-hide"><b><?php echo 'BAN '.$this->getCustomer()->getData('ban');?></b></a></p>

        <ul class="nav nav-tabs no-padding no-margin" id="ctn-tabs">
            <?php if (!$customer->isInMigration()): ?>
                <li class=""><a id="cart_info_left" href="#customer_details_panel" data-slidebutton-left="panel" data-toggle="carts-content"><?php echo $this->__('Carts'). '<span class="cartamount badge">' . ($showCounters ? count($this->getCustomer()->getShoppingCarts(true)) : 0) . '</span>';?></a></li>
            <?php endif; ?>
            <?php if (!$customer->isInMigration()): ?>
                <li class=""><a id="order_info_left" href="#customer_details_panel" data-slidebutton-left="panel" data-toggle="orders-content"><?php echo $this->__('Orders'). '<span class="orderamount badge">' . $superOrdersCounter . '</span>';?></a></li>
            <?php endif; ?>
            <li class=""><a id="product_info_left" href="#customer_details_panel" data-slidebutton-left="panel" data-toggle="products-content"><?php echo $this->__('My products'). '<span class="ctnamount badge">' . ($showCounters ? count($this->getCustomer()->getCtn()->getItems()) : 0) . '</span>';?></a></li>
            <li class=""><a id="customer_info_left" href="#customer_details_panel" data-slidebutton-left="panel" data-toggle="customer-content"><?php echo $this->__('360 view'); ?></a></li>
            <li class=""><a id="nba_info_left" href="#customer_details_panel" data-slidebutton-left="panel" data-toggle="nba-content"><?php echo $this->__('Tip: good deal'); ?></a></li>
        </ul>
            <div id="customer_details_panel" class="cb_slide_panel" data-slidepanel-left="">
                <a href="javascript:void(0)" class="close show" id="close_customer_details">Close</a>
                <div class="wrapper"><!-- Filled with javascript --></div>
            </div>
    </div>
<?php endif;?>
<?php if ($customerSession->getProspect()): ?>
<?php
    $cartCount = $customer->getShoppingCarts();
?>
    <script>
        jQuery(".col-left .enlarge.right-direction").css('display', 'block');
        jQuery(".guest").removeClass('guest');
    </script>
<p><span class="col-title loggedin"><?php echo $this->__('Current client') ?></span><a class="right client_logout" href="javascript:void(0)" onclick="customer.logoutCustomer()"><?php echo $this->__('Find other customer');?></a></p>
<div class="block">
    <p><a href="javascript:void(0)" class="arrow-down customer-info-hide"></a><a href="javascript:void(0)" class="customer-info-hide"><b><?php echo $this->__('Client'); ?></b></a></p>
    <div class="customer-info clear clearfix clearboth" style="font-size: 11px;" id="customer-info-section">
        <div class="col-md-12 no-padding">
            <div class="col-md-12 no-padding"><strong><?php echo $customer->getFirstname() . ' ' . $customer->getMiddlename() . ' ' .  $customer->getLastname(); ?></strong></div>
            <div class="col-md-12 no-padding"><strong><?php echo $this->__('Email:') . $customer->getCorrespondanceEmail(); ?></strong></div>
        </div>
    </div>
</div>
<div class="customer_ctns block">
    <p><a href="javascript:void(0)" class="arrow-down ctn-hide" id="arrow"></a><a href="javascript:void(0)" class="ctn-hide"><b><?php echo 'Email ' . $customerSession->getProspect();?></b></a></p>
    <ul class="nav nav-tabs no-padding no-margin" id="ctn-tabs">
        <li class=""><a id="cart_info_left" href="#customer_details_panel" data-slidebutton-left="panel" data-toggle="carts-content"><?php echo $this->__('Carts') . '<span class="cartamount badge">' . ($showCounters ? count($cartCount) : 0) . '</span>';?></a></li>
    </ul>
    <div id="customer_details_panel" class="cb_slide_panel" data-slidepanel-left="">
        <a href="javascript:void(0)" class="close show" id="close_customer_details">Close</a>
        <div class="wrapper">
            <!-- Filled with javascript -->
        </div>
    </div>
</div>
<?php endif; ?>
