<form class="form-inline" role="form" id="<?php echo $this->getFormId() ? $this->getFormId() : 'customer_search_form'; ?>" onsubmit="return false">
    <div class="search-block customer-search-form">
        <div class="form-group col-xs-6">
            <label for="customer_ctn"><?php echo $this->__('Mobile number'); ?></label>
            <input type="text" class="form-control" name="customer_ctn" id="customer_ctn" placeholder="06" autocomplete="off" />
        </div>
        <div class="form-group col-xs-4">
            <label for="billing_postcode"><?php echo $this->__('Postcode'); ?></label>
            <input type="text" class="form-control input_medium" name="billing_postcode" id="billing_postcode" placeholder="1234AA"/>
        </div>
        <div class="form-group col-xs-2">
            <label for="billing_street"><?php echo $this->__('Nr.'); ?></label>
            <input type="text" class="form-control input_small" name="billing_street" id="billing_street" autocomplete="off" />
        </div>
        <div class="form-group col-xs-6">
            <label for="company_name"><?php echo $this->__('Company name'); ?></label>
            <input type="text" class="form-control" name="company_name" id="company_name" autocomplete="off" />
        </div>
        <div class="form-group col-xs-6">
            <label for="ban"><?php echo $this->__('Client number'); ?></label>
            <input type="text" class="form-control" name="ban" id="ban"/>
        </div>
        <div class="form-group col-xs-2">
            <label for="firstname"><?php echo $this->__('Initial') . ','; ?></label>
            <input type="text" class="form-control input_small" name="firstname" id="firstname" autocomplete="off" />
        </div>
        <div class="form-group col-xs-4">  
            <label for="lastname"><?php echo $this->__('Surname'); ?></label>
            <input type="text" class="form-control input_medium" name="lastname" id="lastname" autocomplete="off" />
        </div>
        <div class="form-group col-xs-6">
            <label for="customer_email"><?php echo $this->__('E-mail'); ?></label>
            <input type="text" class="form-control" name="email" id="customer_email" autocomplete="off" />
        </div>
        <div class="form-group col-xs-6">
            <label for="dob"><?php echo $this->__('Date of birth'); ?></label>
            <input type="text" class="form-control date-format" name="dob" id="dob" autocomplete="off" placeholder="<?php echo $this->__('dd-mm-yyyy'); ?>"/>
        </div>
        <div class="form-group col-xs-6">
            <label for="order_number"><?php echo $this->__('Order number'); ?></label>
            <input type="text" class="form-control" name="order_number" id="order_number" autocomplete="off" />
        </div>
        <div class="form-group col-xs-6">
            <label for="pin"><?php echo $this->__('Customer password'); ?></label>
            <input type="text" class="form-control" name="pin" disabled id="pin" autocomplete="off" />
        </div>
        <div class="form-group col-xs-6">
            <label for="pin"><?php echo $this->__('KVK number'); ?></label>
            <input type="text" class="form-control" name="company_coc" id="company_coc" autocomplete="off" />
        </div>
        <?php if (Mage::app()->getRequest()->getModuleName() != 'checkout' ):?>
        <!-- <div class="form-group col-xs-6">
            <label for="quote_number"><?php //echo $this->__('Cart number'); ?></label>
            <input type="text" class="form-control" name="quote_number" id="quote_number"/>
        </div> -->
        <?php endif; ?>
        <div class="customer_search_field clear">
            <div class="btn btn-block btn-info" onclick="jQuery(this).parents('form').find('input[type=text], textarea').val('');"><?php echo $this->__('Clean fields'); ?></div>
        </div>
        <div class="search-button customer_search_field  col-xs-6">
            <input type="submit" class="btn btn-block btn-info" value="<?php echo $this->__('Search'); ?>"
                   onclick="customer.searchCustomer(this, '<?php echo $this->getOnClickAction() ?: ''; ?>')" />
        </div>
        <div class="clear" id="search-customer-type" style="display:none;">
            <div class="radio" style="display: block;">
                <label>
                    <input type="radio" name="customer_type" id="optionsRadios1" value="1" onclick="checkCustomerTypeOption(this);" checked disabled>
                    <?php echo $this->__('Individual'); ?>
                </label>
            </div>
            <div class="radio" style="display: block;">
                <label>
                    <input type="radio" name="customer_type" id="optionsRadios2" value="2" onclick="checkCustomerTypeOption(this);" disabled>
                    <?php echo $this->__('Business'); ?>
                </label>
            </div>
            <div class="radio" style="display: block;">
                <label>
                    <input type="radio" name="customer_type" id="optionsRadios3" value="3" onclick="checkCustomerTypeOption(this);" disabled>
                    <?php echo $this->__('Business with less than 3 numbers'); ?>
                </label>
            </div>
        </div>
        <div id="customer_search_results" class="customer_search_results col-xs-12">
            <?php if (Mage::getSingleton('customer/session')->getCustomer()->getId() && $this->getFormId() != 'top_menu_search') :?>
                <div class="modal-block" style="background: #ffffcb; padding:10px; margin-bottom: 10px;">
                    <div class="info left">
                        <div style="font-size: 12px;"><?php echo $this->__('A client is already active. Selecting another client will logout the current customer.');?></div>
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            <?php endif;?>
            <p class="title"><?php echo $this->__('Results'); ?></p>
            <div id="customer_list"><!--Filled with JS--></div>
        </div>
    </div>
</form>
