<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
    /**
     * @var string $packageType
     * @var string $key
     * @var array $package
     * @var string $ctnText
     * @var string $ctnDescription
     * @var array $applicablePromoRules
     */
    extract($data);

$packagesTitle = '';
if(strtoupper($package['type']) == Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE) {
    $packagesTitle = $this->__("Cable, Internet & Phone");
}
elseif(strtoupper($package['type']) == Dyna_Catalog_Model_Type::TYPE_CABLE_TV ) {
    $packagesTitle = $this->__("Cable TV");
} else {
    $packagesTitle = $this->__(ucfirst($packageType));
}
?>

<div class="title">
    <div class="package-arrow-right"><span>n</span></div>
    <div class="package-arrow-down"><span>B</span></div>
    <span class="package-type"><?php echo $packagesTitle; ?></span>

    <?php if ($key == 'template' || (isset($package['ctn']) && $package['ctn'])): ?>
        <span class="mark_ctn" data-rawctn="<?php echo isset($package['ctn']) ? $package['ctn'] : ''; ?>">&nbsp;<?php echo $ctnText ?></span>
    <?php endif; ?>
    <div class="menu-expand">
        <ul>
            <li class="icons delete"><a onclick="removePackage(event, this)"><?php echo $this->__('Remove'); ?></a></li>
            <!-- todo Removed for Wave 1, will be added to Wave 2 -->
            <?php if (false && $key != 'template' && !$ctnText && count($package['items']) && !Omnius_Checkout_Helper_Data::SHOW_ONLY_ONE_PACKAGE): ?>
                <li class="icons save-and-send"><a onclick="duplicatePackage(event, this)"><?php echo $this->__('Duplicate'); ?></a></li>
            <?php endif; ?>
        </ul>
    </div>
    <?php //should not appear on edit as agent should not be able to remove or duplicate package on edit?>
    <?php if (!Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
        <div class="drop-menu" onclick="switchPackageMenu(event,this)">
            <div class="menu"></div>
        </div>
    <?php endif; ?>
    <?php
    /*
        <a id="promo-trigger-<?php echo $key ?>"
            class="promo-rules-trigger; ?>"
            href="javascript:void(0)" onclick="getApplicablePromoRules(event,this);">
            <span class="badge"><?php echo $applicablePromoRules ?></span>
        </a>
    */
        ?>
</div>
