<?php

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
/**
 * @var Omnius_Checkout_Model_Sales_Quote $quote
 * @var array $groupTypes
 * @var int $simCardAttrId
 * @var array $previousPackages
 * @var string $ctnText
 * @var string $ctnDescription
 * @var int $ctnCount
 * @var string $key
 * @var array $package
 * @var boolean $hasPromo
 * @var array $shownProducts
 * @var boolean $showPriceWithoutBtw
 * @var boolean $packageType
 * @var boolean $coupon
 * @var int $current_package_id
 * @var array $simProducts
 * @var array $promoProducts
 * @var array $mixMatchProducts
 * @var boolean $isMixMatch
 * @var string $saleType
 */
extract($data);

$addLine = function ($lineData) {
    return Mage::getBlockSingleton('page/html')
        ->setData($lineData)
        ->setTemplate('checkout/cart/partials/package_item.phtml')
        ->toHtml();
};
?>
    <div class="content <?php echo ($saleType == Omnius_Checkout_Model_Sales_Quote_Item::RETENTIE && isset($ctnCount) && $ctnText && $ctnCount == 1 && $package['one_of_deal'] != 1) ? 'package-with-ctn' : ($saleType == Omnius_Checkout_Model_Sales_Quote_Item::RETENTIE && isset($ctnCount) && $package['one_of_deal'] == 1 ? 'one-off-deal-package' : ''); ?>">
        <!-- DESCRIPTION -->
        <p class="box-description">
            <?php $packageContent = array_filter( // filter empty names && promos
                array_map( // return product names
                    function ($item) {
                        /**@var Omnius_Checkout_Model_Sales_Quote_Item $item */
                        if (!$item->isPromo() && $item->getProduct()->getName() && !$item->getProduct()->isServiceItem()) {
                            return $item->getProduct()->getName();
                        }

                        return false; // promotion
                    },
                    $package['items']
                ),
                function ($item) {
                    return $item;
                }
            ); ?>
            <?php if (isset($package['sale_type']) && $package['sale_type'] != "acquisitie") : ?>
                <span class="package-current-label">
                <?php echo Mage::helper('omnius_customer')->__('Current'); ?>: <span class="box-description-ctn"><?php echo $ctnDescription; ?></span>
            </span>
                <br/>
                <span class="package-new-label">
                <?php echo Mage::helper('omnius_customer')->__('New'); ?>:
                <span><?php echo join('</span>,<span>', $packageContent); ?></span>
            </span>
            <?php else: ?>
                <span><?php echo join('</span>,<span>', $packageContent); ?></span>
            <?php endif; ?>
        </p>

        <!-- PRICE HEADER -->
        <div class="row price-header-row">
            <div class="col-sm-6"></div>
            <div class="col-sm-3 labels right-align"><?php echo $this->__('Per month'); ?></div>
            <div class="col-sm-3 labels right-align"><?php echo $this->__('One Time'); ?></div>
        </div>

        <!-- PRODUCTS -->
        <?php
            $totalSubscription = $totalDevice = 0;
        ?>
        <?php foreach ($groupTypes as $groupType): ?>
            <?php
            $totalMaf = 0;
            $totalPrice = 0;
            $groupProductIds = [];
            /** Gather all package items that belong to current group */
            foreach ($package['items'] as $index => $i) {
                /** @var Dyna_Catalog_Model_Product $cartProduct */
                $cartProduct = $i->getProduct();
                if ($cartProduct->is($groupType)) {
                    $groupProductIds[] = $cartProduct->getId();
                    $totalMaf += $cartProduct->getMaf();
                    $totalPrice += $cartProduct->getPrice();
                }
            }
            ?>
            <?php if (in_array($groupType, Dyna_Configurator_Model_Catalog::getOptionsForPackageType($packageType))) : ?>
                    <div data-group-type="<?php echo $groupType; ?>" class="row group-header group-header-<?php echo $this->__($groupType); ?>" onclick="configurator.toggleSection('<?php echo strtolower($groupType); ?>', false);">
                        <div class="col-sm-9 name-row"><?php echo $this->__($groupType) ?></div>
                        <div class="maf-price col-sm-3 right-align price-row"><?php echo $helper->showNewFormattedPriced($totalMaf); ?></div>
                        <div class="price col-sm-3 right-align price-row"><?php echo $helper->showNewFormattedPriced($totalPrice); ?></div>
                    </div>
                <div class="cart-group-content">
            <?php endif; ?>

            <!-- ITEMS <?php echo strtoupper($groupType); ?> -->
            <?php
            $groupProductIds = [];
            /**@var Omnius_Checkout_Model_Sales_Quote_Item $item */
            foreach ($package['items'] as $index => $item) {
                /** @var Dyna_Catalog_Model_Product $product */
                /* skip promo && sim && service items */
                $product = $item->getProduct();
//                if ($product->isPromo() || $product->isSim() || $product->isServiceItem()) {
//                    continue;
//                }

                // check if product is from the current group
                if ($product->is($groupType)) {
                    // bullet and line style
                    $lineThrough = array('price' => false, 'product' => false);
                    $bullet = false;
                    $skipSeparator = false;
                    // check if price is strike through
                    if ($product->isSubscription() || $product->isOption()) {
                        $lineThrough['price'] = isset($hasPromo[$item->getProductId()]) && $hasPromo[$item->getProductId()] && $item->getMafDiscountAmount() > 0;
                    } elseif ($product->isDevice()) {
                        $hasDiscount = false;
                        if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0) {
                            $hasDiscount = true;
                        }
                        $skipSeparator = ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0);
                        $lineThrough['price'] = $isMixMatch || $coupon || $hasDiscount;
                        $item->setHasMixMatch($isMixMatch || $coupon || $hasDiscount);
                    } elseif ($product->isAccessory()) {
                        $hasDiscount = false;
                        if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0) {
                            $hasDiscount = true;
                        }
                        $skipSeparator = ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0);
                        $lineThrough['price'] = $hasDiscount;
                    }

                    // ECHO ITEM LINE
                    echo $addLine(array(
                        'skipSeparator' => $skipSeparator,
                        'item' => Mage::helper('dyna_configurator')->getBlockRowData($item),
                        'groupType' => $groupType,
                        'lineThrough' => $lineThrough,
                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                        'bullet' => $bullet,
                        /** show onetime prices if $0 for device & accessory */
                        'showOneTimeZeroPrices' => ($product->isDevice() || $product->isAccessory()),
                        /** showMaf Price if $0 only for subscription & addons */
                        'showMafZeroPrices' => ($product->isSubscription() || $product->isOption()),
                    ));

                    /** if subscription add subscription specific bullets */
                    if ($product->isSubscription() || $product->isOption()) {
                        /** previous package items */
                        if ($previousPackages && isset($previousPackages[$key])) {
                            $lineThrough = array('price' => true, 'product' => true);
                            if (isset($previousPackages[$key]['items'][$groupType])) {
                                foreach ($previousPackages[$key]['items'][$groupType] as $previousItem) {
                                    if (!Mage::getSingleton('checkout/cart')->isChanged($groupType) ||
                                        in_array($previousItem['product_id'], $shownProducts)
                                    ) {
                                        continue;
                                    }
                                    if ($previousItem['product'][Dyna_Catalog_Model_Product::CATALOG_PACKAGE_SUBTYPE_ATTR] == $simCardAttrId) {
                                        array_push($shownProducts, $previousItem['product_id']);
                                        echo $addLine(array(
                                            'item' => array(
                                                'name' => $previousItem['name'],
                                                'maf' => isset($previousItem['maf']) ? (float)$previousItem['maf'] : 0,
                                                'mafTax' => isset($previousItem['maf_incl_tax']) ? (float)$previousItem['maf_incl_tax'] : 0,
                                                'price' => isset($previousItem['row_total']) ? (float)$previousItem['row_total'] : 0,
                                                'priceTax' => isset($previousItem['row_total_incl_tax']) ? (float)$previousItem['row_total_incl_tax'] : 0,
                                            ),
                                            'groupType' => $groupType,
                                            'lineThrough' => $lineThrough,
                                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                            'bullet' => $bullet,
                                        ));
                                    }

                                }
                            }
                        }

                        // PROMOTION
                        if ($hasPromo && !empty($promoProducts)) {
                            $lineThrough = array('price' => false, 'product' => false);
                            $bullet = true;
                            $displays = array();
                            $displayCount = 0;

                            foreach ($promoProducts as $promoItem) {
                                if ($item->getProductId() == $promoItem->getTargetId()
                                    && $promoItem->getPackageId() == $item->getPackageId()
                                    && ($item->getMafDiscountAmount() >= 0 || $promoItem->getProduct()->getPrijsAansluitPromoBedrag() || $promoItem->getProduct()->getPrijsAansluitPromoProcent())
                                ) {

                                    $result = Mage::helper('dyna_configurator')->getBlockRowData($promoItem);
                                    $displays[] = array(
                                        'item' => $result,
                                        'groupType' => $groupType,
                                        'lineThrough' => $lineThrough,
                                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                        'bullet' => $bullet,
                                        'showOneTimeZeroPrices' => false,
                                    );

                                    // DF-002852: display lineThrough price only if the promo item affects the price.
                                    // if it affects only the aansluitkosten do not make lineThrough
                                    // this will cause issues if the aansluitkosten promo is not the last promo in list
                                    if (isset($display['item']['price'])) {
                                        $displayCount++;
                                    }
                                }
                            }

                            $i = 0;
                            $count = $displayCount;
                            foreach ($displays as $display) {
                                $i++;
                                if ($i < $count) {
                                    $display['lineThrough']['price'] = true;
                                }
                                echo $addLine($display);
                            }
                        }

                        // prijs_aansluitkosten attribute
                        if ($item->getData('connection_cost') && $item->getData('connection_cost') > 0) {
                            $lineThrough = array('price' => false, 'product' => false);
                            $bullet = true;
                            $prices = Mage::helper('dyna_checkout')->decorateExclIncl($item->getData('connection_cost'), $item, $showPriceWithoutBtw);
                            // ADD connection fee line
                            echo $addLine(array(
                                'item' => array(
                                    'name' => sprintf(
                                        '%s %s (%s)',
                                        $this->__('Connection Fee'),
                                        $prices,
                                        $this->__('on the first bill')
                                    ),
                                ),
                                'groupType' => $groupType,
                                'lineThrough' => $lineThrough,
                                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                'bullet' => $bullet,
                            ));
                        }

                        // SIM
                        if (!empty($simProducts) && $product->isSubscription()) {
                            $lineThrough = array('price' => false, 'product' => false);
                            $bullet = true;
                            $renderSims = array();
                            $newSims = array();
                            foreach ($simProducts as $simItem) {
                                $newSims[] = $simItem->getProductId();
                                // Add sim line
                                $renderSims[] = $addLine(array(
                                    'item' => Mage::helper('dyna_configurator')->getBlockRowData($simItem),
                                    'groupType' => $groupType,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                ));
                            }

                            //Check if there are previous SIM set
                            if (isset($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_SIMCARD])) {
                                foreach ($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_SIMCARD] as $itm) {
                                    $lineThrough = array('price' => true, 'product' => true);
                                    $bullet = true;
                                    if (Mage::getSingleton('checkout/cart')->isChanged(Dyna_Catalog_Model_Type::SUBTYPE_SIMCARD)
                                        && !in_array($itm['product_id'], $newSims)
                                    ) {
                                        echo $addLine(array(
                                            'item' => array(
                                                'name' => $itm['name'],
                                                'maf' => isset($itm['maf']) ? (float)$itm['maf'] : 0,
                                                'mafTax' => isset($itm['maf_incl_tax']) ? (float)$itm['maf_incl_tax'] : 0,
                                                'price' => isset($itm['row_total']) ? (float)$itm['row_total'] : 0,
                                                'priceTax' => isset($itm['row_total_incl_tax']) ? (float)$itm['row_total_incl_tax'] : 0,
                                            ),
                                            'groupType' => $groupType,
                                            'lineThrough' => $lineThrough,
                                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                            'bullet' => $bullet,
                                        ));
                                    }
                                }
                            }

                            //Render the newly added SIM cards
                            foreach ($renderSims as $render) {
                                echo $render;
                            }
                        }
                    }

                    // IF DEVICE add device specific bullets
                    if ($product->isDevice() || $product->isAccessory()) {
                        // Mixmatch
                        if ($isMixMatch && !empty($mixMatchProducts) && $product->isDevice()) {
                            $lineThrough = array('price' => (bool)$coupon || ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0), 'product' => false);
                            $bullet = true;
                            foreach ($mixMatchProducts as $mixMatchProduct) {
                                // Add sim line
                                echo $addLine(array(
                                    'item' => $mixMatchProduct,
                                    'groupType' => $groupType,
                                    'discount' => $product->isOption() ? true : false,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                ));
                            }
                        }


                        $priceRulesHelper = Mage::helper('pricerules');
                        $rulesArray = $priceRulesHelper->explodeTrimmed($item->getAppliedRuleIds());
                        // coupon
                        if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0) {
                            $lineThrough = array('price' => false, 'product' => false);
                            $bullet = true;

                            // get coupon
                            $rule = Mage::getModel('salesrule/coupon')->loadByCode($coupon);
                            $rulesCollection = Mage::getModel('salesrule/rule')->getCollection()
                                ->addFieldToFilter('simple_action', array('neq' => 'ampromo_items'))
                                ->addFieldToFilter('rule_id', array('in' => $rulesArray));
                            $discountNameArray = array();
                            foreach ($rulesCollection as $r) {
                                $discountNameArray[] = $r->getName();
                            }

                            $discountName = implode(', ', $discountNameArray);
                            $couponRule = Mage::getModel('salesrule/rule')->load($rule->getRuleId());

                            // get device price
                            $deviceItem = Mage::helper('dyna_configurator')->getBlockRowData($item);

                            // calculate discount
                            $discount = (float)$item->getDiscountAmount();

                            if ($isMixMatch && $product->isDevice()) {
                                // get the mixmatch price
                                foreach ($mixMatchProducts as $mixMatchProduct) {
                                    $deviceItem['price'] = $mixMatchProduct['price'];
                                    $deviceItem['priceTax'] = $mixMatchProduct['priceTax'];
                                }
                            }

                            $deviceItem['price'] -= ($discount - $item->getHiddenTaxAmount());
                            $deviceItem['priceTax'] -= $discount;

                            // ADD connection fee line
                            echo $addLine(array(
                                'item' => array(
                                    'name' => $discountName,
                                    'price' => $deviceItem['price'],
                                    'priceTax' => $deviceItem['priceTax'],
                                ),
                                'groupType' => $groupType,
                                'lineThrough' => $lineThrough,
                                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                'bullet' => $bullet,
                            ));

                        }


                        if ($product->isDevice()) {
                            // add taxes
                            $taxes = $item->getWeeeTaxAppliedUnserialized();
                            foreach ($taxes as $tax) {
                                $lineThrough = array('price' => false, 'product' => false);
                                $bullet = true;
                                echo $addLine(array(
                                    'item' => array(
                                        'name' => $tax['title'],
                                        'price' => $tax['amount'],
                                        'priceTax' => $tax['amount_incl_tax'],
                                    ),
                                    'groupType' => $groupType,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                ));
                            }
                            $serviceItems = array();
                            foreach ($package['items'] as $serviceItem) {
                                if ($serviceItem->getProduct()->isServiceItem()) {
                                    $serviceItems[$serviceItem->getProductId()] = $serviceItem;
                                }
                            }

                            $serviceItemKeys = array_keys($serviceItems);

                            //Check if there are previous SIM set
                            if (isset($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_NONE])) {
                                foreach ($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_NONE] as $itm) {
                                    $lineThrough = array('price' => true, 'product' => true);
                                    $bullet = true;
                                    if (Mage::getSingleton('checkout/cart')->isChanged(Dyna_Catalog_Model_Type::SUBTYPE_NONE)
                                        && !in_array($itm['product_id'], $serviceItemKeys)
                                    ) {
                                        echo $addLine(array(
                                            'item' => array(
                                                'name' => $itm['name'],
                                                'maf' => isset($itm['maf']) ? (float)$itm['maf'] : 0,
                                                'mafTax' => isset($itm['maf_incl_tax']) ? (float)$itm['maf_incl_tax'] : 0,
                                                'price' => isset($itm['row_total']) ? (float)$itm['row_total'] : 0,
                                                'priceTax' => isset($itm['row_total_incl_tax']) ? (float)$itm['row_total_incl_tax'] : 0,
                                            ),
                                            'groupType' => $groupType,
                                            'lineThrough' => $lineThrough,
                                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                            'bullet' => $bullet,
                                        ));
                                    }
                                }
                            }

                            /** add taxes */
                            /** @var Dyna_Checkout_Model_Sales_Quote_Item $serviceItem */
                            foreach ($serviceItems as $serviceItem) {
                                $lineThrough = array('price' => false, 'product' => false);
                                $bullet = true;
                                echo $addLine(array(
                                    'item' => array(
                                        'name' => $serviceItem->getName(),
                                        'price' => $serviceItem->getRowTotal(),
                                        'priceTax' => $serviceItem->getRowTotalInclTax(),
                                    ),
                                    'groupType' => $groupType,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                ));
                            }
                        }
                    }
                } elseif ($product->isOption() && in_array($groupType, Dyna_Catalog_Model_Type::$accessories) ) {
                    echo $addLine(array(
                        'item' => [
                            'name' => $product->getName(),
                            'price' => $product->getRowTotal(),
                            'priceTax' => $product->getRowTotalInclTax(),
                            'discount' => 1,
                        ],
                        'groupType' => $groupType,
                        'lineThrough' => 0,
                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                    ));
                }
            } ?>
            <?php if (in_array($groupType, Dyna_Configurator_Model_Catalog::getOptionsForPackageType($packageType))) : ?>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>

        <?php
            //Check if there are any service charge items in current package
            foreach ($package['items'] as $index => $i) {
                /** @var Dyna_Catalog_Model_Product $cartProduct */
                $cartProduct = $i->getProduct();
                // Is a migration charge?
                if ($cartProduct->isMigrationCharge()): ?>
                    <div class="row group-header service-charge-header">
                        <div class="col-sm-9 name-row"><?php echo $cartProduct->getName(); ?></div>
                        <div class="maf-price col-sm-3 right-align price-row"><?php /* One time cost, no Maf */ ?></div>
                        <div class="price col-sm-3 right-align price-row"><?php echo $helper->showNewFormattedPriced($cartProduct->getPrice()); ?></div>
                    </div>
                <?php endif;
            }
        ?>

        <!-- TEMPLATE -->
        <?php if ($key == 'template'): ?>
            <div class="row">
                <?php foreach ($groupTypes as $groupType) : ?>
                    <?php if ($groupType != ucfirst(Omnius_Configurator_Model_AttributeGroup::ATTR_GROUP_PROMOTIONS)): ?>
                        <?php $groupTypeText = in_array($groupType, Dyna_Catalog_Model_Type::$options) ? 'Extra' : $groupType; ?>
                        <div data-group-type="<?php echo $this->__($groupType) ?>" class="row group-header group-header-<?php echo $this->__($groupType) ?>"
                             onclick="configurator.toggleSection('<?php echo strtolower($groupType) ?>', false);">
                            <?php echo $this->__($groupTypeText) ?>
                            <div class="col-sm-3 right-align price-row"></div>
                            <div class="col-sm-3 right-align price-row"></div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>

            </div>
        <?php endif; ?>
    </div>

<?php $this->setShownProducts($shownProducts)->setTotalDevice($totalDevice)->setTotalSubscription($totalSubscription); ?>
