<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @var array $item
 * @var string $groupType
 * @var boolean $showPriceWithoutBtw
 * @var array $lineThrough
 * @var boolean $showOneTimeZeroPrices
 * @var boolean $showMafZeroPrices
 * @var boolean $skipSeparator
 */
$data = $this->getData();
extract($data);

// defaults

$skipSeparator = isset($skipSeparator) && $skipSeparator == true ? 'skip-separator' : '';
$lineThrough = isset($lineThrough) ? $lineThrough : array('price' => false, 'product' => false);;
$showPriceWithoutBtw = isset($showPriceWithoutBtw) ?: !Mage::getSingleton('customer/session')->showPriceWithBtw();
$bullet = isset($bullet) ? $bullet : false;
$showOneTimeZeroPrices = isset($showOneTimeZeroPrices) ? $showOneTimeZeroPrices : true;

// TAX Display 
$priceStyle = $showPriceWithoutBtw ? '' : 'display: none;';
$priceTaxStyle = !$showPriceWithoutBtw ? '' : 'display: none;';

// Hashed 
$priceStrikeStyle = $lineThrough['price'] ? 'text-decoration: line-through;' : '';
$productStrikeStyle = $lineThrough['product'] ? 'text-decoration: line-through;' : '';

// bullet
$bulletClass = "bullet-line";

// money format handler
$coreHelper = Mage::helper('core');
$money = function ($price) use ($coreHelper) {
    return $coreHelper->currency($price, true, false);
};

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
?>

<div class="row group_type<?php echo $groupType; ?> <?php echo $bulletClass ? $bulletClass : 'group-header'; ?> <?php echo $skipSeparator; ?> <?php echo (!empty($item['discount']) && $item['discount']) ? " cart-discount-item" : ""; ?>">
    <div class="col-sm-6 section package-details name-row"
         style="<?php echo $productStrikeStyle; ?>" onclick="configurator.toggleSection('<?php echo strtolower($groupType) ?>', false);">
        <?php echo $item['name']; ?>  <br/>
        <?php if(Dyna_Catalog_Model_Type::MOBILE_SUBTYPE_SUBSCRIPTION == $groupType) : ?>
            - <?php echo isset($item['initial_period']) && $item['initial_period'] ? $item['initial_period'] . " ". $this->__("months minimum term") :
                Dyna_Configurator_Model_Mobile::DEFAULT_24_MONTHS_INITIAL_PERIOD . " ". $this->__("months minimum term"); ?> <br/>
        <?php endif?>
    </div>
    <div style="<?php echo $priceStyle; ?> <?php echo $priceStrikeStyle; ?>" class="excl-vat-tax col-sm-3 right-align price-row">
        <?php echo isset($item['maf']) && ($item['maf'] || (isset($showMafZeroPrices) && $showMafZeroPrices)) ? $helper->showNewFormattedPriced($money($item['maf'])) : '' ?>
    </div>

    <div style="<?php echo $priceTaxStyle; ?> <?php echo $priceStrikeStyle; ?>" class="incl-vat-tax col-sm-3 right-align price-row">
        <?php echo isset($item['mafTax']) && ($item['mafTax'] || (isset($showMafZeroPrices) && $showMafZeroPrices)) ? $helper->showNewFormattedPriced($item['mafTax']) : '' ?>
    </div>

    <div style="<?php echo $priceStyle; ?> float: right; <?php echo $priceStrikeStyle; ?>" class="excl-vat-tax col-sm-3 last right-align price-row">
        <?php echo isset($item['price']) && ($item['price'] || $showOneTimeZeroPrices) ? $helper->showNewFormattedPriced($item['price']) : '' ?>
    </div>

    <div style="<?php echo $priceTaxStyle; ?> float: right; <?php echo $priceStrikeStyle; ?>" class="incl-vat-tax col-sm-3 last right-align price-row">
        <?php echo isset($item['priceTax']) && ($item['priceTax'] || $showOneTimeZeroPrices) ? $helper->showNewFormattedPriced($item['priceTax']) : '' ?>
    </div>
</div>

