<div class="modal productPopUpModal" id="productPopUpModal-{{ entity_id }}" tabindex="-1" role="dialog" aria-labelledby="searchClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="searchClientLabel">{{name}}</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="tabs-product-{{ entity_id }}">
                    <li class="active"><a href="#overview-{{ entity_id }}" data-toggle="tab"><?php echo $this->__("Overview"); ?></a></li>
                    <li><a href="#device-{{ entity_id }}" data-toggle="tab"><?php echo $this->__("Device"); ?></a></li>
                    <li><a href="#entertainment-{{ entity_id }}" data-toggle="tab"><?php echo $this->__("Entertainment"); ?></a></li>
                    <li><a href="#connection-{{ entity_id }}" data-toggle="tab"><?php echo $this->__("Connection"); ?></a></li>
                    <li><a href="#otherspecs-{{ entity_id }}" data-toggle="tab"><?php echo $this->__("Other specs"); ?></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                   <div class="tab-pane active overview" id="overview-{{ entity_id }}">
                        <div class="row">
                            <div class="col-xs-4">
                                {{#ifCond image '===' 'no_selection'}}
                                    <img src="skin/frontend/base/default/images/catalog/product/placeholder/image.jpg" alt="{{name}}"/>
                                {{else}}
                                    <img src="media/catalog/product{{image}}" alt="{{name}}"/>
                                {{/ifCond}}
                            </div>
                            <span class="short-description">
                                 {{ short_description }}
                            </span>
                        </div>
                    </div>
                    <div class="tab-pane" id="specs-{{ entity_id }}">
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Length'); ?></span><span class="col-xs-6"> {{ prodspecs_afmetingen_lengte }} {{ prodspecs_afmetingen_unit_value }}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Width'); ?></span><span class="col-xs-6"> {{ prodspecs_afmetingen_breedte }} {{ prodspecs_afmetingen_unit_value }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Thickness'); ?></span><span class="col-xs-6"> {{ prodspecs_afmetingen_dikte }} {{ prodspecs_afmetingen_unit_value }}</span> 
                        </div>
                        </div>
                    <div class="tab-pane" id="device-{{ entity_id }}">
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Operating system'); ?></span><span class="col-xs-6"> {{ prodspecs_besturingssysteem_value }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Size (hxwxt)'); ?></span><span class="col-xs-6"> {{ prodspecs_afmetingen_lengte }} {{ prodspecs_afmetingen_unit_value }} x {{ prodspecs_afmetingen_breedte }} {{ prodspecs_afmetingen_unit_value }} x {{ prodspecs_afmetingen_dikte }} {{ prodspecs_afmetingen_unit_value }}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Weight'); ?></span><span class="col-xs-6"> {{ prodspecs_weight_gram }} <?php echo $this->__('gram'); ?></span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Battery'); ?></span><span class="col-xs-6"> {{ prodspecs_batterij }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Screen'); ?> <?php echo $this->__("(inch)") ?></span><span class="col-xs-6"> {{ prodspecs_schermdiagonaal_inch }}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Screen resolution'); ?></span><span class="col-xs-6"> {{ prodspecs_schermresolutie }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Touchscreen'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_touchscreen }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        {{#ifYesNo prodspecs_camera}}
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('Camera'); ?></span><span class="col-xs-6"> <?php echo $this->__('Yes');?></span> 
                            </div>
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('Camera resolution'); ?> <?php echo $this->__("(megapixel)") ?></span><span class="col-xs-6"> {{ prodspecs_megapixels_1e_cam }}</span>
                            </div>
                        {{ else }}
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('Camera'); ?></span><span class="col-xs-6"> <?php echo $this->__('No');?></span> 
                            </div>
                        {{/ifYesNo}}
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Processor'); ?></span><span class="col-xs-6"> {{ prodspecs_processor }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Memory(mb)'); ?></span><span class="col-xs-6"> {{ prodspecs_werkgeheugen_mb }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Standby time'); ?></span><span class="col-xs-6"> {{ prodspecs_standby_tijd }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Talk time'); ?></span><span class="col-xs-6"> {{ prodspecs_spreektijd }}</span> 
                        </div>
                    </div>
                    <div class="tab-pane" id="entertainment-{{ entity_id }}">
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('HD recording'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_filmen_in_hd }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Audio out'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_audio_out }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('HDMI'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_hdmi }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('2nd camera'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_2e_camera }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                    </div>
                    <div class="tab-pane" id="connection-{{ entity_id }}">
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('4g lte'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_4g_lte }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('3g'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_3g }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('GPRS edge'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_gprs_edge }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        {{#ifYesNo prodspecs_wifi}}
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('WiFi'); ?></span><span class="col-xs-6"> <?php echo $this->__('Yes');?> </span> 
                            </div>
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('WiFi frequencies'); ?></span><span class="col-xs-6"> {{ prodspecs_wifi_frequenties }}</span> 
                            </div>
                        {{else}}
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('WiFi'); ?></span><span class="col-xs-6"> <?php echo $this->__('No');?></span> 
                            </div>
                        {{/ifYesNo}}
                        {{#ifYesNo prodspecs_bluetooth}}
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('Bluetooth'); ?></span><span class="col-xs-6"> <?php echo $this->__('Yes');?></span> 
                            </div>
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('Bluetooth version'); ?></span><span class="col-xs-6"> {{ prodspecs_bluetooth_version }}</span> 
                            </div>
                        {{else}}
                            <div class="row">
                                <span class="col-xs-6"><?php echo $this->__('Bluetooth'); ?></span><span class="col-xs-6"> <?php echo $this->__('No');?></span> 
                            </div>
                        {{/ifYesNo}}
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('NFC'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_nfc }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('GPS'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_gps }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                    </div>
                    <div class="tab-pane" id="otherspecs-{{ entity_id }}">
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Light sensor'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_lichtsensor }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Expandable storage'); ?></span><span class="col-xs-6"> {{ prodspecs_opslag_uitbreidbaar }}</span> 
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Light (flash)'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_flitser }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                       <div class="row">
                        <span class="col-xs-6"><?php echo $this->__('Voice dialing'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_voice_dialing }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                    </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Voice commands'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_spraakbesturing }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-6"><?php echo $this->__('Removable battery pack'); ?></span><span class="col-xs-6"> {{#ifYesNo prodspecs_accu_verwisselb }} <?php echo $this->__('Yes');?> {{ else }} <?php echo $this->__('No');?> {{/ifYesNo}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-search">
                <button type="button" class="btn btn-info pull-right" data-dismiss="modal"><?php echo $this->__('Ok') ?></button>
            </div>
        </div>
    </div>
</div>

