<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>

<div class="conf-block panel panel-default panel-searchable" id="<?php echo $this->getSection() ?>-block" data-expanded="false" data-type="<?php echo $this->getSection() ?>" data-index="{{index}}" data-multi="true">
    <div class="selection-block box-closed">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 item-title">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="counter">4</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="panel-title">
                            <a href="#"><?php echo $this->__("Goodies"); ?></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text"
                           name="search-<?php echo $this->getSection() ?>"
                           class="form-control search search-<?php echo $this->getSection() ?>"
                           data-search-on-type="true"
                           data-document-id="entity_id"
                           data-search-fields="name,sku,description"
                           data-callback="configurator.filterProducts"
                           data-documents=""
                           placeholder="<?php echo $this->__('Fill in the product name to filter (Case sensitive)'); ?>" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 pull-right">
                    <select class="filter">
                        <option value="Filter"><?php echo $this->__("Filter"); ?></option>
                        <option value="<?php echo $this->__("One Time"); ?>"><?php echo $this->__("One Time"); ?></option>
                        <option value="<?php echo $this->__("Per month"); ?>"><?php echo $this->__("Per month"); ?></option>
                    </select>
                </div>
            </div>
            <div class="row filter-results">
                <div class="filter-status col-xs-11">
                    <span class="results-number" data-default-message="<strong>{0}</strong> <?php echo $this->__('products') ?>"
                          data-message="<strong>{0}</strong> <?php echo $this->__('products for') ?> {1}">
                        <strong>{{products.length}} </strong><?php echo $this->__('products') ?>
                    </span>
                </div>
                <div class="col-xs-1">
                    <div class="filter-results-unique right">
                        <?php echo $this->__("Per month"); ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-table">
            {{#each products}}
            {{> <?php echo $this->getSection() ?>_selected_item this}}
            {{else}}
            <p><?php echo $this->__('No products available') ?></p>
            {{/each}}
        </div>

        <div class="block-footer col-md-12 hidden"></div>
    </div>

    <div class="selected-item" data-no-item="<?php echo $this->__('Keine Goodies wählbar') ?>" onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
        <div class="panel-heading block-header">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 item-title">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="counter">4</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="panel-title">
                            <a href="#"><?php echo $this->__("Goodies"); ?></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-9 col-lg-9 pull-right">
                    <div class="content text-right">
                        <div class="no-item-message"><?php echo $this->__('Keine Goodies wählbar') ?></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-footer col-md-12"></div>
    </div>
</div>
