<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$simCardTypes = Mage::helper('omnius_configurator/attribute')->getSimCardTypes();
?>
<div class="conf-block panel panel-default panel-searchable" id="<?php echo $this->getSection() ?>-block" data-expanded="false" data-type="<?php echo $this->getSection() ?>" data-index="{{index}}">
    <div class="selection-block box-closed">

        <div class="panel-heading" onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 item-title">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="counter">2</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="panel-title">
                            <a href="#"><?php echo $this->__('Tariff');?></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" name="search-<?php echo $this->getSection() ?>"
                           class="search-<?php echo $this->getSection() ?> form-control search"
                           data-search-on-type="true"
                           data-document-id="entity_id"
                           data-search-fields="name,sku,description"
                           data-callback="configurator.filterProducts"
                           data-documents=""
                           placeholder="<?php echo $this->__('Fill in the product name to filter (Case sensitive)'); ?>">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 pull-right">
                    <select class="filter">
                        <option value="Filter"><?php echo $this->__("Filter"); ?></option>
                    </select>
                </div>
            </div>
            <div class="row filter-results filter-status">
                <div class="results-number col-xs-7">
                    <span data-default-message="<strong>{0}</strong> <?php echo $this->__('products') ?>"
                          data-message="<strong>{0}</strong> <?php echo $this->__('products ') ?> ">
                        <strong>{{products.length}} </strong><?php echo $this->__('products') ?>
                    </span>
                </div>
                <div class="col-xs-2">
                    <div class="filter-results-unique right">
                        <?php echo $this->__("Monthly"); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-table col-md-12">
            {{#each products}}
            {{> <?php echo $this->getSection() ?>_selected_item this}}
            {{else}}
            <p><?php echo $this->__('No products available') ?></p>
            {{/each}}
        </div>
    </div>

    <div class="selected-item" data-no-item="<?php echo $this->__('Please select') ?>" onclick="configurator.toggleSection('<?php echo $this->getSection() ?>', false);">
        <div class="panel-heading block-header">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 item-title">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="counter">2</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="panel-title">
                            <a href="#"><?php echo $this->__('Tariff');?></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9 pull-right">
                    <div class="content right">
                        <div class="no-item-message"><?php echo $this->__('Please select') ?></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-footer col-md-12"></div>
    </div>
</div>
