<script id="Handlebars-Template-Details-Customer" type="text/x-handlebars-template">
    <div id="left-customer-info" class="customer-info">
        <div class="new-search">
            <a id="new-search" onclick="customerDe.unloadCustomer();"><?php echo $this->__("New search") ?></a>
        </div>
        <div class="custumer-title">
            <h2 class="col-title"><?php echo $this->__("Customer") ?></h2>
            <div class="customer-indicators">
                {{#compare isSoho false operator="=="}}
                    <div class="customer-type-mark private-mark">P</div>
                {{else}}
                    <div class="customer-type-mark soho-mark">S</div>
                {{/compare}}
                {{#compare showLinkIcon '1' operator="=="}}
                    <div class="icon-linked"></div>
                {{/compare}}
            </div>
        </div>
        <hr/>
        <div class="details">
            <div class="customer-name-container">
                {{#compare isSoho false operator="=="}}
                {{else}}
                <h3 class="customer-name">{{company_name}}</h3>
                {{/compare}}
                <h3 class="customer-name">
                    {{#compare isProspect false operator="=="}}
                        {{title}}
                    {{/compare}}
                    {{first_name}} {{last_name}}
                </h3>
            </div>
            {{#compare isProspect false operator="=="}}
                <div class="customer-address-container">
                    <p>{{street}}, {{no}}<br>
                        {{postal_code}}, {{city}}</p>
                </div>
            {{else}}
                <div class="customer-address-container">
                    <p>{{contact_number_prefix}} {{contact_number}}<br>
                        {{email}}</p>
                </div>
            {{/compare}}
            {{#compare isProspect false operator="=="}}
                <div class="customer-id-container">
                    <div class="labels">
                        <?php echo $this->__("Account-ID") ?>:
                    </div>
                    <div class="values">
                        {{#compare link_id null operator="=="}}
                        -
                        {{else}}
                        {{link_id}}
                        {{/compare}}
                    </div>
                </div>
                <hr/>
                <div class="customer-details-container">
                    <div class="labels">
                        {{#compare isSoho false operator="=="}}
                            <div data-id="customer-details-dob">
                                <?php echo $this->__("Date of birth") ?>:
                            </div>
                        {{else}}
                            <div>
                                <?php echo $this->__("Registr. no") ?>:
                            </div>
                        {{/compare}}
                        <div>
                            <?php echo $this->__("Contact number") ?>:
                        </div>
                    </div>
                    <div class="values">
                        {{#compare isSoho false operator="=="}}
                            <div data-id="customer-details-dob">
                                {{birth_date}}
                            </div>
                        {{else}}
                            <div>
                                {{kvk_number}}
                            </div>
                        {{/compare}}
                        <div>
                            {{contact_number}}
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="contact-person-details">
                    <div class="labels">
                        <div>
                            <?php echo $this->__("Contact Person") ?>:
                        </div>
                    </div>
                    <div class="values">
                        {{contactPerson.title}} {{contactPerson.first_name}} {{contactPerson.last_name}}
                    </div>
                </div>
            </div>
        {{else}}
            {{#compare isSoho false operator="=="}}
            <hr/>
            <div class="contact-person-details">
                {{birth_date}}
            </div>
            {{/compare}}
        {{/compare}}
    </div>
    <?php
    /**
     * In order to add another customer section:
     * make sure there is a unique value defined for data-toggle attribute,
     * make sure there that a handlebars template with the name left-sidebar-{data-toggle value} exists (by default these templates are appended to modals.phtml)
     * make sure the processing is defined in Dyna_Customer_Helper_Panel
     */
    ?>
    <div class="customer_ctns block">
        <ul class="nav nav-tabs" id="ctn-tabs" style="display: block;">
            {{#compare isProspect false operator="=="}}
            <li>
                <div class="customer-360-icons-container">
                    <span class="my-products"></span>
                    <span class="number-of-circle"></span>
                </div>
                <a id="product_info_left" data-slidebutton-left="panel" data-toggle="products-content" onclick="customerDe.loadCustomerInfo(this)"><?php echo $this->__("My products") ?></a>
                <span class="view-specific-details">j</span>
            </li>
            {{/compare}}
            <li>
                <div class="customer-360-icons-container">
                    <span class="my-carts"></span>
                    <span class="number-of-circle"></span>
                </div>
                <a id="cart_info_left" data-slidebutton-left="panel" data-toggle="carts-content" onclick="customerDe.loadCustomerInfo(this)"><?php echo $this->__("Shopping carts") ?></a>
                <span class="view-specific-details">j</span>
            </li>
            {{#compare isProspect false operator="=="}}
            <li>
                <div class="customer-360-icons-container">
                    <span class="my-orders"></span>
                    <span class="number-of-circle"></span>
                </div>
                <a id="order_info_left" data-slidebutton-left="panel" data-toggle="orders-content" onclick="customerDe.loadCustomerInfo(this)"><?php echo $this->__("Orders") ?></a>
                <span class="view-specific-details">j</span>
            </li>
            <li>
                <div class="customer-360-icons-container">
                    <span class="my-links"></span>
                </div>
                <a id="customer_info_left" data-slidebutton-left="panel" data-toggle="link-details" onclick="customerDe.loadCustomerInfo(this)"><?php echo $this->__("Link details") ?></a>
                <span class="view-specific-details">j</span>
            </li>
            {{/compare}}
        </ul>
    </div>
</script>
