<?php
/**
 * @var $this Dyna_Customer_Block_LeftSidebar
 */
?>

<div class="sticker">
    <?php if (!$this->isLoggedIn()) {
        echo $this->getChildHtml('customer.left.search');
    } else {
        echo $this->getChildHtml('customer.details');
        /** Preserver customer data on customerDe after page reload */
        ?>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var template = Handlebars.compile(jQuery("#Handlebars-Template-Details-Customer").html());
                <?php $customerData = Mage::helper('dyna_customer/info')->buildCustomerDetails(); ?>
                var customerData = <?php echo Mage::helper("core")->jsonEncode($customerData); ?>;
                var customersHTML = template(customerData);
                customerDe.customerData = customerData;
                customerDe.handleCustomerState();
                jQuery('.col-left').find('.sticker').html(customersHTML);
            });
        </script>
        <?php
    } ?>
</div>
<?php if($this->isLoggedIn()) :?>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            customerDe.customerData = jQuery.parseJSON('<?php
                echo Mage::helper("core")->jsonEncode(
                    Mage::getModel("dyna_customer/session")
                        ->getCustomer()
                        ->getData()
                );
                ?>');
        });
    </script>
<?php endif ?>
<div class="panel-content">
    <div id="customer-search-results">
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/customer_search_results.phtml')->toHtml(); ?>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/customer_potential_link.phtml')->toHtml(); ?>
    </div>
</div>
