<?php
/*
 * Copyright (c) 2016. Dynacommerce B.V.
 *
 */

if ((!Mage::getSingleton('customer/session')->getCustomer()->getId() && !Mage::getSingleton('customer/session')->getProspect()) || $this->getTopMenu()): ?>
    <?php /** @var $this Mage_Core_Block_Template */ ?>
    <div class="customer_left_search" id="customer_search">
        <div class="new-search">
            <a id="new-search" onclick=""><?php echo $this->__('New search') ?></a>
        </div>
        <h2 class="col-title"><?php echo $this->__('Customer search') ?></h2>
        <?php
            echo $this->getLayout()
                ->createBlock("core/template")
                ->setTemplate("customer/search.phtml")
                ->toHtml();
        ?>
    </div>
<?php endif; ?>
