<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
/**
 * @var $this Dyna_Configurator_Block_Rightsidebar
 */
$quoteData = $this->getQuoteData();
$packages = $this->getPackages();
$agent = Mage::helper('agent/data')->getAgent();
$storeName = Mage::app()->getStore()->getName();
$mageDate = Mage::getModel('core/date');
$createdDateTimestamp = $mageDate->timestamp(strtotime($quoteData->getData('created_at')));
$updatedDateTimestamp = $mageDate->timestamp(strtotime($quoteData->getDate('updated_at')));
?>

<div id="right-panel-cart" class="panel-content clearfix">
    <form action="<?php echo $this->getUrl('checkout/cart'); ?>" id="expanded_form" method="POST">
        <div class="clearfix row">
            <div class="cart_right_expanded col-md-11 col-xs-10"
                 style="max-height: 630px; overflow-y: auto; position: relative;">
                <p class="title"><?php echo $this->__('Cart overview'); ?></p>
                <p class="cart-title-description">
                    <?php echo $this->__('Last modified on') . ' ' . date('j. F Y', $createdDateTimestamp); ?>
                    <?php echo $this->__('updated') . ' ' . date('H.i.s', $updatedDateTimestamp); ?>
                    <?php echo ' ' . $this->__('by') . ' ' . $agent->getName(); ?>
                    <?php echo $this->__('by') . ' ' . $storeName; ?>
                </p>
            </div>

            <div class="col-md-1 col-xs-2" style="position: relative">
                <div class="menu-expand full">
                    <ul>
                        <li class="icons save-and-send">
                            <a onclick="showSaveCartModal();"><?php echo $this->__('Save & Send') ?></a>
                        </li>
                        <li class="icons delete">
                            <a onclick="showCancelCartModal();"><?php echo $this->__('Delete all packages') ?></a>
                        </li>
                    </ul>
                </div>
                <div class="drop-menu pull-right red-menu dots-menu" onclick="switchPackageMenu(event, this)">
                    <div class="menu red"></div>
                </div>
            </div>
        </div>
        <div class="border-cart-expanded"></div>
        <div class="cart_right_expanded_packages">
            <!-- nav list from the left side with packages ids-->
            <div id="right_expanded_packets" class="right_expanded_packets col-xs-2">
                <ul class="nav nav-list">
                    <?php /** @var Dyna_Package_Model_Package $package */
                    foreach ($packages as $package): ?>
                        <li class="">
                            <a href="#scroll-pack-<?php echo $package->getPackageId(); ?>">
                                <div data-summary-id="<?php echo $package->getPackageId(); ?>" class="package-summary">
                                    <p><?php echo $this->__("Package"); ?>
                                        <span class="index"><?php echo $package->getPackageId() . ":"; ?></span>
                                        <?php echo $package->getTitle(); ?>
                                    </p>
                                </div>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <!-- packages content from the right side-->
            <div class="expanded-package-container col-xs-10">
                <!-- packages details devided per package devided per product-->
                <div class="expanded-package-details" data-spy="scroll" data-target="#right_expanded_packets"
                     data-offset="50">
                    <?php
                    /** @var Dyna_Package_Model_Package $package */
                    foreach ($packages as $package): ?>
                        <div id="scroll-pack-<?php echo $package->getPackageId(); ?>"
                             data-package-id="<?php echo $package->getPackageId() ?>" class="package-expand">
                            <!-- menu for each package-->
                            <div class="menu-expand full">
                                <ul>
                                    <li class="icons note">
                                        <a onclick="toggleNotes('<?php echo $package->getPackageId(); ?>');"
                                           class="package-item-notes"><?php echo $this->__('Note'); ?>
                                        </a>
                                    </li>
                                    <li class="edit-package icons edit">
                                        <a onclick="window.location.href = '<?php echo Mage::getUrl() . '?packageId=' . $package->getPackageId(); ?>'"><?php echo $this->__('Edit'); ?>
                                        </a>
                                    </li>
                                    <li class="remove-package icons delete">
                                        <a onclick="removeExpandedPackage('<?php echo $package->getPackageId() ?>')"><?php echo $this->__('Remove'); ?>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="drop-menu dots-menu pull-right" onclick="switchPackageMenu(event, this)">
                                <div class="menu grey"></div>
                            </div>
                            <table class="clear package-items-table" cellspacing=0 cellpadding=0>
                                <thead>
                                <tr class="package-item-header">
                                    <th class="description">
                                        <div class="">
                                            <div class="text">
                                                <p class="package-type">
                                                    <?php echo $this->__("Acquisition"); ?>
                                                </p>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="monthly-costs"><?php echo $this->__('Monthly'); ?></th>
                                    <th class="one-of-costs"><?php echo $this->__('One time cost'); ?></th>
                                    <th class="package-spacer"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <!-- products displayed from a package in 4 sections: hardware, tariff, option and promotion-->
                                <?php
                                $priceSlicing = null;
                                $packageItemsBySections = $package->getPackagesProductsForSidebarSection($package->getData('items'));
                                if (count($packageItemsBySections)) : ?>
                                    <?php foreach ($packageItemsBySections as $section => $productsInSection) : ?>
                                        <?php if (count($productsInSection)) : ?>
                                            <!-- separate the sections visually-->
                                            <tr class="small">
                                                <td class="description">&nbsp;</td>
                                                <td class="monthly-costs">&nbsp;</td>
                                                <td class="one-of-costs">&nbsp;</td>
                                                <td class="package-spacer">&nbsp;</td>
                                            </tr>
                                            <?php
                                            //todo add the base product that is "ordered" in a bundle in the expanded cart
                                            //todo add the bundle flag on the bundle products
                                            foreach ($packageItemsBySections[$section]['items'] as $key => $product) :
                                                // find if there is a price slicing to be display at the bottom of this packages
                                                if (!$priceSlicing && isset($product['price_per_month'])) {
                                                    $priceSlicing = $product['price_per_month'];
                                                }
                                                ?>
                                                <tr class="<?php echo $section; ?>">
                                                    <td class="names">
                                                        <?php echo $product['name']; ?>
                                                        <?php if (isset($product['period']) && $product['period']) : ?>
                                                            <div class="subscription-details">
                                                                <p><?php echo "-" . $product['period'] . " " . $this->__("months minimum term") ?></p>
                                                            </div>
                                                        <?php endif ?>
                                                    </td>
                                                    <td class="package-prices monthly-costs">
                                                        <?php if (isset($product['maf_row_total_incl_tax'])) : ?>
                                                            <?php echo $helper->showNewFormattedPriced($product['maf_row_total_incl_tax']); ?>
                                                        <?php endif ?>
                                                    </td>
                                                    <td class="package-prices one-of-costs">
                                                        <?php if (isset($product['original_custom_price']) && $product['original_custom_price']) : ?>
                                                            <p class="original-price">
                                                                <?php echo $helper->showNewFormattedPriced($product['original_custom_price']); ?>
                                                            </p>
                                                        <?php endif ?>
                                                        <?php if (isset($product['price_incl_tax'])) : ?>
                                                            <?php echo $helper->showNewFormattedPriced($product['price_incl_tax']); ?>
                                                        <?php endif ?>
                                                    </td>
                                                    <td class="package-spacer">&nbsp;</td>
                                                </tr>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    <?php endforeach; ?>
                                    <tr class="small">
                                        <td class="description">&nbsp;</td>
                                        <td class="monthly-costs">&nbsp;</td>
                                        <td class="one-of-costs">&nbsp;</td>
                                    </tr>
                                <?php endif; ?>
                                </tbody>
                                <tfoot>
                                <!-- totals per package-->
                                <tr>
                                    <td class="description">
                                        <div class="labels-costs pull-right">
                                            <p><?php echo $this->__('excl.'); ?></p>
                                            <p><?php echo $this->__('vat.'); ?></p>
                                            <p><?php echo $this->__('total.'); ?></p>
                                        </div>
                                        <div class="form-group package-item-description-coupon">
                                            <input class="form-control cart-coupon-input" type="text" name="coupon"
                                                   value="" placeholder="Coupon" disabled="disabled">
                                            <div class="submit-coupon-button" style="" onclick="">
                                                <?php echo $this->__("OK") ?>
                                            </div>
                                        </div>
                                    </td>
                                    <?php $packageTotals = $quoteData->calculateTotalsForPackage($package->getPackageId()); ?>
                                    <td class="monthly-costs">
                                        <div>
                                            <p><?php echo $helper->showNewFormattedPriced($packageTotals['subtotal_maf']); ?></p>
                                            <p><?php echo $helper->showNewFormattedPriced($packageTotals['tax_maf']); ?></p>
                                            <p><?php echo $helper->showNewFormattedPriced($packageTotals['total_maf']); ?></p>
                                        </div>
                                    </td>
                                    <td class="one-of-costs">
                                        <p><?php echo $helper->showNewFormattedPriced($packageTotals['subtotal_price']); ?></p>
                                        <p><?php echo $helper->showNewFormattedPriced($packageTotals['tax_price']); ?></p>
                                        <p><?php echo $helper->showNewFormattedPriced($packageTotals['total']); ?></p>
                                    </td>
                                    <td class="package-spacer">&nbsp;</td>
                                </tr>

                                <!-- price sliding for cable-->
                                <?php if ($priceSlicing) : ?>
                                    <tr class="price-slicing">
                                        <td class="names">
                                            <p><?php echo $this->__("Recurring costs") ?></p>
                                            <div class="slice-months">
                                                <?php foreach ($priceSlicing as $monthValues => $price) : ?>
                                                    <p><?php echo $monthValues . " " . $this->__("Month"); ?></p>
                                                <?php endforeach ?>
                                            </div>
                                        </td>
                                        <td class="monthly-costs">
                                            <div>
                                                <p>&nbsp;</p>
                                                <?php foreach ($priceSlicing as $monthValues => $price) : ?>
                                                    <p><?php echo $helper->showNewFormattedPriced($price); ?></p>
                                                <?php endforeach ?>
                                            </div>
                                        </td>
                                        <td class="one-of-costs">
                                        <td class="package-spacer">&nbsp;</td>
                                    </tr>
                                <?php endif ?>
                                </tfoot>
                            </table>

                            <!-- notes section for package -->
                            <div class="package-item note-placeholder clearer"
                                 id="credit-note-<?php echo $package->getPackageId(); ?>"
                                 style="display:<?php echo isset($creditNote) && $creditNote ? 'block' : 'none'; ?>">

                                <div class="standard-notes">
                                    <label
                                        for="standard_notes[note]"><?php echo $this->__('Standard remarks'); ?></label>
                                    <?php $standardNotesOptions = $this->getStandardNotes(); ?>
                                    <select name="standard_notes[note]" id="standard_notes[note]"
                                            class="form-control input-sm">
                                        <option value=""><?php echo $this->__(''); ?></option>
                                        <?php foreach ($standardNotesOptions as $optionID => $optionValue) : ?>
                                            <option value="<?php echo $optionID; ?>">
                                                <?php echo $optionValue; ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>


                                <div class="manual-notes">
                                    <p><?php echo $this->__('Comments (max 150 characters)'); ?></p>
                                    <textarea class="save-credit-note"
                                              name="credit_note[<?php echo $package->getPackageId(); ?>]"
                                              id="credit-note-data-<?php echo $package->getPackageId(); ?>">
                                    <?php echo isset($creditNote) ? $creditNote : ''; ?></textarea>
                                    <div class="btn btn-info right expanded_checkout_btn"
                                         onclick="toggleNotes('<?php echo $package->getPackageId(); ?>')">
                                        <?php echo $this->__('Remove note'); ?></div>
                                </div>

                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
                <!-- totals for all packages -->
                <div class="expanded-shoppingcart-totals">
                    <table class="clear package-items-table" cellspacing=0 cellpadding=0>
                        <tfoot>
                        <tr>
                            <td class="description">
                                <div class="form-group pull-left">
                                    <p class="cart_totals_header"><span
                                            class="cart_totals_header_eurosign"></span><?php echo $this->__("Total"); ?>
                                    </p>
                                </div>
                                <div class="labels-costs pull-right">
                                    <p class="no-margin-bottom"><?php echo $this->__('excl.'); ?></p>
                                    <p><?php echo $this->__('vat.'); ?></p>
                                    <p class="total"><?php echo $this->__('total.'); ?></p>
                                </div>
                            </td>
                            <td class="monthly-costs">
                                <div>
                                    <p class="no-margin-bottom"><?php echo $helper->showNewFormattedPriced($quoteData['maf_subtotal']) ?></p>
                                    <p><?php echo $helper->showNewFormattedPriced($quoteData['maf_grand_total'] - $quoteData['maf_subtotal']) ?></p>
                                    <p class="total"><?php echo $helper->showNewFormattedPriced($quoteData['maf_grand_total']) ?></p>
                                </div>
                            </td>
                            <td class="one-of-costs">
                                <p class="no-margin-bottom"><?php echo $helper->showNewFormattedPriced($quoteData['subtotal']) ?></p>
                                <p><?php echo $helper->showNewFormattedPriced($quoteData['grand_total'] - $quoteData['subtotal']) ?></p>
                                <p class="total"><?php echo $helper->showNewFormattedPriced($quoteData['grand_total']) ?></p>
                            </td>
                            <td class="package-spacer">&nbsp;</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- bundle warning-->
                <?php //todo show these details only for bundle : ?>
                <div class="expanded-bundle-details hide">
                    <div class="bundle-expanded-warning">
                    </div>
                    <div class="bundle-expanded">
                        <p>
                            Die installierte Basis wird ein Teil des RedOne Bundle.
                        </p>
                        <p>
                            Ein Bündel Goodie wird auf den bestehenden Vertrag gewährt werden, welcher Teil des Bündels
                            werden wird, sobald relevante Bedingungen erfüllt sind.
                        </p>
                    </div>
                </div>

                <?php
                $complete = Mage::helper('omnius_checkout')->hasAllPackagesCompleted();
                ?>
                <div class="expanded-package-next-button clearfix">
                    <input class="btn btn-info<?php echo !$complete ? ' disabled' : ''; ?> expanded_checkout_btn"
                           type="button" style=""
                           id="expanded_checkout_btn" value="<?php echo $this->__('To checkout'); ?>"
                           onclick="<?php echo $complete ? "window.location='/checkout/cart'" : ''; ?>"/>
                </div>
            </div>
        </div>
    </form> <!-- END form#expanded_form -->
</div> <!-- END #right-panel-cart -->
