<?php
/**
 * @var Dyna_Customer_Block_CustomerSearch $this
 */
$uctParams = $this->getUctParams();
$ctnParam = (!empty($uctParams['callingNumber'])) ? $uctParams['callingNumber'] : null;
?>
<form class="form-inline" role="form"
      id="customer_search_form" onsubmit="return false">
    <div class="search-block customer-search-form">
        <div class="search-fields">
            <div class="form-group col-xs-12 for-cable-address-disable">
                <label for="customer"><?php echo $this->__('Customer-/Contract-/Order number'); ?></label>
                <input type="text" class="form-control"
                       name="customer" id="customer"
                       placeholder="" autocomplete="off" onblur="CustomerFiltersSearch.disableAddressCableInput(this)"/>
            </div>
            <div class="form-group col-xs-12 on-cable-disable on-mobile-disable">
                <label for="telephone_number"><?php echo $this->__('Phone number'); ?></label>
                <input type="text" class="form-control input_small" value='<?php echo ($ctnParam) ? $ctnParam : "" ?>'
                       name="telephone_number" id="telephone_number" autocomplete="off"/>
            </div>
            <div class="form-group col-xs-6 left-input on-cable-disable ">
                <label for="first_name"><?php echo $this->__('First name'); ?></label>
                <input type="text" class="form-control input_small" maxlength="8" name="first_name" id="first_name" autocomplete="off"/>
            </div>
            <div class="form-group col-xs-6 right-input on-cable-disable dsl-required">
                <label for="last_name"><?php echo $this->__('Surname'); ?></label>
                <input type="text" class="form-control input_medium"
                       maxlength="30" name="last_name" id="last_name" autocomplete="off"/>
            </div>
            <div class="form-group col-xs-9 on-cable-disable dsl-required">
                <label for="birthday"><?php echo $this->__('Date of birth'); ?></label>
                <input type="text" class="form-control date-format" name="birthday" id="birthday" autocomplete="off"
                       placeholder="<?php echo $this->__('dd-mm-yyyy'); ?>"/>
            </div>
            <div class="form-group col-xs-6 left-input dsl-required for-cable-device-or-order-disable">
                <label for="zipcode"><?php echo $this->__('Postcode'); ?></label>
                <input type="text" class="form-control" name="zipcode" id="zipcode" maxlength="5"
                       onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"/>
            </div>
            <div class="form-group col-xs-6 right-input for-cable-device-or-order-disable">
                <label for="city"><?php echo $this->__('City'); ?></label>
                <input type="text" class="form-control" name="city" id="city" autocomplete="off"
                       onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"/>
            </div>
            <div class="form-group col-xs-12 for-cable-device-or-order-disable">
                <label for="street"><?php echo $this->__('Street'); ?></label>
                <input type="text" class="form-control" name="street" id="street" autocomplete="off"
                       onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"/>
            </div>
            <div class="form-group col-xs-3 on-mobile-disable on-dsl-disable for-cable-device-or-order-disable">
                <label for="no"><?php echo $this->__('HouseNo'); ?></label>
                <input type="text" class="form-control input_small" name="no" id="no"
                       autocomplete="off" onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"/>
            </div>
            <div class="form-group col-xs-3 on-mobile-disable on-dsl-disable for-cable-device-or-order-disable">
                <label for="addNo"><?php echo $this->__('Add.'); ?></label>
                <input type="text" class="form-control input_small" name="addNo" id="addNo"
                       autocomplete="off" onblur="CustomerFiltersSearch.disableDeviceAndOrderCableInput(this)"/>
            </div>

            <div class="form-group col-xs-12 advanced-search-switch toggle-container">
                <div class="form-group col-xs-2 switch">
                    <div class="toggle-button" data-state="false" onclick="CustomerFiltersSearch.onSwitchAdvancedSearchChange(this);"><span class="bullet"> </span></div>
                    <input id="advanced-search" type="radio" name="advanced-search" class="advanced-search" value="advanced"/>
                </div>
                <div class="form-group col-xs-9 advanced-search-label">
                    <label for="advanced-search"><?php echo $this->__('Advanced search'); ?></label>
                </div>
            </div>

            <div class="form-group col-xs-12 legacy-search-switch toggle-container">
                <div class="form-group col-xs-2 switch">
                    <div class="toggle-button" data-state="false" onclick="CustomerFiltersSearch.onSwitchLegacySearchChange(this);"><span class="bullet"> </span></div>
                    <input id="legacy-search" type="radio" name="legacy-search" class="legacy-search" value="legacy"/>
                </div>
                <div class="form-group col-xs-9 advanced-search-label">
                    <label for="legacy-search"><?php echo $this->__('Legacy search'); ?></label>
                </div>
            </div>

            <div id="legacy-search-filters" >
                <div class="form-group col-xs-12 legacy-search-switch-radio-buttons">
                    <div class="form-group col-xs-4 clearfix form-row">
                        <label class="radio-inline">
                            <input type="radio" id="legacy[mobile]" name="legacy_type" value="mobile" onclick="CustomerFiltersSearch.showHideDisableLegacySpecificFilters(this)"/>
                            <span><?php echo $this->__("Mobil"); ?></span>
                        </label>
                    </div>
                    <div class="form-group col-xs-4 clearfix form-row">
                        <label class="radio-inline">
                            <input type="radio" id="legacy[dsl]" name="legacy_type" value="dsl" onclick="CustomerFiltersSearch.showHideDisableLegacySpecificFilters(this)"/>
                            <span><?php echo $this->__("Dsl"); ?></span>
                        </label>
                    </div>
                    <div class="form-group col-xs-4 clearfix form-row">
                        <label class="radio-inline">
                            <input type="radio" id="legacy[cable]" name="legacy_type" value="cable" onclick="CustomerFiltersSearch.showHideDisableLegacySpecificFilters(this)"/>
                            <span><?php echo $this->__("Cable"); ?></span>
                        </label>
                    </div>
                </div>
            </div>
            <div id="other-search-filters" class="clear">
                <div class="form-group col-xs-12 on-cable-show on-dsl-hide on-mobile-hide hide on-advanced on-legacy-filter for-cable-address-disable">
                    <label for="device_id"><?php echo $this->__('Device ID'); ?></label>
                    <input type="text" class="form-control" name="device_id" id="device_id" autocomplete="off" onblur="CustomerFiltersSearch.disableAddressCableInput(this)"/>
                </div>
                <div class="form-group col-xs-12 on-cable-hide on-dsl-hide on-mobile-hide hide on-advanced on-legacy-filter">
                    <label for="customer_email"><?php echo $this->__('E-mail'); ?></label>
                    <input type="text" class="form-control" name="email" id="customer_email" autocomplete="off"/>
                </div>
                <div class="form-group col-xs-12 on-cable-hide on-dsl-hide on-mobile-show hide on-legacy-filter">
                    <label for="subscriber_number"><?php echo $this->__('Subscriber number'); ?></label>
                    <input type="text" class="form-control input_small"
                           name="subscriber_number" id="subscriber_number" autocomplete="off"/>
                </div>
                <div class="form-group col-xs-12 on-cable-hide on-dsl-hide on-mobile-show hide on-legacy-filter">
                    <label for="sim_imei"><?php echo $this->__('SIM / IMEI'); ?></label>
                    <input type="text" class="form-control input_small" name="sim_imei" id="sim_imei" autocomplete="off"/>
                </div>
                <div class="form-group col-xs-6 left-input on-cable-hide on-dsl-show on-mobile-hide hide on-legacy-filter">
                    <label for="country_code"><?php echo $this->__('Country code'); ?></label>
                    <input type="text" class="form-control input_medium" name="country_code" id="country_code" autocomplete="off"/>
                </div>
                <div class="form-group col-xs-6 left-input on-cable-hide on-dsl-show on-mobile-hide hide on-legacy-filter">
                    <label for="area_code"><?php echo $this->__('Area code'); ?></label>
                    <input type="text" class="form-control date-format" name="area_code" id="area_code" autocomplete="off" />
                </div>
                <div class="form-group col-xs-9 on-cable-hide on-dsl-show on-mobile-hide hide on-legacy-filter">
                    <label for="local_number"><?php echo $this->__('Local number'); ?></label>
                    <input type="text" class="form-control" name="local_number" id="local_number" autocomplete="off"/>
                </div>
            </div>
        </div>

        <div class="search-button customer_search_field">
            <button id="submit-search" type="submit" class="btn btn-block btn-info-white" onclick="searchCustomer(this)">
                <span class="loading-search invisible"></span> <?php echo $this->__('Search'); ?>
            </button>
        </div>
        <div class="reset-search clear">
            <span>
                <a href="javascript:void(0)" onclick="CustomerFiltersSearch.resetFilters(this);">
                    <?php echo $this->__('Reset all search fields'); ?>
                </a>
            </span>
        </div>
    </div>
</form>
<script type="text/javascript">
    var customForm = new VarienForm('customer_search_form', true);

    function searchCustomer() {
        if (customForm.validator.validate()) {
            customerDe.searchCustomer(jQuery('#submit-search'));
        }
    }
    jQuery(document).ready(function ($) {
//        Validation.add('validate-legacy-mobile-search', Translator.translate('Please enter either the last name or one of the following fields: Order no, Subscriber no, SIM/IMEI'), function (v, elm) {
//            var lastName = $(elm),
//                relatedElements = $('.' + lastName.attr('data-legacy-mobile-validate-required-related-field')),
//                passed = false;
//            lastName.removeClass('validation-failed');
//            lastName.removeClass('validation-passed');
//            console.log(lastName);
//            console.log(relatedElements);
//            if (typeof relatedElements !== 'undefined') {
//                console.log(lastName.val());
//                passed = !Validation.get('IsEmpty').test(lastName.val());
//                console.log(passed);
//                $(relatedElements).each(function () {
//                    console.log($(this).val());
//                    passed = passed && !Validation.get('IsEmpty').test($(this).val());
//                    console.log(passed);
//                });
//                if (!passed) {
//                    lastName.addClass('validation-failed');
//                }
//            }
//            return passed;
//        });

        <?php if($ctnParam && ! $this->getCustomerId()): ?>
            $('#submit-search').submit();
        <?php endif?>

    });
</script>
