<div class="modal shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog"
     aria-labelledby="shoppingCartModalLabel">
    <script id="Handlebars-Template-Shopping-Cart-View-Modal" type="text/x-handlebars-template">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-close">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"></button>
                </div>
                <div class="modal-header"><?php echo $this->__("Saved shopping cart") ?> </div>
                <!-- packages content from the right side-->
                <div class="expanded-package-container col-xs-12">
                    <!-- packages details devided per package devided per product-->
                    <div class="expanded-package-details" data-spy="scroll" data-target="#right_expanded_packets"
                         data-offset="50">
                        {{#each packages}}
                            <div class="cart-pack-title">{{this.title}}</div>
                            <table class="clear package-items-table" cellspacing=0 cellpadding=0>
                                <thead>
                                <tr class="package-item-header">
                                    <th class="description">
                                        <div class="">
                                            <div class="text">
                                                <p class="package-type">
                                                    <?php echo $this->__("Acquisition"); ?>
                                                </p>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="monthly-costs"><?php echo $this->__('Monthly'); ?></th>
                                    <th class="one-of-costs"><?php echo $this->__('One time cost'); ?></th>
                                    <th class="package-spacer"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- if this package is not empty-->
                                {{#if this.packageItemsBySections}}
                                    <!-- each section-->
                                    {{#each this.packageItemsBySections}}
                                        {{setIndexKey @key}}
                                        <!-- each section has elements in it-->
                                        {{#if this}}
                                            <tr class="small">
                                                <td class="description">&nbsp;</td>
                                                <td class="monthly-costs">&nbsp;</td>
                                                <td class="one-of-costs">&nbsp;</td>
                                                <td class="package-spacer">&nbsp;</td>
                                            </tr>
                                            <!-- each item in section -->
                                            {{#each this.items}}
                                                <tr class="{{../indexKey}}">
                                                    <td class="names">
                                                        {{this.name}}
                                                        {{#if this.period}}
                                                            <div class="subscription-details">
                                                                <p> {{this.period}} <?php echo  $this->__("months minimum term") ?></p>
                                                            </div>
                                                        {{/if}}
                                                    </td>
                                                    <td class="package-prices monthly-costs">
                                                        {{#if this.maf_row_total_incl_tax}}
                                                        &euro;{{this.maf_row_total_incl_tax}}
                                                        {{/if}}
                                                    </td>
                                                    <td class="package-prices one-of-costs">
                                                        {{#if this.original_custom_price}}
                                                            <p class="original-price">
                                                                &euro;{{this.original_custom_price}}
                                                            </p>
                                                        {{/if}}
                                                        {{#if this.price_incl_tax}}
                                                        &euro;{{this.price_incl_tax}}
                                                        {{/if}}
                                                    </td>
                                                    <td class="package-spacer">&nbsp;</td>
                                                </tr>
                                            {{/each}}
                                        {{/if}}
                                    {{/each}}
                                    <tr class="small">
                                        <td class="description">&nbsp;</td>
                                        <td class="monthly-costs">&nbsp;</td>
                                        <td class="one-of-costs">&nbsp;</td>
                                    </tr>
                                {{/if}}
                                </tbody>
                                <tfoot>
                                    <!-- totals per package-->
                                    <tr>
                                        <td class="description">
                                            <div class="labels-costs pull-right">
                                                <p><?php echo $this->__('Net'); ?></p>
                                                <p><?php echo $this->__('Tax'); ?></p>
                                                <p><?php echo $this->__('Total'); ?></p>
                                            </div>
                                        </td>
                                        <td class="monthly-costs">
                                            <div>
                                                <p>&euro;{{totals.subtotal_maf}}</p>
                                                <p>&euro;{{totals.tax_maf}}</p>
                                                <p>&euro;{{totals.total_maf}}</p>
                                            </div>
                                        </td>
                                        <td class="one-of-costs">
                                            <p>&euro;{{totals.subtotal_price}}</p>
                                            <p>&euro;{{totals.tax_price}}</p>
                                            <p>&euro;{{totals.total}}</p>
                                        </td>
                                        <td class="package-spacer">&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <br/>
                                <!-- products displayed from a package in 4 sections: hardware, tariff, option and promotion-->
                        {{/each}}
                    </div>
                    <div class="buttons-container">
                        <div class="table-button below-table-button">
                            <label>
                                <input class="btn btn-block btn-info-white btn-black" value="<?php echo $this->__('E-mail Shopping Cart') ?>"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
