<div class="pull-left">
    <div id="address-check-container" class="address-check">
        <a class="btn btn-link trigger-button" onclick="address.showCheckModal()">
            <?php echo $this->__("Address check"); ?> <span class="loading-search invisible"></span>
        </a>
    </div>
    <div class="serviceability-container">
        <div id="serviceability-content"></div>
    </div>
</div>

