<script id="Handlebars-Template-Search-Customer" type="text/x-handlebars-template">
    <div id="customer_results" class="customer-results-table scrollable-y-table">
        <div class="title">
            <div class="table-title table-title-search"><?php echo $this->__('Search results'); ?></div>
            {{#compare error true operator="=="}}
                <div class="results-count">
                    {{#compare message 'object' operator="typeof"}}
                        {{#each message}}
                            {{this}}
                        {{/each}}
                    {{else}}
                        {{message}}
                    {{/compare}}
                </div>
            {{else}}
                <div class="results-count">{{customers.length}}<?php echo ' '. $this->__('results found'); ?></div>
            {{/compare}}
        </div>
        {{#compare error true operator="=="}}
        {{else}}
        {{#each customers}}
            {{#if this.isLinkedChild}}
            {{else}}
                <div class="col-md-12 row row-with-headers" onclick="customerDe.showLinkPageDetails('{{this.Contact.ID}}')">
                    <div class="col-md-1">
                        {{#if this.linked}}
                            <button type="button" class="collapse-button-search buttons-trigger"
                                    onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="search-list-{{this.Contact.ID}}">
                            </button>
                        {{else}}
                            <span class="icon-not-linked"></span>
                        {{/if}}
                    </div>
                    <div class="col-md-5 customer-details-name">
                        <div class="col-md-7 names">
                            {{this.Role.Person.FirstName}}
                            {{this.Role.Person.FamilyName}}
                        </div>
                        <div class="col-md-5 customer-icon-details">
                            <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                                <span class="triangle"></span>
                                {{this.Contact.ID}}
                           </span>

                            {{#compare this.IsSoho "1" operator="=="}}
                                <span class="icon-soho-cust"></span>
                            {{else}}
                                <span class="icon-private-cust"></span>
                            {{/compare}}

                            {{#if this.linked}}
                                <span class="icon-linked"></span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-2 customer-details-header">
                    </div>
                    <div class="col-md-2 customer-details-header">
                    </div>
                    <div class="col-md-1 customer-types">
                        {{#compare  this.KIAS '1' operator="=="}}
                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                        {{else}}
                        <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobil') ?>"></span>
                        {{/compare}}

                        {{#compare  this.KDG '1' operator="=="}}
                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                        {{else}}
                        <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                        {{/compare}}

                        {{#compare  this.FN '1' operator="=="}}
                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{else}}
                        <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                        {{/compare}}
                    </div>
                </div>
                <div class="col-md-12 row row-with-address" onclick="customerDe.showLinkPageDetails('{{this.Contact.ID}}')">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5 customer-details-content">
                        {{this.PostalAddress.StreetName}}
                        {{this.PostalAddress.BuildingNumber}}
                        {{this.PostalAddress.PostalZone}}
                        {{this.PostalAddress.CityName}}
                    </div>
                    <div class="col-md-2  customer-details-content">
                        {{this.Role.Person.BirthDate}}
                    </div>
                    <div class="col-md-2  customer-details-content">
                        {{#if this.MobileMSISDN}}
                            {{this.MobileMSISDN}}
                        {{else}}
                            {{#if this.FixedMSISDN}}
                                {{this.FixedMSISDN}}
                            {{else}}
                               -
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="col-md-1 customer-types">
                    </div>
                </div>
                <div class="col-md-12 customer-delimiter"></div>
                {{#if this.linked}}
                    {{#each this.linked}}
                        <div class="col-md-12 row row-with-headers collapse out search-list-{{../Contact.ID}}">
                            <div class="col-md-1">
                                <span class="icon-not-linked"></span>
                            </div>
                            <div class="col-md-5 customer-details-name">
                                <div class="col-md-7 names">
                                    {{this.Role.Person.FirstName}}
                                    {{this.Role.Person.FamilyName}}
                                </div>
                                <div class="col-md-5 customer-icon-details">
                                    <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                                          <span class="triangle"></span>
                                        {{this.Contact.ID}}
                                    </span>
                                    {{#compare this.IsSoho "1" operator="=="}}
                                    <span class="icon-soho-cust"></span>
                                    {{else}}
                                    <span class="icon-private-cust"></span>
                                    {{/compare}}
                                    <span class="icon-linked"></span>
                                </div>
                            </div>
                            <div class="col-md-2 customer-details-header">
                            </div>
                            <div class="col-md-2 customer-details-header">
                            </div>
                            <div class="col-md-1 customer-types">
                            {{#compare  this.KIAS '1' operator="=="}}
                            <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                            {{else}}
                            <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                            {{/compare}}

                            {{#compare  this.KDG '1' operator="=="}}
                            <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                            {{else}}
                            <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                            {{/compare}}

                            {{#compare  this.FN '1' operator="=="}}
                            <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                            {{else}}
                            <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                            {{/compare}}
                            </div>
                        </div>
                        <div class="col-md-12 row row-with-address collapse out search-list-{{../Contact.ID}}">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5 customer-details-content">
                                {{this.PostalAddress.StreetName}}
                                {{this.PostalAddress.BuildingNumber}}
                                {{this.PostalAddress.PostalZone}}
                                {{this.PostalAddress.CityName}}
                            </div>
                            <div class="col-md-2  customer-details-content">
                                {{this.Role.Person.BirthDate}}
                            </div>
                            <div class="col-md-2  customer-details-content">
                                {{#if this.MobileMSISDN}}
                                {{this.MobileMSISDN}}
                                {{else}}
                                {{#if this.FixedMSISDN}}
                                {{this.FixedMSISDN}}
                                {{else}}
                                -
                                {{/if}}
                                {{/if}}
                            </div>
                            <div class="col-md-1 customer-types">
                            </div>
                        </div>
                        <div class="col-md-12 customer-delimiter collapse out search-list-{{../Contact.ID}}"></div>
                    {{/each}}
                {{/if}}
            {{/if}}
        {{/each}}
        {{/compare}}
<script>
    jQuery(document).ready(function(){
        jQuery(".auth-call").tooltip({
            template: '<div class="tooltip auth-tooltip" role="tooltip"><div class="tooltip-arrow triangle"></div><div class="body-tooltip"><div class="header-tooltip">Authentifizierung</div><div class="triangle"></div><div class=""><p class=""><strong>Kennwort:</strong> <span class="password">Wilkommen1234</span></p><p class=""><strong>IBAN:</strong> <span class="iban">DE1234567898765434567</span></p><p class=""><strong>Bank Name:</strong> <span class="bank_name">Deutsche Bank</span></p></div></div><div class="tooltip-inner"></div></div>'
        });
        jQuery('.type-customer-icon').tooltip();
    });
</script>
    </div>
</script>
