<script id="Handlebars-Template-Customer-Potential-Link" type="text/x-handlebars-template">
    <div id="customer_link_details" class="customer-results-table scrollable-y-table">
        <div class="back-to-search">
            <a id="back-to-search" onclick="customerDe.showCustomerList()"><?php echo $this->__("Back to search results") ?></a>
        </div>
        <div class="title">
            <div class="table-title"><?php echo $this->__('Selected customer account'); ?></div>
        </div>
        <div class="col-md-12 row row-with-headers">
            <div class="col-md-1">
                <button type="button" class="collapse-button-search buttons-trigger icon-already-linked"
                        onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="potential-links-{{this.Contact.ID}}">
                </button>
            </div>
            {{debug customer-data}}
            <div class="col-md-5 customer-details-name">
                <div class="col-md-7 names">
                    {{customer_data.Role.Person.FirstName}}
                    {{customer_data.Role.Person.FamilyName}}
                </div>
                <div class="col-md-5 customer-icon-details">
                    <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                          <span class="triangle"></span>
                        {{customer_data.Role.Person.ID}}
                    </span>

                    {{#compare customer_data.IsSoho "1" operator="=="}}
                    <span class="icon-soho-cust"></span>
                    {{else}}
                    <span class="icon-private-cust"></span>
                    {{/compare}}

                    {{#if customer_data.linked}}
                    <span class="icon-linked"></span>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-1 customer-types">
                {{#compare  customer_data.KIAS '1' operator="=="}}
                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{/compare}}

                {{#compare  customer_data.KDG '1' operator="=="}}
                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                {{/compare}}

                {{#compare  customer_data.FN '1' operator="=="}}
                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{/compare}}
            </div>
        </div>
        <div class="col-md-12 row row-with-address">
            <div class="col-md-1">
            </div>
            <div class="col-md-5 customer-details-content">
                {{customer_data.PostalAddress.StreetName}}
                {{customer_data.PostalAddress.BuildingNumber}}
                {{customer_data.PostalAddress.PostalZone}}
                {{customer_data.PostalAddress.CityName}}
            </div>
            <div class="col-md-2  customer-details-content">
                {{customer_data.Role.Person.BirthDate}}
            </div>
            <div class="col-md-2  customer-details-content">
                {{#if customer_data.MobileMSISDN}}
                {{customer_data.MobileMSISDN}}
                {{else}}
                {{#if customer_data.FixedMSISDN}}
                {{customer_data.FixedMSISDN}}
                {{else}}
                -
                {{/if}}
                {{/if}}
            </div>
            <div class="col-md-1 customer-types">
            </div>
        </div>
        <div class="col-md-12 customer-delimiter"></div>
        {{#if customer_data.linked}}
        {{#each customer_data.linked}}
            <div class="col-md-12 row row-with-headers collapse out potential-links-{{../Role.Person.ID}}">
                <div class="col-md-1">
                    <span class="icon-already-linked"></span>
                </div>
                <div class="col-md-5 customer-details-name">
                    <div class="col-md-7 names">
                        {{this.Role.Person.FirstName}}
                        {{this.Role.Person.FamilyName}}
                    </div>
                    <div class="col-md-5 customer-icon-details">
                        <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                            <span class="triangle"></span>
                            {{this.Contact.ID}}
                        </span>
                        {{#compare this.IsSoho "1" operator="=="}}
                        <span class="icon-soho-cust"></span>
                        {{else}}
                        <span class="icon-private-cust"></span>
                        {{/compare}}
                        <span class="icon-linked"></span>
                    </div>
                </div>
                <div class="col-md-2 customer-details-header">
                </div>
                <div class="col-md-3 customer-details-header">
                </div>
                <div class="col-md-1 customer-types">
                    {{#compare  this.KIAS '1' operator="=="}}
                    <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                    {{/compare}}

                    {{#compare  this.KDG '1' operator="=="}}
                    <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                    {{/compare}}

                    {{#compare  this.FN '1' operator="=="}}
                    <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{/compare}}
                </div>
            </div>
            <div class="col-md-12 row row-with-address collapse out potential-links-{{../Role.Person.ID}}">
                <div class="col-md-1">
                </div>
                <div class="col-md-5 customer-details-content">
                    {{this.PostalAddress.StreetName}}
                    {{this.PostalAddress.BuildingNumber}}
                    {{this.PostalAddress.PostalZone}}
                    {{this.PostalAddress.CityName}}
                </div>
                <div class="col-md-2  customer-details-content">
                    {{this.Role.Person.BirthDate}}
                </div>
                <div class="col-md-2  customer-details-content">
                    {{#if this.MobileMSISDN}}
                    {{this.MobileMSISDN}}
                    {{else}}
                    {{#if this.FixedMSISDN}}
                    {{this.FixedMSISDN}}
                    {{else}}
                    -
                    {{/if}}
                    {{/if}}
                </div>
                <div class="col-md-1 customer-types">
                </div>
            </div>
            <div class="col-md-12 customer-delimiter collapse out potential-links-{{../Role.Person.ID}}"></div>
        {{/each}}
        {{/if}}

        {{#compare potential_links.length 0 operator="=="}}
            <div class="title second-title">
                <div class="table-title"><?php echo $this->__("Potential additional accounts"); ?></div>
                <div class="title-description"><?php echo $this->__("There are no potential additional accounts for the selected customer account"); ?></div>
            </div>
        {{else}}
        <div class="title second-title">
            <div class="table-title"><?php echo $this->__("Potential additional accounts"); ?></div>
            <div class="title-description"><?php echo $this->__("Select the additional account(s) to link with the main account"); ?></div>
        </div>

        {{#each potential_links}}
        <div class="col-md-12 row row-with-headers">
            <div class="col-md-1" id="{{this.Contact.ID}}" onclick="customerDe.markLinkCustomers('{{this.Contact.ID}}', this)">
                <span class="icon-not-linked linked-id-{{this.Contact.ID}}"></span>
                <span class="icon-already-linked linked-id-{{this.Contact.ID}} hidden"></span>
            </div>
            <div class="col-md-5 customer-details-name">
                <div class="col-md-7 names">
                    {{this.Role.Person.FirstName}}
                    {{this.Role.Person.FamilyName}}
                </div>
                <div class="col-md-5 customer-icon-details">
                    <span class="auth-call" data-toggle="tooltip" data-placement="right" title="test">
                      <span class="triangle"></span>
                        {{this.Contact.ID}}
                    </span>
                    {{#compare this.IsSoho "1" operator="=="}}
                    <span class="icon-soho-cust"></span>
                    {{else}}
                    <span class="icon-private-cust"></span>
                    {{/compare}}
                </div>
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-2 customer-details-header">
            </div>
            <div class="col-md-1 customer-types">
                {{#compare  this.KIAS '1' operator="=="}}
                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobil') ?>"></span>
                {{/compare}}

                {{#compare  this.KDG '1' operator="=="}}
                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                {{/compare}}

                {{#compare  this.FN '1' operator="=="}}
                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{else}}
                <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                {{/compare}}
            </div>
        </div>
        <div class="col-md-12 row row-with-address">
                <div class="col-md-1">
                </div>
                <div class="col-md-5 customer-details-content">
                    {{this.PostalAddress.StreetName}}
                    {{this.PostalAddress.BuildingNumber}}
                    {{this.PostalAddress.PostalZone}}
                    {{this.PostalAddress.CityName}}
                </div>
                <div class="col-md-2  customer-details-content">
                    {{this.Role.Person.BirthDate}}
                </div>
                <div class="col-md-2  customer-details-content">
                    {{#if this.MobileMSISDN}}
                    {{this.MobileMSISDN}}
                    {{else}}
                    {{#if this.FixedMSISDN}}
                    {{this.FixedMSISDN}}
                    {{else}}
                    -
                    {{/if}}
                    {{/if}}
                </div>
                <div class="col-md-1 customer-types">
                </div>
        </div>
        <div class="col-md-12 customer-delimiter"></div>
        {{/each}}
        
        {{/compare}}
        <div class="table-button below-table-button link-proceed-button">
            <input type="submit" class="btn btn-block btn-info" value="<?php echo $this->__('Link and proceed') ?>"
                   onclick="customerDe.linkCustomers('{{customer_data.Contact.ID}}')"/>
        </div>
        <div class="table-button below-table-button proceed-button">
            <input type="submit" class="btn btn-block btn-info" value="<?php echo $this->__('Proceed') ?>"
                   onclick="customerDe.linkCustomers('{{customer_data.Contact.ID}}')"/>
        </div>
        <script>
            jQuery(document).ready(function(){
                jQuery(".auth-call").tooltip({
                    template: '<div class="tooltip auth-tooltip" role="tooltip"><div class="tooltip-arrow triangle"></div><div class="body-tooltip"><div class="header-tooltip">Authentifizierung</div><div class="triangle"></div><div class=""><p class=""><strong>Kennwort:</strong> <span class="password">Wilkommen1234</span></p><p class=""><strong>IBAN:</strong> <span class="iban">DE1234567898765434567</span></p><p class=""><strong>Bank Name:</strong> <span class="bank_name">Deutsche Bank</span></p></div></div><div class="tooltip-inner"></div></div>'
                });
                jQuery('.type-customer-icon').tooltip();
            });
        </script>
    </div>
</script>
