<?php

echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/save_cart_modal.phtml')->toHtml();
?>

<div class="modal" id="cancel-cart-modal" tabindex="-1" role="dialog" aria-labelledby="cancelCartLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Clear shopping cart'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="info left">
                        <p><?php echo $this->__('Are you sure you want to delete all packages?') ?></p>
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                        <p><?php echo $this->__('Completed')?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                <button type="button" class="btn btn-info cancel-cart-button pull-right"><?php echo $this->__('Continue') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="generic-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="getConfirmationLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__('Before proceeding... '); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="info left confirmation-message">
                        <!-- to be filled ty needs -->
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                        <p><?php echo $this->__('Completed')?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                <button type="button" class="btn btn-info confirm-action-button pull-right" onclick=""><?php echo $this->__('Continue') ?></button>
            </div>
        </div>
    </div>
</div>
