<script type="text/javascript">
    <?php
        /*
         * We must inject the frontend cache
         * prefix so that the frontend has access to it
         */
         echo sprintf("window['storage_key_prefix'] = '%s';", Mage::getSingleton('dyna_cache/cache')->getFrontendCachePrefix()) . "\n";
    ?>
    var controller = '<?php echo Mage::app()->getRequest()->getControllerName(); ?>';
    window.allPackages = <?php echo "[" . "'" . implode("','", Dyna_Catalog_Model_Type::getSections('cable')) . "'" . "];\n"; ?>
    window.timeout = false;

    Validation.defaultOptions.immediate = true;
    window.__resizeCallbacks = [];
    window.getResizeEvents = function () {
        return window.__resizeCallbacks;
    };
    window.addResizeEvent = function (callback) {
        window.__resizeCallbacks.push(callback);
        window.onresize = function () {
            var len = window.__resizeCallbacks.length;
            for (var i = 0; i < len; ++i) {
                window.__resizeCallbacks[i]();
            }
        }
    };

    jQuery(document).ready(function ($) {
        <?php $configuratorHelper = Mage::helper('dyna_configurator'); ?>
        // Add translations used in javascript files
        Translator.add('cable_internet_phone', '<?php echo $configuratorHelper->__('cable_internet_phone'); ?>');
        Translator.add('cable_independent', '<?php echo $configuratorHelper->__('cable_independent'); ?>');
        Translator.add('cable_tv', '<?php echo $configuratorHelper->__('cable_tv'); ?>');
        Translator.add('prepaid', '<?php echo $configuratorHelper->__('prepaid'); ?>');
        Translator.add('dsl', '<?php echo $configuratorHelper->__('DSL'); ?>');
        Translator.add('mobile', '<?php echo $configuratorHelper->__('mobile'); ?>');
        Translator.add('lte', '<?php echo $configuratorHelper->__('LTE'); ?>');
        Translator.add('You cannot change address when migrating to Cable', '<?php echo $configuratorHelper->__('You cannot change address when migrating to Cable'); ?>');
        Translator.add('No technology is available at current address', '<?php echo $configuratorHelper->__('No technology is available at current address'); ?>');
        Translator.add('Campaign', '<?php echo $configuratorHelper->__('Campaign'); ?>');
        Translator.add('You need to enter the device serial number', '<?php echo $configuratorHelper->__('You need to enter the device serial number'); ?>');
        Translator.add('products selected', '<?php echo $configuratorHelper->__('products selected') ?>');
        Translator.add('New', '<?php echo $configuratorHelper->__('New') ?>');
    });


</script>
<?php
$agent = Mage::getSingleton('customer/session')->getAgent();
if ($agent && $agent->getDealer()):
    $dealer = $agent->getDealer();
    ?>
    <script type="text/javascript">
        SOASTA = window.SOASTA || {};
        SOASTA.axi_store = '<?php echo $dealer->getAxiStoreCode(); ?>';
        SOASTA.dealer_code = '<?php echo $dealer->getVfDealerCode(); ?>';
        SOASTA.ciy = '<?php echo $dealer->getCity(); ?>';

        jQuery(document).ready(function () {
            // Setting customer type properties
            customerDe.typePrivate = '<?php echo Dyna_Customer_Helper_Services::PARTY_TYPE_PRIVATE; ?>';
            customerDe.typeSoho = '<?php echo Dyna_Customer_Helper_Services::PARTY_TYPE_SOHO; ?>';

            // Set the logged in customer
            customer.setLoggedInCustomer(<?php echo (int) Mage::getSingleton('customer/session')->getCustomer()->isCustomerLoggedIn(); ?>);

            // Set serviceAbility status on address object
            <?php $sessionAddress = Mage::getSingleton('dyna_address/storage'); ?>
            <?php if (!empty($sessionAddress->getServiceAbility())): ?>
                address.services = <?php echo json_encode($sessionAddress->getServiceAbility()); ?>;
                address.showServiceBar();
                address.showCustomerAddressSearch();
            <?php else: ?>
                sidebar.disableServiceNeededPackages();
            <?php endif; ?>

            if (typeof checkout !== 'undefined') {
                checkout.initBankGenerator();
            }

            // Check if migration is in progress
            <?php if (($migration = Mage::getSingleton('customer/session')->getCustomer()->getInMigrationState()) && $migration == Dyna_Catalog_Model_Type::MIGRATE2CABLE) : ?>
                // Notify address object that it cannot be changed if migration is Dsl2Cable
                address.canChangeAddressStatus = false;
                address.canChangeAddress = false;
                address.cannotChangeAddressReason = "<?php echo $this->__("You cannot change address when migrating to Cable"); ?>";
            <?php endif; ?>

            /*************************************************
             * CUSTOMER PHONE LOAD SYSTEM
             *************************************************/
//            if (customer.getLoggedInCustomer()) {
//                phone.showHangUpIcon();
//            } else {
//                // Hide the inactive icon from service bar
//                jQuery('.caller-icon-inactive').addClass('hide');
//                // Show the active phones container
//                jQuery('#customerPoolingIcon').removeClass('hide');
//                phone.startPooling();
//            }
            /*************************************************
             * EOF CUSTOMER PHONE LOAD SYSTEM
             *************************************************/
        });

    </script>
<?php endif; ?>
