<?php
$isCustomerLogged = Mage::getSingleton('customer/session')->getCustomer()->getId() != null;
$agent = Mage::getSingleton('customer/session')->getAgent();
?>
<div class="logo-header">
    <a href="<?php echo $this->getUrl(); ?>">
        <div class="home_logo"></div>
    </a>
    <?php if (Mage::getSingleton('dyna_customer/session')->getUctParams()) : ?>
        <div class="start-page">
            <a href="/" title="">
                <span class="label label-danger" onclick="customerDe.closeSideBars();">Startseite</span>
            </a>
            K_IP_200-noBEE
        </div>
    <?php endif; ?>
</div>
