<div class="row">
    <div class="col-sm-5 section"><input type="text" value="Coupon" class="" style="width: 100%;"></div>
    <div class="col-sm-4 right-align"><span class="small-label"><?php echo $this->__("incl.") ?> &nbsp;&nbsp;</span>{{money totals.maf}}</div>
    <div class="col-sm-3 right-align">{{money totals.price}}</div>
</div>