<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$countPromoRules = Mage::helper('pricerules')->findApplicablePromoRules(true); ?>
<div id="promo-rules"<?php if($countPromoRules ==0) echo ' class="hidden"'; else echo ''; ?>>
    <div class="promo-rules-container" id="promo_rules_conditions">
        <div id="promo-rules-ajax" class="row"><!-- Ajax content holder --></div>
        <div id="promo_rule_search_result" style="display: none">
            <h5><?php echo $this->__("Promo discount rules") ?></h5>
            <table class="table table-condended">
            </table>
        </div>
        <button class="slide-up" onclick="togglePromoRules('close');">&nbsp;</button>
    </div>
</div> <!-- END #promo-rules -->

<?php $showBtw = Mage::getSingleton('customer/session')->showPriceWithBtw() ? 1 : 0; ?>

<div class="conf-header-container">
    <h3 class="conf-header red "><?php echo $this->__("Configure - deals with contract") ?> </h3>
</div>
<br />