<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$priceWithTaxDisplay = '{{#if include_btw}}{{else}}display:none;{{/if}}'; // display for price with tax
$priceWithoutTaxDisplay = '{{#if include_btw}}display:none;{{else}}{{/if}}'; // display for price without tax
?>
<div class="row item-row" data-id="{{ entity_id }}" onclick="configurator.selectProduct(this); return false;">
    <div class="col-xs-12 item">
        <div class="item-name col-xs-8">
            <div class="item-title">{{ name }}</div>
            {{#if available_stock_ind}}
                <div class="item-desc in-stock"><?php echo $this->__("In stock") ?></div>
            {{else }}
                <div class="item-desc out-of-stock"><?php echo $this->__("Not available") ?></div>
            {{/if}}
        </div>
        <div class="col-xs-1 marked-selected-container">
            <span class="is-marked-selected hidden">U</span>
        </div>
        <div class="col-xs-1 campaign-identifier">
            <span class="label label-purple hidden"></span>
        </div>
        <div class="item-price col-xs-2">
            <div class="right item-pricing">
                <div style="<?php echo $priceWithoutTaxDisplay; ?>" class="excl-vat-tax price right">
                    <div class="top">
                        <span><?php echo $this->__('from') ?>&nbsp;{{ money price }}&nbsp;<?php echo $this->__('to') ?></span>
                    </div>
                    <div class="per-month">
                        <span>
                            <span class="normal-price">{{ money price }}</span>
                        </span>
                    </div>
                </div>
                <div style="<?php echo $priceWithTaxDisplay; ?>" class="incl-vat-tax price right">
                    <div class="top">
                        <span><?php echo $this->__('from') ?>&nbsp;{{ money price_with_tax }}&nbsp;<?php echo $this->__('to') ?></span>
                    </div>
                    <div class="per-month">
                        <span>
                            <span class="tax-price">{{ money price_with_tax }}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
